.mediaViewInfo {
	--web-view-name: Adding Product;
	--web-view-id: Adding_Product;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Adding_Product;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Adding_Product {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Adding Product;
	--web-view-id: Adding_Product;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Group_2995 {
	position: absolute;
	width: 199px;
	height: 53px;
	left: 1688px;
	top: 112px;
	overflow: visible;
}
#Rectangle_172_bv {
	fill: rgba(18,168,246,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_172_bv {
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 53px;
	left: 0px;
	top: 0px;
}
#add-to-cart_bx {
	position: absolute;
	width: 30.874px;
	height: 30.874px;
	left: 145.346px;
	top: 9.563px;
	overflow: visible;
}
#Path_4728_bx {
	fill: rgba(255,255,255,1);
}
.Path_4728_bx {
	overflow: visible;
	position: absolute;
	width: 30.875px;
	height: 30.874px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4729_by {
	fill: rgba(255,255,255,1);
}
.Path_4729_by {
	overflow: visible;
	position: absolute;
	width: 7.236px;
	height: 7.236px;
	left: 14.23px;
	top: 9.407px;
	transform: matrix(1,0,0,1,0,0);
}
#Add_Products__bz {
	left: 22.781px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Line_73_b {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_73_b {
	overflow: visible;
	position: absolute;
	width: 1419px;
	height: 1px;
	left: 0.5px;
	top: 175.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_82_b {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_82_b {
	overflow: visible;
	position: absolute;
	width: 525px;
	height: 1px;
	left: 1419.5px;
	top: 175.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2994 {
	position: absolute;
	width: 199px;
	height: 53px;
	left: 1477px;
	top: 112px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Return Policy.html;
	cursor: pointer;
}
#Rectangle_173_b {
	fill: rgba(255,255,255,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_173_b {
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 53px;
	left: 0px;
	top: 0px;
}
#solid_1_b {
	position: absolute;
	width: 31.773px;
	height: 35.303px;
	left: 24.172px;
	top: 5.348px;
	overflow: visible;
}
#Path_4808_b {
	fill: rgba(254,0,0,1);
}
.Path_4808_b {
	overflow: visible;
	position: absolute;
	width: 31.773px;
	height: 35.303px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4809_b {
	fill: rgba(254,0,0,1);
}
.Path_4809_b {
	overflow: visible;
	position: absolute;
	width: 2.354px;
	height: 3.53px;
	left: 18.828px;
	top: 28.831px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4810_b {
	fill: rgba(254,0,0,1);
}
.Path_4810_b {
	overflow: visible;
	position: absolute;
	width: 10.002px;
	height: 9.414px;
	left: 4.707px;
	top: 22.947px;
	transform: matrix(1,0,0,1,0,0);
}
#Return_Policy__b {
	left: 63px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(254,0,0,1);
}
#left-arrow-in-circular-button-_b {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 47.484px;
	top: 953.201px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#n_x34__2__ba {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_157_bb {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4836_bc {
	fill: rgba(18,168,246,1);
}
.Path_4836_bc {
	overflow: visible;
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_5_bd {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_bd {
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 40px;
	left: 1251px;
	top: 119px;
}
#Search_be {
	left: 1297px;
	top: 132px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Path_4630_bf {
	fill: rgba(18,168,246,1);
}
.Path_4630_bf {
	overflow: visible;
	position: absolute;
	width: 15.318px;
	height: 15.315px;
	left: 1269.561px;
	top: 133.842px;
	transform: matrix(1,0,0,1,0,0);
}
#Add_Products__bg {
	left: 769px;
	top: 114px;
	position: absolute;
	overflow: visible;
	width: 260px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(27,47,91,1);
}
#Rectangle_573_bh {
	fill: rgba(18,168,246,1);
}
.Rectangle_573_bh {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 90px;
	left: 1661px;
	top: 986px;
}
#Add_New_Product_bi {
	left: 1692px;
	top: 1001px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Path_9273_bj {
	fill: rgba(255,255,255,1);
}
.Path_9273_bj {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 280px;
	height: 90px;
	left: 1376px;
	top: 986px;
	transform: matrix(1,0,0,1,0,0);
}
#Add_Existing_Product_bk {
	left: 1388px;
	top: 1001px;
	position: absolute;
	overflow: visible;
	width: 227px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Line_105_bl {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_105_bl {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 904px;
	left: 960px;
	top: 176px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_600_bm {
	fill: rgba(255,255,255,1);
}
.Rectangle_600_bm {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 280px;
	height: 90px;
	left: 1079px;
	top: 986px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Bread.html;
	cursor: pointer;
}
#Cancel_bn {
	left: 1167px;
	top: 1001px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Rectangle_619_bo {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_619_bo {
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 41px;
	left: 533px;
	top: 648px;
}
#Celery_bp {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Celery_bp {
	position: absolute;
	overflow: visible;
	width: 244px;
	height: 275px;
	left: 26px;
	top: 290px;
}
#Rectangle_576_bq {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_576_bq {
	position: absolute;
	overflow: visible;
	width: 244px;
	height: 41px;
	left: 26px;
	top: 579px;
}
#Upload_Image__br {
	left: 71px;
	top: 585px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Product_Name_bs {
	left: 289px;
	top: 308px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_601_bt {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_601_bt {
	position: absolute;
	overflow: visible;
	width: 453px;
	height: 41px;
	left: 496px;
	top: 303px;
}
#France_bread {
	left: 646px;
	top: 308px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Product_ID_bv {
	left: 289px;
	top: 392px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_604_bw {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_604_bw {
	position: absolute;
	overflow: visible;
	width: 453px;
	height: 41px;
	left: 496px;
	top: 387px;
}
#n_13 {
	left: 687px;
	top: 393px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Original_price_by {
	left: 27px;
	top: 654px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Quality__bz {
	left: 289px;
	top: 476px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_607_b {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_607_b {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 41px;
	left: 496px;
	top: 471px;
}
#n_14 {
	left: 568px;
	top: 476px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_608_b {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_608_b {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 41px;
	left: 771px;
	top: 471px;
}
#Unit_b {
	left: 699px;
	top: 477px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#PCs_b {
	left: 839px;
	top: 477px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Sale_price_b {
	left: 27px;
	top: 740px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Amount__b {
	left: 289px;
	top: 562px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_611_b {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_611_b {
	position: absolute;
	overflow: visible;
	width: 234px;
	height: 41px;
	left: 496px;
	top: 556px;
}
#n_85 {
	left: 584px;
	top: 562px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_612_b {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_612_b {
	position: absolute;
	overflow: visible;
	width: 213px;
	height: 41px;
	left: 736px;
	top: 556px;
}
#n_14000_Riel {
	left: 780px;
	top: 562px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_614_bb {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_614_bb {
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 41px;
	left: 234px;
	top: 648px;
}
#n_2_bc {
	left: 342px;
	top: 654px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n_00_Riel {
	left: 619px;
	top: 654px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_616_be {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_616_be {
	position: absolute;
	overflow: visible;
	width: 126px;
	height: 41px;
	left: 823px;
	top: 649px;
}
#PCs_bf {
	left: 855px;
	top: 655px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_620_bg {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_620_bg {
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 41px;
	left: 533px;
	top: 734px;
}
#Rectangle_621_bh {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_621_bh {
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 41px;
	left: 234px;
	top: 734px;
}
#n_25 {
	left: 340px;
	top: 740px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n_000_Riel_bj {
	left: 616px;
	top: 740px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_622_bk {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_622_bk {
	position: absolute;
	overflow: visible;
	width: 126px;
	height: 41px;
	left: 823px;
	top: 735px;
}
#PCs_bm {
	left: 855px;
	top: 741px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Product_Information_bm {
	left: 36px;
	top: 221px;
	position: absolute;
	overflow: visible;
	width: 288px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Product_Detail__bn {
	left: 998px;
	top: 221px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Import_Form_bo {
	left: 1003px;
	top: 308px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_623_bp {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_623_bp {
	position: absolute;
	overflow: visible;
	width: 677px;
	height: 41px;
	left: 1210px;
	top: 303px;
}
#Brave_Dragon_KPC_Farm_bq {
	left: 1418px;
	top: 309px;
	position: absolute;
	overflow: visible;
	width: 262px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Import_Address__br {
	left: 1003px;
	top: 392px;
	position: absolute;
	overflow: visible;
	width: 185px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_624_bs {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_624_bs {
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 41px;
	left: 1210px;
	top: 387px;
}
#Kampong_Cham_Province_bt {
	left: 1242px;
	top: 393px;
	position: absolute;
	overflow: visible;
	width: 276px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_625_bu {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_625_bu {
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 41px;
	left: 1552px;
	top: 387px;
}
#Kampong_Cham_City_bv {
	left: 1609px;
	top: 393px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Import_Contact__bw {
	left: 1003px;
	top: 476px;
	position: absolute;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_627_bx {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_627_bx {
	position: absolute;
	overflow: visible;
	width: 341px;
	height: 41px;
	left: 1208px;
	top: 471px;
}
#n_92_00_00_00__by {
	left: 1300px;
	top: 476px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_628_bz {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_628_bz {
	position: absolute;
	overflow: visible;
	width: 341px;
	height: 41px;
	left: 1552px;
	top: 471px;
}
#n_96_00_00_00__b {
	left: 1644px;
	top: 476px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_637_b {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_637_b {
	position: absolute;
	overflow: visible;
	width: 683px;
	height: 250px;
	left: 1210px;
	top: 548px;
}
#Bar_Code_b {
	left: 1003px;
	top: 655px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Add_Products-image13 {
	position: absolute;
	width: 225px;
	height: 168px;
	left: 36px;
	top: 344px;
	overflow: visible;
}
#francebread {
	position: absolute;
	width: 512px;
	height: 220px;
	left: 1296px;
	top: 560px;
	overflow: visible;
}
#Rectangle_670_b {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_670_b {
	position: absolute;
	overflow: visible;
	width: 236px;
	height: 41px;
	left: 713px;
	top: 824px;
}
#Rectangle_669_b {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_669_b {
	position: absolute;
	overflow: visible;
	width: 236px;
	height: 41px;
	left: 234px;
	top: 824px;
}
#Import_Date_b {
	left: 27px;
	top: 828px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#calendar_1_b {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 437.311px;
	top: 834.906px;
	overflow: visible;
}
#Path_4690_b {
	fill: rgba(18,168,246,1);
}
.Path_4690_b {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.045px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_ba {
	fill: rgba(18,168,246,1);
}
.Path_4691_ba {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Fri_10__SEP__2021_bb {
	left: 248.75px;
	top: 833px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Expire_Date_bc {
	left: 509px;
	top: 829px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#calendar_1_bd {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 916.811px;
	top: 836.906px;
	overflow: visible;
}
#Path_4690_be {
	fill: rgba(18,168,246,1);
}
.Path_4690_be {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.045px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_bf {
	fill: rgba(18,168,246,1);
}
.Path_4691_bf {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Mon_13__SEP__2021_bg {
	left: 727.25px;
	top: 834px;
	position: absolute;
	overflow: visible;
	width: 158px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Group_57_bh {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.299px;
	top: 75.962px;
	overflow: visible;
}
#Path_4637_bi {
	fill: rgba(18,26,80,1);
}
.Path_4637_bi {
	overflow: visible;
	position: absolute;
	width: 4.234px;
	height: 4.235px;
	left: 25.992px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_bj {
	fill: rgba(18,26,80,1);
}
.Path_4638_bj {
	overflow: visible;
	position: absolute;
	width: 4.234px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_bk {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_bk {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_698_bl {
	fill: rgba(248,248,248,1);
}
.Rectangle_698_bl {
	position: absolute;
	overflow: visible;
	width: 240px;
	height: 37px;
	left: 606px;
	top: 43px;
}
#Hunter_Zolomon_bm {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_bn {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_bo {
	fill: rgba(18,168,246,1);
}
.Path_4632_bo {
	overflow: visible;
	position: absolute;
	width: 27.082px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_bp {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_bp {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_bq {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_bq {
	position: absolute;
	overflow: visible;
	width: 10.037px;
	height: 10.036px;
	left: 48.6px;
	top: 56.468px;
}
#Path_4633_br {
	fill: rgba(255,255,255,1);
}
.Path_4633_br {
	overflow: visible;
	position: absolute;
	width: 7.711px;
	height: 6.181px;
	left: 57.697px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_bs {
	fill: rgba(18,168,246,1);
}
.Path_4634_bs {
	overflow: visible;
	position: absolute;
	width: 10.336px;
	height: 5.549px;
	left: 48.449px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_bt {
	fill: rgba(255,255,255,1);
}
.Path_4635_bt {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.033px;
	left: 49.98px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_bu {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.571px;
	overflow: visible;
}
#Group_55_bv {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_bw {
	fill: rgba(18,168,246,1);
}
.Path_4636_bw {
	overflow: visible;
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_bx {
	fill: rgba(255,255,255,1);
}
.Path_4639_bx {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.243px;
	left: 57.455px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_by {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_by {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.168px;
	top: 32.405px;
}
#Group_3056_bz {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_b {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_b {
	fill: rgba(27,47,91,1);
}
.home_b {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_b {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_b {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_b {
	fill: rgba(27,47,91,1);
}
.Path_4640_b {
	overflow: visible;
	position: absolute;
	width: 13.455px;
	height: 9.53px;
	left: 0.002px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_b {
	fill: rgba(27,47,91,1);
}
.Path_4641_b {
	overflow: visible;
	position: absolute;
	width: 2.375px;
	height: 4.752px;
	left: 310.387px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_b {
	fill: rgba(27,47,91,1);
}
.Path_4642_b {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_b {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__b {
	left: 16.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_ba {
	fill: rgba(27,47,91,1);
}
.Path_4643_ba {
	overflow: visible;
	position: absolute;
	width: 13.945px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_ba {
	fill: rgba(27,47,91,1);
}
.Path_4644_ba {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.119px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_bb {
	fill: rgba(18,168,246,1);
}
.Path_4646_bb {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_bc {
	fill: rgba(18,168,246,1);
}
.Path_4647_bc {
	overflow: visible;
	position: absolute;
	width: 6.947px;
	height: 0.701px;
	left: 618.928px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_be {
	fill: rgba(18,168,246,1);
}
.Path_4648_be {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_be {
	fill: rgba(18,168,246,1);
}
.Path_4649_be {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.602px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_bf {
	fill: rgba(18,168,246,1);
}
.Path_4651_bf {
	overflow: visible;
	position: absolute;
	width: 6.947px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_bg {
	fill: rgba(18,168,246,1);
}
.Path_4653_bg {
	overflow: visible;
	position: absolute;
	width: 6.947px;
	height: 0.701px;
	left: 622.854px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_bh {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.982px;
	top: 49.5px;
	overflow: visible;
}
#Inventory_Management_bi {
	left: 17.697px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Path_4650_bj {
	fill: rgba(18,168,246,1);
}
.Path_4650_bj {
	overflow: visible;
	position: absolute;
	width: 6.982px;
	height: 5.413px;
	left: 3.928px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_bk {
	fill: rgba(18,168,246,1);
}
.Path_4652_bk {
	overflow: visible;
	position: absolute;
	width: 6.982px;
	height: 5.413px;
	left: 7.854px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_bl {
	fill: rgba(18,168,246,1);
}
.Path_4654_bl {
	overflow: visible;
	position: absolute;
	width: 6.982px;
	height: 5.413px;
	left: 0.002px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_bm {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.27px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__bn {
	left: 15.025px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_bo {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.518px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_bp {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_bq {
	fill: rgba(27,47,91,1);
}
.Path_4662_bq {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_br {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.594px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_bs {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_bt {
	fill: rgba(27,47,91,1);
}
.Path_4663_bt {
	overflow: visible;
	position: absolute;
	width: 3.479px;
	height: 2.928px;
	left: 0.002px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_bu {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.793px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_bv {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_bw {
	fill: rgba(27,47,91,1);
}
.Path_4664_bw {
	overflow: visible;
	position: absolute;
	width: 5.877px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_bx {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_by {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_bz {
	fill: rgba(27,47,91,1);
}
.Path_4665_bz {
	overflow: visible;
	position: absolute;
	width: 5.879px;
	height: 6.521px;
	left: -0.002px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_b {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_b {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_b {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_b {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_b {
	fill: rgba(27,47,91,1);
}
.Path_4680_b {
	overflow: visible;
	position: absolute;
	width: 12.406px;
	height: 3.101px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_b {
	fill: rgba(27,47,91,1);
}
.Path_4681_b {
	overflow: visible;
	position: absolute;
	width: 12.406px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_b {
	fill: rgba(27,47,91,1);
}
.Path_4682_b {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3062_ba {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_b {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_b {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_ba {
	fill: rgba(27,47,91,1);
}
.Path_4688_ba {
	overflow: visible;
	position: absolute;
	width: 15.586px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_bb {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_bc {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}