.mediaViewInfo {
	--web-view-name: Booking;
	--web-view-id: Booking;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Booking;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Booking {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Booking;
	--web-view-id: Booking;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_552 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_552 {
	position: absolute;
	overflow: visible;
	width: 1780px;
	height: 1024px;
	left: 70px;
	top: 206px;
}
#Notification {
	left: 150.186px;
	top: 237.118px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(18,168,246,1);
}
#chat {
	position: absolute;
	width: 32.32px;
	height: 29.279px;
	left: 104px;
	top: 241.873px;
	overflow: visible;
}
#Group_81 {
	position: absolute;
	width: 32.32px;
	height: 29.279px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4696 {
	fill: rgba(18,168,246,1);
	stroke: rgba(18,168,246,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4696 {
	overflow: visible;
	position: absolute;
	width: 15.132px;
	height: 1.947px;
	left: 4.727px;
	top: 8.616px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4697 {
	fill: rgba(18,168,246,1);
	stroke: rgba(18,168,246,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4697 {
	overflow: visible;
	position: absolute;
	width: 12.9px;
	height: 1.947px;
	left: 4.727px;
	top: 12.967px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4698 {
	fill: rgba(18,168,246,1);
	stroke: rgba(18,168,246,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4698 {
	overflow: visible;
	position: absolute;
	width: 12.9px;
	height: 1.947px;
	left: 4.727px;
	top: 17.317px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4699 {
	fill: rgba(18,168,246,1);
	stroke: rgba(18,168,246,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4699 {
	overflow: visible;
	position: absolute;
	width: 15.208px;
	height: 17.115px;
	left: 18.228px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4700 {
	fill: rgba(18,168,246,1);
	stroke: rgba(18,168,246,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4700 {
	overflow: visible;
	position: absolute;
	width: 29.602px;
	height: 27.042px;
	left: 0px;
	top: 3.263px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_9 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_9 {
	overflow: visible;
	position: absolute;
	width: 1779.502px;
	height: 3px;
	left: 70.5px;
	top: 359.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_10 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10 {
	overflow: visible;
	position: absolute;
	width: 1778.5px;
	height: 1px;
	left: 71.5px;
	top: 420.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11 {
	overflow: visible;
	position: absolute;
	width: 1778px;
	height: 1px;
	left: 72px;
	top: 479.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4845 {
	fill: rgba(0,0,0,0);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4845 {
	overflow: visible;
	position: absolute;
	width: 1778px;
	height: 1px;
	left: 71.5px;
	top: 538.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_13 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_13 {
	overflow: visible;
	position: absolute;
	width: 1778px;
	height: 1px;
	left: 71.5px;
	top: 597.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_14 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_14 {
	overflow: visible;
	position: absolute;
	width: 1778px;
	height: 1px;
	left: 71.5px;
	top: 656.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_15 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_15 {
	overflow: visible;
	position: absolute;
	width: 1779.5px;
	height: 1px;
	left: 70.5px;
	top: 715.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_16 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_16 {
	overflow: visible;
	position: absolute;
	width: 1778.5px;
	height: 1px;
	left: 71.5px;
	top: 774.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_17 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_17 {
	overflow: visible;
	position: absolute;
	width: 1779.5px;
	height: 1px;
	left: 70.5px;
	top: 833.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_18 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_18 {
	overflow: visible;
	position: absolute;
	width: 1780px;
	height: 1px;
	left: 70px;
	top: 892.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_19 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_19 {
	overflow: visible;
	position: absolute;
	width: 1779px;
	height: 1px;
	left: 71px;
	top: 951.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_20 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_20 {
	overflow: visible;
	position: absolute;
	width: 1780px;
	height: 1px;
	left: 70px;
	top: 1010.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4716 {
	fill: rgba(0,0,0,0);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4716 {
	overflow: visible;
	position: absolute;
	width: 1760px;
	height: 1px;
	left: 71px;
	top: 302.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Customer_name_ {
	left: 207px;
	top: 321px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Taking_Date {
	left: 1511px;
	top: 321px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#No {
	left: 104px;
	top: 321px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Line_30 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_30 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 949px;
	left: 173.5px;
	top: 302.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_31 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_31 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 949px;
	left: 382.5px;
	top: 302px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_32 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_32 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 949px;
	left: 797.5px;
	top: 302px;
	transform: matrix(1,0,0,1,0,0);
}
#Items_Count {
	left: 652px;
	top: 325px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Total_Price {
	left: 830px;
	top: 324px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Line_34 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_34 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 949px;
	left: 943.5px;
	top: 302px;
	transform: matrix(1,0,0,1,0,0);
}
#Note {
	left: 1051px;
	top: 321px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Line_36 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_36 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 949px;
	left: 1209px;
	top: 302px;
	transform: matrix(1,0,0,1,0,0);
}
#n_224 {
	left: 93px;
	top: 374px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Barry_Allen_ {
	left: 231px;
	top: 374px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_0 {
	left: 693px;
	top: 374px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_0_cl {
	left: 854px;
	top: 374px;
	position: absolute;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Line_40 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_40 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 949px;
	left: 606.5px;
	top: 302px;
	transform: matrix(1,0,0,1,0,0);
}
#Booking_Date {
	left: 439px;
	top: 323px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_9-Sep-21__1100AM {
	left: 413px;
	top: 379px;
	position: absolute;
	overflow: visible;
	width: 164px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_0-Sep-21__1100AM {
	left: 1480px;
	top: 378px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_225 {
	left: 91px;
	top: 434px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Spiderman_ {
	left: 231px;
	top: 433px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_00 {
	left: 849px;
	top: 438px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Tel_012_00_00_00 {
	left: 1249px;
	top: 434px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_0-Sep-21__1100AM_cu {
	left: 1480px;
	top: 439px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Line_103 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_103 {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 1px;
	left: 1830px;
	top: 302.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Booking_cw {
	left: 902px;
	top: 127px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Rectangle_5 {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 412px;
	height: 40px;
	left: 1495px;
	top: 120px;
}
#Search {
	left: 1541px;
	top: 133px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Path_4630 {
	fill: rgba(18,168,246,1);
}
.Path_4630 {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.315px;
	left: 1514.001px;
	top: 134.843px;
	transform: matrix(1,0,0,1,0,0);
}
#n_126 {
	left: 93px;
	top: 496px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#August_Heart_ {
	left: 222px;
	top: 492px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_500 {
	left: 845px;
	top: 494px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_0-Sep-21__1100AM_c {
	left: 1480px;
	top: 496px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Rectangle_2 {
	fill: rgba(255,255,255,1);
}
.Rectangle_2 {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_698 {
	fill: rgba(248,248,248,1);
}
.Rectangle_698 {
	position: absolute;
	overflow: visible;
	width: 123px;
	height: 37px;
	left: 1191px;
	top: 43px;
}
#Hunter_Zolomon {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632 {
	fill: rgba(18,168,246,1);
}
.Path_4632 {
	overflow: visible;
	position: absolute;
	width: 27.081px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4 {
	fill: rgba(255,255,255,1);
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 13.688px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5 {
	fill: rgba(18,168,246,1);
}
.Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 10.036px;
	height: 10.036px;
	left: 48.6px;
	top: 56.468px;
}
#Path_4633 {
	fill: rgba(255,255,255,1);
}
.Path_4633 {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634 {
	fill: rgba(18,168,246,1);
}
.Path_4634 {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635 {
	fill: rgba(255,255,255,1);
}
.Path_4635 {
	overflow: visible;
	position: absolute;
	width: 7.272px;
	height: 4.033px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56 {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.571px;
	overflow: visible;
}
#Group_55 {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636 {
	fill: rgba(18,168,246,1);
}
.Path_4636 {
	overflow: visible;
	position: absolute;
	width: 39.651px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639 {
	fill: rgba(255,255,255,1);
}
.Path_4639 {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.243px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6 {
	fill: rgba(0,0,0,0);
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.405px;
}
#Group_3056 {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_dk {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home {
	fill: rgba(27,47,91,1);
}
.home {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057 {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640 {
	fill: rgba(27,47,91,1);
}
.Path_4640 {
	overflow: visible;
	position: absolute;
	width: 13.455px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641 {
	fill: rgba(27,47,91,1);
}
.Path_4641 {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.387px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642 {
	fill: rgba(27,47,91,1);
}
.Path_4642 {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058 {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic_ {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643 {
	fill: rgba(27,47,91,1);
}
.Path_4643 {
	overflow: visible;
	position: absolute;
	width: 13.945px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644 {
	fill: rgba(27,47,91,1);
}
.Path_4644 {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.119px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646 {
	fill: rgba(18,168,246,1);
}
.Path_4646 {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647 {
	fill: rgba(18,168,246,1);
}
.Path_4647 {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648 {
	fill: rgba(18,168,246,1);
}
.Path_4648 {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649 {
	fill: rgba(18,168,246,1);
}
.Path_4649 {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651 {
	fill: rgba(18,168,246,1);
}
.Path_4651 {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 615.001px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653 {
	fill: rgba(18,168,246,1);
}
.Path_4653 {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 622.854px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059 {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
}
#Inventory_Management {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650 {
	fill: rgba(27,47,91,1);
}
.Path_4650 {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.927px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652 {
	fill: rgba(27,47,91,1);
}
.Path_4652 {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654 {
	fill: rgba(27,47,91,1);
}
.Path_4654 {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060 {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management_ {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63 {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62 {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662 {
	fill: rgba(27,47,91,1);
}
.Path_4662 {
	overflow: visible;
	position: absolute;
	width: 7.636px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65 {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64 {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663 {
	fill: rgba(27,47,91,1);
}
.Path_4663 {
	overflow: visible;
	position: absolute;
	width: 3.479px;
	height: 2.928px;
	left: 0.001px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67 {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66 {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664 {
	fill: rgba(27,47,91,1);
}
.Path_4664 {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69 {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68 {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665 {
	fill: rgba(27,47,91,1);
}
.Path_4665 {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061 {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
}
#Booking_el {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Group_72 {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71 {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680 {
	fill: rgba(18,168,246,1);
}
.Path_4680 {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.101px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681 {
	fill: rgba(18,168,246,1);
}
.Path_4681 {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682 {
	fill: rgba(18,168,246,1);
}
.Path_4682 {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3062 {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_es {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79 {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688 {
	fill: rgba(27,47,91,1);
}
.Path_4688 {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19 {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}
#n_127 {
	left: 93px;
	top: 555px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Sweeter {
	left: 222px;
	top: 551px;
	position: absolute;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_500_ez {
	left: 845px;
	top: 559px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_0-Sep-21___1100AM {
	left: 1478px;
	top: 555px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Tel_096_00_00_00_0 {
	left: 1249px;
	top: 496px;
	position: absolute;
	overflow: visible;
	width: 158px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Tel_012_00_00_00_e {
	left: 1249px;
	top: 380px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Tel_012_00_00_00_fa {
	left: 1249px;
	top: 559px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Line_122 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_122 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 949px;
	left: 1674.5px;
	top: 302.5px;
	transform: matrix(1,0,0,1,0,0);
}
#View_More {
	left: 1721px;
	top: 321px;
	position: absolute;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Line_123 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_123 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 949px;
	left: 1445.5px;
	top: 302px;
	transform: matrix(1,0,0,1,0,0);
}
#Tel {
	left: 1308px;
	top: 321px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Group_3071 {
	position: absolute;
	width: 83px;
	height: 45px;
	left: 1723px;
	top: 366px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: costumer view 2.html;
	cursor: pointer;
}
#Path_9308 {
	fill: rgba(18,168,246,1);
}
.Path_9308 {
	overflow: visible;
	position: absolute;
	width: 83px;
	height: 45px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#View {
	left: 31.314px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 15.686px;
	top: 14.697px;
	overflow: visible;
}
#Ellipse_23 {
	fill: rgba(255,255,255,1);
}
.Ellipse_23 {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692 {
	fill: rgba(255,255,255,1);
}
.Path_4692 {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.817px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80 {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693 {
	fill: rgba(255,255,255,1);
}
.Path_4693 {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694 {
	fill: rgba(255,255,255,1);
}
.Path_4694 {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.427px;
	left: 2.567px;
	top: 5.99px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695 {
	fill: rgba(255,255,255,1);
}
.Path_4695 {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3072 {
	position: absolute;
	width: 83px;
	height: 45px;
	left: 1723px;
	top: 428px;
	overflow: visible;
}
#Path_9308_fj {
	fill: rgba(18,168,246,1);
}
.Path_9308_fj {
	overflow: visible;
	position: absolute;
	width: 83px;
	height: 45px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#View_fk {
	left: 31.314px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_fl {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 15.686px;
	top: 14.697px;
	overflow: visible;
}
#Ellipse_23_fm {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_fm {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_fn {
	fill: rgba(255,255,255,1);
}
.Path_4692_fn {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.817px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_fo {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_fp {
	fill: rgba(255,255,255,1);
}
.Path_4693_fp {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_fq {
	fill: rgba(255,255,255,1);
}
.Path_4694_fq {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.427px;
	left: 2.567px;
	top: 5.99px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_fr {
	fill: rgba(255,255,255,1);
}
.Path_4695_fr {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3073 {
	position: absolute;
	width: 83px;
	height: 45px;
	left: 1723px;
	top: 487px;
	overflow: visible;
}
#Path_9308_ft {
	fill: rgba(18,168,246,1);
}
.Path_9308_ft {
	overflow: visible;
	position: absolute;
	width: 83px;
	height: 45px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#View_fu {
	left: 31.314px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_fv {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 15.686px;
	top: 14.697px;
	overflow: visible;
}
#Ellipse_23_fw {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_fw {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_fx {
	fill: rgba(255,255,255,1);
}
.Path_4692_fx {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.817px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_fy {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_fz {
	fill: rgba(255,255,255,1);
}
.Path_4693_fz {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_f {
	fill: rgba(255,255,255,1);
}
.Path_4694_f {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.427px;
	left: 2.567px;
	top: 5.99px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_f {
	fill: rgba(255,255,255,1);
}
.Path_4695_f {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3074 {
	position: absolute;
	width: 83px;
	height: 45px;
	left: 1723px;
	top: 546px;
	overflow: visible;
}
#Path_9308_f {
	fill: rgba(18,168,246,1);
}
.Path_9308_f {
	overflow: visible;
	position: absolute;
	width: 83px;
	height: 45px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#View_f {
	left: 31.314px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_f {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 15.686px;
	top: 14.697px;
	overflow: visible;
}
#Ellipse_23_f {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_f {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_f {
	fill: rgba(255,255,255,1);
}
.Path_4692_f {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.817px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_f {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_f {
	fill: rgba(255,255,255,1);
}
.Path_4693_f {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_ga {
	fill: rgba(255,255,255,1);
}
.Path_4694_ga {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.426px;
	left: 2.567px;
	top: 5.991px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_gb {
	fill: rgba(255,255,255,1);
}
.Path_4695_gb {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_9-Sep-21__1110AM {
	left: 413px;
	top: 438px;
	position: absolute;
	overflow: visible;
	width: 159px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_1 {
	left: 692px;
	top: 438px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_2 {
	left: 693px;
	top: 496px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_ {
	left: 693px;
	top: 559px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_9-Sep-21__1120AM {
	left: 413px;
	top: 494px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_9-Sep-21__1126AM {
	left: 413px;
	top: 559px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}