.mediaViewInfo {
	--web-view-name: Bread;
	--web-view-id: Bread;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Bread;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Bread {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Bread;
	--web-view-id: Bread;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Ellipse_1163 {
	fill: rgba(255,255,255,1);
}
.Ellipse_1163 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 192px;
	height: 192px;
	left: 879px;
	top: 700px;
}
#Group_2988 {
	position: absolute;
	width: 199px;
	height: 53px;
	left: 1688px;
	top: 112px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Null Add Product .html;
	cursor: pointer;
}
#Path_9301 {
	fill: rgba(255,255,255,1);
}
.Path_9301 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 229px;
	height: 83px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#add-to-cart_bi {
	position: absolute;
	width: 30.874px;
	height: 30.874px;
	left: 145.346px;
	top: 9.563px;
	overflow: visible;
}
#Path_4728_bj {
	fill: rgba(27,47,91,1);
}
.Path_4728_bj {
	overflow: visible;
	position: absolute;
	width: 30.875px;
	height: 30.874px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4729_bk {
	fill: rgba(27,47,91,1);
}
.Path_4729_bk {
	overflow: visible;
	position: absolute;
	width: 7.234px;
	height: 7.236px;
	left: 14.232px;
	top: 9.407px;
	transform: matrix(1,0,0,1,0,0);
}
#Add_Products__bl {
	left: 22.781px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_2996 {
	position: absolute;
	width: 199px;
	height: 53px;
	left: 1477px;
	top: 112px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Return Policy.html;
	cursor: pointer;
}
#Path_9302 {
	fill: rgba(255,255,255,1);
}
.Path_9302 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 229px;
	height: 83px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#solid_1_bo {
	position: absolute;
	width: 31.773px;
	height: 35.303px;
	left: 24.172px;
	top: 5.348px;
	overflow: visible;
}
#Path_4808_bp {
	fill: rgba(254,0,0,1);
}
.Path_4808_bp {
	overflow: visible;
	position: absolute;
	width: 31.772px;
	height: 35.303px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4809_bq {
	fill: rgba(254,0,0,1);
}
.Path_4809_bq {
	overflow: visible;
	position: absolute;
	width: 2.354px;
	height: 3.53px;
	left: 18.828px;
	top: 28.831px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4810_br {
	fill: rgba(254,0,0,1);
}
.Path_4810_br {
	overflow: visible;
	position: absolute;
	width: 10.003px;
	height: 9.414px;
	left: 4.707px;
	top: 22.947px;
	transform: matrix(1,0,0,1,0,0);
}
#Return_Policy__bs {
	left: 63px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(254,0,0,1);
}
#Category_bt {
	left: 36px;
	top: 124px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#No_Product_Yet_Please_add_prod {
	left: 21px;
	top: 473px;
	position: absolute;
	overflow: visible;
	width: 1879px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,153,204,1);
}
#plus_bv {
	position: absolute;
	width: 144px;
	height: 144px;
	left: 888px;
	top: 709px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Adding Product.html;
	cursor: pointer;
}
#Path_4828 {
	fill: rgba(33,150,243,1);
}
.Path_4828 {
	overflow: visible;
	position: absolute;
	width: 144px;
	height: 144px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4829 {
	fill: rgba(250,250,250,1);
}
.Path_4829 {
	overflow: visible;
	position: absolute;
	width: 74.999px;
	height: 74.999px;
	left: 34.5px;
	top: 34.5px;
	transform: matrix(1,0,0,1,0,0);
}
#left-arrow-in-circular-button-_by {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 47.484px;
	top: 953.201px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#n_x34__2__bz {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_157_b {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4836_b {
	fill: rgba(18,168,246,1);
}
.Path_4836_b {
	overflow: visible;
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_551_b {
	fill: rgba(255,255,255,1);
}
.Rectangle_551_b {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1561px;
	top: 189px;
}
#Rectangle_549_b {
	fill: rgba(255,255,255,1);
}
.Rectangle_549_b {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 151px;
	top: 189px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Rectangle_110_b {
	fill: rgba(255,255,255,1);
}
.Rectangle_110_b {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 288px;
	top: 189px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management 2.html;
	cursor: pointer;
}
#Meat_b {
	left: 313px;
	top: 253px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#steak_b {
	position: absolute;
	width: 40.678px;
	height: 33.892px;
	left: 315.161px;
	top: 205.233px;
	overflow: visible;
}
#Group_83_b {
	position: absolute;
	width: 40.678px;
	height: 33.892px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4772_b {
	fill: rgba(27,47,91,1);
}
.Path_4772_b {
	overflow: visible;
	position: absolute;
	width: 40.514px;
	height: 14.344px;
	left: 0.009px;
	top: 19.548px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4773_b {
	fill: rgba(27,47,91,1);
}
.Path_4773_b {
	overflow: visible;
	position: absolute;
	width: 35.73px;
	height: 22.21px;
	left: 2.474px;
	top: 1.858px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4774_ba {
	fill: rgba(27,47,91,1);
}
.Path_4774_ba {
	overflow: visible;
	position: absolute;
	width: 40.678px;
	height: 28.361px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_24_bb {
	fill: rgba(27,47,91,1);
}
.Ellipse_24_bb {
	position: absolute;
	overflow: visible;
	width: 5.044px;
	height: 3.904px;
	left: 10.258px;
	top: 7.918px;
}
#Rectangle_116_bc {
	fill: rgba(18,168,246,1);
}
.Rectangle_116_bc {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 422px;
	top: 189px;
}
#Bread_bd {
	left: 444px;
	top: 253px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#silhouette_be {
	position: absolute;
	width: 47.341px;
	height: 23.74px;
	left: 445.83px;
	top: 210.309px;
	overflow: visible;
}
#Group_84_bg {
	position: absolute;
	width: 47.341px;
	height: 23.74px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4775_bg {
	fill: rgba(255,255,255,1);
}
.Path_4775_bg {
	overflow: visible;
	position: absolute;
	width: 47.341px;
	height: 23.74px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_117_bh {
	fill: rgba(255,255,255,1);
}
.Rectangle_117_bh {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 555px;
	top: 189px;
}
#Beverages_bi {
	left: 564px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#soda_bj {
	position: absolute;
	width: 25.995px;
	height: 39.505px;
	left: 589.502px;
	top: 202.426px;
	overflow: visible;
}
#Group_86_bk {
	position: absolute;
	width: 25.995px;
	height: 11.583px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_85_bl {
	position: absolute;
	width: 25.995px;
	height: 11.583px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4776_bm {
	fill: rgba(27,47,91,1);
}
.Path_4776_bm {
	overflow: visible;
	position: absolute;
	width: 25.995px;
	height: 11.583px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_88_bn {
	position: absolute;
	width: 21.934px;
	height: 25.607px;
	left: 2.03px;
	top: 13.898px;
	overflow: visible;
}
#Group_87_bo {
	position: absolute;
	width: 21.934px;
	height: 25.607px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4777_bp {
	fill: rgba(27,47,91,1);
}
.Path_4777_bp {
	overflow: visible;
	position: absolute;
	width: 21.935px;
	height: 25.608px;
	left: 0.001px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_119_bq {
	fill: rgba(255,255,255,1);
}
.Rectangle_119_bq {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 684px;
	top: 189px;
}
#Ice-Cream_br {
	left: 692px;
	top: 257px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#Rectangle_120_bs {
	fill: rgba(255,255,255,1);
}
.Rectangle_120_bs {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 813px;
	top: 189px;
}
#Wine_bt {
	left: 842px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#ice-cream_bu {
	position: absolute;
	width: 22.201px;
	height: 35.754px;
	left: 720.399px;
	top: 206.178px;
	overflow: visible;
}
#Group_90_bv {
	position: absolute;
	width: 22.201px;
	height: 19.284px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_89_bw {
	position: absolute;
	width: 22.201px;
	height: 19.284px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4778_bx {
	fill: rgba(27,47,91,1);
}
.Path_4778_bx {
	overflow: visible;
	position: absolute;
	width: 22.201px;
	height: 19.284px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_92_by {
	position: absolute;
	width: 16.502px;
	height: 14.375px;
	left: 2.819px;
	top: 21.378px;
	overflow: visible;
}
#Group_91_bz {
	position: absolute;
	width: 16.502px;
	height: 14.375px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4779_b {
	fill: rgba(27,47,91,1);
}
.Path_4779_b {
	overflow: visible;
	position: absolute;
	width: 16.502px;
	height: 14.375px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#glass-and-bottle-of-wine_b {
	position: absolute;
	width: 29.134px;
	height: 38.532px;
	left: 843.434px;
	top: 203.4px;
	overflow: visible;
}
#Path_4780_b {
	fill: rgba(27,47,91,1);
}
.Path_4780_b {
	overflow: visible;
	position: absolute;
	width: 29.134px;
	height: 38.532px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_121_b {
	fill: rgba(255,255,255,1);
}
.Rectangle_121_b {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 937px;
	top: 189px;
}
#Snacks_b {
	left: 959px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#snack_b {
	position: absolute;
	width: 30.753px;
	height: 30.753px;
	left: 969.123px;
	top: 211.178px;
	overflow: visible;
}
#Path_4781_b {
	fill: rgba(27,47,91,1);
}
.Path_4781_b {
	overflow: visible;
	position: absolute;
	width: 2.137px;
	height: 7.705px;
	left: 24.149px;
	top: 23.049px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4782_b {
	fill: rgba(27,47,91,1);
}
.Path_4782_b {
	overflow: visible;
	position: absolute;
	width: 13.208px;
	height: 10.326px;
	left: 12.592px;
	top: 9.08px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4783_b {
	fill: rgba(27,47,91,1);
}
.Path_4783_b {
	overflow: visible;
	position: absolute;
	width: 19.812px;
	height: 7.024px;
	left: 3.236px;
	top: 23.389px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4784_b {
	fill: rgba(27,47,91,1);
}
.Path_4784_b {
	overflow: visible;
	position: absolute;
	width: 2.137px;
	height: 7.705px;
	left: 0px;
	top: 23.049px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4785_ba {
	fill: rgba(27,47,91,1);
}
.Path_4785_ba {
	overflow: visible;
	position: absolute;
	width: 22.419px;
	height: 22.013px;
	left: 8.037px;
	top: 3.237px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4786_bb {
	fill: rgba(27,47,91,1);
}
.Path_4786_bb {
	overflow: visible;
	position: absolute;
	width: 23.113px;
	height: 2.136px;
	left: 7.64px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4787_bc {
	fill: rgba(27,47,91,1);
}
.Path_4787_bc {
	overflow: visible;
	position: absolute;
	width: 12.107px;
	height: 1.101px;
	left: 7.089px;
	top: 26.351px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4788_bd {
	fill: rgba(27,47,91,1);
}
.Path_4788_bd {
	overflow: visible;
	position: absolute;
	width: 3.787px;
	height: 2.137px;
	left: 26.966px;
	top: 26.351px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_122_be {
	fill: rgba(255,255,255,1);
}
.Rectangle_122_be {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1061px;
	top: 189px;
}
#Oils_bf {
	left: 1094px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#oil_bh {
	position: absolute;
	width: 31.687px;
	height: 33.243px;
	left: 1092.657px;
	top: 208.688px;
	overflow: visible;
}
#Path_4789_bh {
	fill: rgba(27,47,91,1);
}
.Path_4789_bh {
	overflow: visible;
	position: absolute;
	width: 5.844px;
	height: 2.662px;
	left: 17.143px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4790_bi {
	fill: rgba(27,47,91,1);
}
.Path_4790_bi {
	overflow: visible;
	position: absolute;
	width: 10.226px;
	height: 7.089px;
	left: 0px;
	top: 26.154px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4791_bj {
	fill: rgba(27,47,91,1);
}
.Path_4791_bj {
	overflow: visible;
	position: absolute;
	width: 6.065px;
	height: 10.158px;
	left: 1.949px;
	top: 16.297px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4792_bk {
	fill: rgba(27,47,91,1);
}
.Path_4792_bk {
	overflow: visible;
	position: absolute;
	width: 21.94px;
	height: 15.126px;
	left: 9.094px;
	top: 4.612px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4793_bl {
	fill: rgba(27,47,91,1);
}
.Path_4793_bl {
	overflow: visible;
	position: absolute;
	width: 23.244px;
	height: 11.557px;
	left: 8.441px;
	top: 21.686px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_123_bm {
	fill: rgba(255,255,255,1);
}
.Rectangle_123_bm {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1184px;
	top: 189px;
}
#Dried_Food_bn {
	left: 1191px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#dried_bo {
	position: absolute;
	width: 32.738px;
	height: 32.642px;
	left: 1215.132px;
	top: 209.29px;
	overflow: visible;
}
#Path_4794_bp {
	fill: rgba(27,47,91,1);
}
.Path_4794_bp {
	overflow: visible;
	position: absolute;
	width: 8.409px;
	height: 3.323px;
	left: 19.884px;
	top: 29.318px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4795_bq {
	fill: rgba(27,47,91,1);
}
.Path_4795_bq {
	overflow: visible;
	position: absolute;
	width: 13.576px;
	height: 16.779px;
	left: 17.3px;
	top: 12.123px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4796_br {
	fill: rgba(27,47,91,1);
}
.Path_4796_br {
	overflow: visible;
	position: absolute;
	width: 8.409px;
	height: 3.323px;
	left: 4.431px;
	top: 29.318px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4797_bs {
	fill: rgba(27,47,91,1);
}
.Path_4797_bs {
	overflow: visible;
	position: absolute;
	width: 13.576px;
	height: 16.779px;
	left: 1.848px;
	top: 12.123px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4798_bt {
	fill: rgba(27,47,91,1);
}
.Path_4798_bt {
	overflow: visible;
	position: absolute;
	width: 32.737px;
	height: 12.392px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_124_bu {
	fill: rgba(255,255,255,1);
}
.Rectangle_124_bu {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1309px;
	top: 189px;
}
#Noodles_bz {
	left: 1326px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#noodles_b {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 1342.118px;
	top: 211.169px;
	overflow: visible;
}
#Group_93_b {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4799_b {
	fill: rgba(27,47,91,1);
}
.Path_4799_b {
	overflow: visible;
	position: absolute;
	width: 30.764px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Noodles_bz {
	left: 1326px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#noodles_b {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 1342.118px;
	top: 211.169px;
	overflow: visible;
}
#Group_93_b {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4799_b {
	fill: rgba(27,47,91,1);
}
.Path_4799_b {
	overflow: visible;
	position: absolute;
	width: 30.764px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Vegetable__b {
	left: 160px;
	top: 253px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Path_4738_b {
	fill: rgba(27,47,91,1);
}
.Path_4738_b {
	overflow: visible;
	position: absolute;
	width: 45px;
	height: 45px;
	left: 175px;
	top: 204px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_178_b {
	fill: rgba(255,255,255,1);
}
.Rectangle_178_b {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1434px;
	top: 189px;
}
#Rice_b {
	left: 1466px;
	top: 256px;
	position: absolute;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#Baking_Need_b {
	left: 1570px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(27,47,91,1);
}
#rice_b {
	position: absolute;
	width: 34.47px;
	height: 34.257px;
	left: 1462px;
	top: 211px;
	overflow: visible;
}
#Group_102_b {
	position: absolute;
	width: 34.47px;
	height: 16.158px;
	left: 0px;
	top: 14.06px;
	overflow: visible;
}
#Group_101_ba {
	position: absolute;
	width: 34.47px;
	height: 16.158px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4813_bb {
	fill: rgba(27,47,91,1);
}
.Path_4813_bb {
	overflow: visible;
	position: absolute;
	width: 34.47px;
	height: 16.157px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_104_bc {
	position: absolute;
	width: 17.94px;
	height: 2.02px;
	left: 8.265px;
	top: 32.237px;
	overflow: visible;
}
#Group_103_bd {
	position: absolute;
	width: 17.94px;
	height: 2.02px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4814_be {
	fill: rgba(27,47,91,1);
}
.Path_4814_be {
	overflow: visible;
	position: absolute;
	width: 17.94px;
	height: 2.02px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_106_bf {
	position: absolute;
	width: 27.706px;
	height: 12.04px;
	left: 3.381px;
	top: 0px;
	overflow: visible;
}
#Group_105_bg {
	position: absolute;
	width: 27.706px;
	height: 12.04px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4815_bh {
	fill: rgba(27,47,91,1);
}
.Path_4815_bh {
	overflow: visible;
	position: absolute;
	width: 27.706px;
	height: 12.04px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#glyph_bi {
	position: absolute;
	width: 33.664px;
	height: 39.66px;
	left: 1591.168px;
	top: 205.597px;
	overflow: visible;
}
#Path_4837_bj {
	fill: rgba(27,47,91,1);
}
.Path_4837_bj {
	overflow: visible;
	position: absolute;
	width: 7.751px;
	height: 11.302px;
	left: 22.03px;
	top: 28.357px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4838_bk {
	fill: rgba(27,47,91,1);
}
.Path_4838_bk {
	overflow: visible;
	position: absolute;
	width: 7.692px;
	height: 11.119px;
	left: 4.899px;
	top: 28.541px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4839_bl {
	fill: rgba(27,47,91,1);
}
.Path_4839_bl {
	overflow: visible;
	position: absolute;
	width: 11.758px;
	height: 11.016px;
	left: 11.433px;
	top: 28.643px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4840_bm {
	fill: rgba(27,47,91,1);
}
.Path_4840_bm {
	overflow: visible;
	position: absolute;
	width: 33.664px;
	height: 12.164px;
	left: 0px;
	top: 15.535px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4841_bn {
	fill: rgba(27,47,91,1);
}
.Path_4841_bn {
	overflow: visible;
	position: absolute;
	width: 26.266px;
	height: 14.573px;
	left: 4.58px;
	top: 8.842px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4842_bo {
	fill: rgba(27,47,91,1);
}
.Path_4842_bo {
	overflow: visible;
	position: absolute;
	width: 17.221px;
	height: 18.801px;
	left: 8.813px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_550_bp {
	fill: rgba(255,255,255,1);
}
.Rectangle_550_bp {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1689px;
	top: 189px;
}
#Canned_Food_bq {
	left: 1696px;
	top: 256px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#b161_canned_food_br {
	position: absolute;
	width: 36.783px;
	height: 46.334px;
	left: 1718.609px;
	top: 202.26px;
	overflow: visible;
}
#Path_4827_bs {
	fill: rgba(27,47,91,1);
}
.Path_4827_bs {
	overflow: visible;
	position: absolute;
	width: 36.783px;
	height: 46.334px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_5_bt {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_bt {
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 40px;
	left: 1251px;
	top: 119px;
}
#Search_bv {
	left: 1297px;
	top: 132px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Path_4630_bv {
	fill: rgba(18,168,246,1);
}
.Path_4630_bv {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.315px;
	left: 1269.562px;
	top: 133.842px;
	transform: matrix(1,0,0,1,0,0);
}
#Bread_bw {
	left: 831px;
	top: 114px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(27,47,91,1);
}
#Path_9272_bx {
	fill: rgba(0,0,0,0);
	stroke: rgba(27,47,91,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_9272_bx {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 2px;
	left: 0.5px;
	top: 325.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_127_by {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_127_by {
	position: absolute;
	overflow: visible;
	width: 45px;
	height: 47px;
	left: 1820px;
	top: 218px;
}
#Group_94_bz {
	position: absolute;
	width: 33px;
	height: 33px;
	left: 1826.17px;
	top: 225px;
	overflow: visible;
}
#Path_4800_b {
	fill: rgba(27,47,91,1);
}
.Path_4800_b {
	overflow: visible;
	position: absolute;
	width: 33px;
	height: 33px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_b {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_b {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_698_b {
	fill: rgba(248,248,248,1);
}
.Rectangle_698_b {
	position: absolute;
	overflow: visible;
	width: 240px;
	height: 37px;
	left: 606px;
	top: 43px;
}
#Hunter_Zolomon_b {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_b {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_b {
	fill: rgba(18,168,246,1);
}
.Path_4632_b {
	overflow: visible;
	position: absolute;
	width: 27.081px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_b {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_b {
	position: absolute;
	overflow: visible;
	width: 13.688px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_b {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_b {
	position: absolute;
	overflow: visible;
	width: 10.036px;
	height: 10.036px;
	left: 48.6px;
	top: 56.468px;
}
#Path_4633_b {
	fill: rgba(255,255,255,1);
}
.Path_4633_b {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_b {
	fill: rgba(18,168,246,1);
}
.Path_4634_b {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_caa {
	fill: rgba(255,255,255,1);
}
.Path_4635_caa {
	overflow: visible;
	position: absolute;
	width: 7.272px;
	height: 4.033px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_cab {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.571px;
	overflow: visible;
}
#Group_55_cac {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_cad {
	fill: rgba(18,168,246,1);
}
.Path_4636_cad {
	overflow: visible;
	position: absolute;
	width: 39.651px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_cae {
	fill: rgba(255,255,255,1);
}
.Path_4639_cae {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.243px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_caf {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_caf {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.405px;
}
#Group_3056_cag {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_cah {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_cai {
	fill: rgba(27,47,91,1);
}
.home_cai {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_caj {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_cak {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_cal {
	fill: rgba(27,47,91,1);
}
.Path_4640_cal {
	overflow: visible;
	position: absolute;
	width: 13.455px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_cam {
	fill: rgba(27,47,91,1);
}
.Path_4641_cam {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.387px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_can {
	fill: rgba(27,47,91,1);
}
.Path_4642_can {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_cao {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__cap {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_caq {
	fill: rgba(27,47,91,1);
}
.Path_4643_caq {
	overflow: visible;
	position: absolute;
	width: 13.945px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_car {
	fill: rgba(27,47,91,1);
}
.Path_4644_car {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.119px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_cas {
	fill: rgba(18,168,246,1);
}
.Path_4646_cas {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_cat {
	fill: rgba(18,168,246,1);
}
.Path_4647_cat {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_cau {
	fill: rgba(18,168,246,1);
}
.Path_4648_cau {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_cav {
	fill: rgba(18,168,246,1);
}
.Path_4649_cav {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_caw {
	fill: rgba(18,168,246,1);
}
.Path_4651_caw {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 615.001px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_cax {
	fill: rgba(18,168,246,1);
}
.Path_4653_cax {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 622.854px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_cay {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
}
#Inventory_Management_caz {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Path_4650_ca {
	fill: rgba(18,168,246,1);
}
.Path_4650_ca {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.927px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_ca {
	fill: rgba(18,168,246,1);
}
.Path_4652_ca {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_ca {
	fill: rgba(18,168,246,1);
}
.Path_4654_ca {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_ca {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__ca {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_ca {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_ca {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_ca {
	fill: rgba(27,47,91,1);
}
.Path_4662_ca {
	overflow: visible;
	position: absolute;
	width: 7.636px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_ca {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_ca {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_cba {
	fill: rgba(27,47,91,1);
}
.Path_4663_cba {
	overflow: visible;
	position: absolute;
	width: 3.479px;
	height: 2.928px;
	left: 0.001px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_cbb {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_cbc {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_cbd {
	fill: rgba(27,47,91,1);
}
.Path_4664_cbd {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_cbe {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_cbf {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_cbg {
	fill: rgba(27,47,91,1);
}
.Path_4665_cbg {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_cbh {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_cbi {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_cbj {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_cbk {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_cbl {
	fill: rgba(27,47,91,1);
}
.Path_4680_cbl {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.101px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_cbm {
	fill: rgba(27,47,91,1);
}
.Path_4681_cbm {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_cbn {
	fill: rgba(27,47,91,1);
}
.Path_4682_cbn {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3062_cbo {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_cbp {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_cbq {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_cbr {
	fill: rgba(27,47,91,1);
}
.Path_4688_cbr {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_cbs {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_cbt {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}