.mediaViewInfo {
	--web-view-name: Calendar;
	--web-view-id: Calendar;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
:root {
	--web-view-ids: Calendar;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Calendar {
	position: absolute;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	cursor: pointer;
	--web-view-name: Calendar;
	--web-view-id: Calendar;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_671 {
	opacity: 0.5;
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_671 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#bg_efm {
	fill: rgba(255,255,255,1);
}
.bg_efm {
	filter: drop-shadow(0px 5px 25px rgba(82, 87, 93, 0.102));
	overflow: visible;
	position: absolute;
	width: 1305px;
	height: 877px;
	left: 345px;
	top: 139px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_efn {
	fill: rgba(235,242,247,1);
}
.Line_efn {
	position: absolute;
	overflow: visible;
	width: 1170px;
	height: 3px;
	left: 375.006px;
	top: 208.5px;
}
#Title_efo {
	left: 375.006px;
	top: 167.5px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.3125px;
}
#info_efp {
	position: absolute;
	width: 16.418px;
	height: 16.419px;
	left: 1528.17px;
	top: 175.17px;
	overflow: visible;
}
#Path_45_efq {
	fill: rgba(179,184,189,1);
}
.Path_45_efq {
	overflow: visible;
	position: absolute;
	width: 16.418px;
	height: 16.419px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_33_efr {
	fill: rgba(179,184,189,1);
}
.Rectangle_33_efr {
	position: absolute;
	overflow: visible;
	width: 1px;
	height: 5.629px;
	left: 7.709px;
	top: 6.537px;
}
#Rectangle_34_efs {
	fill: rgba(179,184,189,1);
}
.Rectangle_34_efs {
	position: absolute;
	overflow: visible;
	width: 1px;
	height: 1.173px;
	left: 7.709px;
	top: 4.251px;
}
#calendar_eft {
	position: absolute;
	width: 1166px;
	height: 689px;
	left: 378px;
	top: 222px;
	overflow: visible;
}
#Title_efu {
	left: 435px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 296px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(18,168,246,1);
	letter-spacing: 0.3125px;
}
#Group_182 {
	position: absolute;
	width: 69.258px;
	height: 17px;
	left: 1096px;
	top: 24px;
	overflow: visible;
}
#Title_efw {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -4px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.3125px;
}
#Path_53_efx {
	fill: rgba(80,143,244,1);
}
.Path_53_efx {
	overflow: visible;
	position: absolute;
	width: 11.5px;
	height: 7.028px;
	transform: translate(-1684.006px, -272.5px) matrix(1,0,0,1,1744,277.5) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_186 {
	position: absolute;
	width: 64.77px;
	height: 17px;
	left: 1.23px;
	top: 24px;
	overflow: visible;
}
#Title_efz {
	left: 19.77px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -4px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.3125px;
}
#Path_53_ef {
	fill: rgba(80,143,244,1);
}
.Path_53_ef {
	overflow: visible;
	position: absolute;
	width: 11.5px;
	height: 7.028px;
	transform: translate(-911.237px, -272.5px) matrix(1,0,0,1,909,277.4995) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Passed_days {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 73px;
	overflow: visible;
}
#Rectangle_117_ef {
	opacity: 0.516;
	fill: rgba(235,242,247,1);
}
.Rectangle_117_ef {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#April_Tue_29 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(208,219,229,1);
}
#Passed_days_ef {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 168px;
	top: 73px;
	overflow: visible;
}
#Rectangle_117_ega {
	opacity: 0.516;
	fill: rgba(235,242,247,1);
}
.Rectangle_117_ega {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#April_Tue_30 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(208,219,229,1);
}
#Day {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 506px;
	top: 73px;
	overflow: visible;
}
#Rectangle_120_ef {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_ef {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Thu_2 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_ega {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 338px;
	top: 73px;
	overflow: visible;
}
#Rectangle_120_egb {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_egb {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Wed_1 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_egd {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 325px;
	overflow: visible;
}
#Rectangle_120_ege {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_ege {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Mon_13 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_egg {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 451px;
	overflow: visible;
}
#Rectangle_120_egh {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_egh {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Mon_20 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_egj {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 577px;
	overflow: visible;
}
#Rectangle_120_egk {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_egk {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Mon_27 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_egm {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 674px;
	top: 73px;
	overflow: visible;
}
#Rectangle_120_egn {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_egn {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Fri_3 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_egp {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 170px;
	top: 198px;
	overflow: visible;
}
#Rectangle_120_egq {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_egq {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Tue_7_egr {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_egs {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 170px;
	top: 325px;
	overflow: visible;
}
#Rectangle_120_egt {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_egt {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Tue_14 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_egv {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 170px;
	top: 451px;
	overflow: visible;
}
#Rectangle_120_egw {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_egw {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Tue_21 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_egy {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 170px;
	top: 577px;
	overflow: visible;
}
#Rectangle_120_egz {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_egz {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Tue_28 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_eg {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 842px;
	top: 73px;
	overflow: visible;
}
#Rectangle_120_eg {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_eg {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Sat_4 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_eha {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 338px;
	top: 198px;
	overflow: visible;
}
#Rectangle_120_eha {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_eha {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Wed_8_eg {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_ehb {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 338px;
	top: 325px;
	overflow: visible;
}
#Rectangle_120_ehb {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_ehb {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Wed_15 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_ehc {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 338px;
	top: 451px;
	overflow: visible;
}
#Rectangle_120_ehc {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_ehc {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Wed_22 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_ehd {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 338px;
	top: 577px;
	overflow: visible;
}
#Rectangle_120_ehe {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_ehe {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Wed_29 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_ehg {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 674px;
	top: 198px;
	overflow: visible;
}
#Rectangle_120_ehh {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_ehh {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Fri_10_ehi {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_ehj {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 674px;
	top: 325px;
	overflow: visible;
}
#Rectangle_120_ehk {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_ehk {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Fri_17 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_ehm {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 674px;
	top: 451px;
	overflow: visible;
}
#Rectangle_120_ehn {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_ehn {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Fri_24 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_ehp {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 674px;
	top: 577px;
	overflow: visible;
}
#Rectangle_120_ehq {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_ehq {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Fri_31 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_ehs {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 1010px;
	top: 72px;
	overflow: visible;
}
#Rectangle_120_eht {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_eht {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Sun_5_ehu {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_ehv {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 506px;
	top: 198px;
	overflow: visible;
}
#Rectangle_120_ehw {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_ehw {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Thu_9_ehx {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_ehy {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 506px;
	top: 325px;
	overflow: visible;
}
#Rectangle_120_ehz {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_ehz {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Thu_16 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_eh {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 506px;
	top: 451px;
	overflow: visible;
}
#Rectangle_120_eh {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_eh {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Thu_23 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_eia {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 506px;
	top: 577px;
	overflow: visible;
}
#Rectangle_120_eia {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_eia {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Thu_30 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_eib {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 842px;
	top: 198px;
	overflow: visible;
}
#Rectangle_120_eib {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_eib {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Sat_11 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_eic {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 842px;
	top: 325px;
	overflow: visible;
}
#Rectangle_120_eic {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_eic {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Sat_18 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_eid {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 842px;
	top: 451px;
	overflow: visible;
}
#Rectangle_120_eie {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_eie {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Sat_25 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_eig {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 1010px;
	top: 198px;
	overflow: visible;
}
#Rectangle_120_eih {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_eih {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Sun_12 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_eij {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 1010px;
	top: 325px;
	overflow: visible;
}
#Rectangle_120_eik {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_eik {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Sun_19 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Day_eim {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 1010px;
	top: 451px;
	overflow: visible;
}
#Rectangle_120_ein {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_ein {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Sun_26 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Rectangle_121_eip {
	opacity: 0.5;
	fill: rgba(208,219,229,1);
}
.Rectangle_121_eip {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 6px;
	left: 86px;
	top: 168px;
}
#Rectangle_124_eiq {
	fill: rgba(80,143,244,1);
}
.Rectangle_124_eiq {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 6px;
	left: 424px;
	top: 421px;
}
#Rectangle_126 {
	fill: rgba(27,193,103,1);
}
.Rectangle_126 {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 6px;
	left: 206px;
	top: 547px;
}
#Rectangle_136_eis {
	fill: rgba(80,143,244,1);
}
.Rectangle_136_eis {
	position: absolute;
	overflow: visible;
	width: 99px;
	height: 6px;
	left: 191px;
	top: 294px;
}
#Rectangle_127_eit {
	fill: rgba(27,193,103,1);
}
.Rectangle_127_eit {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 6px;
	left: 338px;
	top: 547px;
}
#Rectangle_128_eiu {
	fill: rgba(237,76,76,1);
}
.Rectangle_128_eiu {
	position: absolute;
	overflow: visible;
	width: 71px;
	height: 6px;
	left: 549px;
	top: 531px;
}
#Rectangle_134_eiv {
	fill: rgba(27,193,103,1);
}
.Rectangle_134_eiv {
	position: absolute;
	overflow: visible;
	width: 71px;
	height: 6px;
	left: 190px;
	top: 421px;
}
#Rectangle_135_eiw {
	fill: rgba(244,219,80,1);
}
.Rectangle_135_eiw {
	position: absolute;
	overflow: visible;
	width: 71px;
	height: 6px;
	left: 17px;
	top: 547px;
}
#Rectangle_122_eix {
	opacity: 0.5;
	fill: rgba(208,219,229,1);
}
.Rectangle_122_eix {
	width: 70px;
	height: 6px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,168,168) rotate(180deg);
	transform-origin: center;
}
#Rectangle_123_eiy {
	fill: rgba(80,143,244,1);
}
.Rectangle_123_eiy {
	width: 70px;
	height: 6px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,507,421) rotate(180deg);
	transform-origin: center;
}
#Rectangle_130_eiz {
	fill: rgba(244,219,80,1);
}
.Rectangle_130_eiz {
	width: 70px;
	height: 6px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,691,673) rotate(180deg);
	transform-origin: center;
}
#Path_113 {
	fill: rgba(244,219,80,1);
}
.Path_113 {
	overflow: visible;
	position: absolute;
	width: 112px;
	height: 6px;
	left: 718px;
	top: 294px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_132 {
	fill: rgba(244,219,80,1);
}
.Rectangle_132 {
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 6px;
	left: 842px;
	top: 294px;
}
#Rectangle_125 {
	fill: rgba(27,193,103,1);
}
.Rectangle_125 {
	width: 70px;
	height: 6px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,506,547) rotate(180deg);
	transform-origin: center;
}
#Curent_day {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 200px;
	overflow: visible;
	cursor: pointer;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Schedule .html;
}
#Rectangle_120_ei {
	fill: rgba(255,255,255,1);
}
.Rectangle_120_ei {
	filter: drop-shadow(0px 5px 25px rgba(82, 87, 93, 0.102));
	position: absolute;
	overflow: visible;
	width: 231px;
	height: 187px;
	left: 0px;
	top: 0px;
}
#Mon_6_______1000_AM_ei {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(51,51,51,1);
}
#clocktime_ei {
	position: absolute;
	width: 14px;
	height: 14.003px;
	left: 20px;
	top: 62px;
	overflow: visible;
}
#clock_ei {
	opacity: 0.5;
	fill: rgba(179,184,189,1);
}
.clock_ei {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 14.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Passed_days_ei {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 842px;
	top: 577px;
	overflow: visible;
}
#Rectangle_117_ei {
	opacity: 0.516;
	fill: rgba(235,242,247,1);
}
.Rectangle_117_ei {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Jun_Sat_1 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(208,219,229,1);
}
#Passed_days_ejb {
	position: absolute;
	width: 156px;
	height: 112px;
	left: 1010px;
	top: 577px;
	overflow: visible;
}
#Rectangle_117_ejc {
	opacity: 0.516;
	fill: rgba(235,242,247,1);
}
.Rectangle_117_ejc {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 112px;
	left: 0px;
	top: 0px;
}
#Jun_Sun_2 {
	left: 20px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(208,219,229,1);
}
#Rectangle_133_eje {
	fill: rgba(237,76,76,1);
}
.Rectangle_133_eje {
	position: absolute;
	overflow: visible;
	width: 79px;
	height: 6px;
	left: 902px;
	top: 294px;
}
#Rectangle_137_ejf {
	fill: rgba(237,76,76,1);
}
.Rectangle_137_ejf {
	position: absolute;
	overflow: visible;
	width: 32px;
	height: 6px;
	left: 95px;
	top: 294px;
}
#Rectangle_142_ejg {
	fill: rgba(80,143,244,1);
}
.Rectangle_142_ejg {
	position: absolute;
	overflow: visible;
	width: 71px;
	height: 6px;
	left: 17px;
	top: 294px;
}