.mediaViewInfo {
	--web-view-name: Cashier all;
	--web-view-id: Cashier_all;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Cashier_all;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Cashier_all {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Cashier all;
	--web-view-id: Cashier_all;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_2_be {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_be {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_6 {
	fill: rgba(248,248,248,1);
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 37px;
	left: 293px;
	top: 43px;
}
#Category_be {
	left: 55px;
	top: 125px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(18,168,246,1);
}
#Rectangle_118 {
	fill: rgba(255,255,255,1);
}
.Rectangle_118 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 483px;
	height: 732px;
	left: 1435px;
	top: 176px;
}
#Rectangle_78 {
	fill: rgba(18,168,246,1);
}
.Rectangle_78 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 113px;
	height: 117px;
	left: 52px;
	top: 189px;
}
#shopping-cart {
	position: absolute;
	width: 43.157px;
	height: 43.015px;
	left: 76.922px;
	top: 200.671px;
	overflow: visible;
}
#Path_4745 {
	fill: rgba(255,255,255,1);
}
.Path_4745 {
	overflow: visible;
	position: absolute;
	width: 9.617px;
	height: 9.54px;
	left: 28.703px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4746 {
	fill: rgba(255,255,255,1);
}
.Path_4746 {
	overflow: visible;
	position: absolute;
	width: 8.467px;
	height: 5.41px;
	left: 34.632px;
	top: 4.901px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4747 {
	fill: rgba(255,255,255,1);
}
.Path_4747 {
	overflow: visible;
	position: absolute;
	width: 15.613px;
	height: 4.888px;
	left: 13.771px;
	top: 5.423px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4748 {
	fill: rgba(255,255,255,1);
}
.Path_4748 {
	overflow: visible;
	position: absolute;
	width: 4.792px;
	height: 4.72px;
	left: 17.029px;
	top: 26.832px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4749 {
	fill: rgba(255,255,255,1);
}
.Path_4749 {
	overflow: visible;
	position: absolute;
	width: 4.974px;
	height: 4.215px;
	left: 30.369px;
	top: 20.089px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4750 {
	fill: rgba(255,255,255,1);
}
.Path_4750 {
	overflow: visible;
	position: absolute;
	width: 5.62px;
	height: 4.72px;
	left: 30.931px;
	top: 12.84px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4751 {
	fill: rgba(255,255,255,1);
}
.Path_4751 {
	overflow: visible;
	position: absolute;
	width: 4.78px;
	height: 4.215px;
	left: 23.403px;
	top: 20.089px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4752 {
	fill: rgba(255,255,255,1);
}
.Path_4752 {
	overflow: visible;
	position: absolute;
	width: 4.829px;
	height: 4.72px;
	left: 38.328px;
	top: 12.84px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4753 {
	fill: rgba(255,255,255,1);
}
.Path_4753 {
	overflow: visible;
	position: absolute;
	width: 4.41px;
	height: 4.215px;
	left: 37.205px;
	top: 20.089px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4754 {
	fill: rgba(255,255,255,1);
}
.Path_4754 {
	overflow: visible;
	position: absolute;
	width: 5.958px;
	height: 4.722px;
	left: 14.697px;
	top: 12.838px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4755 {
	fill: rgba(255,255,255,1);
}
.Path_4755 {
	overflow: visible;
	position: absolute;
	width: 4.454px;
	height: 4.72px;
	left: 29.765px;
	top: 26.832px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4756 {
	fill: rgba(255,255,255,1);
}
.Path_4756 {
	overflow: visible;
	position: absolute;
	width: 3.656px;
	height: 4.72px;
	left: 23.964px;
	top: 26.832px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4757 {
	fill: rgba(255,255,255,1);
}
.Path_4757 {
	overflow: visible;
	position: absolute;
	width: 5.988px;
	height: 4.72px;
	left: 22.798px;
	top: 12.84px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4758 {
	fill: rgba(255,255,255,1);
}
.Path_4758 {
	overflow: visible;
	position: absolute;
	width: 3.933px;
	height: 4.72px;
	left: 35.996px;
	top: 26.832px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4759 {
	fill: rgba(255,255,255,1);
}
.Path_4759 {
	overflow: visible;
	position: absolute;
	width: 39.785px;
	height: 33.547px;
	left: 0px;
	top: 9.468px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4760 {
	fill: rgba(255,255,255,1);
}
.Path_4760 {
	overflow: visible;
	position: absolute;
	width: 5.311px;
	height: 4.215px;
	left: 15.905px;
	top: 20.089px;
	transform: matrix(1,0,0,1,0,0);
}
#All {
	left: 90px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 20px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#Rectangle_110_bfu {
	fill: rgba(255,255,255,1);
}
.Rectangle_110_bfu {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 113px;
	height: 117px;
	left: 181px;
	top: 189px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier meat.html;
	cursor: pointer;
}
#Meet {
	left: 206px;
	top: 253px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier meat.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#steak_bfw {
	position: absolute;
	width: 40.678px;
	height: 33.892px;
	left: 208.161px;
	top: 205.233px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier meat.html;
	cursor: pointer;
}
#Group_83_bfx {
	position: absolute;
	width: 40.678px;
	height: 33.892px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4772_bfy {
	fill: rgba(27,47,91,1);
}
.Path_4772_bfy {
	overflow: visible;
	position: absolute;
	width: 40.514px;
	height: 14.344px;
	left: 0.01px;
	top: 19.548px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4773_bfz {
	fill: rgba(27,47,91,1);
}
.Path_4773_bfz {
	overflow: visible;
	position: absolute;
	width: 35.731px;
	height: 22.21px;
	left: 2.473px;
	top: 1.858px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4774_bf {
	fill: rgba(27,47,91,1);
}
.Path_4774_bf {
	overflow: visible;
	position: absolute;
	width: 40.678px;
	height: 28.361px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_24_bf {
	fill: rgba(27,47,91,1);
}
.Ellipse_24_bf {
	position: absolute;
	overflow: visible;
	width: 5.043px;
	height: 3.904px;
	left: 10.258px;
	top: 7.918px;
}
#Rectangle_116_bf {
	fill: rgba(255,255,255,1);
}
.Rectangle_116_bf {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 113px;
	height: 117px;
	left: 311px;
	top: 189px;
}
#Bread_bf {
	left: 333px;
	top: 253px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#silhouette_bf {
	position: absolute;
	width: 47.341px;
	height: 23.74px;
	left: 334.83px;
	top: 210.309px;
	overflow: visible;
}
#Group_84_bf {
	position: absolute;
	width: 47.341px;
	height: 23.74px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4775_bf {
	fill: rgba(27,47,91,1);
}
.Path_4775_bf {
	overflow: visible;
	position: absolute;
	width: 47.341px;
	height: 23.74px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_117_bf {
	fill: rgba(255,255,255,1);
}
.Rectangle_117_bf {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 113px;
	height: 117px;
	left: 444px;
	top: 189px;
}
#Beverages_bf {
	left: 453px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#soda_bf {
	position: absolute;
	width: 25.995px;
	height: 39.505px;
	left: 478.502px;
	top: 202.426px;
	overflow: visible;
}
#Group_86_bga {
	position: absolute;
	width: 25.995px;
	height: 11.583px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_85_bgb {
	position: absolute;
	width: 25.995px;
	height: 11.583px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4776_bgc {
	fill: rgba(27,47,91,1);
}
.Path_4776_bgc {
	overflow: visible;
	position: absolute;
	width: 25.996px;
	height: 11.583px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_88_bgd {
	position: absolute;
	width: 21.934px;
	height: 25.607px;
	left: 2.031px;
	top: 13.898px;
	overflow: visible;
}
#Group_87_bge {
	position: absolute;
	width: 21.934px;
	height: 25.607px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4777_bgf {
	fill: rgba(27,47,91,1);
}
.Path_4777_bgf {
	overflow: visible;
	position: absolute;
	width: 21.935px;
	height: 25.608px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_119_bgg {
	fill: rgba(255,255,255,1);
}
.Rectangle_119_bgg {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 113px;
	height: 117px;
	left: 573px;
	top: 189px;
}
#Rectangle_120_bgh {
	fill: rgba(255,255,255,1);
}
.Rectangle_120_bgh {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 113px;
	height: 117px;
	left: 702px;
	top: 189px;
}
#Wine_bgi {
	left: 732px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#ice-cream_bgj {
	position: absolute;
	width: 22.201px;
	height: 35.754px;
	left: 609.399px;
	top: 206.178px;
	overflow: visible;
}
#Group_90_bgk {
	position: absolute;
	width: 22.201px;
	height: 19.284px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_89_bgl {
	position: absolute;
	width: 22.201px;
	height: 19.284px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4778_bgm {
	fill: rgba(27,47,91,1);
}
.Path_4778_bgm {
	overflow: visible;
	position: absolute;
	width: 22.201px;
	height: 19.284px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_92_bgn {
	position: absolute;
	width: 16.502px;
	height: 14.375px;
	left: 2.819px;
	top: 21.378px;
	overflow: visible;
}
#Group_91_bgo {
	position: absolute;
	width: 16.502px;
	height: 14.375px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4779_bgp {
	fill: rgba(27,47,91,1);
}
.Path_4779_bgp {
	overflow: visible;
	position: absolute;
	width: 16.502px;
	height: 14.375px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#glass-and-bottle-of-wine_bgq {
	position: absolute;
	width: 29.134px;
	height: 38.532px;
	left: 735.433px;
	top: 203.4px;
	overflow: visible;
}
#Path_4780_bgr {
	fill: rgba(27,47,91,1);
}
.Path_4780_bgr {
	overflow: visible;
	position: absolute;
	width: 29.134px;
	height: 38.532px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_121_bgs {
	fill: rgba(255,255,255,1);
}
.Rectangle_121_bgs {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 113px;
	height: 117px;
	left: 826px;
	top: 189px;
}
#Snacks_bgt {
	left: 848px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#snack_bgu {
	position: absolute;
	width: 30.753px;
	height: 30.753px;
	left: 858.123px;
	top: 211.178px;
	overflow: visible;
}
#Path_4781_bgv {
	fill: rgba(27,47,91,1);
}
.Path_4781_bgv {
	overflow: visible;
	position: absolute;
	width: 2.137px;
	height: 7.705px;
	left: 24.149px;
	top: 23.049px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4782_bgw {
	fill: rgba(27,47,91,1);
}
.Path_4782_bgw {
	overflow: visible;
	position: absolute;
	width: 13.208px;
	height: 10.326px;
	left: 12.593px;
	top: 9.08px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4783_bgx {
	fill: rgba(27,47,91,1);
}
.Path_4783_bgx {
	overflow: visible;
	position: absolute;
	width: 19.812px;
	height: 7.024px;
	left: 3.237px;
	top: 23.389px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4784_bgy {
	fill: rgba(27,47,91,1);
}
.Path_4784_bgy {
	overflow: visible;
	position: absolute;
	width: 2.136px;
	height: 7.705px;
	left: 0px;
	top: 23.049px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4785_bgz {
	fill: rgba(27,47,91,1);
}
.Path_4785_bgz {
	overflow: visible;
	position: absolute;
	width: 22.419px;
	height: 22.013px;
	left: 8.038px;
	top: 3.237px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4786_bg {
	fill: rgba(27,47,91,1);
}
.Path_4786_bg {
	overflow: visible;
	position: absolute;
	width: 23.114px;
	height: 2.136px;
	left: 7.639px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4787_bg {
	fill: rgba(27,47,91,1);
}
.Path_4787_bg {
	overflow: visible;
	position: absolute;
	width: 12.107px;
	height: 1.101px;
	left: 7.089px;
	top: 26.351px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4788_bg {
	fill: rgba(27,47,91,1);
}
.Path_4788_bg {
	overflow: visible;
	position: absolute;
	width: 3.788px;
	height: 2.137px;
	left: 26.966px;
	top: 26.351px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_122_bg {
	fill: rgba(255,255,255,1);
}
.Rectangle_122_bg {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 113px;
	height: 117px;
	left: 950px;
	top: 189px;
}
#Oils_bg {
	left: 983px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#oil_bg {
	position: absolute;
	width: 31.687px;
	height: 33.243px;
	left: 981.657px;
	top: 208.688px;
	overflow: visible;
}
#Path_4789_bg {
	fill: rgba(27,47,91,1);
}
.Path_4789_bg {
	overflow: visible;
	position: absolute;
	width: 5.843px;
	height: 2.662px;
	left: 17.143px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4790_bg {
	fill: rgba(27,47,91,1);
}
.Path_4790_bg {
	overflow: visible;
	position: absolute;
	width: 10.226px;
	height: 7.089px;
	left: 0px;
	top: 26.154px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4791_bg {
	fill: rgba(27,47,91,1);
}
.Path_4791_bg {
	overflow: visible;
	position: absolute;
	width: 6.065px;
	height: 10.158px;
	left: 1.95px;
	top: 16.297px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4792_bg {
	fill: rgba(27,47,91,1);
}
.Path_4792_bg {
	overflow: visible;
	position: absolute;
	width: 21.94px;
	height: 15.126px;
	left: 9.095px;
	top: 4.612px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4793_bha {
	fill: rgba(27,47,91,1);
}
.Path_4793_bha {
	overflow: visible;
	position: absolute;
	width: 23.244px;
	height: 11.557px;
	left: 8.443px;
	top: 21.686px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_123_bhb {
	fill: rgba(255,255,255,1);
}
.Rectangle_123_bhb {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 113px;
	height: 117px;
	left: 1073px;
	top: 189px;
}
#Dried_Food_bhc {
	left: 1080px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#dried_bhd {
	position: absolute;
	width: 32.738px;
	height: 32.642px;
	left: 1104.131px;
	top: 209.29px;
	overflow: visible;
}
#Path_4794_bhe {
	fill: rgba(27,47,91,1);
}
.Path_4794_bhe {
	overflow: visible;
	position: absolute;
	width: 8.41px;
	height: 3.323px;
	left: 19.884px;
	top: 29.318px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4795_bhf {
	fill: rgba(27,47,91,1);
}
.Path_4795_bhf {
	overflow: visible;
	position: absolute;
	width: 13.577px;
	height: 16.779px;
	left: 17.3px;
	top: 12.123px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4796_bhg {
	fill: rgba(27,47,91,1);
}
.Path_4796_bhg {
	overflow: visible;
	position: absolute;
	width: 8.41px;
	height: 3.323px;
	left: 4.431px;
	top: 29.318px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4797_bhh {
	fill: rgba(27,47,91,1);
}
.Path_4797_bhh {
	overflow: visible;
	position: absolute;
	width: 13.577px;
	height: 16.779px;
	left: 1.848px;
	top: 12.123px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4798_bhi {
	fill: rgba(27,47,91,1);
}
.Path_4798_bhi {
	overflow: visible;
	position: absolute;
	width: 32.738px;
	height: 12.392px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_124_bhj {
	fill: rgba(255,255,255,1);
}
.Rectangle_124_bhj {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 113px;
	height: 117px;
	left: 1198px;
	top: 189px;
}
#Noodles_bho {
	left: 1215px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#noodles_bhp {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 1231.118px;
	top: 211.169px;
	overflow: visible;
}
#Group_93_bhq {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4799_bhr {
	fill: rgba(27,47,91,1);
}
.Path_4799_bhr {
	overflow: visible;
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Noodles_bho {
	left: 1215px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#noodles_bhp {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 1231.118px;
	top: 211.169px;
	overflow: visible;
}
#Group_93_bhq {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4799_bhr {
	fill: rgba(27,47,91,1);
}
.Path_4799_bhr {
	overflow: visible;
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_127_bhs {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_127_bhs {
	position: absolute;
	overflow: visible;
	width: 45px;
	height: 47px;
	left: 1337px;
	top: 215px;
}
#Group_94_bht {
	position: absolute;
	width: 33px;
	height: 33px;
	left: 1343.169px;
	top: 222px;
	overflow: visible;
}
#Path_4800_bhu {
	fill: rgba(27,47,91,1);
}
.Path_4800_bhu {
	overflow: visible;
	position: absolute;
	width: 33px;
	height: 33px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_5_bhv {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_bhv {
	position: absolute;
	overflow: visible;
	width: 412px;
	height: 40px;
	left: 1008px;
	top: 125px;
}
#Search_bhw {
	left: 1053px;
	top: 136px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(136,142,155,1);
}
#Path_4630_bhx {
	fill: rgba(18,168,246,1);
}
.Path_4630_bhx {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.315px;
	left: 1026px;
	top: 137.842px;
	transform: matrix(1,0,0,1,0,0);
}
#All_bhy {
	left: 54px;
	top: 330px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Rectangle_165 {
	fill: rgba(255,255,255,1);
}
.Rectangle_165 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 274px;
	height: 73px;
	left: 1534px;
	top: 1003px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History 1.html;
	cursor: pointer;
}
#Rectangle_166 {
	fill: rgba(18,168,246,1);
}
.Rectangle_166 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 246px;
	height: 92px;
	left: 1671px;
	top: 901px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: comfirm payment.html;
	cursor: pointer;
}
#Group_109 {
	position: absolute;
	width: 22.825px;
	height: 19.565px;
	left: 1546.794px;
	top: 1020.718px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History 1.html;
	cursor: pointer;
}
#Group_108 {
	position: absolute;
	width: 22.825px;
	height: 19.565px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4824 {
	fill: rgba(27,47,91,1);
}
.Path_4824 {
	overflow: visible;
	position: absolute;
	width: 5.435px;
	height: 8.195px;
	left: 11.956px;
	top: 5.435px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4825 {
	fill: rgba(27,47,91,1);
}
.Path_4825 {
	overflow: visible;
	position: absolute;
	width: 22.825px;
	height: 19.564px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#View_Purchase_History {
	left: 1574.206px;
	top: 1017px;
	position: absolute;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History 1.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
	text-decoration: underline;
}
#Rectangle_167 {
	fill: rgba(255,255,255,1);
}
.Rectangle_167 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 246px;
	height: 92px;
	left: 1434px;
	top: 901px;
}
#Checkout_ {
	left: 1588px;
	top: 125px;
	position: absolute;
	overflow: visible;
	width: 146px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(18,168,246,1);
}
#Goto_Pay {
	left: 1714px;
	top: 913px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: comfirm payment.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#Cancel {
	left: 1495px;
	top: 913px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#n__Coconut {
	left: 1451px;
	top: 262px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__bib {
	left: 1695.552px;
	top: 262px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#plus {
	fill: rgba(27,47,91,1);
}
.plus {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 1733px;
	top: 262.713px;
	transform: matrix(1,0,0,1,0,0);
}
#minus {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 1644.53px;
	top: 262.713px;
	overflow: visible;
}
#Group_111 {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4826 {
	fill: rgba(27,47,91,1);
}
.Path_4826 {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_4 {
	left: 1815px;
	top: 262px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__Watermelon {
	left: 1451px;
	top: 326.316px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__bii {
	left: 1695.552px;
	top: 326.316px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#plus_bij {
	fill: rgba(27,47,91,1);
}
.plus_bij {
	overflow: visible;
	position: absolute;
	width: 28.574px;
	height: 28.574px;
	left: 1733px;
	top: 327.029px;
	transform: matrix(1,0,0,1,0,0);
}
#n_8 {
	left: 1814px;
	top: 326.316px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#delete {
	fill: rgba(27,47,91,1);
}
.delete {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 1644.53px;
	top: 327.03px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_75 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_75 {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 1434.5px;
	top: 308.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n__Tomato {
	left: 1451px;
	top: 391.236px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__bio {
	left: 1695.552px;
	top: 391.236px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#plus_bip {
	fill: rgba(27,47,91,1);
}
.plus_bip {
	overflow: visible;
	position: absolute;
	width: 28.574px;
	height: 28.574px;
	left: 1733px;
	top: 391.949px;
	transform: matrix(1,0,0,1,0,0);
}
#n__biq {
	left: 1823.5px;
	top: 391.236px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Line_76 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_76 {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 1434.5px;
	top: 373.42px;
	transform: matrix(1,0,0,1,0,0);
}
#minus_bis {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 1644.53px;
	top: 390.633px;
	overflow: visible;
}
#Group_111_bit {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4826_biu {
	fill: rgba(27,47,91,1);
}
.Path_4826_biu {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_77 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_77 {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 1434.5px;
	top: 244.787px;
	transform: matrix(1,0,0,1,0,0);
}
#Product {
	left: 1466px;
	top: 198px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Quantity {
	left: 1653px;
	top: 198px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Price {
	left: 1809px;
	top: 198px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Line_78 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_78 {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 1434.5px;
	top: 667.42px;
	transform: matrix(1,0,0,1,0,0);
}
#Subtotal_______ {
	left: 1484px;
	top: 728px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Discount______ {
	left: 1484px;
	top: 772px;
	position: absolute;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#TOTAL_________ {
	left: 1484px;
	top: 831px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_168 {
	fill: rgba(255,255,255,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_168 {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 36px;
	left: 1624px;
	top: 725px;
}
#n_2_bi {
	left: 1703.052px;
	top: 728px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_169 {
	fill: rgba(255,255,255,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_169 {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 36px;
	left: 1624px;
	top: 769px;
}
#n_0_bi {
	left: 1704px;
	top: 772px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_170 {
	fill: rgba(255,255,255,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_170 {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 36px;
	left: 1624px;
	top: 828px;
}
#n_78 {
	left: 1697.552px;
	top: 831px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Component_1__1 {
	position: absolute;
	width: 453px;
	height: 1px;
	left: 1434.5px;
	top: 816.213px;
	overflow: visible;
}
#Line_79 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_79 {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_171 {
	fill: rgba(255,255,255,1);
	stroke: rgba(152,152,152,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_171 {
	position: absolute;
	overflow: visible;
	width: 136px;
	height: 36px;
	left: 1594px;
	top: 675px;
}
#Add_Note {
	left: 1610px;
	top: 678px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Group_117 {
	position: absolute;
	width: 1349px;
	height: 872px;
	left: 54px;
	top: 390px;
	overflow: visible;
}
#Rectangle_128 {
	fill: rgba(255,255,255,1);
}
.Rectangle_128 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 455px;
	height: 451px;
	left: 0px;
	top: 0px;
}
#Rectangle_129 {
	fill: rgba(255,255,255,1);
}
.Rectangle_129 {
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 207px;
	left: 17px;
	top: 18px;
}
#pomodori_bjg {
	position: absolute;
	width: 187.012px;
	height: 134.045px;
	left: 26.967px;
	top: 45.894px;
	overflow: visible;
}
#Tomato {
	left: 238px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(27,47,91,1);
}
#Tomatoes_are_from_Brave_Dragon {
	left: 238px;
	top: 74px;
	position: absolute;
	overflow: visible;
	width: 158px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	color: rgba(27,47,91,1);
}
#Rectangle_130 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_130 {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 34px;
	left: 238px;
	top: 178px;
}
#n_00_bjk {
	left: 249px;
	top: 181px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#kg {
	left: 302px;
	top: 183px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#Available_In_Stock {
	left: 238px;
	top: 149px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#Rectangle_131 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_131 {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 160px;
	top: 289px;
}
#n__bjo {
	left: 195px;
	top: 297px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Price_ {
	left: 79px;
	top: 267px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Rectangle_133 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_133 {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 160px;
	top: 244px;
}
#n_000 {
	left: 172px;
	top: 250px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#kg_bjs {
	left: 261px;
	top: 272px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Rectangle_134 {
	fill: rgba(18,168,246,1);
}
.Rectangle_134 {
	position: absolute;
	overflow: visible;
	width: 395px;
	height: 57px;
	left: 17px;
	top: 349px;
}
#Add_to_Cart {
	left: 141px;
	top: 361px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Rectangle_135 {
	fill: rgba(255,255,255,1);
}
.Rectangle_135 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 455px;
	height: 451px;
	left: 462px;
	top: 0px;
}
#Rectangle_136 {
	fill: rgba(255,255,255,1);
}
.Rectangle_136 {
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 207px;
	left: 479px;
	top: 18px;
}
#Watermelon {
	left: 700px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(27,47,91,1);
}
#Watermelon_is_from_Brave_Drago {
	left: 700px;
	top: 74px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	color: rgba(27,47,91,1);
}
#Rectangle_137 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_137 {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 34px;
	left: 700px;
	top: 178px;
}
#n_6 {
	left: 718px;
	top: 181px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#PCs {
	left: 764px;
	top: 181px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#Available_In_Stock_bj {
	left: 700px;
	top: 149px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#Rectangle_138 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_138 {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 622px;
	top: 289px;
}
#n_8_bj {
	left: 644px;
	top: 297px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Price__bj {
	left: 541px;
	top: 267px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Rectangle_139 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_139 {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 622px;
	top: 244px;
}
#n_500_bj {
	left: 636px;
	top: 250px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#PCs_bj {
	left: 723px;
	top: 272px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Path_9304 {
	fill: rgba(18,168,246,1);
}
.Path_9304 {
	overflow: visible;
	position: absolute;
	width: 395px;
	height: 57px;
	left: 479px;
	top: 349px;
	transform: matrix(1,0,0,1,0,0);
}
#Add_to_Cart_bka {
	left: 603px;
	top: 361px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Rectangle_141 {
	fill: rgba(255,255,255,1);
}
.Rectangle_141 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 455px;
	height: 451px;
	left: 924px;
	top: 0px;
}
#Rectangle_142 {
	fill: rgba(255,255,255,1);
}
.Rectangle_142 {
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 207px;
	left: 941px;
	top: 18px;
}
#Coconut {
	left: 1162px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(27,47,91,1);
}
#Coconut_is_form_Smallbamboo_KP {
	left: 1162px;
	top: 74px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	color: rgba(27,47,91,1);
}
#Rectangle_143 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_143 {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 34px;
	left: 1162px;
	top: 178px;
}
#n_3 {
	left: 1180px;
	top: 182px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#PCs_bkh {
	left: 1226px;
	top: 182px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#Available_In_Stock_bki {
	left: 1162px;
	top: 149px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#Rectangle_144 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_144 {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 1084px;
	top: 289px;
}
#n_7 {
	left: 1107px;
	top: 296px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Price__bkl {
	left: 1003px;
	top: 267px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Rectangle_145 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_145 {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 1084px;
	top: 244px;
}
#n_800 {
	left: 1098px;
	top: 250px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#PCs_bko {
	left: 1185px;
	top: 272px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Path_9305 {
	fill: rgba(18,168,246,1);
}
.Path_9305 {
	overflow: visible;
	position: absolute;
	width: 395px;
	height: 57px;
	left: 941px;
	top: 349px;
	transform: matrix(1,0,0,1,0,0);
}
#Add_to_Cart_bkq {
	left: 1065px;
	top: 361px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Watermelon-3_bkr {
	position: absolute;
	width: 189.973px;
	height: 136.167px;
	left: 487.514px;
	top: 44.833px;
	overflow: visible;
}
#coconut {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 955px;
	top: 32px;
	overflow: visible;
}
#Path_4823 {
	fill: rgba(255,255,255,1);
}
.Path_4823 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 455px;
	height: 451px;
	left: 0px;
	top: 451px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_148 {
	fill: rgba(255,255,255,1);
}
.Rectangle_148 {
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 207px;
	left: 17px;
	top: 469px;
}
#Apples {
	left: 238px;
	top: 485px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(27,47,91,1);
}
#Apples_are_from_Smallbamboo_SR {
	left: 237px;
	top: 525px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	color: rgba(27,47,91,1);
}
#Rectangle_149 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_149 {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 34px;
	left: 238px;
	top: 629px;
}
#n_5 {
	left: 256px;
	top: 634px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#kg_bkz {
	left: 302px;
	top: 635px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#Available_In_Stock_bk {
	left: 238px;
	top: 600px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#Rectangle_153 {
	fill: rgba(255,255,255,1);
}
.Rectangle_153 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 455px;
	height: 451px;
	left: 462px;
	top: 451px;
}
#Rectangle_154 {
	fill: rgba(255,255,255,1);
}
.Rectangle_154 {
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 207px;
	left: 479px;
	top: 469px;
}
#Banana_bk {
	left: 700px;
	top: 485px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(27,47,91,1);
}
#Banana_is_from_Brave_Dragon_SR {
	left: 700px;
	top: 525px;
	position: absolute;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	color: rgba(27,47,91,1);
}
#Rectangle_155 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_155 {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 34px;
	left: 700px;
	top: 629px;
}
#n_0_bk {
	left: 718px;
	top: 634px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#PCs_bk {
	left: 764px;
	top: 634px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#Available_In_Stock_bla {
	left: 700px;
	top: 600px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#Rectangle_159 {
	fill: rgba(255,255,255,1);
}
.Rectangle_159 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 455px;
	height: 451px;
	left: 924px;
	top: 451px;
}
#Rectangle_160 {
	fill: rgba(255,255,255,1);
}
.Rectangle_160 {
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 207px;
	left: 941px;
	top: 469px;
}
#Cabbage_blb {
	left: 1162px;
	top: 485px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(27,47,91,1);
}
#Coconut_is_form_Smallbamboo_KP_blc {
	left: 1162px;
	top: 525px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	color: rgba(27,47,91,1);
}
#Rectangle_161 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_161 {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 34px;
	left: 1162px;
	top: 629px;
}
#n_1_ble {
	left: 1182px;
	top: 633px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#Kg_blf {
	left: 1226px;
	top: 633px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#Available_In_Stock_blg {
	left: 1162px;
	top: 600px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#apple_blh {
	position: absolute;
	width: 175.929px;
	height: 127.5px;
	left: 32.07px;
	top: 505.25px;
	overflow: visible;
}
#Banana_bli {
	position: absolute;
	width: 156px;
	height: 111.5px;
	left: 506.488px;
	top: 508.25px;
	overflow: visible;
}
#Scroll_Group_1 {
	mix-blend-mode: normal;
	position: absolute;
	width: 193.711px;
	height: 143.892px;
	left: 947.317px;
	top: 501.054px;
	overflow: hidden;
}
#Cabbage_blk {
	position: absolute;
	width: 215.711px;
	height: 143.892px;
	left: -11px;
	top: 0px;
	overflow: visible;
}
#Rectangle_150 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_150 {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 160px;
	top: 740px;
}
#n__blm {
	left: 195px;
	top: 748px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Price__bln {
	left: 79px;
	top: 718px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#kg_blo {
	left: 261px;
	top: 723px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Rectangle_152 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_152 {
	position: absolute;
	overflow: visible;
	width: 395px;
	height: 57px;
	left: 17px;
	top: 800px;
}
#Add_to_Cart_blq {
	left: 141px;
	top: 812px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Rectangle_156 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_156 {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 622px;
	top: 740px;
}
#n_87 {
	left: 638px;
	top: 748px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Price__blt {
	left: 541px;
	top: 718px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#PCs_blu {
	left: 723px;
	top: 723px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Rectangle_158 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_158 {
	position: absolute;
	overflow: visible;
	width: 395px;
	height: 57px;
	left: 479px;
	top: 800px;
}
#Add_to_Cart_blw {
	left: 603px;
	top: 812px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Rectangle_162 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_162 {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 1084px;
	top: 740px;
}
#n_7_bly {
	left: 1107px;
	top: 747px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Price__blz {
	left: 1003px;
	top: 718px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#PCs_bl {
	left: 1185px;
	top: 723px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Rectangle_164 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_164 {
	position: absolute;
	overflow: visible;
	width: 395px;
	height: 57px;
	left: 941px;
	top: 800px;
}
#Add_to_Cart_bl {
	left: 1065px;
	top: 812px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#n_000_bl {
	left: 172px;
	top: 701px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#n_500_bl {
	left: 636px;
	top: 701px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#n_800_bl {
	left: 1098px;
	top: 701px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Rectangle_151 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_151 {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 160px;
	top: 695px;
}
#Rectangle_157 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_157 {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 622px;
	top: 695px;
}
#Rectangle_163 {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_163 {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 1084px;
	top: 695px;
}
#Ice-Cream_bl {
	left: 581px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#Hunter_Zolomon_bma {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_bmb {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_bmc {
	fill: rgba(18,168,246,1);
}
.Path_4632_bmc {
	overflow: visible;
	position: absolute;
	width: 27.082px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_bmd {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_bmd {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_bme {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_bme {
	position: absolute;
	overflow: visible;
	width: 10.037px;
	height: 10.036px;
	left: 48.599px;
	top: 56.468px;
}
#Path_4633_bmf {
	fill: rgba(255,255,255,1);
}
.Path_4633_bmf {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_bmg {
	fill: rgba(18,168,246,1);
}
.Path_4634_bmg {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_bmh {
	fill: rgba(255,255,255,1);
}
.Path_4635_bmh {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.033px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_bmi {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.571px;
	overflow: visible;
}
#Group_55_bmj {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_bmk {
	fill: rgba(18,168,246,1);
}
.Path_4636_bmk {
	overflow: visible;
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_bml {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.298px;
	top: 75.962px;
	overflow: visible;
}
#Path_4637_bmm {
	fill: rgba(18,26,80,1);
}
.Path_4637_bmm {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_bmn {
	fill: rgba(18,26,80,1);
}
.Path_4638_bmn {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_bmo {
	fill: rgba(255,255,255,1);
}
.Path_4639_bmo {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.243px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_bmp {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_bmp {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.405px;
}
#Group_3056_bmq {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_bmr {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_bms {
	fill: rgba(27,47,91,1);
}
.home_bms {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_bmt {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
}
#Cashier_bmu {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Path_4640_bmv {
	fill: rgba(18,168,246,1);
}
.Path_4640_bmv {
	overflow: visible;
	position: absolute;
	width: 13.456px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_bmw {
	fill: rgba(18,168,246,1);
}
.Path_4641_bmw {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.386px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_bmx {
	fill: rgba(18,168,246,1);
}
.Path_4642_bmx {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_bmy {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__bmz {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_bm {
	fill: rgba(27,47,91,1);
}
.Path_4643_bm {
	overflow: visible;
	position: absolute;
	width: 13.946px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_bm {
	fill: rgba(27,47,91,1);
}
.Path_4644_bm {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.12px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_bm {
	fill: rgba(27,47,91,1);
}
.Path_4646_bm {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_bm {
	fill: rgba(27,47,91,1);
}
.Path_4647_bm {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_bm {
	fill: rgba(27,47,91,1);
}
.Path_4648_bm {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_bm {
	fill: rgba(27,47,91,1);
}
.Path_4649_bm {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_bm {
	fill: rgba(27,47,91,1);
}
.Path_4651_bm {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_bm {
	fill: rgba(27,47,91,1);
}
.Path_4653_bm {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 622.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_bm {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_bm {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_bna {
	fill: rgba(27,47,91,1);
}
.Path_4650_bna {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.926px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_bnb {
	fill: rgba(27,47,91,1);
}
.Path_4652_bnb {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_bnc {
	fill: rgba(27,47,91,1);
}
.Path_4654_bnc {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_bnd {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__bne {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_bnf {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_bng {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_bnh {
	fill: rgba(27,47,91,1);
}
.Path_4662_bnh {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_bni {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_bnj {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_bnk {
	fill: rgba(27,47,91,1);
}
.Path_4663_bnk {
	overflow: visible;
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_bnl {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_bnm {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_bnn {
	fill: rgba(27,47,91,1);
}
.Path_4664_bnn {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_bno {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_bnp {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_bnq {
	fill: rgba(27,47,91,1);
}
.Path_4665_bnq {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_bnr {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_bns {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_bnt {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_bnu {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_bnv {
	fill: rgba(27,47,91,1);
}
.Path_4680_bnv {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.101px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_bnw {
	fill: rgba(27,47,91,1);
}
.Path_4681_bnw {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_bnx {
	fill: rgba(27,47,91,1);
}
.Path_4682_bnx {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3062_bny {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_bnz {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_bn {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_bn {
	fill: rgba(27,47,91,1);
}
.Path_4688_bn {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_bn {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_bn {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}