.mediaViewInfo {
	--web-view-name: Cashier meet;
	--web-view-id: Cashier_meet;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Cashier_meet;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Cashier_meet {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Cashier meet;
	--web-view-id: Cashier_meet;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Category_bn {
	left: 55px;
	top: 125px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(18,168,246,1);
}
#Rectangle_78_bn {
	fill: rgba(255,255,255,1);
}
.Rectangle_78_bn {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 52px;
	top: 189px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#shopping-cart_bn {
	position: absolute;
	width: 43.157px;
	height: 43.015px;
	left: 76.922px;
	top: 200.671px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Path_4745_bn {
	fill: rgba(27,47,91,1);
}
.Path_4745_bn {
	overflow: visible;
	position: absolute;
	width: 9.617px;
	height: 9.54px;
	left: 28.703px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4746_boa {
	fill: rgba(27,47,91,1);
}
.Path_4746_boa {
	overflow: visible;
	position: absolute;
	width: 8.467px;
	height: 5.41px;
	left: 34.632px;
	top: 4.901px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4747_bob {
	fill: rgba(27,47,91,1);
}
.Path_4747_bob {
	overflow: visible;
	position: absolute;
	width: 15.613px;
	height: 4.888px;
	left: 13.771px;
	top: 5.423px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4748_boc {
	fill: rgba(27,47,91,1);
}
.Path_4748_boc {
	overflow: visible;
	position: absolute;
	width: 4.792px;
	height: 4.72px;
	left: 17.029px;
	top: 26.832px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4749_bod {
	fill: rgba(27,47,91,1);
}
.Path_4749_bod {
	overflow: visible;
	position: absolute;
	width: 4.974px;
	height: 4.215px;
	left: 30.369px;
	top: 20.089px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4750_boe {
	fill: rgba(27,47,91,1);
}
.Path_4750_boe {
	overflow: visible;
	position: absolute;
	width: 5.62px;
	height: 4.72px;
	left: 30.931px;
	top: 12.84px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4751_bof {
	fill: rgba(27,47,91,1);
}
.Path_4751_bof {
	overflow: visible;
	position: absolute;
	width: 4.78px;
	height: 4.215px;
	left: 23.402px;
	top: 20.089px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4752_bog {
	fill: rgba(27,47,91,1);
}
.Path_4752_bog {
	overflow: visible;
	position: absolute;
	width: 4.829px;
	height: 4.72px;
	left: 38.328px;
	top: 12.84px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4753_boh {
	fill: rgba(27,47,91,1);
}
.Path_4753_boh {
	overflow: visible;
	position: absolute;
	width: 4.41px;
	height: 4.215px;
	left: 37.204px;
	top: 20.089px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4754_boi {
	fill: rgba(27,47,91,1);
}
.Path_4754_boi {
	overflow: visible;
	position: absolute;
	width: 5.958px;
	height: 4.722px;
	left: 14.697px;
	top: 12.838px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4755_boj {
	fill: rgba(27,47,91,1);
}
.Path_4755_boj {
	overflow: visible;
	position: absolute;
	width: 4.454px;
	height: 4.72px;
	left: 29.765px;
	top: 26.832px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4756_bok {
	fill: rgba(27,47,91,1);
}
.Path_4756_bok {
	overflow: visible;
	position: absolute;
	width: 3.656px;
	height: 4.72px;
	left: 23.964px;
	top: 26.832px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4757_bol {
	fill: rgba(27,47,91,1);
}
.Path_4757_bol {
	overflow: visible;
	position: absolute;
	width: 5.988px;
	height: 4.72px;
	left: 22.798px;
	top: 12.84px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4758_bom {
	fill: rgba(27,47,91,1);
}
.Path_4758_bom {
	overflow: visible;
	position: absolute;
	width: 3.933px;
	height: 4.72px;
	left: 35.996px;
	top: 26.832px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4759_bon {
	fill: rgba(27,47,91,1);
}
.Path_4759_bon {
	overflow: visible;
	position: absolute;
	width: 39.785px;
	height: 33.547px;
	left: 0px;
	top: 9.468px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4760_boo {
	fill: rgba(27,47,91,1);
}
.Path_4760_boo {
	overflow: visible;
	position: absolute;
	width: 5.311px;
	height: 4.215px;
	left: 15.905px;
	top: 20.089px;
	transform: matrix(1,0,0,1,0,0);
}
#All_bop {
	left: 90px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 20px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Rectangle_110_boq {
	fill: rgba(18,168,246,1);
}
.Rectangle_110_boq {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 181px;
	top: 189px;
}
#Meat_bor {
	left: 206px;
	top: 253px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#steak_bos {
	position: absolute;
	width: 40.678px;
	height: 33.892px;
	left: 208.161px;
	top: 205.233px;
	overflow: visible;
}
#Group_83_bot {
	position: absolute;
	width: 40.678px;
	height: 33.892px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4772_bou {
	fill: rgba(255,255,255,1);
}
.Path_4772_bou {
	overflow: visible;
	position: absolute;
	width: 40.514px;
	height: 14.344px;
	left: 0.01px;
	top: 19.548px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4773_bov {
	fill: rgba(255,255,255,1);
}
.Path_4773_bov {
	overflow: visible;
	position: absolute;
	width: 35.731px;
	height: 22.21px;
	left: 2.473px;
	top: 1.858px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4774_bow {
	fill: rgba(255,255,255,1);
}
.Path_4774_bow {
	overflow: visible;
	position: absolute;
	width: 40.678px;
	height: 28.361px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_24_box {
	fill: rgba(255,255,255,1);
}
.Ellipse_24_box {
	position: absolute;
	overflow: visible;
	width: 5.043px;
	height: 3.904px;
	left: 10.258px;
	top: 7.918px;
}
#Rectangle_116_boy {
	fill: rgba(255,255,255,1);
}
.Rectangle_116_boy {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 311px;
	top: 189px;
}
#Bread_boz {
	left: 333px;
	top: 253px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#silhouette_bo {
	position: absolute;
	width: 47.341px;
	height: 23.74px;
	left: 334.83px;
	top: 210.309px;
	overflow: visible;
}
#Group_84_bo {
	position: absolute;
	width: 47.341px;
	height: 23.74px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4775_bo {
	fill: rgba(27,47,91,1);
}
.Path_4775_bo {
	overflow: visible;
	position: absolute;
	width: 47.341px;
	height: 23.74px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_117_bo {
	fill: rgba(255,255,255,1);
}
.Rectangle_117_bo {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 444px;
	top: 189px;
}
#Beverages_bo {
	left: 453px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#soda_bo {
	position: absolute;
	width: 25.995px;
	height: 39.505px;
	left: 478.502px;
	top: 202.426px;
	overflow: visible;
}
#Group_86_bo {
	position: absolute;
	width: 25.995px;
	height: 11.583px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_85_bo {
	position: absolute;
	width: 25.995px;
	height: 11.583px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4776_bo {
	fill: rgba(27,47,91,1);
}
.Path_4776_bo {
	overflow: visible;
	position: absolute;
	width: 25.996px;
	height: 11.583px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_88_bo {
	position: absolute;
	width: 21.934px;
	height: 25.607px;
	left: 2.031px;
	top: 13.898px;
	overflow: visible;
}
#Group_87_bpa {
	position: absolute;
	width: 21.934px;
	height: 25.607px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4777_bpb {
	fill: rgba(27,47,91,1);
}
.Path_4777_bpb {
	overflow: visible;
	position: absolute;
	width: 21.935px;
	height: 25.608px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_119_bpc {
	fill: rgba(255,255,255,1);
}
.Rectangle_119_bpc {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 573px;
	top: 189px;
}
#Ice-Cream_bpd {
	left: 581px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#Rectangle_120_bpe {
	fill: rgba(255,255,255,1);
}
.Rectangle_120_bpe {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 702px;
	top: 189px;
}
#ice-cream_bpf {
	position: absolute;
	width: 22.201px;
	height: 35.754px;
	left: 609.399px;
	top: 206.178px;
	overflow: visible;
}
#Group_90_bpg {
	position: absolute;
	width: 22.201px;
	height: 19.284px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_89_bph {
	position: absolute;
	width: 22.201px;
	height: 19.284px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4778_bpi {
	fill: rgba(27,47,91,1);
}
.Path_4778_bpi {
	overflow: visible;
	position: absolute;
	width: 22.201px;
	height: 19.284px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_92_bpj {
	position: absolute;
	width: 16.502px;
	height: 14.375px;
	left: 2.819px;
	top: 21.378px;
	overflow: visible;
}
#Group_91_bpk {
	position: absolute;
	width: 16.502px;
	height: 14.375px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4779_bpl {
	fill: rgba(27,47,91,1);
}
.Path_4779_bpl {
	overflow: visible;
	position: absolute;
	width: 16.502px;
	height: 14.375px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#glass-and-bottle-of-wine_bpm {
	position: absolute;
	width: 29.134px;
	height: 38.532px;
	left: 735.433px;
	top: 203.4px;
	overflow: visible;
}
#Path_4780_bpn {
	fill: rgba(27,47,91,1);
}
.Path_4780_bpn {
	overflow: visible;
	position: absolute;
	width: 29.134px;
	height: 38.532px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_121_bpo {
	fill: rgba(255,255,255,1);
}
.Rectangle_121_bpo {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 826px;
	top: 189px;
}
#Snacks_bpp {
	left: 848px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#snack_bpq {
	position: absolute;
	width: 30.753px;
	height: 30.753px;
	left: 858.123px;
	top: 211.178px;
	overflow: visible;
}
#Path_4781_bpr {
	fill: rgba(27,47,91,1);
}
.Path_4781_bpr {
	overflow: visible;
	position: absolute;
	width: 2.137px;
	height: 7.705px;
	left: 24.149px;
	top: 23.049px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4782_bps {
	fill: rgba(27,47,91,1);
}
.Path_4782_bps {
	overflow: visible;
	position: absolute;
	width: 13.208px;
	height: 10.326px;
	left: 12.593px;
	top: 9.08px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4783_bpt {
	fill: rgba(27,47,91,1);
}
.Path_4783_bpt {
	overflow: visible;
	position: absolute;
	width: 19.812px;
	height: 7.024px;
	left: 3.237px;
	top: 23.389px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4784_bpu {
	fill: rgba(27,47,91,1);
}
.Path_4784_bpu {
	overflow: visible;
	position: absolute;
	width: 2.136px;
	height: 7.705px;
	left: 0px;
	top: 23.049px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4785_bpv {
	fill: rgba(27,47,91,1);
}
.Path_4785_bpv {
	overflow: visible;
	position: absolute;
	width: 22.419px;
	height: 22.013px;
	left: 8.038px;
	top: 3.237px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4786_bpw {
	fill: rgba(27,47,91,1);
}
.Path_4786_bpw {
	overflow: visible;
	position: absolute;
	width: 23.114px;
	height: 2.136px;
	left: 7.639px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4787_bpx {
	fill: rgba(27,47,91,1);
}
.Path_4787_bpx {
	overflow: visible;
	position: absolute;
	width: 12.107px;
	height: 1.101px;
	left: 7.089px;
	top: 26.351px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4788_bpy {
	fill: rgba(27,47,91,1);
}
.Path_4788_bpy {
	overflow: visible;
	position: absolute;
	width: 3.788px;
	height: 2.137px;
	left: 26.966px;
	top: 26.351px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_122_bpz {
	fill: rgba(255,255,255,1);
}
.Rectangle_122_bpz {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 950px;
	top: 189px;
}
#Oils_bp {
	left: 983px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#oil_bp {
	position: absolute;
	width: 31.687px;
	height: 33.243px;
	left: 981.657px;
	top: 208.688px;
	overflow: visible;
}
#Path_4789_bp {
	fill: rgba(27,47,91,1);
}
.Path_4789_bp {
	overflow: visible;
	position: absolute;
	width: 5.843px;
	height: 2.662px;
	left: 17.143px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4790_bp {
	fill: rgba(27,47,91,1);
}
.Path_4790_bp {
	overflow: visible;
	position: absolute;
	width: 10.226px;
	height: 7.089px;
	left: 0px;
	top: 26.154px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4791_bp {
	fill: rgba(27,47,91,1);
}
.Path_4791_bp {
	overflow: visible;
	position: absolute;
	width: 6.065px;
	height: 10.158px;
	left: 1.95px;
	top: 16.297px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4792_bp {
	fill: rgba(27,47,91,1);
}
.Path_4792_bp {
	overflow: visible;
	position: absolute;
	width: 21.94px;
	height: 15.126px;
	left: 9.095px;
	top: 4.612px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4793_bp {
	fill: rgba(27,47,91,1);
}
.Path_4793_bp {
	overflow: visible;
	position: absolute;
	width: 23.244px;
	height: 11.557px;
	left: 8.443px;
	top: 21.686px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_123_bp {
	fill: rgba(255,255,255,1);
}
.Rectangle_123_bp {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1073px;
	top: 189px;
}
#Dried_Food_bp {
	left: 1080px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#dried_bp {
	position: absolute;
	width: 32.738px;
	height: 32.642px;
	left: 1104.131px;
	top: 209.29px;
	overflow: visible;
}
#Path_4794_bqa {
	fill: rgba(27,47,91,1);
}
.Path_4794_bqa {
	overflow: visible;
	position: absolute;
	width: 8.41px;
	height: 3.323px;
	left: 19.884px;
	top: 29.318px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4795_bqb {
	fill: rgba(27,47,91,1);
}
.Path_4795_bqb {
	overflow: visible;
	position: absolute;
	width: 13.577px;
	height: 16.779px;
	left: 17.3px;
	top: 12.123px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4796_bqc {
	fill: rgba(27,47,91,1);
}
.Path_4796_bqc {
	overflow: visible;
	position: absolute;
	width: 8.41px;
	height: 3.323px;
	left: 4.431px;
	top: 29.318px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4797_bqd {
	fill: rgba(27,47,91,1);
}
.Path_4797_bqd {
	overflow: visible;
	position: absolute;
	width: 13.577px;
	height: 16.779px;
	left: 1.848px;
	top: 12.123px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4798_bqe {
	fill: rgba(27,47,91,1);
}
.Path_4798_bqe {
	overflow: visible;
	position: absolute;
	width: 32.738px;
	height: 12.392px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_124_bqf {
	fill: rgba(255,255,255,1);
}
.Rectangle_124_bqf {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1198px;
	top: 189px;
}
#Noodles_bqk {
	left: 1215px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#noodles_bql {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 1231.118px;
	top: 211.169px;
	overflow: visible;
}
#Group_93_bqm {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4799_bqn {
	fill: rgba(27,47,91,1);
}
.Path_4799_bqn {
	overflow: visible;
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Noodles_bqk {
	left: 1215px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#noodles_bql {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 1231.118px;
	top: 211.169px;
	overflow: visible;
}
#Group_93_bqm {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4799_bqn {
	fill: rgba(27,47,91,1);
}
.Path_4799_bqn {
	overflow: visible;
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_127_bqo {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_127_bqo {
	position: absolute;
	overflow: visible;
	width: 45px;
	height: 47px;
	left: 1337px;
	top: 215px;
}
#Group_94_bqp {
	position: absolute;
	width: 33px;
	height: 33px;
	left: 1343.169px;
	top: 222px;
	overflow: visible;
}
#Path_4800_bqq {
	fill: rgba(27,47,91,1);
}
.Path_4800_bqq {
	overflow: visible;
	position: absolute;
	width: 33px;
	height: 33px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#All_bqr {
	left: 54px;
	top: 330px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Path_9260 {
	fill: rgba(255,255,255,1);
}
.Path_9260 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 286px;
	height: 85px;
	left: 1534px;
	top: 1003px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History 1.html;
	cursor: pointer;
}
#Rectangle_166_bqt {
	fill: rgba(18,168,246,1);
}
.Rectangle_166_bqt {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 246px;
	height: 92px;
	left: 1671px;
	top: 901px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: comfirm payment.html;
	cursor: pointer;
}
#Group_109_bqu {
	position: absolute;
	width: 22.825px;
	height: 19.565px;
	left: 1546.794px;
	top: 1020.718px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History 1.html;
	cursor: pointer;
}
#Group_108_bqv {
	position: absolute;
	width: 22.825px;
	height: 19.565px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4824_bqw {
	fill: rgba(27,47,91,1);
}
.Path_4824_bqw {
	overflow: visible;
	position: absolute;
	width: 5.435px;
	height: 8.195px;
	left: 11.956px;
	top: 5.435px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4825_bqx {
	fill: rgba(27,47,91,1);
}
.Path_4825_bqx {
	overflow: visible;
	position: absolute;
	width: 22.825px;
	height: 19.564px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#View_Purchase_History_bqy {
	left: 1574.206px;
	top: 1017px;
	position: absolute;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History 1.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
	text-decoration: underline;
}
#Rectangle_167_bqz {
	fill: rgba(255,255,255,1);
}
.Rectangle_167_bqz {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 246px;
	height: 92px;
	left: 1434px;
	top: 901px;
}
#Goto_Pay_bq {
	left: 1714px;
	top: 913px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: comfirm payment.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(255,255,255,1);
}
#Cancel_bq {
	left: 1495px;
	top: 913px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Group_118 {
	position: absolute;
	width: 1349px;
	height: 872px;
	left: 54px;
	top: 390px;
	overflow: visible;
}
#Rectangle_128_bq {
	fill: rgba(255,255,255,1);
}
.Rectangle_128_bq {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 455px;
	height: 451px;
	left: 0px;
	top: 0px;
}
#Rectangle_129_bq {
	fill: rgba(255,255,255,1);
}
.Rectangle_129_bq {
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 207px;
	left: 17px;
	top: 18px;
}
#Beff_bq {
	left: 238px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(27,47,91,1);
}
#Beff_is_from_Brave_Dragon_KPC_ {
	left: 238px;
	top: 74px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	color: rgba(27,47,91,1);
}
#Rectangle_130_bq {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_130_bq {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 34px;
	left: 238px;
	top: 178px;
}
#n_2_bq {
	left: 249px;
	top: 181px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#kg_bq {
	left: 302px;
	top: 183px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#Available_In_Stock_bra {
	left: 238px;
	top: 149px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#Rectangle_131_brb {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_131_brb {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 160px;
	top: 289px;
}
#n__brc {
	left: 194px;
	top: 297px;
	position: absolute;
	overflow: visible;
	width: 28px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Price__brd {
	left: 79px;
	top: 267px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Rectangle_133_bre {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_133_bre {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 160px;
	top: 244px;
}
#n_0000 {
	left: 165px;
	top: 250px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#kg_brg {
	left: 261px;
	top: 272px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Rectangle_134_brh {
	fill: rgba(18,168,246,1);
}
.Rectangle_134_brh {
	position: absolute;
	overflow: visible;
	width: 395px;
	height: 57px;
	left: 17px;
	top: 349px;
}
#Add_to_Cart_bri {
	left: 141px;
	top: 361px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Rectangle_135_brj {
	fill: rgba(255,255,255,1);
}
.Rectangle_135_brj {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 455px;
	height: 451px;
	left: 462px;
	top: 0px;
}
#n_371606069504 {
	position: absolute;
	width: 207px;
	height: 207px;
	left: 479px;
	top: 18px;
	overflow: visible;
}
#Ham_brl {
	left: 700px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(27,47,91,1);
}
#Ham_is_from_Brave_Dragon_SR_Fa {
	left: 700px;
	top: 74px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	color: rgba(27,47,91,1);
}
#Rectangle_137_brn {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_137_brn {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 34px;
	left: 700px;
	top: 178px;
}
#n_1_bro {
	left: 720px;
	top: 181px;
	position: absolute;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#Kg {
	left: 764px;
	top: 181px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#Available_In_Stock_brq {
	left: 700px;
	top: 149px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#Rectangle_138_brr {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_138_brr {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 622px;
	top: 289px;
}
#n__brs {
	left: 655px;
	top: 297px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Price__brt {
	left: 541px;
	top: 267px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Rectangle_139_bru {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_139_bru {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 622px;
	top: 244px;
}
#n_6000 {
	left: 630px;
	top: 250px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#PCs_brw {
	left: 723px;
	top: 272px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Path_9306 {
	fill: rgba(18,168,246,1);
}
.Path_9306 {
	overflow: visible;
	position: absolute;
	width: 395px;
	height: 57px;
	left: 479px;
	top: 349px;
	transform: matrix(1,0,0,1,0,0);
}
#Add_to_Cart_bry {
	left: 603px;
	top: 361px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Rectangle_141_brz {
	fill: rgba(255,255,255,1);
}
.Rectangle_141_brz {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 455px;
	height: 451px;
	left: 924px;
	top: 0px;
}
#Rectangle_142_br {
	fill: rgba(255,255,255,1);
}
.Rectangle_142_br {
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 207px;
	left: 941px;
	top: 18px;
}
#Salmon_br {
	left: 1162px;
	top: 34px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(27,47,91,1);
}
#Salmon_is_form_Smallbamboo_Com {
	left: 1162px;
	top: 74px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	color: rgba(27,47,91,1);
}
#Rectangle_143_br {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_143_br {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 34px;
	left: 1162px;
	top: 178px;
}
#n_3_br {
	left: 1180px;
	top: 182px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#Kg_br {
	left: 1226px;
	top: 182px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#Available_In_Stock_br {
	left: 1162px;
	top: 149px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#Rectangle_144_br {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_144_br {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 1084px;
	top: 289px;
}
#n_0_br {
	left: 1112px;
	top: 296px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Price__br {
	left: 1003px;
	top: 267px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Rectangle_145_bsa {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_145_bsa {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 1084px;
	top: 244px;
}
#n_0000_bsb {
	left: 1089px;
	top: 250px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#PCs_bsc {
	left: 1185px;
	top: 272px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Path_9307 {
	fill: rgba(18,168,246,1);
}
.Path_9307 {
	overflow: visible;
	position: absolute;
	width: 395px;
	height: 57px;
	left: 941px;
	top: 349px;
	transform: matrix(1,0,0,1,0,0);
}
#Add_to_Cart_bse {
	left: 1065px;
	top: 361px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Path_4823_bsf {
	fill: rgba(255,255,255,1);
}
.Path_4823_bsf {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 455px;
	height: 451px;
	left: 0px;
	top: 451px;
	transform: matrix(1,0,0,1,0,0);
}
#depositphotos_71955977-stock-p {
	position: absolute;
	width: 207px;
	height: 207px;
	left: 17px;
	top: 469px;
	overflow: visible;
}
#Pork_bsh {
	left: 238px;
	top: 485px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(27,47,91,1);
}
#Pork_is_from_Smallbamboo_SR_Fa {
	left: 238px;
	top: 525px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	color: rgba(27,47,91,1);
}
#Rectangle_149_bsj {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_149_bsj {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 34px;
	left: 238px;
	top: 629px;
}
#n_2_bsk {
	left: 256px;
	top: 634px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#kg_bsl {
	left: 302px;
	top: 635px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#Available_In_Stock_bsm {
	left: 238px;
	top: 600px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#Rectangle_153_bsn {
	fill: rgba(255,255,255,1);
}
.Rectangle_153_bsn {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 455px;
	height: 451px;
	left: 462px;
	top: 451px;
}
#Rectangle_154_bso {
	fill: rgba(255,255,255,1);
}
.Rectangle_154_bso {
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 207px;
	left: 479px;
	top: 469px;
}
#Chicken {
	left: 700px;
	top: 485px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(27,47,91,1);
}
#Chicken_is_from_Brave_Dragon_S {
	left: 700px;
	top: 525px;
	position: absolute;
	overflow: visible;
	width: 142px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	color: rgba(27,47,91,1);
}
#Rectangle_155_bsr {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_155_bsr {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 34px;
	left: 700px;
	top: 629px;
}
#n_0_bss {
	left: 718px;
	top: 634px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#kg_bst {
	left: 764px;
	top: 634px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#Available_In_Stock_bsu {
	left: 700px;
	top: 600px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#Rectangle_159_bsv {
	fill: rgba(255,255,255,1);
}
.Rectangle_159_bsv {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 455px;
	height: 451px;
	left: 924px;
	top: 451px;
}
#Rectangle_160_bsw {
	fill: rgba(255,255,255,1);
}
.Rectangle_160_bsw {
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 207px;
	left: 941px;
	top: 469px;
}
#Eggs {
	left: 1162px;
	top: 485px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(27,47,91,1);
}
#Eggs_are_form_Smallbamboo_KPC_ {
	left: 1162px;
	top: 525px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	color: rgba(27,47,91,1);
}
#Rectangle_161_bsz {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_161_bsz {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 34px;
	left: 1162px;
	top: 629px;
}
#n_00_bs {
	left: 1173px;
	top: 633px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#PCs_bs {
	left: 1226px;
	top: 633px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(27,47,91,1);
}
#Available_In_Stock_bs {
	left: 1162px;
	top: 600px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#beff_bs {
	position: absolute;
	width: 195px;
	height: 146px;
	left: 20px;
	top: 52px;
	overflow: visible;
}
#chicken {
	position: absolute;
	width: 176px;
	height: 176px;
	left: 495px;
	top: 485px;
	overflow: visible;
}
#Scroll_Group_3 {
	mix-blend-mode: normal;
	position: absolute;
	width: 193.962px;
	height: 168px;
	left: 947.519px;
	top: 485px;
	overflow: hidden;
}
#egg {
	position: absolute;
	width: 211.962px;
	height: 168px;
	left: -11px;
	top: 0px;
	overflow: visible;
}
#Scroll_Group_2 {
	mix-blend-mode: normal;
	position: absolute;
	width: 191px;
	height: 119px;
	left: 949px;
	top: 68px;
	overflow: hidden;
}
#salmon_bs {
	position: absolute;
	width: 219px;
	height: 219px;
	left: -28px;
	top: -63px;
	overflow: visible;
}
#Rectangle_150_bs {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_150_bs {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 160px;
	top: 740px;
}
#n__bta {
	left: 195px;
	top: 748px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Price__btb {
	left: 79px;
	top: 718px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#kg_btc {
	left: 261px;
	top: 723px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Rectangle_152_btd {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_152_btd {
	position: absolute;
	overflow: visible;
	width: 395px;
	height: 57px;
	left: 17px;
	top: 800px;
}
#Add_to_Cart_bte {
	left: 141px;
	top: 812px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Rectangle_156_btf {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_156_btf {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 622px;
	top: 740px;
}
#n_87_btg {
	left: 638px;
	top: 748px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Price__bth {
	left: 541px;
	top: 718px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#PCs_bti {
	left: 723px;
	top: 723px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Rectangle_158_btj {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_158_btj {
	position: absolute;
	overflow: visible;
	width: 395px;
	height: 57px;
	left: 479px;
	top: 800px;
}
#Add_to_Cart_btk {
	left: 603px;
	top: 812px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#Rectangle_162_btl {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_162_btl {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 1084px;
	top: 740px;
}
#n_7_btm {
	left: 1107px;
	top: 747px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Price__btn {
	left: 1003px;
	top: 718px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#PCs_bto {
	left: 1185px;
	top: 723px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Rectangle_164_btp {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_164_btp {
	position: absolute;
	overflow: visible;
	width: 395px;
	height: 57px;
	left: 941px;
	top: 800px;
}
#Add_to_Cart_btq {
	left: 1065px;
	top: 812px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(255,255,255,1);
}
#n_000_btr {
	left: 172px;
	top: 701px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#n_500_bts {
	left: 636px;
	top: 701px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#n_800_btt {
	left: 1098px;
	top: 701px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Rectangle_151_btu {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_151_btu {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 160px;
	top: 695px;
}
#Rectangle_157_btv {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_157_btv {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 622px;
	top: 695px;
}
#Rectangle_163_btw {
	fill: rgba(255,255,255,1);
	stroke: rgba(196,196,196,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_163_btw {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 43px;
	left: 1084px;
	top: 695px;
}
#Wine_btx {
	left: 732px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#Path_9259 {
	fill: rgba(255,255,255,1);
}
.Path_9259 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 483px;
	height: 732px;
	left: 1435px;
	top: 176px;
	transform: matrix(1,0,0,1,0,0);
}
#Checkout__btz {
	left: 1588px;
	top: 125px;
	position: absolute;
	overflow: visible;
	width: 146px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(18,168,246,1);
}
#n__Coconut_bt {
	left: 1451px;
	top: 262px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__bt {
	left: 1695.552px;
	top: 262px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#plus_bt {
	fill: rgba(27,47,91,1);
}
.plus_bt {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 1733px;
	top: 262.713px;
	transform: matrix(1,0,0,1,0,0);
}
#minus_bt {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 1644.53px;
	top: 262.713px;
	overflow: visible;
}
#Group_111_bt {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4826_bt {
	fill: rgba(27,47,91,1);
}
.Path_4826_bt {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_4_bt {
	left: 1815px;
	top: 262px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__Watermelon_bt {
	left: 1451px;
	top: 326.316px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__bua {
	left: 1695.552px;
	top: 326.316px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#plus_bua {
	fill: rgba(27,47,91,1);
}
.plus_bua {
	overflow: visible;
	position: absolute;
	width: 28.574px;
	height: 28.574px;
	left: 1733px;
	top: 327.029px;
	transform: matrix(1,0,0,1,0,0);
}
#n_8_bua {
	left: 1814px;
	top: 326.316px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#delete_bub {
	fill: rgba(27,47,91,1);
}
.delete_bub {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 1644.53px;
	top: 327.03px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_75_buc {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_75_buc {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 1434.5px;
	top: 308.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n__Tomato_bud {
	left: 1451px;
	top: 391.236px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__bue {
	left: 1695.552px;
	top: 391.236px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#plus_buf {
	fill: rgba(27,47,91,1);
}
.plus_buf {
	overflow: visible;
	position: absolute;
	width: 28.574px;
	height: 28.574px;
	left: 1733px;
	top: 391.949px;
	transform: matrix(1,0,0,1,0,0);
}
#n__bug {
	left: 1823.5px;
	top: 391.236px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Line_76_buh {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_76_buh {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 1434.5px;
	top: 373.42px;
	transform: matrix(1,0,0,1,0,0);
}
#minus_bui {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 1644.53px;
	top: 390.633px;
	overflow: visible;
}
#Group_111_buj {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4826_buk {
	fill: rgba(27,47,91,1);
}
.Path_4826_buk {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_77_bul {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_77_bul {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 1434.5px;
	top: 244.787px;
	transform: matrix(1,0,0,1,0,0);
}
#Product_bum {
	left: 1466px;
	top: 198px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Quantity_bun {
	left: 1653px;
	top: 198px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Price_buo {
	left: 1809px;
	top: 198px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Line_78_bup {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_78_bup {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 1434.5px;
	top: 667.42px;
	transform: matrix(1,0,0,1,0,0);
}
#Subtotal________buq {
	left: 1484px;
	top: 728px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Discount_______bur {
	left: 1484px;
	top: 772px;
	position: absolute;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#TOTAL__________bus {
	left: 1484px;
	top: 831px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_168_but {
	fill: rgba(255,255,255,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_168_but {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 36px;
	left: 1624px;
	top: 725px;
}
#n_2_buu {
	left: 1703.052px;
	top: 728px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_169_buv {
	fill: rgba(255,255,255,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_169_buv {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 36px;
	left: 1624px;
	top: 769px;
}
#n_0_buw {
	left: 1704px;
	top: 772px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_170_bux {
	fill: rgba(255,255,255,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_170_bux {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 36px;
	left: 1624px;
	top: 828px;
}
#n_78_buy {
	left: 1697.552px;
	top: 831px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Component_1__2 {
	position: absolute;
	width: 453px;
	height: 1px;
	left: 1434.5px;
	top: 816.213px;
	overflow: visible;
}
#Line_79_bu {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_79_bu {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_171_bu {
	fill: rgba(255,255,255,1);
	stroke: rgba(152,152,152,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_171_bu {
	position: absolute;
	overflow: visible;
	width: 136px;
	height: 36px;
	left: 1594px;
	top: 675px;
}
#Add_Note_bu {
	left: 1610px;
	top: 678px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_5_bu {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_bu {
	position: absolute;
	overflow: visible;
	width: 412px;
	height: 40px;
	left: 1008px;
	top: 125px;
}
#Search_bu {
	left: 1053px;
	top: 136px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(136,142,155,1);
}
#Path_4630_bu {
	fill: rgba(18,168,246,1);
}
.Path_4630_bu {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.315px;
	left: 1026px;
	top: 137.842px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_bu {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_bu {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_6_bu {
	fill: rgba(248,248,248,1);
}
.Rectangle_6_bu {
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 37px;
	left: 293px;
	top: 43px;
}
#Hunter_Zolomon_bu {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_bu {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_bva {
	fill: rgba(18,168,246,1);
}
.Path_4632_bva {
	overflow: visible;
	position: absolute;
	width: 27.082px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_bvb {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_bvb {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_bvc {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_bvc {
	position: absolute;
	overflow: visible;
	width: 10.037px;
	height: 10.036px;
	left: 48.599px;
	top: 56.468px;
}
#Path_4633_bvd {
	fill: rgba(255,255,255,1);
}
.Path_4633_bvd {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_bve {
	fill: rgba(18,168,246,1);
}
.Path_4634_bve {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_bvf {
	fill: rgba(255,255,255,1);
}
.Path_4635_bvf {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.033px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_bvg {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.571px;
	overflow: visible;
}
#Group_55_bvh {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_bvi {
	fill: rgba(18,168,246,1);
}
.Path_4636_bvi {
	overflow: visible;
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_bvj {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.298px;
	top: 75.962px;
	overflow: visible;
}
#Path_4637_bvk {
	fill: rgba(18,26,80,1);
}
.Path_4637_bvk {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_bvl {
	fill: rgba(18,26,80,1);
}
.Path_4638_bvl {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_bvm {
	fill: rgba(255,255,255,1);
}
.Path_4639_bvm {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.243px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_bvn {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_bvn {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.405px;
}
#Group_3056_bvo {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_bvp {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_bvq {
	fill: rgba(27,47,91,1);
}
.home_bvq {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_bvr {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
}
#Cashier_bvs {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Path_4640_bvt {
	fill: rgba(18,168,246,1);
}
.Path_4640_bvt {
	overflow: visible;
	position: absolute;
	width: 13.456px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_bvu {
	fill: rgba(18,168,246,1);
}
.Path_4641_bvu {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.386px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_bvv {
	fill: rgba(18,168,246,1);
}
.Path_4642_bvv {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_bvw {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__bvx {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_bvy {
	fill: rgba(27,47,91,1);
}
.Path_4643_bvy {
	overflow: visible;
	position: absolute;
	width: 13.946px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_bvz {
	fill: rgba(27,47,91,1);
}
.Path_4644_bvz {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.12px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_bv {
	fill: rgba(27,47,91,1);
}
.Path_4646_bv {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_bv {
	fill: rgba(27,47,91,1);
}
.Path_4647_bv {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_bv {
	fill: rgba(27,47,91,1);
}
.Path_4648_bv {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_bv {
	fill: rgba(27,47,91,1);
}
.Path_4649_bv {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_bv {
	fill: rgba(27,47,91,1);
}
.Path_4651_bv {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_bv {
	fill: rgba(27,47,91,1);
}
.Path_4653_bv {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 622.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_bv {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_bv {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_bv {
	fill: rgba(27,47,91,1);
}
.Path_4650_bv {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.926px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_bv {
	fill: rgba(27,47,91,1);
}
.Path_4652_bv {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_bwa {
	fill: rgba(27,47,91,1);
}
.Path_4654_bwa {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_bwb {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__bwc {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_bwd {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_bwe {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_bwf {
	fill: rgba(27,47,91,1);
}
.Path_4662_bwf {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_bwg {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_bwh {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_bwi {
	fill: rgba(27,47,91,1);
}
.Path_4663_bwi {
	overflow: visible;
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_bwj {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_bwk {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_bwl {
	fill: rgba(27,47,91,1);
}
.Path_4664_bwl {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_bwm {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_bwn {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_bwo {
	fill: rgba(27,47,91,1);
}
.Path_4665_bwo {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_bwp {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_bwq {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_bwr {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_bws {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_bwt {
	fill: rgba(27,47,91,1);
}
.Path_4680_bwt {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.101px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_bwu {
	fill: rgba(27,47,91,1);
}
.Path_4681_bwu {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_bwv {
	fill: rgba(27,47,91,1);
}
.Path_4682_bwv {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3062_bww {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_bwx {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_bwy {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_bwz {
	fill: rgba(27,47,91,1);
}
.Path_4688_bwz {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_bw {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_bw {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}