.mediaViewInfo {
	--web-view-name: change background;
	--web-view-id: change_background;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
:root {
	--web-view-ids: change_background;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#change_background {
	position: absolute;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	cursor: pointer;
	--web-view-name: change background;
	--web-view-id: change_background;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
#Rectangle_697 {
	opacity: 0.5;
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_697 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#bg_euk {
	fill: rgba(255,255,255,1);
}
.bg_euk {
	filter: drop-shadow(0px 5px 25px rgba(82, 87, 93, 0.102));
	overflow: visible;
	position: absolute;
	width: 1305px;
	height: 877px;
	left: 345px;
	top: 145px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_eul {
	fill: rgba(18,168,246,1);
}
.Line_eul {
	position: absolute;
	overflow: visible;
	width: 1170px;
	height: 3px;
	left: 375.006px;
	top: 208.5px;
}
#Title_eum {
	left: 890.5px;
	top: 167.379px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
	letter-spacing: 0.3125px;
}
#info_eun {
	position: absolute;
	width: 16.418px;
	height: 16.419px;
	left: 1528.17px;
	top: 175.17px;
	overflow: visible;
}
#Path_45_euo {
	fill: rgba(179,184,189,1);
}
.Path_45_euo {
	overflow: visible;
	position: absolute;
	width: 16.418px;
	height: 16.419px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_33_eup {
	fill: rgba(179,184,189,1);
}
.Rectangle_33_eup {
	position: absolute;
	overflow: visible;
	width: 1px;
	height: 5.629px;
	left: 7.709px;
	top: 6.537px;
}
#Rectangle_34_euq {
	fill: rgba(179,184,189,1);
}
.Rectangle_34_euq {
	position: absolute;
	overflow: visible;
	width: 1px;
	height: 1.173px;
	left: 7.709px;
	top: 4.251px;
}
#Line_eur {
	fill: rgba(18,168,246,1);
}
.Line_eur {
	position: absolute;
	overflow: visible;
	width: 1170px;
	height: 3px;
	left: 375px;
	top: 871px;
}
#bg_eus {
	fill: rgba(255,255,255,1);
}
.bg_eus {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 307.296px;
	height: 108.879px;
	left: 833.468px;
	top: 882.682px;
}
#Title_eut {
	left: 864.115px;
	top: 891.121px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
	letter-spacing: 0.3125px;
}
#Group_355 {
	position: absolute;
	width: 284.232px;
	height: 225px;
	left: 433px;
	top: 266px;
	overflow: visible;
}
#bg_euv {
	fill: rgba(255,255,255,1);
}
.bg_euv {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 344.232px;
	height: 285px;
	left: 0px;
	top: 0px;
}
#main_bg {
	fill: rgba(234,242,255,1);
}
.main_bg {
	position: absolute;
	overflow: visible;
	width: 238px;
	height: 139px;
	left: 23px;
	top: 30px;
}
#check-mark {
	fill: rgba(18,168,246,1);
}
.check-mark {
	overflow: visible;
	position: absolute;
	width: 26.417px;
	height: 26.417px;
	left: 234.584px;
	top: 184px;
	transform: matrix(1,0,0,1,0,0);
}
#Default {
	left: 116.5px;
	top: 186.208px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Group_355_euz {
	position: absolute;
	width: 284.232px;
	height: 225px;
	left: 815px;
	top: 266px;
	overflow: visible;
}
#bg_eu {
	fill: rgba(255,255,255,1);
}
.bg_eu {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 344.232px;
	height: 285px;
	left: 0px;
	top: 0px;
}
#main_bg_eu {
	position: absolute;
	width: 238px;
	height: 139px;
	left: 23px;
	top: 30px;
	overflow: visible;
}
#check-mark_eu {
	fill: rgba(27,47,91,1);
}
.check-mark_eu {
	overflow: visible;
	position: absolute;
	width: 26.417px;
	height: 26.417px;
	left: 234.584px;
	top: 184px;
	transform: matrix(1,0,0,1,0,0);
}
#Christmas {
	left: 106.116px;
	top: 186.208px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Group_355_eu {
	position: absolute;
	width: 284.232px;
	height: 225px;
	left: 1197px;
	top: 266px;
	overflow: visible;
}
#bg_eva {
	fill: rgba(255,255,255,1);
}
.bg_eva {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 344.232px;
	height: 285px;
	left: 0px;
	top: 0px;
}
#main_bg_eva {
	position: absolute;
	width: 238px;
	height: 139px;
	left: 23px;
	top: 30px;
	overflow: visible;
}
#check-mark_eva {
	fill: rgba(27,47,91,1);
}
.check-mark_eva {
	overflow: visible;
	position: absolute;
	width: 26.417px;
	height: 26.417px;
	left: 234.584px;
	top: 184px;
	transform: matrix(1,0,0,1,0,0);
}
#Food {
	left: 124.116px;
	top: 186.208px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Group_356 {
	position: absolute;
	width: 284.232px;
	height: 225px;
	left: 433px;
	top: 570px;
	overflow: visible;
}
#bg_evb {
	fill: rgba(255,255,255,1);
}
.bg_evb {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 344.232px;
	height: 285px;
	left: 0px;
	top: 0px;
}
#main_bg_evb {
	position: absolute;
	width: 238px;
	height: 139px;
	left: 23px;
	top: 30px;
	overflow: visible;
}
#check-mark_evc {
	fill: rgba(27,47,91,1);
}
.check-mark_evc {
	overflow: visible;
	position: absolute;
	width: 26.417px;
	height: 26.417px;
	left: 234.584px;
	top: 184px;
	transform: matrix(1,0,0,1,0,0);
}
#Home_with_bike {
	left: 87.5px;
	top: 186.208px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Group_356_eve {
	position: absolute;
	width: 284.232px;
	height: 225px;
	left: 815px;
	top: 570px;
	overflow: visible;
}
#bg_evf {
	fill: rgba(255,255,255,1);
}
.bg_evf {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 344.232px;
	height: 285px;
	left: 0px;
	top: 0px;
}
#main_bg_evg {
	position: absolute;
	width: 238px;
	height: 139px;
	left: 23px;
	top: 30px;
	overflow: visible;
}
#check-mark_evh {
	fill: rgba(27,47,91,1);
}
.check-mark_evh {
	overflow: visible;
	position: absolute;
	width: 26.417px;
	height: 26.417px;
	left: 234.584px;
	top: 184px;
	transform: matrix(1,0,0,1,0,0);
}
#Street {
	left: 120.5px;
	top: 186.208px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Group_356_evj {
	position: absolute;
	width: 284.232px;
	height: 225px;
	left: 1197px;
	top: 570px;
	overflow: visible;
}
#bg_evk {
	fill: rgba(255,255,255,1);
}
.bg_evk {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 344.232px;
	height: 285px;
	left: 0px;
	top: 0px;
}
#main_bg_evl {
	position: absolute;
	width: 238px;
	height: 139px;
	left: 23px;
	top: 30px;
	overflow: visible;
}
#check-mark_evm {
	fill: rgba(27,47,91,1);
}
.check-mark_evm {
	overflow: visible;
	position: absolute;
	width: 26.417px;
	height: 26.417px;
	left: 234.584px;
	top: 184px;
	transform: matrix(1,0,0,1,0,0);
}
#Tree {
	left: 126.116px;
	top: 186.208px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}