.mediaViewInfo {
	--web-view-name: confirm payment;
	--web-view-id: confirm_payment;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: confirm_payment;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#confirm_payment {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: confirm payment;
	--web-view-id: confirm_payment;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_560 {
	fill: rgba(255,255,255,1);
}
.Rectangle_560 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 541px;
	height: 221px;
	left: 510.396px;
	top: 857px;
}
#Rectangle_702 {
	fill: rgba(255,255,255,1);
	stroke: rgba(209,209,209,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_702 {
	position: absolute;
	overflow: visible;
	width: 259.053px;
	height: 41.5px;
	left: 750.396px;
	top: 981.25px;
}
#Rectangle_701 {
	fill: rgba(255,255,255,1);
	stroke: rgba(209,209,209,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_701 {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 41.5px;
	left: 565.396px;
	top: 982.25px;
}
#Rectangle_565 {
	fill: rgba(255,255,255,1);
}
.Rectangle_565 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 878.375px;
	height: 374px;
	left: 1058.625px;
	top: 331px;
}
#Bg_df {
	fill: rgba(255,255,255,1);
}
.Bg_df {
	overflow: visible;
	position: absolute;
	width: 1894px;
	height: 194.301px;
	left: 13px;
	top: 119.699px;
	transform: matrix(1,0,0,1,0,0);
}
#Mask {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.721px;
	height: 191px;
	left: 851.405px;
	top: 177px;
}
#Payment_method {
	position: absolute;
	width: 247.721px;
	height: 110.638px;
	left: 851.405px;
	top: 172px;
	overflow: visible;
}
#Mask_df {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_df {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.721px;
	height: 191px;
	left: 1370.886px;
	top: 177px;
}
#Payment_method_df {
	position: absolute;
	width: 257.386px;
	height: 114.955px;
	left: 586.534px;
	top: 169.522px;
	overflow: visible;
}
#Mask_dga {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_dga {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.721px;
	height: 191px;
	left: 5.309px;
	top: 7.478px;
}
#Payment_method_dga {
	position: absolute;
	width: 257.386px;
	height: 114.955px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Payment_method_dgb {
	position: absolute;
	width: 282.746px;
	height: 126.281px;
	left: 296.891px;
	top: 163.859px;
	overflow: visible;
}
#Mask_dgb {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_dgb {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.721px;
	height: 191px;
	left: 17.989px;
	top: 13.141px;
}
#Payment_method_dgc {
	position: absolute;
	width: 282.746px;
	height: 126.281px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Payment_method_dgd {
	position: absolute;
	width: 247.721px;
	height: 100px;
	left: 42.5px;
	top: 177px;
	overflow: visible;
}
#Mask_dge {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_dge {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.721px;
	height: 191px;
	left: 0px;
	top: 0px;
}
#Show_other_payment_m {
	left: 1688px;
	top: 148px;
	position: absolute;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -4px;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(80,143,244,1);
	letter-spacing: 0.3125px;
	text-decoration: underline;
}
#Make_payment {
	left: 44px;
	top: 136px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(82,87,93,1);
	letter-spacing: 0.3125px;
}
#visa {
	position: absolute;
	width: 172.891px;
	height: 55.014px;
	left: 68.005px;
	top: 199.493px;
	overflow: visible;
}
#Path_9207 {
	fill: rgba(60,88,191,1);
}
.Path_9207 {
	overflow: visible;
	position: absolute;
	width: 22.503px;
	height: 51.846px;
	left: 63.393px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9208 {
	fill: rgba(41,54,136,1);
}
.Path_9208 {
	overflow: visible;
	position: absolute;
	width: 22.503px;
	height: 51.846px;
	left: 63.393px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9209 {
	fill: rgba(60,88,191,1);
}
.Path_9209 {
	overflow: visible;
	position: absolute;
	width: 41.988px;
	height: 54.726px;
	left: 85.074px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9210 {
	fill: rgba(41,54,136,1);
}
.Path_9210 {
	overflow: visible;
	position: absolute;
	width: 41.988px;
	height: 54.726px;
	left: 85.074px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9211 {
	fill: rgba(60,88,191,1);
}
.Path_9211 {
	overflow: visible;
	position: absolute;
	width: 49.947px;
	height: 51.846px;
	left: 122.945px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9212 {
	fill: rgba(41,54,136,1);
}
.Path_9212 {
	overflow: visible;
	position: absolute;
	width: 49.947px;
	height: 51.846px;
	left: 122.945px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9213 {
	fill: rgba(60,88,191,1);
}
.Path_9213 {
	overflow: visible;
	position: absolute;
	width: 49.397px;
	height: 51.846px;
	left: 17.563px;
	top: 2.016px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9214 {
	fill: rgba(41,54,136,1);
}
.Path_9214 {
	overflow: visible;
	position: absolute;
	width: 49.397px;
	height: 51.846px;
	left: 17.563px;
	top: 2.016px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9215 {
	fill: rgba(255,188,0,1);
}
.Path_9215 {
	overflow: visible;
	position: absolute;
	width: 36.774px;
	height: 28.803px;
	left: 0px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9216 {
	fill: rgba(247,152,29,1);
}
.Path_9216 {
	overflow: visible;
	position: absolute;
	width: 36.774px;
	height: 28.515px;
	left: 0px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9217 {
	fill: rgba(237,124,0,1);
}
.Path_9217 {
	overflow: visible;
	position: absolute;
	width: 36.774px;
	height: 28.515px;
	left: 0px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2973 {
	position: absolute;
	width: 155.053px;
	height: 47.525px;
	left: 17.838px;
	top: 7.489px;
	overflow: visible;
}
#Path_9218 {
	fill: rgba(5,18,68,1);
}
.Path_9218 {
	overflow: visible;
	position: absolute;
	width: 34.03px;
	height: 46.085px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9219 {
	fill: rgba(5,18,68,1);
}
.Path_9219 {
	overflow: visible;
	position: absolute;
	width: 13.996px;
	height: 12.674px;
	left: 45.555px;
	top: 33.412px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9220 {
	fill: rgba(5,18,68,1);
}
.Path_9220 {
	overflow: visible;
	position: absolute;
	width: 35.676px;
	height: 19.298px;
	left: 67.236px;
	top: 28.227px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9221 {
	fill: rgba(5,18,68,1);
}
.Path_9221 {
	overflow: visible;
	position: absolute;
	width: 48.025px;
	height: 37.732px;
	left: 107.028px;
	top: 8.353px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2977 {
	position: absolute;
	width: 247.721px;
	height: 110.638px;
	left: 1111.146px;
	top: 172px;
	overflow: visible;
}
#Payment_method_dgz {
	position: absolute;
	width: 247.721px;
	height: 110.638px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Mask_dg {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_dg {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.721px;
	height: 191px;
	left: 0px;
	top: 5px;
}
#Payment_method_dg {
	position: absolute;
	width: 247.721px;
	height: 110.638px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Scroll_Group_4 {
	mix-blend-mode: normal;
	position: absolute;
	width: 178px;
	height: 82px;
	left: 34.854px;
	top: 14px;
	overflow: hidden;
}
#ABA-logo {
	position: absolute;
	width: 186px;
	height: 186px;
	left: 0px;
	top: -52px;
	overflow: visible;
}
#Path_9262 {
	fill: rgba(255,255,255,1);
}
.Path_9262 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 277.281px;
	height: 151.5px;
	left: 1164.362px;
	top: 729.5px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cancel_dg {
	left: 1216.502px;
	top: 764.25px;
	position: absolute;
	overflow: visible;
	width: 156px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 49px;
	color: rgba(27,47,91,1);
}
#Group_2976 {
	position: absolute;
	width: 259.281px;
	height: 133.5px;
	left: 1519.344px;
	top: 729.5px;
	overflow: visible;
}
#Rectangle_562 {
	fill: rgba(246,251,201,1);
}
.Rectangle_562 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 277.281px;
	height: 151.5px;
	left: 0px;
	top: 0px;
}
#Pending_dg {
	left: 38.14px;
	top: 37.75px;
	position: absolute;
	overflow: visible;
	width: 184px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 49px;
	color: rgba(135,138,56,1);
}
#Path_9261 {
	fill: rgba(18,168,246,1);
}
.Path_9261 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 277.281px;
	height: 151.5px;
	left: 1358.12px;
	top: 914.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Comfirm {
	left: 1388.261px;
	top: 951.75px;
	position: absolute;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 49px;
	color: rgba(255,255,255,1);
}
#Rectangle_165_dhb {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_165_dhb {
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 43px;
	left: 1418.625px;
	top: 614px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: View Invoice 2.html;
	cursor: pointer;
}
#View_Invoice_dhc {
	left: 1460.125px;
	top: 623.5px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: View Invoice 2.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
	text-decoration: underline;
}
#Rectangle_564 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_564 {
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 43px;
	left: 1644.625px;
	top: 614px;
}
#Print_Invoice {
	left: 1691.125px;
	top: 623.5px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	text-decoration: underline;
}
#Scroll_Group_5 {
	mix-blend-mode: normal;
	position: absolute;
	width: 186px;
	height: 80px;
	left: 1071.625px;
	top: 342px;
	overflow: hidden;
}
#ABA-logo_dhg {
	position: absolute;
	width: 186px;
	height: 186px;
	left: 0px;
	top: -53px;
	overflow: visible;
}
#n_92_168_101 {
	left: 1328.625px;
	top: 450px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Bank_Number_ {
	left: 1113.625px;
	top: 451px;
	position: absolute;
	overflow: visible;
	width: 204px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Brave_Dragon_Store_dhj {
	left: 1220.625px;
	top: 507px;
	position: absolute;
	overflow: visible;
	width: 268px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Name_ {
	left: 1113.625px;
	top: 507px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#OR {
	left: 1553.125px;
	top: 451px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Rectangle_572 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_572 {
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 43px;
	left: 1099.126px;
	top: 614px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: costumer view.html;
	cursor: pointer;
}
#Costumer_View {
	left: 1127.626px;
	top: 623.5px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: costumer view.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
	text-decoration: underline;
}
#Line_104 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_104 {
	overflow: visible;
	position: absolute;
	width: 848.375px;
	height: 1px;
	left: 1059.125px;
	top: 595.5px;
	transform: matrix(1,0,0,1,0,0);
}
#QR_Code {
	position: absolute;
	width: 251px;
	height: 251px;
	left: 1644.625px;
	top: 340px;
	overflow: visible;
}
#Rectangle_556 {
	fill: rgba(255,255,255,1);
}
.Rectangle_556 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 541px;
	height: 374px;
	left: 510.396px;
	top: 331px;
}
#Rectangle_118_dhr {
	fill: rgba(255,255,255,1);
}
.Rectangle_118_dhr {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 483px;
	height: 747px;
	left: 21.647px;
	top: 331px;
}
#n__Coconut_dhs {
	left: 37.647px;
	top: 417px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__dht {
	left: 282.199px;
	top: 417px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#plus_dhu {
	fill: rgba(27,47,91,1);
}
.plus_dhu {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 319.647px;
	top: 417.713px;
	transform: matrix(1,0,0,1,0,0);
}
#minus_dhv {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 231.177px;
	top: 417.713px;
	overflow: visible;
}
#Group_111_dhw {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4826_dhx {
	fill: rgba(27,47,91,1);
}
.Path_4826_dhx {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_4_dhy {
	left: 401.647px;
	top: 417px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__Watermelon_dhz {
	left: 37.647px;
	top: 481.316px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__dh {
	left: 282.199px;
	top: 481.316px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#plus_dh {
	fill: rgba(27,47,91,1);
}
.plus_dh {
	overflow: visible;
	position: absolute;
	width: 28.574px;
	height: 28.574px;
	left: 319.647px;
	top: 482.029px;
	transform: matrix(1,0,0,1,0,0);
}
#n_8_dh {
	left: 400.647px;
	top: 481.316px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#delete_dh {
	fill: rgba(27,47,91,1);
}
.delete_dh {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 231.177px;
	top: 482.03px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_75_dh {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_75_dh {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 21.147px;
	top: 463.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n__Tomato_dh {
	left: 37.647px;
	top: 546.236px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__dia {
	left: 282.199px;
	top: 546.236px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#plus_dia {
	fill: rgba(27,47,91,1);
}
.plus_dia {
	overflow: visible;
	position: absolute;
	width: 28.574px;
	height: 28.574px;
	left: 319.647px;
	top: 546.949px;
	transform: matrix(1,0,0,1,0,0);
}
#n__dib {
	left: 410.147px;
	top: 546.236px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Line_76_dh {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_76_dh {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 21.147px;
	top: 528.42px;
	transform: matrix(1,0,0,1,0,0);
}
#minus_dia {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 231.177px;
	top: 545.633px;
	overflow: visible;
}
#Group_111_dib {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4826_dic {
	fill: rgba(27,47,91,1);
}
.Path_4826_dic {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_77_did {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_77_did {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 21.147px;
	top: 399.787px;
	transform: matrix(1,0,0,1,0,0);
}
#Product_die {
	left: 52.647px;
	top: 353px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Quantity_dif {
	left: 239.647px;
	top: 353px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Price_dig {
	left: 395.647px;
	top: 353px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Subtotal________dih {
	left: 547.396px;
	top: 367px;
	position: absolute;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Discount_______dii {
	left: 547.396px;
	top: 445px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#TOTAL___________ {
	left: 547.396px;
	top: 601px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Rectangle_555 {
	fill: rgba(18,168,246,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_555 {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 51px;
	left: 767.396px;
	top: 595px;
}
#n_2_dil {
	left: 844.396px;
	top: 601px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
#Rectangle_557 {
	fill: rgba(255,255,255,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_557 {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 51px;
	left: 767.396px;
	top: 439px;
}
#n_0_din {
	left: 846.396px;
	top: 445px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Rectangle_558 {
	fill: rgba(255,255,255,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_558 {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 51px;
	left: 766.396px;
	top: 361px;
}
#n_2_dip {
	left: 846.396px;
	top: 367px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#VAT________________ {
	left: 547.396px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Rectangle_559 {
	fill: rgba(255,255,255,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_559 {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 51px;
	left: 767.396px;
	top: 517px;
}
#n_0_dis {
	left: 846.396px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Add_Note__dit {
	left: 522.396px;
	top: 869px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_561 {
	fill: rgba(255,255,255,1);
	stroke: rgba(209,209,209,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_561 {
	position: absolute;
	overflow: visible;
	width: 485px;
	height: 58.5px;
	left: 522.396px;
	top: 905px;
}
#Put_the_items_in_different_bag_div {
	left: 547.396px;
	top: 920.25px;
	position: absolute;
	overflow: visible;
	width: 305px;
	white-space: nowrap;
	line-height: 38px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(77,79,92,1);
}
#Rectangle_2_diw {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_diw {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_6_dix {
	fill: rgba(248,248,248,1);
}
.Rectangle_6_dix {
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 37px;
	left: 293px;
	top: 43px;
}
#Hunter_Zolomon_diy {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_diz {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_di {
	fill: rgba(18,168,246,1);
}
.Path_4632_di {
	overflow: visible;
	position: absolute;
	width: 27.082px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_di {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_di {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_di {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_di {
	position: absolute;
	overflow: visible;
	width: 10.037px;
	height: 10.036px;
	left: 48.599px;
	top: 56.468px;
}
#Path_4633_di {
	fill: rgba(255,255,255,1);
}
.Path_4633_di {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_di {
	fill: rgba(18,168,246,1);
}
.Path_4634_di {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_di {
	fill: rgba(255,255,255,1);
}
.Path_4635_di {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.033px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_di {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.571px;
	overflow: visible;
}
#Group_55_di {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_di {
	fill: rgba(18,168,246,1);
}
.Path_4636_di {
	overflow: visible;
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_di {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.298px;
	top: 75.962px;
	overflow: visible;
}
#Path_4637_dja {
	fill: rgba(18,26,80,1);
}
.Path_4637_dja {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_djb {
	fill: rgba(18,26,80,1);
}
.Path_4638_djb {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_djc {
	fill: rgba(255,255,255,1);
}
.Path_4639_djc {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.243px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_djd {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_djd {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.405px;
}
#Group_3056_dje {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_djf {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_djg {
	fill: rgba(27,47,91,1);
}
.home_djg {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_djh {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
}
#Cashier_dji {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Path_4640_djj {
	fill: rgba(18,168,246,1);
}
.Path_4640_djj {
	overflow: visible;
	position: absolute;
	width: 13.456px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_djk {
	fill: rgba(18,168,246,1);
}
.Path_4641_djk {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.386px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_djl {
	fill: rgba(18,168,246,1);
}
.Path_4642_djl {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_djm {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__djn {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_djo {
	fill: rgba(27,47,91,1);
}
.Path_4643_djo {
	overflow: visible;
	position: absolute;
	width: 13.946px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_djp {
	fill: rgba(27,47,91,1);
}
.Path_4644_djp {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.12px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_djq {
	fill: rgba(27,47,91,1);
}
.Path_4646_djq {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_djr {
	fill: rgba(27,47,91,1);
}
.Path_4647_djr {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_djs {
	fill: rgba(27,47,91,1);
}
.Path_4648_djs {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_djt {
	fill: rgba(27,47,91,1);
}
.Path_4649_djt {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_dju {
	fill: rgba(27,47,91,1);
}
.Path_4651_dju {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_djv {
	fill: rgba(27,47,91,1);
}
.Path_4653_djv {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 622.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_djw {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_djx {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_djy {
	fill: rgba(27,47,91,1);
}
.Path_4650_djy {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.926px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_djz {
	fill: rgba(27,47,91,1);
}
.Path_4652_djz {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_dj {
	fill: rgba(27,47,91,1);
}
.Path_4654_dj {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_dj {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__dj {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_dj {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_dj {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_dj {
	fill: rgba(27,47,91,1);
}
.Path_4662_dj {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_dj {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_dj {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_dj {
	fill: rgba(27,47,91,1);
}
.Path_4663_dj {
	overflow: visible;
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_dj {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_dka {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_dkb {
	fill: rgba(27,47,91,1);
}
.Path_4664_dkb {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_dkc {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_dkd {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_dke {
	fill: rgba(27,47,91,1);
}
.Path_4665_dke {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_dkf {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_dkg {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_dkh {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_dki {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_dkj {
	fill: rgba(27,47,91,1);
}
.Path_4680_dkj {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.101px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_dkk {
	fill: rgba(27,47,91,1);
}
.Path_4681_dkk {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_dkl {
	fill: rgba(27,47,91,1);
}
.Path_4682_dkl {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3062_dkm {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_dkn {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_dko {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_dkp {
	fill: rgba(27,47,91,1);
}
.Path_4688_dkp {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_dkq {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_dkr {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}
#Rectangle_699 {
	fill: rgba(255,255,255,1);
}
.Rectangle_699 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 541px;
	height: 175px;
	left: 510.396px;
	top: 691.301px;
}
#Costumer_Name_ {
	left: 522.396px;
	top: 703.301px;
	position: absolute;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_700 {
	fill: rgba(255,255,255,1);
	stroke: rgba(209,209,209,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_700 {
	position: absolute;
	overflow: visible;
	width: 485px;
	height: 75.75px;
	left: 522.396px;
	top: 739.301px;
}
#Ching_Chang {
	left: 578.396px;
	top: 763.176px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	line-height: 38px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(77,79,92,1);
}
#Tel___096_00_00_00_0 {
	left: 524.396px;
	top: 989px;
	position: absolute;
	overflow: visible;
	width: 212px;
	white-space: nowrap;
	line-height: 38px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(77,79,92,1);
}
#n_0092021__1210_AM {
	left: 756px;
	top: 988px;
	position: absolute;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(77,79,92,1);
}
#calendar_1_dky {
	position: absolute;
	width: 16.293px;
	height: 14.702px;
	left: 984.776px;
	top: 994.649px;
	overflow: visible;
}
#Path_4690_dkz {
	fill: rgba(18,168,246,1);
}
.Path_4690_dkz {
	overflow: visible;
	position: absolute;
	width: 16.293px;
	height: 4.582px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_dk {
	fill: rgba(18,168,246,1);
}
.Path_4691_dk {
	overflow: visible;
	position: absolute;
	width: 16.293px;
	height: 9.165px;
	left: 0px;
	top: 5.537px;
	transform: matrix(1,0,0,1,0,0);
}
#Mask_dk {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_dk {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.721px;
	height: 191px;
	left: 1630.626px;
	top: 177px;
}
#wing_new {
	position: absolute;
	width: 228px;
	height: 80px;
	left: 1381px;
	top: 187px;
	overflow: visible;
}
#Scroll_Group_12 {
	mix-blend-mode: normal;
	position: absolute;
	width: 228px;
	height: 92px;
	left: 1640px;
	top: 181px;
	overflow: hidden;
}
#logo-white {
	position: absolute;
	width: 262px;
	height: 262px;
	left: -15px;
	top: -87px;
	overflow: visible;
}