.mediaViewInfo {
	--web-view-name: Contact Us;
	--web-view-id: Contact_Us;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Contact_Us;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Contact_Us {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Contact Us;
	--web-view-id: Contact_Us;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Our_Core__Member_ {
	left: 823.624px;
	top: 320px;
	position: absolute;
	overflow: visible;
	width: 350px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Line_6 {
	fill: transparent;
	stroke: rgba(19,19,19,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_6 {
	overflow: visible;
	position: absolute;
	width: 341.116px;
	height: 2px;
	left: 822.376px;
	top: 364px;
	transform: matrix(1,0,0,1,0,0);
}
#Nath_Sovanroth_eyr {
	left: 1434px;
	top: 403px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
#Tel_077_552_351_Email_sovanrot {
	left: 1434px;
	top: 450px;
	position: absolute;
	overflow: visible;
	width: 422px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Huot_Lysokheng_eyt {
	left: 257px;
	top: 407px;
	position: absolute;
	overflow: visible;
	width: 245px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
#Tel_070_832_161_Email_huotlyso {
	left: 257px;
	top: 454px;
	position: absolute;
	overflow: visible;
	width: 436px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Mekmun_Sopheaktra_eyv {
	left: 257px;
	top: 630px;
	position: absolute;
	overflow: visible;
	width: 313px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
#Tel_092_772_440_Email_mekmunso {
	left: 257px;
	top: 677px;
	position: absolute;
	overflow: visible;
	width: 505px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Tan_Sophea_eyx {
	left: 1436px;
	top: 626px;
	position: absolute;
	overflow: visible;
	width: 175px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
#Tel_095332085_Email_tansopheag {
	left: 1436px;
	top: 673px;
	position: absolute;
	overflow: visible;
	width: 382px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Office_Contact {
	left: 841.75px;
	top: 821px;
	position: absolute;
	overflow: visible;
	width: 237px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
#Brave_Dragon {
	left: 802px;
	top: 889px;
	position: absolute;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
#Tel_016_161_616_Email_bravedra {
	left: 802px;
	top: 936px;
	position: absolute;
	overflow: visible;
	width: 455px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Bro_Heng {
	position: absolute;
	width: 129px;
	height: 129px;
	left: 102px;
	top: 403px;
	overflow: visible;
}
#Bro_pHea {
	position: absolute;
	width: 121px;
	height: 121px;
	left: 1297px;
	top: 626px;
	overflow: visible;
}
#Bro_Pheak {
	position: absolute;
	width: 129px;
	height: 129px;
	left: 102px;
	top: 630px;
	overflow: visible;
}
#bravedragonwhiteback {
	position: absolute;
	width: 128px;
	height: 125px;
	left: 664px;
	top: 887px;
	overflow: visible;
}
#Rectangle_120_ey {
	fill: rgba(255,255,255,1);
}
.Rectangle_120_ey {
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 99px;
	left: 670px;
	top: 194px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Our Reports.html;
	cursor: pointer;
}
#Our_Report_ey {
	left: 678px;
	top: 260px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Our Reports.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#Rectangle_122_ey {
	fill: rgba(255,255,255,1);
}
.Rectangle_122_ey {
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 99px;
	left: 1172px;
	top: 194px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Tutorial .html;
	cursor: pointer;
}
#Tutorials_ey {
	left: 1189px;
	top: 263px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Tutorial .html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#profit-report_eza {
	position: absolute;
	width: 28.5px;
	height: 38px;
	left: 703.75px;
	top: 211px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Our Reports.html;
	cursor: pointer;
}
#Group_74_ezb {
	position: absolute;
	width: 9.5px;
	height: 9.5px;
	left: 19px;
	top: 0px;
	overflow: visible;
}
#Group_73_ezc {
	position: absolute;
	width: 9.5px;
	height: 9.5px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4683_ezd {
	fill: rgba(13,13,13,1);
}
.Path_4683_ezd {
	overflow: visible;
	position: absolute;
	width: 9.5px;
	height: 9.5px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_76_eze {
	position: absolute;
	width: 28.5px;
	height: 38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_75_ezf {
	position: absolute;
	width: 28.5px;
	height: 38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4684_ezg {
	fill: rgba(13,13,13,1);
}
.Path_4684_ezg {
	overflow: visible;
	position: absolute;
	width: 28.5px;
	height: 38px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#tutorial_1_ezh {
	position: absolute;
	width: 49.276px;
	height: 40.393px;
	left: 1196.971px;
	top: 212.623px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Tutorial .html;
	cursor: pointer;
}
#Group_78_ezi {
	position: absolute;
	width: 49.276px;
	height: 40.393px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_77_ezj {
	position: absolute;
	width: 49.276px;
	height: 40.393px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4685_ezk {
	fill: rgba(27,47,91,1);
}
.Path_4685_ezk {
	overflow: visible;
	position: absolute;
	width: 49.276px;
	height: 40.393px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4686_ezl {
	fill: rgba(27,47,91,1);
}
.Path_4686_ezl {
	overflow: visible;
	position: absolute;
	width: 10.552px;
	height: 11.699px;
	left: 20.249px;
	top: 5.198px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4687_ezm {
	fill: rgba(27,47,91,1);
}
.Path_4687_ezm {
	overflow: visible;
	position: absolute;
	width: 1.921px;
	height: 1.92px;
	left: 23.787px;
	top: 0.002px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_83 {
	fill: transparent;
	stroke: rgba(19,19,19,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_83 {
	overflow: visible;
	position: absolute;
	width: 236px;
	height: 2px;
	left: 842px;
	top: 864px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_5_ezo {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_ezo {
	position: absolute;
	overflow: visible;
	width: 412px;
	height: 40px;
	left: 1495px;
	top: 120px;
}
#Search_ezp {
	left: 1541px;
	top: 133px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Path_4630_ezq {
	fill: rgba(18,168,246,1);
}
.Path_4630_ezq {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.316px;
	left: 1514px;
	top: 134.842px;
	transform: matrix(1,0,0,1,0,0);
}
#asdasd123 {
	position: absolute;
	width: 110.5px;
	height: 124px;
	left: 1297px;
	top: 408px;
	overflow: visible;
}
#Line_73_ezs {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_73_ezs {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 1px;
	left: 0.5px;
	top: 175.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_74_ezt {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_74_ezt {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 1px;
	left: 0px;
	top: 309px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3022_ezu {
	position: absolute;
	width: 95px;
	height: 99px;
	left: 937px;
	top: 194px;
	overflow: visible;
}
#Rectangle_121_ezv {
	fill: rgba(18,168,246,1);
}
.Rectangle_121_ezv {
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 99px;
	left: 0px;
	top: 0px;
}
#Contact_Us_ezw {
	left: 7px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#call_ezx {
	position: absolute;
	width: 35.408px;
	height: 37.997px;
	left: 31.672px;
	top: 22.003px;
	overflow: visible;
}
#Group_61_ezy {
	position: absolute;
	width: 35.408px;
	height: 37.997px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_60_ezz {
	position: absolute;
	width: 35.408px;
	height: 37.997px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4655_ez {
	fill: rgba(255,255,255,1);
}
.Path_4655_ez {
	overflow: visible;
	position: absolute;
	width: 35.408px;
	height: 37.997px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4656_ez {
	fill: rgba(255,255,255,1);
}
.Path_4656_ez {
	overflow: visible;
	position: absolute;
	width: 9.481px;
	height: 9.482px;
	left: 23.082px;
	top: 3.318px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4657_ez {
	fill: rgba(255,255,255,1);
}
.Path_4657_ez {
	overflow: visible;
	position: absolute;
	width: 6.637px;
	height: 6.637px;
	left: 20.924px;
	top: 9.265px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4658_ez {
	fill: rgba(255,255,255,1);
}
.Path_4658_ez {
	overflow: visible;
	position: absolute;
	width: 3.792px;
	height: 3.793px;
	left: 20.233px;
	top: 12.997px;
	transform: matrix(1,0,0,1,0,0);
}
#About_Us__ez {
	left: 891px;
	top: 127px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Rectangle_2_ez {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_ez {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Hunter_Zolomon_ez {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_ez {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_ez {
	fill: rgba(18,168,246,1);
}
.Path_4632_ez {
	overflow: visible;
	position: absolute;
	width: 27.082px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_ez {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_ez {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_ea {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_ea {
	position: absolute;
	overflow: visible;
	width: 10.037px;
	height: 10.036px;
	left: 48.599px;
	top: 56.468px;
}
#Path_4633_eb {
	fill: rgba(255,255,255,1);
}
.Path_4633_eb {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.872px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_ec {
	fill: rgba(18,168,246,1);
}
.Path_4634_ec {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_ed {
	fill: rgba(255,255,255,1);
}
.Path_4635_ed {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.034px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_ee {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.571px;
	overflow: visible;
}
#Group_55_ef {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_eg {
	fill: rgba(18,168,246,1);
}
.Path_4636_eg {
	overflow: visible;
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_eh {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.298px;
	top: 75.962px;
	overflow: visible;
}
#Path_4637_ei {
	fill: rgba(18,26,80,1);
}
.Path_4637_ei {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_ej {
	fill: rgba(18,26,80,1);
}
.Path_4638_ej {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_ek {
	fill: rgba(255,255,255,1);
}
.Path_4639_ek {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.243px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_em {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_em {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.405px;
}
#Group_3056_em {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_en {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_eo {
	fill: rgba(27,47,91,1);
}
.home_eo {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_ep {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_eq {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_er {
	fill: rgba(27,47,91,1);
}
.Path_4640_er {
	overflow: visible;
	position: absolute;
	width: 13.456px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_es {
	fill: rgba(27,47,91,1);
}
.Path_4641_es {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.386px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_et {
	fill: rgba(27,47,91,1);
}
.Path_4642_et {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_eu {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__ev {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_ew {
	fill: rgba(27,47,91,1);
}
.Path_4643_ew {
	overflow: visible;
	position: absolute;
	width: 13.946px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_ex {
	fill: rgba(27,47,91,1);
}
.Path_4644_ex {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.12px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_ey {
	fill: rgba(27,47,91,1);
}
.Path_4646_ey {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_ez {
	fill: rgba(27,47,91,1);
}
.Path_4647_ez {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_e {
	fill: rgba(27,47,91,1);
}
.Path_4648_e {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_e {
	fill: rgba(27,47,91,1);
}
.Path_4649_e {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_e {
	fill: rgba(27,47,91,1);
}
.Path_4651_e {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_e {
	fill: rgba(27,47,91,1);
}
.Path_4653_e {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 622.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_ea {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_e {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_e {
	fill: rgba(27,47,91,1);
}
.Path_4650_e {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.926px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_e {
	fill: rgba(27,47,91,1);
}
.Path_4652_e {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_e {
	fill: rgba(27,47,91,1);
}
.Path_4654_e {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_e {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__ea {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_eb {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_ec {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_ed {
	fill: rgba(27,47,91,1);
}
.Path_4662_ed {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_ee {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_ef {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_eg {
	fill: rgba(27,47,91,1);
}
.Path_4663_eg {
	overflow: visible;
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_eh {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_ei {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_ej {
	fill: rgba(27,47,91,1);
}
.Path_4664_ej {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_ek {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_el {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_en {
	fill: rgba(27,47,91,1);
}
.Path_4665_en {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_en {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_eo {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_ep {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_eq {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_er {
	fill: rgba(27,47,91,1);
}
.Path_4680_er {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.101px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_es {
	fill: rgba(27,47,91,1);
}
.Path_4681_es {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_et {
	fill: rgba(27,47,91,1);
}
.Path_4682_et {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_eu {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_ev {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}
#Group_3062_ew {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_ex {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_ey {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_ez {
	fill: rgba(27,47,91,1);
}
.Path_4688_ez {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}