.mediaViewInfo {
	--web-view-name: costumer view;
	--web-view-id: costumer_view;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: costumer_view;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#costumer_view {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: costumer view;
	--web-view-id: costumer_view;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Bg_ds {
	fill: rgba(255,255,255,1);
}
.Bg_ds {
	overflow: visible;
	position: absolute;
	width: 1894px;
	height: 194.301px;
	left: 13px;
	top: 137.699px;
	transform: matrix(1,0,0,1,0,0);
}
#Payment_method_dt {
	position: absolute;
	width: 247.721px;
	height: 110.638px;
	left: 851.405px;
	top: 190px;
	overflow: visible;
}
#Mask_du {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_du {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.721px;
	height: 191px;
	left: 0px;
	top: 5px;
}
#Payment_method_dv {
	position: absolute;
	width: 247.721px;
	height: 110.638px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Payment_method_dw {
	position: absolute;
	width: 257.386px;
	height: 114.955px;
	left: 586.534px;
	top: 187.522px;
	overflow: visible;
}
#Mask_dx {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_dx {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.721px;
	height: 191px;
	left: 5.309px;
	top: 7.478px;
}
#Payment_method_dy {
	position: absolute;
	width: 257.386px;
	height: 114.955px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Payment_method_dz {
	position: absolute;
	width: 282.746px;
	height: 126.281px;
	left: 296.891px;
	top: 181.859px;
	overflow: visible;
}
#Mask_d {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_d {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.721px;
	height: 191px;
	left: 17.989px;
	top: 13.141px;
}
#Payment_method_d {
	position: absolute;
	width: 282.746px;
	height: 126.281px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Payment_method_da {
	position: absolute;
	width: 247.721px;
	height: 100px;
	left: 42.5px;
	top: 195px;
	overflow: visible;
}
#Mask_da {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_da {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.721px;
	height: 191px;
	left: 0px;
	top: 0px;
}
#Show_other_payment_m_d {
	left: 1688px;
	top: 166px;
	position: absolute;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -4px;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(80,143,244,1);
	letter-spacing: 0.3125px;
	text-decoration: underline;
}
#Make_payment_d {
	left: 44px;
	top: 154px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(82,87,93,1);
	letter-spacing: 0.3125px;
}
#visa_d {
	position: absolute;
	width: 172.891px;
	height: 55.014px;
	left: 68.005px;
	top: 217.493px;
	overflow: visible;
}
#Path_9207_d {
	fill: rgba(60,88,191,1);
}
.Path_9207_d {
	overflow: visible;
	position: absolute;
	width: 22.503px;
	height: 51.846px;
	left: 63.394px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9208_d {
	fill: rgba(41,54,136,1);
}
.Path_9208_d {
	overflow: visible;
	position: absolute;
	width: 22.503px;
	height: 51.846px;
	left: 63.394px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9209_d {
	fill: rgba(60,88,191,1);
}
.Path_9209_d {
	overflow: visible;
	position: absolute;
	width: 41.988px;
	height: 54.726px;
	left: 85.073px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9210_da {
	fill: rgba(41,54,136,1);
}
.Path_9210_da {
	overflow: visible;
	position: absolute;
	width: 41.988px;
	height: 54.726px;
	left: 85.073px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9211_db {
	fill: rgba(60,88,191,1);
}
.Path_9211_db {
	overflow: visible;
	position: absolute;
	width: 49.947px;
	height: 51.846px;
	left: 122.945px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9212_dc {
	fill: rgba(41,54,136,1);
}
.Path_9212_dc {
	overflow: visible;
	position: absolute;
	width: 49.947px;
	height: 51.846px;
	left: 122.945px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9213_dd {
	fill: rgba(60,88,191,1);
}
.Path_9213_dd {
	overflow: visible;
	position: absolute;
	width: 49.398px;
	height: 51.846px;
	left: 17.563px;
	top: 2.017px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9214_de {
	fill: rgba(41,54,136,1);
}
.Path_9214_de {
	overflow: visible;
	position: absolute;
	width: 49.398px;
	height: 51.846px;
	left: 17.563px;
	top: 2.017px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9215_df {
	fill: rgba(255,188,0,1);
}
.Path_9215_df {
	overflow: visible;
	position: absolute;
	width: 36.774px;
	height: 28.803px;
	left: 0px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9216_dg {
	fill: rgba(247,152,29,1);
}
.Path_9216_dg {
	overflow: visible;
	position: absolute;
	width: 36.774px;
	height: 28.516px;
	left: 0px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9217_dh {
	fill: rgba(237,124,0,1);
}
.Path_9217_dh {
	overflow: visible;
	position: absolute;
	width: 36.774px;
	height: 28.516px;
	left: 0px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2973_di {
	position: absolute;
	width: 155.053px;
	height: 47.525px;
	left: 17.838px;
	top: 7.489px;
	overflow: visible;
}
#Path_9218_dj {
	fill: rgba(5,18,68,1);
}
.Path_9218_dj {
	overflow: visible;
	position: absolute;
	width: 34.03px;
	height: 46.085px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9219_dk {
	fill: rgba(5,18,68,1);
}
.Path_9219_dk {
	overflow: visible;
	position: absolute;
	width: 13.996px;
	height: 12.673px;
	left: 45.556px;
	top: 33.412px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9220_dm {
	fill: rgba(5,18,68,1);
}
.Path_9220_dm {
	overflow: visible;
	position: absolute;
	width: 35.676px;
	height: 19.298px;
	left: 67.236px;
	top: 28.227px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9221_dm {
	fill: rgba(5,18,68,1);
}
.Path_9221_dm {
	overflow: visible;
	position: absolute;
	width: 48.025px;
	height: 37.732px;
	left: 107.028px;
	top: 8.353px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2977_dn {
	position: absolute;
	width: 247.721px;
	height: 110.638px;
	left: 1111.146px;
	top: 190px;
	overflow: visible;
}
#Payment_method_do {
	position: absolute;
	width: 247.721px;
	height: 110.638px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Mask_dq {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_dq {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.721px;
	height: 191px;
	left: 0px;
	top: 5px;
}
#Payment_method_dq {
	position: absolute;
	width: 247.721px;
	height: 110.638px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Scroll_Group_4_dr {
	mix-blend-mode: normal;
	position: absolute;
	width: 178px;
	height: 82px;
	left: 34.854px;
	top: 14px;
	overflow: hidden;
}
#ABA-logo_ds {
	position: absolute;
	width: 186px;
	height: 186px;
	left: 0px;
	top: -52px;
	overflow: visible;
}
#Rectangle_565_dt {
	fill: rgba(255,255,255,1);
}
.Rectangle_565_dt {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 878.375px;
	height: 652.5px;
	left: 1058.625px;
	top: 395.75px;
}
#Rectangle_165_du {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_165_du {
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 43px;
	left: 1475.5px;
	top: 960.25px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Invoice costumer View .html;
	cursor: pointer;
}
#View_Invoice_dv {
	left: 1517px;
	top: 969.75px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Invoice costumer View .html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
	text-decoration: underline;
}
#Rectangle_564_dw {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_564_dw {
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 43px;
	left: 1701.5px;
	top: 960.25px;
}
#Print_Invoice_dx {
	left: 1748px;
	top: 969.75px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	text-decoration: underline;
}
#Line_104_dy {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_104_dy {
	overflow: visible;
	position: absolute;
	width: 848.375px;
	height: 1px;
	left: 1059.125px;
	top: 941.75px;
	transform: matrix(1,0,0,1,0,0);
}
#QR_Code_dz {
	position: absolute;
	width: 251px;
	height: 251px;
	left: 1341.5px;
	top: 677.75px;
	overflow: visible;
}
#QR_Code_d {
	left: 1409.5px;
	top: 633.75px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Brave_Dragon_Store_d {
	left: 739px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 443px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(27,47,91,1);
}
#Thank_you_for_your_purchase_ {
	left: 792px;
	top: 92px;
	position: absolute;
	overflow: visible;
	width: 337px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(27,47,91,1);
}
#Scroll_Group_5_d {
	mix-blend-mode: normal;
	position: absolute;
	width: 186px;
	height: 80px;
	left: 1381px;
	top: 415.25px;
	overflow: hidden;
}
#ABA-logo_d {
	position: absolute;
	width: 186px;
	height: 186px;
	left: 0px;
	top: -53px;
	overflow: visible;
}
#n_92_168_101_d {
	left: 1503.5px;
	top: 524.25px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Bank_Number__d {
	left: 1288.5px;
	top: 525.25px;
	position: absolute;
	overflow: visible;
	width: 204px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Brave_Dragon_Store_da {
	left: 1395.5px;
	top: 581.25px;
	position: absolute;
	overflow: visible;
	width: 268px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Name__d {
	left: 1288.5px;
	top: 581.25px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#left-arrow-in-circular-button-_d {
	position: absolute;
	width: 51.009px;
	height: 51.009px;
	left: 30.871px;
	top: 45.254px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: comfirm payment.html;
	cursor: pointer;
}
#n_x34__2__da {
	position: absolute;
	width: 51.009px;
	height: 51.009px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_157_db {
	position: absolute;
	width: 51.009px;
	height: 51.009px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4836_dc {
	fill: rgba(27,47,91,1);
}
.Path_4836_dc {
	overflow: visible;
	position: absolute;
	width: 51.009px;
	height: 51.009px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_706 {
	fill: rgba(255,255,255,1);
}
.Rectangle_706 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 541px;
	height: 374px;
	left: 510.396px;
	top: 348.5px;
}
#Rectangle_707 {
	fill: rgba(255,255,255,1);
}
.Rectangle_707 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 483px;
	height: 735px;
	left: 21.646px;
	top: 348.5px;
}
#n__Coconut_df {
	left: 37.646px;
	top: 434.5px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__dg {
	left: 282.199px;
	top: 434.5px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#plus_di {
	fill: rgba(27,47,91,1);
}
.plus_di {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 319.647px;
	top: 435.213px;
	transform: matrix(1,0,0,1,0,0);
}
#minus_di {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 231.177px;
	top: 435.213px;
	overflow: visible;
}
#Group_111_dj {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4826_dk {
	fill: rgba(27,47,91,1);
}
.Path_4826_dk {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_4_dl {
	left: 401.646px;
	top: 434.5px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__Watermelon_dm {
	left: 37.646px;
	top: 498.816px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__dn {
	left: 282.199px;
	top: 498.816px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#plus_do {
	fill: rgba(27,47,91,1);
}
.plus_do {
	overflow: visible;
	position: absolute;
	width: 28.574px;
	height: 28.574px;
	left: 319.646px;
	top: 499.529px;
	transform: matrix(1,0,0,1,0,0);
}
#n_8_dp {
	left: 400.646px;
	top: 498.816px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#delete_dq {
	fill: rgba(27,47,91,1);
}
.delete_dq {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 231.177px;
	top: 499.53px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_119 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_119 {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 21.146px;
	top: 481px;
	transform: matrix(1,0,0,1,0,0);
}
#n__Tomato_ds {
	left: 37.646px;
	top: 563.736px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__dt {
	left: 282.199px;
	top: 563.736px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#plus_du {
	fill: rgba(27,47,91,1);
}
.plus_du {
	overflow: visible;
	position: absolute;
	width: 28.574px;
	height: 28.574px;
	left: 319.646px;
	top: 564.449px;
	transform: matrix(1,0,0,1,0,0);
}
#n__dv {
	left: 410.146px;
	top: 563.736px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Line_120 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_120 {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 21.146px;
	top: 545.92px;
	transform: matrix(1,0,0,1,0,0);
}
#minus_dx {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 231.177px;
	top: 563.133px;
	overflow: visible;
}
#Group_111_dy {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4826_dz {
	fill: rgba(27,47,91,1);
}
.Path_4826_dz {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_121 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_121 {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 21.146px;
	top: 417.287px;
	transform: matrix(1,0,0,1,0,0);
}
#Product_d {
	left: 52.646px;
	top: 370.5px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Quantity_d {
	left: 239.646px;
	top: 370.5px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Price_d {
	left: 395.646px;
	top: 370.5px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Subtotal________d {
	left: 547.396px;
	top: 384.5px;
	position: absolute;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Discount_______d {
	left: 547.396px;
	top: 462.5px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#TOTAL____________d {
	left: 547.396px;
	top: 618.5px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Rectangle_708 {
	fill: rgba(18,168,246,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_708 {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 51px;
	left: 767.396px;
	top: 612.5px;
}
#n_2_d {
	left: 844.396px;
	top: 618.5px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
#Rectangle_709 {
	fill: rgba(255,255,255,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_709 {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 51px;
	left: 767.396px;
	top: 456.5px;
}
#n_0_eaa {
	left: 846.396px;
	top: 462.5px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Rectangle_710 {
	fill: rgba(255,255,255,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_710 {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 51px;
	left: 766.396px;
	top: 378.5px;
}
#n_2_eac {
	left: 846.396px;
	top: 384.5px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#VAT_________________ead {
	left: 547.396px;
	top: 540.5px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Rectangle_711 {
	fill: rgba(255,255,255,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_711 {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 51px;
	left: 767.396px;
	top: 534.5px;
}
#n_0_eaf {
	left: 846.396px;
	top: 540.5px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Rectangle_712 {
	fill: rgba(255,255,255,1);
}
.Rectangle_712 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 541px;
	height: 175px;
	left: 510.396px;
	top: 701px;
}
#Costumer_Name__eah {
	left: 522.396px;
	top: 713px;
	position: absolute;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_713 {
	fill: rgba(255,255,255,1);
	stroke: rgba(209,209,209,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_713 {
	position: absolute;
	overflow: visible;
	width: 485px;
	height: 75.75px;
	left: 522.396px;
	top: 749px;
}
#Ching_Chang_eaj {
	left: 578.396px;
	top: 772.875px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	line-height: 38px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(77,79,92,1);
}
#Rectangle_714 {
	fill: rgba(255,255,255,1);
}
.Rectangle_714 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 541px;
	height: 221px;
	left: 510.396px;
	top: 859.977px;
}
#Rectangle_715 {
	fill: rgba(255,255,255,1);
	stroke: rgba(209,209,209,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_715 {
	position: absolute;
	overflow: visible;
	width: 259.053px;
	height: 41.5px;
	left: 750.396px;
	top: 984.227px;
}
#Rectangle_716 {
	fill: rgba(255,255,255,1);
	stroke: rgba(209,209,209,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_716 {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 41.5px;
	left: 565.396px;
	top: 985.227px;
}
#Add_Note__ean {
	left: 522.396px;
	top: 871.977px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_717 {
	fill: rgba(255,255,255,1);
	stroke: rgba(209,209,209,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_717 {
	position: absolute;
	overflow: visible;
	width: 485px;
	height: 58.5px;
	left: 522.396px;
	top: 907.977px;
}
#Put_the_items_in_different_bag_eap {
	left: 547.396px;
	top: 923.227px;
	position: absolute;
	overflow: visible;
	width: 305px;
	white-space: nowrap;
	line-height: 38px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(77,79,92,1);
}
#Tel___096_00_00_00_0_eaq {
	left: 524.396px;
	top: 991.977px;
	position: absolute;
	overflow: visible;
	width: 212px;
	white-space: nowrap;
	line-height: 38px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(77,79,92,1);
}
#calendar_1_ear {
	position: absolute;
	width: 16.293px;
	height: 14.702px;
	left: 984.775px;
	top: 997.626px;
	overflow: visible;
}
#Path_4690_eas {
	fill: rgba(18,168,246,1);
}
.Path_4690_eas {
	overflow: visible;
	position: absolute;
	width: 16.293px;
	height: 4.583px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_eat {
	fill: rgba(18,168,246,1);
}
.Path_4691_eat {
	overflow: visible;
	position: absolute;
	width: 16.293px;
	height: 9.165px;
	left: 0px;
	top: 5.537px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021__1210_AM_eau {
	left: 756px;
	top: 990.977px;
	position: absolute;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(77,79,92,1);
}
#Mask_eav {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_eav {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.721px;
	height: 191px;
	left: 1370.886px;
	top: 195.319px;
}
#Mask_eaw {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_eaw {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.721px;
	height: 191px;
	left: 1630.626px;
	top: 195.319px;
}
#wing_new_eax {
	position: absolute;
	width: 228px;
	height: 80px;
	left: 1381px;
	top: 205.319px;
	overflow: visible;
}
#Scroll_Group_12_eay {
	mix-blend-mode: normal;
	position: absolute;
	width: 228px;
	height: 92px;
	left: 1640px;
	top: 199.319px;
	overflow: hidden;
}
#logo-white_eaz {
	position: absolute;
	width: 262px;
	height: 262px;
	left: -15px;
	top: -87px;
	overflow: visible;
}