.mediaViewInfo {
	--web-view-name: costumer view – 1;
	--web-view-id: costumer_view__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: costumer_view__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#costumer_view__1 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: costumer view – 1;
	--web-view-id: costumer_view__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Bg_fvi {
	fill: rgba(255,255,255,1);
}
.Bg_fvi {
	overflow: visible;
	position: absolute;
	width: 1894px;
	height: 194.301px;
	left: 13px;
	top: 137.699px;
	transform: matrix(1,0,0,1,0,0);
}
#Payment_method_fvj {
	position: absolute;
	width: 247.721px;
	height: 110.638px;
	left: 851.405px;
	top: 190px;
	overflow: visible;
}
#Mask_fvk {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_fvk {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.722px;
	height: 191px;
	left: 0px;
	top: 5px;
}
#Payment_method_fvl {
	position: absolute;
	width: 247.722px;
	height: 110.638px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Payment_method_fvm {
	position: absolute;
	width: 257.386px;
	height: 114.955px;
	left: 586.534px;
	top: 187.522px;
	overflow: visible;
}
#Mask_fvn {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_fvn {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.722px;
	height: 191px;
	left: 5.309px;
	top: 7.478px;
}
#Payment_method_fvo {
	position: absolute;
	width: 257.386px;
	height: 114.955px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Payment_method_fvp {
	position: absolute;
	width: 282.746px;
	height: 126.281px;
	left: 296.891px;
	top: 181.859px;
	overflow: visible;
}
#Mask_fvq {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_fvq {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.722px;
	height: 191px;
	left: 17.989px;
	top: 13.141px;
}
#Payment_method_fvr {
	position: absolute;
	width: 282.746px;
	height: 126.281px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Payment_method_fvs {
	position: absolute;
	width: 247.721px;
	height: 100px;
	left: 42.5px;
	top: 195px;
	overflow: visible;
}
#Mask_fvt {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_fvt {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.721px;
	height: 191px;
	left: 0px;
	top: 0px;
}
#Show_other_payment_m_fvu {
	left: 1688px;
	top: 166px;
	position: absolute;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -4px;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(80,143,244,1);
	letter-spacing: 0.3125px;
	text-decoration: underline;
}
#Make_payment_fvv {
	left: 44px;
	top: 154px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(82,87,93,1);
	letter-spacing: 0.3125px;
}
#visa_fvw {
	position: absolute;
	width: 172.891px;
	height: 55.014px;
	left: 68.006px;
	top: 217.493px;
	overflow: visible;
}
#Path_9207_fvx {
	fill: rgba(60,88,191,1);
}
.Path_9207_fvx {
	overflow: visible;
	position: absolute;
	width: 22.504px;
	height: 51.846px;
	left: 63.394px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9208_fvy {
	fill: rgba(41,54,136,1);
}
.Path_9208_fvy {
	overflow: visible;
	position: absolute;
	width: 22.504px;
	height: 51.846px;
	left: 63.394px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9209_fvz {
	fill: rgba(60,88,191,1);
}
.Path_9209_fvz {
	overflow: visible;
	position: absolute;
	width: 41.988px;
	height: 54.726px;
	left: 85.073px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9210_fv {
	fill: rgba(41,54,136,1);
}
.Path_9210_fv {
	overflow: visible;
	position: absolute;
	width: 41.988px;
	height: 54.726px;
	left: 85.073px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9211_fv {
	fill: rgba(60,88,191,1);
}
.Path_9211_fv {
	overflow: visible;
	position: absolute;
	width: 49.946px;
	height: 51.846px;
	left: 122.945px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9212_fv {
	fill: rgba(41,54,136,1);
}
.Path_9212_fv {
	overflow: visible;
	position: absolute;
	width: 49.946px;
	height: 51.846px;
	left: 122.945px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9213_fv {
	fill: rgba(60,88,191,1);
}
.Path_9213_fv {
	overflow: visible;
	position: absolute;
	width: 49.397px;
	height: 51.846px;
	left: 17.563px;
	top: 2.016px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9214_fv {
	fill: rgba(41,54,136,1);
}
.Path_9214_fv {
	overflow: visible;
	position: absolute;
	width: 49.397px;
	height: 51.846px;
	left: 17.563px;
	top: 2.016px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9215_fv {
	fill: rgba(255,188,0,1);
}
.Path_9215_fv {
	overflow: visible;
	position: absolute;
	width: 36.773px;
	height: 28.803px;
	left: 0px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9216_fv {
	fill: rgba(247,152,29,1);
}
.Path_9216_fv {
	overflow: visible;
	position: absolute;
	width: 36.773px;
	height: 28.515px;
	left: 0px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9217_fv {
	fill: rgba(237,124,0,1);
}
.Path_9217_fv {
	overflow: visible;
	position: absolute;
	width: 36.773px;
	height: 28.515px;
	left: 0px;
	top: 1.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2973_fv {
	position: absolute;
	width: 155.053px;
	height: 47.525px;
	left: 17.838px;
	top: 7.489px;
	overflow: visible;
}
#Path_9218_fv {
	fill: rgba(5,18,68,1);
}
.Path_9218_fv {
	overflow: visible;
	position: absolute;
	width: 34.029px;
	height: 46.085px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9219_fwa {
	fill: rgba(5,18,68,1);
}
.Path_9219_fwa {
	overflow: visible;
	position: absolute;
	width: 13.996px;
	height: 12.674px;
	left: 45.556px;
	top: 33.412px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9220_fwb {
	fill: rgba(5,18,68,1);
}
.Path_9220_fwb {
	overflow: visible;
	position: absolute;
	width: 35.676px;
	height: 19.298px;
	left: 67.235px;
	top: 28.228px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9221_fwc {
	fill: rgba(5,18,68,1);
}
.Path_9221_fwc {
	overflow: visible;
	position: absolute;
	width: 48.025px;
	height: 37.732px;
	left: 107.028px;
	top: 8.353px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3070 {
	position: absolute;
	width: 247.721px;
	height: 110.638px;
	left: 1111.146px;
	top: 190px;
	overflow: visible;
}
#Payment_method_fwe {
	position: absolute;
	width: 247.721px;
	height: 110.638px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Mask_fwf {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_fwf {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.722px;
	height: 191px;
	left: 0px;
	top: 5px;
}
#Payment_method_fwg {
	position: absolute;
	width: 247.722px;
	height: 110.638px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Scroll_Group_4_fwh {
	mix-blend-mode: normal;
	position: absolute;
	width: 178px;
	height: 82px;
	left: 34.854px;
	top: 14px;
	overflow: hidden;
}
#ABA-logo_fwi {
	position: absolute;
	width: 186px;
	height: 186px;
	left: 0px;
	top: -52px;
	overflow: visible;
}
#Rectangle_703 {
	fill: rgba(255,255,255,1);
}
.Rectangle_703 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 878.375px;
	height: 652.5px;
	left: 1058.625px;
	top: 395.75px;
}
#Rectangle_704 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_704 {
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 43px;
	left: 1475.5px;
	top: 960.25px;
}
#View_Invoice_fwl {
	left: 1517px;
	top: 969.75px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
	text-decoration: underline;
}
#Rectangle_705 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_705 {
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 43px;
	left: 1701.5px;
	top: 960.25px;
}
#Print_Invoice_fwn {
	left: 1748px;
	top: 969.75px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
	text-decoration: underline;
}
#Line_118 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_118 {
	overflow: visible;
	position: absolute;
	width: 848.375px;
	height: 1px;
	left: 1059.125px;
	top: 941.75px;
	transform: matrix(1,0,0,1,0,0);
}
#QR_Code_fwp {
	position: absolute;
	width: 251px;
	height: 251px;
	left: 1341.5px;
	top: 677.75px;
	overflow: visible;
}
#QR_Code_fwq {
	left: 1409.5px;
	top: 633.75px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Brave_Dragon_Store_fwr {
	left: 739px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 443px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(27,47,91,1);
}
#Thank_you_for_your_purchase__fws {
	left: 792px;
	top: 92px;
	position: absolute;
	overflow: visible;
	width: 337px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(27,47,91,1);
}
#Scroll_Group_10 {
	mix-blend-mode: normal;
	position: absolute;
	width: 186px;
	height: 80px;
	left: 1381px;
	top: 415.25px;
	overflow: hidden;
}
#ABA-logo_fwu {
	position: absolute;
	width: 186px;
	height: 186px;
	left: 0px;
	top: -53px;
	overflow: visible;
}
#n_92_168_101_fwv {
	left: 1503.5px;
	top: 524.25px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Bank_Number__fww {
	left: 1288.5px;
	top: 525.25px;
	position: absolute;
	overflow: visible;
	width: 204px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Brave_Dragon_Store_fwx {
	left: 1395.5px;
	top: 581.25px;
	position: absolute;
	overflow: visible;
	width: 268px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Name__fwy {
	left: 1288.5px;
	top: 581.25px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#left-arrow-in-circular-button-_fwz {
	position: absolute;
	width: 51.009px;
	height: 51.009px;
	left: 30.871px;
	top: 45.254px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#n_x34__2__fw {
	position: absolute;
	width: 51.009px;
	height: 51.009px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_157_fw {
	position: absolute;
	width: 51.009px;
	height: 51.009px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4836_fw {
	fill: rgba(27,47,91,1);
}
.Path_4836_fw {
	overflow: visible;
	position: absolute;
	width: 51.009px;
	height: 51.009px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_706_fw {
	fill: rgba(255,255,255,1);
}
.Rectangle_706_fw {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 541px;
	height: 374px;
	left: 510.396px;
	top: 348.5px;
}
#Rectangle_707_fw {
	fill: rgba(255,255,255,1);
}
.Rectangle_707_fw {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 483px;
	height: 735px;
	left: 21.646px;
	top: 348.5px;
}
#n__Coconut_fw {
	left: 37.646px;
	top: 434.5px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__fw {
	left: 282.199px;
	top: 434.5px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#plus_fw {
	fill: rgba(27,47,91,1);
}
.plus_fw {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 319.647px;
	top: 435.213px;
	transform: matrix(1,0,0,1,0,0);
}
#minus_fw {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 231.177px;
	top: 435.213px;
	overflow: visible;
}
#Group_111_fw {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4826_fxa {
	fill: rgba(27,47,91,1);
}
.Path_4826_fxa {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_4_fxb {
	left: 401.646px;
	top: 434.5px;
	position: absolute;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__Watermelon_fxc {
	left: 37.646px;
	top: 498.816px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__fxd {
	left: 282.199px;
	top: 498.816px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#plus_fxe {
	fill: rgba(27,47,91,1);
}
.plus_fxe {
	overflow: visible;
	position: absolute;
	width: 28.574px;
	height: 28.574px;
	left: 319.646px;
	top: 499.529px;
	transform: matrix(1,0,0,1,0,0);
}
#n_8_fxf {
	left: 400.646px;
	top: 498.816px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#delete_fxg {
	fill: rgba(27,47,91,1);
}
.delete_fxg {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 231.177px;
	top: 499.53px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_119_fxh {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_119_fxh {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 21.146px;
	top: 481px;
	transform: matrix(1,0,0,1,0,0);
}
#n__Tomato_fxi {
	left: 37.646px;
	top: 563.736px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n__fxj {
	left: 282.199px;
	top: 563.736px;
	position: absolute;
	overflow: visible;
	width: 15px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#plus_fxk {
	fill: rgba(27,47,91,1);
}
.plus_fxk {
	overflow: visible;
	position: absolute;
	width: 28.574px;
	height: 28.574px;
	left: 319.646px;
	top: 564.449px;
	transform: matrix(1,0,0,1,0,0);
}
#n__fxl {
	left: 410.146px;
	top: 563.736px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Line_120_fxm {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_120_fxm {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 21.146px;
	top: 545.92px;
	transform: matrix(1,0,0,1,0,0);
}
#minus_fxn {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 231.177px;
	top: 563.133px;
	overflow: visible;
}
#Group_111_fxo {
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4826_fxp {
	fill: rgba(27,47,91,1);
}
.Path_4826_fxp {
	overflow: visible;
	position: absolute;
	width: 28.573px;
	height: 28.573px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_121_fxq {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_121_fxq {
	overflow: visible;
	position: absolute;
	width: 453px;
	height: 1px;
	left: 21.146px;
	top: 417.287px;
	transform: matrix(1,0,0,1,0,0);
}
#Product_fxr {
	left: 52.646px;
	top: 370.5px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Quantity_fxs {
	left: 239.646px;
	top: 370.5px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Price_fxt {
	left: 395.646px;
	top: 370.5px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Subtotal________fxu {
	left: 547.396px;
	top: 384.5px;
	position: absolute;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Discount_______fxv {
	left: 547.396px;
	top: 462.5px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#TOTAL____________fxw {
	left: 547.396px;
	top: 618.5px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Rectangle_708_fxx {
	fill: rgba(18,168,246,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_708_fxx {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 51px;
	left: 767.396px;
	top: 612.5px;
}
#n_2_fxy {
	left: 844.396px;
	top: 618.5px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(255,255,255,1);
}
#Rectangle_709_fxz {
	fill: rgba(255,255,255,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_709_fxz {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 51px;
	left: 767.396px;
	top: 456.5px;
}
#n_0_fx {
	left: 846.396px;
	top: 462.5px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Rectangle_710_fx {
	fill: rgba(255,255,255,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_710_fx {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 51px;
	left: 766.396px;
	top: 378.5px;
}
#n_2_fx {
	left: 846.396px;
	top: 384.5px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#VAT_________________fx {
	left: 547.396px;
	top: 540.5px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Rectangle_711_fx {
	fill: rgba(255,255,255,1);
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_711_fx {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 51px;
	left: 767.396px;
	top: 534.5px;
}
#n_0_fya {
	left: 846.396px;
	top: 540.5px;
	position: absolute;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(27,47,91,1);
}
#Rectangle_712_fx {
	fill: rgba(255,255,255,1);
}
.Rectangle_712_fx {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 541px;
	height: 175px;
	left: 510.396px;
	top: 701px;
}
#Costumer_Name__fx {
	left: 522.396px;
	top: 713px;
	position: absolute;
	overflow: visible;
	width: 200px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_713_fx {
	fill: rgba(255,255,255,1);
	stroke: rgba(209,209,209,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_713_fx {
	position: absolute;
	overflow: visible;
	width: 485px;
	height: 75.75px;
	left: 522.396px;
	top: 749px;
}
#Ching_Chang_fx {
	left: 578.396px;
	top: 772.875px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	line-height: 38px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(77,79,92,1);
}
#Rectangle_714_fya {
	fill: rgba(255,255,255,1);
}
.Rectangle_714_fya {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 541px;
	height: 221px;
	left: 510.396px;
	top: 859.977px;
}
#Rectangle_715_fyb {
	fill: rgba(255,255,255,1);
	stroke: rgba(209,209,209,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_715_fyb {
	position: absolute;
	overflow: visible;
	width: 259.054px;
	height: 41.5px;
	left: 750.396px;
	top: 984.227px;
}
#Rectangle_716_fyc {
	fill: rgba(255,255,255,1);
	stroke: rgba(209,209,209,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_716_fyc {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 41.5px;
	left: 565.396px;
	top: 985.227px;
}
#Add_Note__fyd {
	left: 522.396px;
	top: 871.977px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_717_fye {
	fill: rgba(255,255,255,1);
	stroke: rgba(209,209,209,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_717_fye {
	position: absolute;
	overflow: visible;
	width: 485px;
	height: 58.5px;
	left: 522.396px;
	top: 907.977px;
}
#Put_the_items_in_different_bag_fyf {
	left: 547.396px;
	top: 923.227px;
	position: absolute;
	overflow: visible;
	width: 305px;
	white-space: nowrap;
	line-height: 38px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(77,79,92,1);
}
#Tel___096_00_00_00_0_fyg {
	left: 524.396px;
	top: 991.977px;
	position: absolute;
	overflow: visible;
	width: 212px;
	white-space: nowrap;
	line-height: 38px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(77,79,92,1);
}
#calendar_1_fyh {
	position: absolute;
	width: 16.293px;
	height: 14.702px;
	left: 984.775px;
	top: 997.626px;
	overflow: visible;
}
#Path_4690_fyi {
	fill: rgba(18,168,246,1);
}
.Path_4690_fyi {
	overflow: visible;
	position: absolute;
	width: 16.293px;
	height: 4.583px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_fyj {
	fill: rgba(18,168,246,1);
}
.Path_4691_fyj {
	overflow: visible;
	position: absolute;
	width: 16.293px;
	height: 9.165px;
	left: 0px;
	top: 5.537px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021__1210_AM_fyk {
	left: 756px;
	top: 990.977px;
	position: absolute;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(77,79,92,1);
}
#Mask_fyl {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_fyl {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.722px;
	height: 191px;
	left: 1370.886px;
	top: 195.319px;
}
#Mask_fym {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Mask_fym {
	filter: drop-shadow(0px 0px 30px rgba(76, 147, 230, 0.102));
	position: absolute;
	overflow: visible;
	width: 338.721px;
	height: 191px;
	left: 1630.627px;
	top: 195.319px;
}
#wing_new_fyn {
	position: absolute;
	width: 228px;
	height: 80px;
	left: 1381px;
	top: 205.319px;
	overflow: visible;
}
#Scroll_Group_12_fyo {
	mix-blend-mode: normal;
	position: absolute;
	width: 228px;
	height: 92px;
	left: 1640px;
	top: 199.319px;
	overflow: hidden;
}
#logo-white_fyp {
	position: absolute;
	width: 262px;
	height: 262px;
	left: -15px;
	top: -87px;
	overflow: visible;
}