.mediaViewInfo {
	--web-view-name: Employee Management;
	--web-view-id: Employee_Management;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Employee_Management;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Employee_Management {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Employee Management;
	--web-view-id: Employee_Management;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Text_el {
	left: 1245px;
	top: 229px;
	position: absolute;
	overflow: visible;
	width: 1px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Line_em {
	fill: rgba(235,242,247,1);
}
.Line_em {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 1430px;
	top: 714.022px;
}
#Line_en {
	fill: rgba(235,242,247,1);
}
.Line_en {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 1430px;
	top: 294px;
}
#Line_eo {
	fill: rgba(235,242,247,1);
}
.Line_eo {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 1009.232px;
	top: 294px;
}
#Total_Revenue_ep {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 110px;
	top: 270px;
	overflow: visible;
}
#BG_eq {
	fill: rgba(18,168,246,0.8);
}
.BG_eq {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_er {
	left: 187.732px;
	top: 298px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#next_es {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 438px;
	top: 295.999px;
	overflow: visible;
}
#Chevron_Right_1__et {
	fill: rgba(255,255,255,1);
}
.Chevron_Right_1__et {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3035 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 110px;
	top: 392px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: sellpoint .html;
	cursor: pointer;
}
#Total_Revenue_ev {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_ew {
	fill: rgba(255,255,255,1);
}
.BG_ew {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_ex {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#leaf_ey {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 21.366px;
	top: 22.7px;
	overflow: visible;
}
#Group_313_ez {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_312_e {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4713_e {
	fill: rgba(27,47,91,1);
}
.Path_4713_e {
	overflow: visible;
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4714_e {
	fill: rgba(27,47,91,1);
}
.Path_4714_e {
	overflow: visible;
	position: absolute;
	width: 3.516px;
	height: 3.517px;
	left: 28.884px;
	top: 17.857px;
	transform: matrix(1,0,0,1,0,0);
}
#next_e {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 27.999px;
	overflow: visible;
}
#Chevron_Right_1__e {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1__e {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_589 {
	filter: blur(50px);
	fill: rgba(255,255,255,1);
}
.Rectangle_589 {
	mix-blend-mode: hard-light;
	filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1353px;
	height: 946px;
	left: 582px;
	top: 156px;
}
#Ellipse_346 {
	fill: rgba(255,255,255,1);
}
.Ellipse_346 {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 226px;
	height: 221px;
	left: 1142px;
	top: 679px;
}
#Group_3029 {
	position: absolute;
	width: 300px;
	height: 261px;
	left: 681px;
	top: 279px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: view user.html;
	cursor: pointer;
}
#Rectangle_590 {
	fill: rgba(255,255,255,1);
}
.Rectangle_590 {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 336px;
	left: 0px;
	top: 0px;
}
#photo_2021-09-14_20-16-15 {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 181px;
	height: 176px;
	left: 60px;
	top: 16px;
	overflow: visible;
}
#Title_ea {
	left: 92px;
	top: 206px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Group_3030 {
	position: absolute;
	width: 300px;
	height: 261px;
	left: 1081px;
	top: 279px;
	overflow: visible;
}
#Rectangle_591 {
	fill: rgba(255,255,255,1);
}
.Rectangle_591 {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 336px;
	left: 0px;
	top: 0px;
}
#photo_2021-09-14_20-15-47 {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 181px;
	height: 176px;
	left: 62px;
	top: 16px;
	overflow: visible;
}
#Title_ef {
	left: 90px;
	top: 206px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Group_3031 {
	position: absolute;
	width: 300px;
	height: 261px;
	left: 1477px;
	top: 279px;
	overflow: visible;
}
#Rectangle_592 {
	fill: rgba(255,255,255,1);
}
.Rectangle_592 {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 336px;
	left: 0px;
	top: 0px;
}
#photo_2021-09-14_20-17-35 {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 181px;
	height: 176px;
	left: 60px;
	top: 17px;
	overflow: visible;
}
#Title_ei {
	left: 85px;
	top: 206px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Group_3034 {
	position: absolute;
	width: 300px;
	height: 261px;
	left: 683px;
	top: 662px;
	overflow: visible;
}
#Rectangle_593 {
	fill: rgba(255,255,255,1);
}
.Rectangle_593 {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 336px;
	left: 0px;
	top: 0px;
}
#photo_2021-09-14_20-24-47 {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 181px;
	height: 176px;
	left: 57px;
	top: 17px;
	overflow: visible;
}
#Title_em {
	left: 107px;
	top: 207px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Group_3033 {
	position: absolute;
	width: 300px;
	height: 261px;
	left: 1083px;
	top: 662px;
	overflow: visible;
}
#Rectangle_594 {
	fill: rgba(255,255,255,1);
}
.Rectangle_594 {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 336px;
	left: 0px;
	top: 0px;
}
#image_2021-09-09_09-05-19_ep {
	position: absolute;
	width: 181px;
	height: 178px;
	left: 59px;
	top: 17px;
	overflow: visible;
}
#Title_eq {
	left: 63px;
	top: 209px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Group_3032 {
	position: absolute;
	width: 300px;
	height: 261px;
	left: 1479px;
	top: 662px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Null Add User.html;
	cursor: pointer;
}
#Rectangle_595 {
	fill: rgba(255,255,255,1);
}
.Rectangle_595 {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 336px;
	left: 0px;
	top: 0px;
}
#follow {
	position: absolute;
	width: 121px;
	height: 121px;
	left: 96px;
	top: 59px;
	overflow: visible;
}
#Title_eu {
	left: 96px;
	top: 207px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#customer {
	position: absolute;
	width: 39.18px;
	height: 34.129px;
	left: 131.366px;
	top: 295.436px;
	overflow: visible;
}
#Path_4909 {
	fill: rgba(255,255,255,1);
}
.Path_4909 {
	overflow: visible;
	position: absolute;
	width: 13.315px;
	height: 13.315px;
	left: 12.933px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4910 {
	fill: rgba(255,255,255,1);
}
.Path_4910 {
	overflow: visible;
	position: absolute;
	width: 8.417px;
	height: 8.417px;
	left: 28.849px;
	top: 4.897px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4911 {
	fill: rgba(255,255,255,1);
}
.Path_4911 {
	overflow: visible;
	position: absolute;
	width: 39.18px;
	height: 18.212px;
	left: 0px;
	top: 15.917px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4912 {
	fill: rgba(255,255,255,1);
}
.Path_4912 {
	overflow: visible;
	position: absolute;
	width: 8.417px;
	height: 8.417px;
	left: 1.913px;
	top: 4.897px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3036 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 110px;
	top: 514px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Poll.html;
	cursor: pointer;
}
#Total_Revenue_e {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_e {
	fill: rgba(255,255,255,1);
}
.BG_e {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_e {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#next_ea {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__ea {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1__ea {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#surface1 {
	position: absolute;
	width: 39.18px;
	height: 52.319px;
	left: 21.366px;
	top: 16.34px;
	overflow: visible;
}
#Path_4913 {
	fill: rgba(27,47,91,1);
}
.Path_4913 {
	overflow: visible;
	position: absolute;
	width: 39.18px;
	height: 27.93px;
	left: 0px;
	top: 24.389px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4914 {
	fill: rgba(27,47,91,1);
}
.Path_4914 {
	overflow: visible;
	position: absolute;
	width: 23.588px;
	height: 22.584px;
	left: 7.796px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3037 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 110px;
	top: 636px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: roletree.html;
	cursor: pointer;
}
#Total_Revenue_ea {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_eb {
	fill: rgba(255,255,255,1);
}
.BG_eb {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#next_ec {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__ed {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1__ed {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Title_eg {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#role {
	position: absolute;
	width: 39.18px;
	height: 39.2px;
	left: 21.366px;
	top: 22.9px;
	overflow: visible;
}
#Path_4915 {
	fill: rgba(27,47,91,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4915 {
	overflow: visible;
	position: absolute;
	width: 4.909px;
	height: 6.865px;
	left: 7.251px;
	top: 2.71px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4916 {
	fill: rgba(27,47,91,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4916 {
	overflow: visible;
	position: absolute;
	width: 40.18px;
	height: 40.2px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4917 {
	fill: rgba(27,47,91,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4917 {
	overflow: visible;
	position: absolute;
	width: 7.516px;
	height: 7.516px;
	left: 28.103px;
	top: 4.665px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_3_ej {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3_ej {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 408px;
	height: 63px;
	left: 100px;
	top: 175px;
}
#Search_ek {
	left: 157px;
	top: 188px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Layer_5_el {
	position: absolute;
	width: 15.317px;
	height: 15.316px;
	left: 119px;
	top: 189.842px;
	overflow: visible;
}
#Path_4630_en {
	fill: rgba(18,168,246,1);
}
.Path_4630_en {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.316px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_en {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_en {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Hunter_Zolomon_eo {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_ep {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_eq {
	fill: rgba(18,168,246,1);
}
.Path_4632_eq {
	overflow: visible;
	position: absolute;
	width: 27.081px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_er {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_er {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_es {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_es {
	position: absolute;
	overflow: visible;
	width: 10.036px;
	height: 10.037px;
	left: 48.599px;
	top: 56.468px;
}
#Path_4633_et {
	fill: rgba(255,255,255,1);
}
.Path_4633_et {
	overflow: visible;
	position: absolute;
	width: 7.711px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_eu {
	fill: rgba(18,168,246,1);
}
.Path_4634_eu {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.496px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_ev {
	fill: rgba(255,255,255,1);
}
.Path_4635_ev {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.034px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_ey {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.57px;
	overflow: visible;
}
#Group_55_ex {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_ey {
	fill: rgba(18,168,246,1);
}
.Path_4636_ey {
	overflow: visible;
	position: absolute;
	width: 39.651px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_ez {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.298px;
	top: 75.962px;
	overflow: visible;
}
#Path_4637_ea {
	fill: rgba(18,26,80,1);
}
.Path_4637_ea {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_ea {
	fill: rgba(18,26,80,1);
}
.Path_4638_ea {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_ea {
	fill: rgba(255,255,255,1);
}
.Path_4639_ea {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.244px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_ea {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_ea {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.404px;
}
#Group_3056_ea {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_ea {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_ea {
	fill: rgba(27,47,91,1);
}
.home_ea {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_ea {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_ea {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_e {
	fill: rgba(27,47,91,1);
}
.Path_4640_e {
	overflow: visible;
	position: absolute;
	width: 13.456px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_ea {
	fill: rgba(27,47,91,1);
}
.Path_4641_ea {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.386px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_eb {
	fill: rgba(27,47,91,1);
}
.Path_4642_eb {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_ec {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__ed {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_ee {
	fill: rgba(27,47,91,1);
}
.Path_4643_ee {
	overflow: visible;
	position: absolute;
	width: 13.946px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_ef {
	fill: rgba(27,47,91,1);
}
.Path_4644_ef {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.12px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_eg {
	fill: rgba(27,47,91,1);
}
.Path_4646_eg {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_eh {
	fill: rgba(27,47,91,1);
}
.Path_4647_eh {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_ei {
	fill: rgba(27,47,91,1);
}
.Path_4648_ei {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_ej {
	fill: rgba(27,47,91,1);
}
.Path_4649_ej {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_ek {
	fill: rgba(27,47,91,1);
}
.Path_4651_ek {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_el {
	fill: rgba(27,47,91,1);
}
.Path_4653_el {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 622.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_em {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_en {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_eo {
	fill: rgba(27,47,91,1);
}
.Path_4650_eo {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.926px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_ep {
	fill: rgba(27,47,91,1);
}
.Path_4652_ep {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_eq {
	fill: rgba(27,47,91,1);
}
.Path_4654_eq {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_er {
	fill: rgba(248,248,248,1);
}
.Rectangle_2_er {
	position: absolute;
	overflow: visible;
	width: 238px;
	height: 37px;
	left: 896px;
	top: 43px;
}
#Group_3060_et {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
}
#Employee_Management__eu {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Group_63_ev {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_ew {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_ey {
	fill: rgba(18,168,246,1);
}
.Path_4662_ey {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_ez {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_ez {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_e {
	fill: rgba(18,168,246,1);
}
.Path_4663_e {
	overflow: visible;
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_ea {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_ea {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_ea {
	fill: rgba(18,168,246,1);
}
.Path_4664_ea {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_ea {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_ea {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_ea {
	fill: rgba(18,168,246,1);
}
.Path_4665_ea {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_ea {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_ea {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_ea {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_ea {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_eb {
	fill: rgba(27,47,91,1);
}
.Path_4680_eb {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.102px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_ec {
	fill: rgba(27,47,91,1);
}
.Path_4681_ec {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_ed {
	fill: rgba(27,47,91,1);
}
.Path_4682_ed {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_ee {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_ef {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}
#Group_3062_eg {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_eh {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_ei {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_ej {
	fill: rgba(27,47,91,1);
}
.Path_4688_ej {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}