.mediaViewInfo {
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Home;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Home {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Scroll_Group_11 {
	mix-blend-mode: normal;
	position: absolute;
	width: 1919px;
	height: 1080.978px;
	left: 0.5px;
	top: -0.489px;
	overflow: hidden;
}
#n_453905ed50dee697a2c790a409e8 {
	filter: blur(0px);
	position: absolute;
	width: 1955px;
	height: 1302.978px;
	left: -18px;
	top: -108px;
	overflow: visible;
}
#Rectangle_719 {
	fill: rgba(203,203,203,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_719 {
	mix-blend-mode: hard-light;
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#Rectangle_720 {
	fill: rgba(190,190,190,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_720 {
	mix-blend-mode: overlay;
	position: absolute;
	overflow: visible;
	width: 1776px;
	height: 734px;
	left: 38px;
	top: 223px;
}
#Good_morning_Hunter_Zolomon_ {
	filter: drop-shadow(1px 3px 10px rgba(0, 0, 0, 0.078));
	left: 507px;
	top: 123px;
	position: absolute;
	overflow: visible;
	width: 908px;
	white-space: nowrap;
	text-align: left;
	font-family: Adobe Fan Heiti Std;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(18,168,246,1);
}
#n_111_AM {
	left: 20px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Adobe Fan Heiti Std;
	font-style: normal;
	font-weight: normal;
	font-size: 53px;
	color: rgba(27,47,91,1);
}
#Mon_15_May_2021 {
	left: 30px;
	top: 91px;
	position: absolute;
	overflow: visible;
	width: 186px;
	white-space: nowrap;
	text-align: left;
	font-family: Adobe Fan Heiti Std;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Rectangle_586 {
	fill: rgba(255,255,255,1);
}
.Rectangle_586 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.11));
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 113px;
	left: 38px;
	top: 223px;
}
#Home_enq {
	left: 100.314px;
	top: 246.5px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Adobe Fan Heiti Std;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(105,158,238,1);
}
#home_enr {
	fill: rgba(105,158,238,1);
}
.home_enr {
	overflow: visible;
	position: absolute;
	width: 32.256px;
	height: 32.259px;
	left: 62.686px;
	top: 248.37px;
	transform: matrix(1,0,0,1,0,0);
}
#clock_ens {
	position: absolute;
	width: 51.718px;
	height: 51.718px;
	left: 983.075px;
	top: 701.018px;
	overflow: visible;
}
#Group_347 {
	position: absolute;
	width: 51.718px;
	height: 51.718px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4850 {
	fill: rgba(255,88,118,1);
}
.Path_4850 {
	overflow: visible;
	position: absolute;
	width: 51.718px;
	height: 50.78px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4851 {
	fill: rgba(230,72,93,1);
}
.Path_4851 {
	overflow: visible;
	position: absolute;
	width: 51.718px;
	height: 26.798px;
	left: 0px;
	top: 24.921px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4852 {
	fill: rgba(228,238,249,1);
}
.Path_4852 {
	overflow: visible;
	position: absolute;
	width: 43.117px;
	height: 41.783px;
	left: 4.3px;
	top: 4.281px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4853 {
	fill: rgba(213,224,242,1);
}
.Path_4853 {
	overflow: visible;
	position: absolute;
	width: 43.156px;
	height: 22.516px;
	left: 4.281px;
	top: 24.921px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4854 {
	fill: rgba(64,91,108,1);
}
.Path_4854 {
	overflow: visible;
	position: absolute;
	width: 6.348px;
	height: 6.529px;
	left: 27.815px;
	top: 17.838px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4855 {
	fill: rgba(64,91,108,1);
}
.Path_4855 {
	overflow: visible;
	position: absolute;
	width: 10.928px;
	height: 10.295px;
	left: 12.717px;
	top: 14.353px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4856 {
	fill: rgba(134,220,255,1);
}
.Path_4856 {
	overflow: visible;
	position: absolute;
	width: 11.471px;
	height: 9.885px;
	left: 26.245px;
	top: 26.058px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4857 {
	fill: rgba(45,68,86,1);
}
.Path_4857 {
	overflow: visible;
	position: absolute;
	width: 3.336px;
	height: 3.783px;
	left: 21.728px;
	top: 22.167px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4858 {
	fill: rgba(45,68,86,1);
}
.Path_4858 {
	overflow: visible;
	position: absolute;
	width: 3.325px;
	height: 3.73px;
	left: 26.573px;
	top: 22.024px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4859 {
	fill: rgba(255,88,118,1);
}
.Path_4859 {
	overflow: visible;
	position: absolute;
	width: 5.062px;
	height: 4.407px;
	left: 23.328px;
	top: 23.186px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4860 {
	fill: rgba(230,72,93,1);
}
.Path_4860 {
	overflow: visible;
	position: absolute;
	width: 5.346px;
	height: 3.611px;
	left: 23.186px;
	top: 24.921px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_348 {
	position: absolute;
	width: 39.235px;
	height: 39.235px;
	left: 6.241px;
	top: 6.241px;
	overflow: visible;
}
#Path_4861 {
	fill: rgba(64,91,108,1);
}
.Path_4861 {
	overflow: visible;
	position: absolute;
	width: 1.567px;
	height: 3.994px;
	left: 18.834px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4862 {
	fill: rgba(64,91,108,1);
}
.Path_4862 {
	overflow: visible;
	position: absolute;
	width: 1.567px;
	height: 3.994px;
	left: 18.834px;
	top: 35.241px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4863 {
	fill: rgba(64,91,108,1);
}
.Path_4863 {
	overflow: visible;
	position: absolute;
	width: 3.994px;
	height: 1.567px;
	left: 35.241px;
	top: 18.834px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4864 {
	fill: rgba(64,91,108,1);
}
.Path_4864 {
	overflow: visible;
	position: absolute;
	width: 3.994px;
	height: 1.567px;
	left: 0px;
	top: 18.834px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_588 {
	fill: rgba(255,72,72,1);
}
.Rectangle_588 {
	position: absolute;
	overflow: visible;
	width: 203px;
	height: 72px;
	left: 0px;
	top: 1008px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Login.html;
	cursor: pointer;
}
#Logout {
	left: 16px;
	top: 1020px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Login.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#exit_eod {
	fill: url(#exit_eod);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.exit_eod {
	overflow: visible;
	position: absolute;
	width: 34.087px;
	height: 34.088px;
	left: 155.962px;
	top: 1027.456px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Login.html;
	cursor: pointer;
}
#Group_3052 {
	position: absolute;
	width: 282px;
	height: 282px;
	left: 819px;
	top: 280px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Rectangle_603_eof {
	fill: rgba(255,255,255,1);
}
.Rectangle_603_eof {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 312px;
	height: 312px;
	left: 0px;
	top: 0px;
}
#Icons {
	position: absolute;
	width: 131.758px;
	height: 131.758px;
	left: 79.121px;
	top: 41.035px;
	overflow: visible;
}
#Group_343 {
	position: absolute;
	width: 131.758px;
	height: 131.758px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_316 {
	position: absolute;
	width: 131.758px;
	height: 75.29px;
	left: 0px;
	top: 56.468px;
	overflow: visible;
}
#Path_4735 {
	fill: rgba(240,240,240,1);
}
.Path_4735 {
	overflow: visible;
	position: absolute;
	width: 131.758px;
	height: 75.29px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_317 {
	position: absolute;
	width: 49px;
	height: 18.823px;
	left: 0px;
	top: 37.645px;
	overflow: visible;
}
#Path_4736 {
	fill: rgba(100,200,240,1);
}
.Path_4736 {
	overflow: visible;
	position: absolute;
	width: 49px;
	height: 18.823px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_318 {
	position: absolute;
	width: 49.002px;
	height: 18.823px;
	left: 82.756px;
	top: 37.645px;
	overflow: visible;
}
#Path_4737 {
	fill: rgba(100,200,240,1);
}
.Path_4737 {
	overflow: visible;
	position: absolute;
	width: 49.002px;
	height: 18.823px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_319 {
	position: absolute;
	width: 47.056px;
	height: 4.706px;
	left: 65.879px;
	top: 65.879px;
	overflow: visible;
}
#Path_4738_eop {
	fill: rgba(210,210,210,1);
}
.Path_4738_eop {
	overflow: visible;
	position: absolute;
	width: 47.056px;
	height: 4.706px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_320 {
	position: absolute;
	width: 37.645px;
	height: 4.706px;
	left: 65.879px;
	top: 75.29px;
	overflow: visible;
}
#Path_4739 {
	fill: rgba(210,210,210,1);
}
.Path_4739 {
	overflow: visible;
	position: absolute;
	width: 37.645px;
	height: 4.706px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_321 {
	position: absolute;
	width: 18.823px;
	height: 4.706px;
	left: 65.879px;
	top: 84.701px;
	overflow: visible;
}
#Path_4740 {
	fill: rgba(210,210,210,1);
}
.Path_4740 {
	overflow: visible;
	position: absolute;
	width: 18.823px;
	height: 4.706px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_322 {
	position: absolute;
	width: 9.411px;
	height: 75.29px;
	left: 0px;
	top: 56.468px;
	overflow: visible;
}
#Path_4741 {
	fill: rgba(210,210,210,1);
}
.Path_4741 {
	overflow: visible;
	position: absolute;
	width: 9.411px;
	height: 75.29px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_323 {
	position: absolute;
	width: 9.411px;
	height: 18.823px;
	left: 0px;
	top: 37.645px;
	overflow: visible;
}
#Path_4742 {
	fill: rgba(70,170,210,1);
}
.Path_4742 {
	overflow: visible;
	position: absolute;
	width: 9.411px;
	height: 18.823px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_324 {
	position: absolute;
	width: 4.706px;
	height: 4.706px;
	left: 9.411px;
	top: 47.056px;
	overflow: visible;
}
#Path_4743 {
	fill: rgba(80,80,80,1);
}
.Path_4743 {
	overflow: visible;
	position: absolute;
	width: 4.706px;
	height: 4.706px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_325 {
	position: absolute;
	width: 4.706px;
	height: 4.706px;
	left: 18.822px;
	top: 47.056px;
	overflow: visible;
}
#Path_4744 {
	fill: rgba(80,80,80,1);
}
.Path_4744 {
	overflow: visible;
	position: absolute;
	width: 4.706px;
	height: 4.706px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_326 {
	position: absolute;
	width: 4.706px;
	height: 4.706px;
	left: 28.234px;
	top: 47.056px;
	overflow: visible;
}
#Path_4745_eo {
	fill: rgba(80,80,80,1);
}
.Path_4745_eo {
	overflow: visible;
	position: absolute;
	width: 4.706px;
	height: 4.706px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_327 {
	position: absolute;
	width: 37.645px;
	height: 37.645px;
	left: 18.822px;
	top: 65.879px;
	overflow: visible;
}
#Path_4746_eo {
	fill: rgba(250,100,80,1);
}
.Path_4746_eo {
	overflow: visible;
	position: absolute;
	width: 37.645px;
	height: 37.645px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_328 {
	position: absolute;
	width: 33.511px;
	height: 18.823px;
	left: 18.822px;
	top: 84.701px;
	overflow: visible;
}
#Path_4747_eo {
	fill: rgba(100,200,240,1);
}
.Path_4747_eo {
	overflow: visible;
	position: absolute;
	width: 33.511px;
	height: 18.823px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_329 {
	position: absolute;
	width: 18.823px;
	height: 20.164px;
	left: 37.645px;
	top: 76.29px;
	overflow: visible;
}
#Path_4748_eo {
	fill: rgba(250,180,0,1);
}
.Path_4748_eo {
	overflow: visible;
	position: absolute;
	width: 18.823px;
	height: 20.164px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_330 {
	position: absolute;
	width: 9.411px;
	height: 23.528px;
	left: 65.879px;
	top: 94.113px;
	overflow: visible;
}
#Path_4749_epb {
	fill: rgba(250,100,80,1);
}
.Path_4749_epb {
	overflow: visible;
	position: absolute;
	width: 9.411px;
	height: 23.528px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_331 {
	position: absolute;
	width: 9.411px;
	height: 18.823px;
	left: 79.996px;
	top: 98.818px;
	overflow: visible;
}
#Path_4750_epd {
	fill: rgba(100,200,240,1);
}
.Path_4750_epd {
	overflow: visible;
	position: absolute;
	width: 9.411px;
	height: 18.823px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_332 {
	position: absolute;
	width: 9.411px;
	height: 9.411px;
	left: 94.113px;
	top: 108.23px;
	overflow: visible;
}
#Path_4751_epf {
	fill: rgba(250,180,0,1);
}
.Path_4751_epf {
	overflow: visible;
	position: absolute;
	width: 9.411px;
	height: 9.411px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_333 {
	position: absolute;
	width: 4.706px;
	height: 4.706px;
	left: 25.881px;
	top: 112.935px;
	overflow: visible;
}
#Path_4752_eph {
	fill: rgba(210,210,210,1);
}
.Path_4752_eph {
	overflow: visible;
	position: absolute;
	width: 4.706px;
	height: 4.706px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_334 {
	position: absolute;
	width: 4.706px;
	height: 4.706px;
	left: 35.292px;
	top: 112.935px;
	overflow: visible;
}
#Path_4753_epj {
	fill: rgba(210,210,210,1);
}
.Path_4753_epj {
	overflow: visible;
	position: absolute;
	width: 4.706px;
	height: 4.706px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_335 {
	position: absolute;
	width: 4.706px;
	height: 4.706px;
	left: 44.704px;
	top: 112.935px;
	overflow: visible;
}
#Path_4754_epl {
	fill: rgba(210,210,210,1);
}
.Path_4754_epl {
	overflow: visible;
	position: absolute;
	width: 4.706px;
	height: 4.706px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_336 {
	position: absolute;
	width: 56.468px;
	height: 56.468px;
	left: 37.645px;
	top: 0px;
	overflow: visible;
}
#Path_4755_epn {
	fill: rgba(250,100,80,1);
}
.Path_4755_epn {
	overflow: visible;
	position: absolute;
	width: 56.468px;
	height: 56.468px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_337 {
	position: absolute;
	width: 30.587px;
	height: 56.468px;
	left: 37.645px;
	top: 0px;
	overflow: visible;
}
#Path_4756_epp {
	fill: rgba(220,70,50,1);
}
.Path_4756_epp {
	overflow: visible;
	position: absolute;
	width: 30.586px;
	height: 56.468px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_338 {
	position: absolute;
	width: 37.645px;
	height: 37.645px;
	left: 47.056px;
	top: 9.411px;
	overflow: visible;
}
#Path_4757_epr {
	fill: rgba(240,240,240,1);
}
.Path_4757_epr {
	overflow: visible;
	position: absolute;
	width: 37.645px;
	height: 37.645px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_339 {
	position: absolute;
	width: 28.234px;
	height: 14.117px;
	left: 51.762px;
	top: 14.117px;
	overflow: visible;
}
#Path_4758_ept {
	fill: rgba(100,200,240,1);
}
.Path_4758_ept {
	overflow: visible;
	position: absolute;
	width: 28.234px;
	height: 14.117px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_340 {
	position: absolute;
	width: 14.117px;
	height: 14.117px;
	left: 65.879px;
	top: 14.117px;
	overflow: visible;
}
#Path_4759_epv {
	fill: rgba(60,200,180,1);
}
.Path_4759_epv {
	overflow: visible;
	position: absolute;
	width: 14.117px;
	height: 14.117px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_341 {
	position: absolute;
	width: 9.609px;
	height: 11.356px;
	left: 61.149px;
	top: 22.713px;
	overflow: visible;
}
#Ellipse_341 {
	fill: rgba(80,80,80,1);
}
.Ellipse_341 {
	position: absolute;
	overflow: visible;
	width: 9.609px;
	height: 11.356px;
	left: 0px;
	top: 0px;
}
#Group_342 {
	position: absolute;
	width: 11.766px;
	height: 7.059px;
	left: 64.7px;
	top: 22.352px;
	overflow: visible;
}
#Path_4760_epz {
	fill: rgba(80,80,80,1);
}
.Path_4760_epz {
	overflow: visible;
	position: absolute;
	width: 11.766px;
	height: 7.058px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Statistic_ep {
	left: 75px;
	top: 206px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(27,47,91,1);
}
#Group_3051 {
	position: absolute;
	width: 282px;
	height: 282px;
	left: 1286px;
	top: 280px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Rectangle_604_ep {
	fill: rgba(255,255,255,1);
}
.Rectangle_604_ep {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 312px;
	height: 312px;
	left: 0px;
	top: 0px;
}
#Flat {
	mix-blend-mode: normal;
	position: absolute;
	width: 126.437px;
	height: 131.758px;
	left: 77.782px;
	top: 41.035px;
	overflow: visible;
}
#Group_345 {
	position: absolute;
	width: 126.437px;
	height: 131.758px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_587 {
	fill: rgba(0,147,185,1);
}
.Rectangle_587 {
	position: absolute;
	overflow: visible;
	width: 77.241px;
	height: 107.117px;
	left: 32.062px;
	top: 8.744px;
}
#Path_4761_ep {
	fill: rgba(227,228,226,1);
}
.Path_4761_ep {
	overflow: visible;
	position: absolute;
	width: 59.064px;
	height: 88.596px;
	left: 40.89px;
	top: 18.173px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4762 {
	fill: rgba(87,195,193,1);
}
.Path_4762 {
	overflow: visible;
	position: absolute;
	width: 31.804px;
	height: 18.173px;
	left: 54.521px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_344 {
	position: absolute;
	width: 45.434px;
	height: 34.075px;
	left: 47.706px;
	top: 24.989px;
	overflow: visible;
}
#Path_4763 {
	fill: rgba(178,177,180,1);
}
.Path_4763 {
	overflow: visible;
	position: absolute;
	width: 13.63px;
	height: 13.63px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4764 {
	fill: rgba(178,177,180,1);
}
.Path_4764 {
	overflow: visible;
	position: absolute;
	width: 13.63px;
	height: 13.63px;
	left: 0px;
	top: 20.445px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4765 {
	fill: rgba(178,177,180,1);
}
.Path_4765 {
	overflow: visible;
	position: absolute;
	width: 4.543px;
	height: 4.543px;
	left: 18.173px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4766 {
	fill: rgba(178,177,180,1);
}
.Path_4766 {
	overflow: visible;
	position: absolute;
	width: 27.26px;
	height: 4.543px;
	left: 18.173px;
	top: 9.087px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4767 {
	fill: rgba(178,177,180,1);
}
.Path_4767 {
	overflow: visible;
	position: absolute;
	width: 18.173px;
	height: 4.543px;
	left: 27.26px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4768 {
	fill: rgba(178,177,180,1);
}
.Path_4768 {
	overflow: visible;
	position: absolute;
	width: 4.543px;
	height: 4.543px;
	left: 18.173px;
	top: 20.445px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4769 {
	fill: rgba(178,177,180,1);
}
.Path_4769 {
	overflow: visible;
	position: absolute;
	width: 27.26px;
	height: 4.543px;
	left: 18.173px;
	top: 29.532px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4770 {
	fill: rgba(178,177,180,1);
}
.Path_4770 {
	overflow: visible;
	position: absolute;
	width: 18.173px;
	height: 4.543px;
	left: 27.26px;
	top: 20.445px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4771 {
	fill: rgba(248,188,30,1);
}
.Path_4771 {
	overflow: visible;
	position: absolute;
	width: 81.781px;
	height: 72.694px;
	left: 0px;
	top: 59.064px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4772_eqi {
	fill: rgba(249,218,98,1);
}
.Path_4772_eqi {
	overflow: visible;
	position: absolute;
	width: 13.63px;
	height: 13.63px;
	left: 54.521px;
	top: 95.411px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4773_eqj {
	fill: rgba(245,169,34,1);
}
.Path_4773_eqj {
	overflow: visible;
	position: absolute;
	width: 38.619px;
	height: 34.075px;
	left: 43.162px;
	top: 97.682px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4774_eqk {
	fill: rgba(247,151,38,1);
}
.Path_4774_eqk {
	overflow: visible;
	position: absolute;
	width: 4.543px;
	height: 4.543px;
	left: 70.422px;
	top: 120.399px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4775_eql {
	fill: rgba(249,218,98,1);
}
.Path_4775_eql {
	overflow: visible;
	position: absolute;
	width: 13.63px;
	height: 13.63px;
	left: 13.63px;
	top: 95.411px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4776_eqm {
	fill: rgba(245,169,34,1);
}
.Path_4776_eqm {
	overflow: visible;
	position: absolute;
	width: 38.619px;
	height: 34.075px;
	left: 2.272px;
	top: 97.682px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4777_eqn {
	fill: rgba(247,151,38,1);
}
.Path_4777_eqn {
	overflow: visible;
	position: absolute;
	width: 4.543px;
	height: 4.543px;
	left: 29.532px;
	top: 120.399px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4778_eqo {
	fill: rgba(249,218,98,1);
}
.Path_4778_eqo {
	overflow: visible;
	position: absolute;
	width: 13.63px;
	height: 13.63px;
	left: 13.63px;
	top: 59.064px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4779_eqp {
	fill: rgba(245,169,34,1);
}
.Path_4779_eqp {
	overflow: visible;
	position: absolute;
	width: 38.619px;
	height: 34.075px;
	left: 2.272px;
	top: 61.336px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4780_eqq {
	fill: rgba(247,151,38,1);
}
.Path_4780_eqq {
	overflow: visible;
	position: absolute;
	width: 4.543px;
	height: 4.543px;
	left: 29.532px;
	top: 84.052px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4781_eqr {
	fill: rgba(248,188,30,1);
}
.Path_4781_eqr {
	overflow: visible;
	position: absolute;
	width: 74.188px;
	height: 27.13px;
	left: 52.249px;
	top: 58.671px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4782_eqs {
	fill: rgba(247,151,38,1);
}
.Path_4782_eqs {
	overflow: visible;
	position: absolute;
	width: 20.334px;
	height: 26.77px;
	left: 96.855px;
	top: 60.145px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4783_eqt {
	fill: rgba(247,151,38,1);
}
.Path_4783_eqt {
	overflow: visible;
	position: absolute;
	width: 4.543px;
	height: 9.087px;
	transform: translate(0px, 0px) matrix(1.0001,0,0,1.0001,71.7671,72.9653) rotate(-16.677deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Inventory_ {
	left: 60px;
	top: 206px;
	position: absolute;
	overflow: visible;
	width: 163px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(27,47,91,1);
}
#Group_3054 {
	position: absolute;
	width: 282px;
	height: 282px;
	left: 355px;
	top: 619px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Rectangle_605 {
	fill: rgba(255,255,255,1);
}
.Rectangle_605 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 312px;
	height: 312px;
	left: 0px;
	top: 0px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Flat_eqx {
	position: absolute;
	width: 131.965px;
	height: 131.965px;
	left: 75.018px;
	top: 40.828px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Path_4784_eqy {
	fill: rgba(77,94,120,1);
}
.Path_4784_eqy {
	overflow: visible;
	position: absolute;
	width: 50.056px;
	height: 84.184px;
	left: 81.909px;
	top: 47.78px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4785_eqz {
	fill: rgba(72,88,112,1);
}
.Path_4785_eqz {
	overflow: visible;
	position: absolute;
	width: 40.955px;
	height: 77.524px;
	left: 91.01px;
	top: 54.441px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4786_eq {
	fill: rgba(224,224,222,1);
}
.Path_4786_eq {
	overflow: visible;
	position: absolute;
	width: 13.651px;
	height: 11.376px;
	left: 100.111px;
	top: 47.78px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_346 {
	position: absolute;
	width: 36.404px;
	height: 38.679px;
	left: 88.735px;
	top: 59.157px;
	overflow: visible;
}
#Path_4787_eq {
	fill: rgba(64,79,102,1);
}
.Path_4787_eq {
	overflow: visible;
	position: absolute;
	width: 4.55px;
	height: 38.679px;
	left: 15.927px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4788_eq {
	fill: rgba(64,79,102,1);
}
.Path_4788_eq {
	overflow: visible;
	position: absolute;
	width: 9.101px;
	height: 4.551px;
	left: 25.028px;
	top: 4.551px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4789_eq {
	fill: rgba(64,79,102,1);
}
.Path_4789_eq {
	overflow: visible;
	position: absolute;
	width: 9.101px;
	height: 4.551px;
	left: 2.275px;
	top: 4.551px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4790_eq {
	fill: rgba(64,79,102,1);
}
.Path_4790_eq {
	overflow: visible;
	position: absolute;
	width: 4.55px;
	height: 25.028px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4791_eq {
	fill: rgba(64,79,102,1);
}
.Path_4791_eq {
	overflow: visible;
	position: absolute;
	width: 4.55px;
	height: 25.028px;
	left: 31.854px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4792_eq {
	fill: rgba(254,201,163,1);
}
.Path_4792_eq {
	overflow: visible;
	position: absolute;
	width: 31.854px;
	height: 38.679px;
	left: 91.052px;
	top: 9.101px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4793_eq {
	fill: rgba(64,79,102,1);
}
.Path_4793_eq {
	overflow: visible;
	position: absolute;
	width: 31.854px;
	height: 18.202px;
	left: 91.01px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4794_eq {
	fill: rgba(77,94,120,1);
}
.Path_4794_eq {
	overflow: visible;
	position: absolute;
	width: 36.404px;
	height: 9.101px;
	left: 88.735px;
	top: 15.927px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4795_era {
	fill: rgba(247,173,124,1);
}
.Path_4795_era {
	overflow: visible;
	position: absolute;
	width: 13.651px;
	height: 6.826px;
	left: 100.111px;
	top: 34.129px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4796_erb {
	fill: rgba(146,86,58,1);
}
.Path_4796_erb {
	overflow: visible;
	position: absolute;
	width: 4.55px;
	height: 4.551px;
	left: 97.836px;
	top: 25.028px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4797_erc {
	fill: rgba(146,86,58,1);
}
.Path_4797_erc {
	overflow: visible;
	position: absolute;
	width: 4.55px;
	height: 4.551px;
	left: 111.487px;
	top: 25.028px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4798_erd {
	fill: rgba(64,79,102,1);
}
.Path_4798_erd {
	overflow: visible;
	position: absolute;
	width: 31.854px;
	height: 4.551px;
	left: 91.01px;
	top: 97.836px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4799_ere {
	fill: rgba(254,183,132,1);
}
.Path_4799_ere {
	overflow: visible;
	position: absolute;
	width: 31.854px;
	height: 11.376px;
	left: 100.111px;
	top: 65.982px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4800_erf {
	fill: rgba(254,201,163,1);
}
.Path_4800_erf {
	overflow: visible;
	position: absolute;
	width: 50.056px;
	height: 15.927px;
	left: 81.909px;
	top: 72.808px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4801 {
	fill: rgba(254,192,147,1);
}
.Path_4801 {
	overflow: visible;
	position: absolute;
	width: 11.376px;
	height: 25.028px;
	left: 0px;
	top: 61.432px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4802 {
	fill: rgba(146,86,58,1);
}
.Path_4802 {
	overflow: visible;
	position: absolute;
	width: 38.679px;
	height: 54.606px;
	left: 4.55px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4803 {
	fill: rgba(254,201,163,1);
}
.Path_4803 {
	overflow: visible;
	position: absolute;
	width: 31.854px;
	height: 36.404px;
	left: 9.143px;
	top: 9.101px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4804 {
	fill: rgba(146,86,58,1);
}
.Path_4804 {
	overflow: visible;
	position: absolute;
	width: 38.679px;
	height: 27.303px;
	left: 4.55px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4805 {
	fill: rgba(254,201,163,1);
}
.Path_4805 {
	overflow: visible;
	position: absolute;
	width: 13.651px;
	height: 13.651px;
	left: 11.376px;
	top: 118.313px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4806 {
	fill: rgba(254,201,163,1);
}
.Path_4806 {
	overflow: visible;
	position: absolute;
	width: 13.651px;
	height: 13.651px;
	left: 25.028px;
	top: 118.313px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4807 {
	fill: rgba(245,152,152,1);
}
.Path_4807 {
	overflow: visible;
	position: absolute;
	width: 35.196px;
	height: 20.477px;
	left: 7.429px;
	top: 56.881px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4808_ern {
	fill: rgba(245,152,152,1);
}
.Path_4808_ern {
	overflow: visible;
	position: absolute;
	width: 50.056px;
	height: 31.854px;
	left: 0px;
	top: 45.505px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4809_ero {
	fill: rgba(245,152,152,1);
}
.Path_4809_ero {
	overflow: visible;
	position: absolute;
	width: 40.955px;
	height: 40.955px;
	left: 4.55px;
	top: 77.359px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4810_erp {
	fill: rgba(237,145,145,1);
}
.Path_4810_erp {
	overflow: visible;
	position: absolute;
	width: 40.955px;
	height: 40.955px;
	left: 4.55px;
	top: 77.359px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4811 {
	fill: rgba(237,145,145,1);
}
.Path_4811 {
	overflow: visible;
	position: absolute;
	width: 32.067px;
	height: 29.792px;
	left: 17.989px;
	top: 47.567px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4812 {
	fill: rgba(254,201,163,1);
}
.Path_4812 {
	overflow: visible;
	position: absolute;
	width: 11.376px;
	height: 43.23px;
	left: 38.679px;
	top: 61.432px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4813_ers {
	fill: rgba(254,201,163,1);
}
.Path_4813_ers {
	overflow: visible;
	position: absolute;
	width: 18.202px;
	height: 18.202px;
	left: 15.927px;
	top: 45.505px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4814_ert {
	fill: rgba(247,173,124,1);
}
.Path_4814_ert {
	overflow: visible;
	position: absolute;
	width: 13.651px;
	height: 6.826px;
	left: 18.244px;
	top: 31.854px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4815_eru {
	fill: rgba(146,86,58,1);
}
.Path_4815_eru {
	overflow: visible;
	position: absolute;
	width: 4.551px;
	height: 4.551px;
	left: 15.969px;
	top: 22.753px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4816 {
	fill: rgba(146,86,58,1);
}
.Path_4816 {
	overflow: visible;
	position: absolute;
	width: 4.551px;
	height: 4.551px;
	left: 29.62px;
	top: 22.753px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4817 {
	fill: rgba(255,181,49,1);
}
.Path_4817 {
	overflow: visible;
	position: absolute;
	width: 29.578px;
	height: 36.404px;
	left: 11.376px;
	top: 61.432px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4818 {
	fill: rgba(254,201,163,1);
}
.Path_4818 {
	overflow: visible;
	position: absolute;
	width: 40.955px;
	height: 18.202px;
	left: 0px;
	top: 70.533px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4819 {
	fill: rgba(254,201,163,1);
}
.Path_4819 {
	overflow: visible;
	position: absolute;
	width: 31.854px;
	height: 38.679px;
	left: 50.056px;
	top: 6.826px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4820 {
	fill: rgba(249,133,0,1);
}
.Path_4820 {
	overflow: visible;
	position: absolute;
	width: 34.169px;
	height: 22.753px;
	left: 47.74px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4821 {
	fill: rgba(207,207,205,1);
}
.Path_4821 {
	overflow: visible;
	position: absolute;
	width: 50.056px;
	height: 50.056px;
	left: 40.955px;
	top: 45.505px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4822 {
	fill: rgba(199,199,197,1);
}
.Path_4822 {
	overflow: visible;
	position: absolute;
	width: 40.955px;
	height: 44.163px;
	left: 50.056px;
	top: 51.398px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4823_er {
	fill: rgba(247,173,124,1);
}
.Path_4823_er {
	overflow: visible;
	position: absolute;
	width: 13.651px;
	height: 6.826px;
	left: 59.157px;
	top: 29.578px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4824_er {
	fill: rgba(146,86,58,1);
}
.Path_4824_er {
	overflow: visible;
	position: absolute;
	width: 4.55px;
	height: 4.551px;
	left: 56.881px;
	top: 20.477px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4825_er {
	fill: rgba(146,86,58,1);
}
.Path_4825_er {
	overflow: visible;
	position: absolute;
	width: 4.55px;
	height: 4.551px;
	left: 70.533px;
	top: 20.477px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4826_er {
	fill: rgba(176,176,174,1);
}
.Path_4826_er {
	overflow: visible;
	position: absolute;
	width: 4.55px;
	height: 25.028px;
	left: 47.78px;
	top: 56.881px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4827_er {
	fill: rgba(176,176,174,1);
}
.Path_4827_er {
	overflow: visible;
	position: absolute;
	width: 4.55px;
	height: 25.028px;
	left: 79.634px;
	top: 56.881px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4828_er {
	fill: rgba(52,143,217,1);
}
.Path_4828_er {
	overflow: visible;
	position: absolute;
	width: 9.101px;
	height: 40.955px;
	left: 61.432px;
	top: 45.505px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4829_er {
	fill: rgba(77,94,120,1);
}
.Path_4829_er {
	overflow: visible;
	position: absolute;
	width: 31.854px;
	height: 36.404px;
	left: 50.056px;
	top: 95.561px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4830 {
	fill: rgba(219,219,217,1);
}
.Path_4830 {
	overflow: visible;
	position: absolute;
	width: 36.404px;
	height: 20.477px;
	left: 54.606px;
	top: 65.982px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4831_esa {
	fill: rgba(254,201,163,1);
}
.Path_4831_esa {
	overflow: visible;
	position: absolute;
	width: 18.202px;
	height: 11.376px;
	left: 40.955px;
	top: 63.707px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4832_esb {
	fill: rgba(224,224,222,1);
}
.Path_4832_esb {
	overflow: visible;
	position: absolute;
	width: 36.404px;
	height: 20.477px;
	left: 40.955px;
	top: 65.982px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4833_esc {
	fill: rgba(254,201,163,1);
}
.Path_4833_esc {
	overflow: visible;
	position: absolute;
	width: 18.202px;
	height: 11.376px;
	left: 72.808px;
	top: 63.707px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4834 {
	fill: rgba(254,192,147,1);
}
.Path_4834 {
	overflow: visible;
	position: absolute;
	width: 27.303px;
	height: 4.55px;
	left: 11.376px;
	top: 118.313px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4835 {
	fill: rgba(254,183,132,1);
}
.Path_4835 {
	overflow: visible;
	position: absolute;
	width: 4.55px;
	height: 13.651px;
	left: 22.752px;
	top: 118.313px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4836_esf {
	fill: rgba(72,88,112,1);
}
.Path_4836_esf {
	overflow: visible;
	position: absolute;
	width: 31.854px;
	height: 4.551px;
	left: 50.056px;
	top: 95.561px;
	transform: matrix(1,0,0,1,0,0);
}
#Employee {
	left: 63px;
	top: 201px;
	position: absolute;
	overflow: visible;
	width: 158px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(27,47,91,1);
}
#Group_3053 {
	position: absolute;
	width: 282px;
	height: 282px;
	left: 819px;
	top: 620px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Rectangle_606 {
	fill: rgba(255,255,255,1);
}
.Rectangle_606 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 312px;
	height: 312px;
	left: 0px;
	top: 0px;
}
#buy-online {
	position: absolute;
	width: 131.965px;
	height: 131.965px;
	left: 75.018px;
	top: 39.828px;
	overflow: visible;
}
#Path_4837_esk {
	fill: rgba(0,172,179,1);
}
.Path_4837_esk {
	overflow: visible;
	position: absolute;
	width: 73.988px;
	height: 24.297px;
	left: 28.988px;
	top: 107.667px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4838_esl {
	fill: rgba(0,129,134,1);
}
.Path_4838_esl {
	overflow: visible;
	position: absolute;
	width: 36.991px;
	height: 24.297px;
	left: 65.985px;
	top: 107.667px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4839_esm {
	fill: rgba(168,235,250,1);
}
.Path_4839_esm {
	overflow: visible;
	position: absolute;
	width: 32.578px;
	height: 24.297px;
	left: 49.693px;
	top: 91.103px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4840_esn {
	fill: rgba(118,226,248,1);
}
.Path_4840_esn {
	overflow: visible;
	position: absolute;
	width: 16.286px;
	height: 24.297px;
	left: 65.985px;
	top: 91.103px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4841_eso {
	fill: rgba(254,244,245,1);
}
.Path_4841_eso {
	overflow: visible;
	position: absolute;
	width: 124.232px;
	height: 91.104px;
	left: 3.866px;
	top: 3.866px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4842_esp {
	fill: rgba(213,237,237,1);
}
.Path_4842_esp {
	overflow: visible;
	position: absolute;
	width: 62.113px;
	height: 91.104px;
	left: 65.986px;
	top: 3.866px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4843 {
	fill: rgba(0,172,179,1);
}
.Path_4843 {
	overflow: visible;
	position: absolute;
	width: 131.965px;
	height: 98.837px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4844 {
	fill: rgba(0,172,179,1);
}
.Path_4844 {
	overflow: visible;
	position: absolute;
	width: 24.296px;
	height: 24.297px;
	left: 38.302px;
	top: 56.594px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4845_ess {
	fill: rgba(0,129,134,1);
}
.Path_4845_ess {
	overflow: visible;
	position: absolute;
	width: 24.296px;
	height: 24.297px;
	left: 71.431px;
	top: 56.594px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4846 {
	fill: rgba(168,235,250,1);
}
.Path_4846 {
	overflow: visible;
	position: absolute;
	width: 15.463px;
	height: 27.058px;
	left: 29.192px;
	top: 17.944px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4847 {
	fill: rgba(255,159,0,1);
}
.Path_4847 {
	overflow: visible;
	position: absolute;
	width: 65.846px;
	height: 38.651px;
	left: 36.923px;
	top: 25.675px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4848 {
	fill: rgba(0,129,134,1);
}
.Path_4848 {
	overflow: visible;
	position: absolute;
	width: 65.979px;
	height: 98.837px;
	left: 65.986px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4849 {
	fill: rgba(228,117,0,1);
}
.Path_4849 {
	overflow: visible;
	position: absolute;
	width: 36.783px;
	height: 38.651px;
	left: 65.986px;
	top: 25.675px;
	transform: matrix(1,0,0,1,0,0);
}
#Booking_esx {
	left: 85px;
	top: 204px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(27,47,91,1);
}
#Group_3050 {
	position: absolute;
	width: 282px;
	height: 282px;
	left: 1286px;
	top: 619px;
	overflow: visible;
}
#Rectangle_607_esz {
	fill: rgba(255,255,255,1);
}
.Rectangle_607_esz {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 312px;
	height: 312px;
	left: 0px;
	top: 0px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#settings {
	position: absolute;
	width: 131.966px;
	height: 131.965px;
	left: 63px;
	top: 41.894px;
	overflow: visible;
}
#Group_349 {
	position: absolute;
	width: 101.488px;
	height: 101.487px;
	left: 30.478px;
	top: 0px;
	overflow: visible;
}
#Path_4865_es {
	fill: url(#Path_4865_es);
}
.Path_4865_es {
	overflow: visible;
	position: absolute;
	width: 101.488px;
	height: 101.487px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4866_es {
	fill: url(#Path_4866_es);
}
.Path_4866_es {
	overflow: visible;
	position: absolute;
	width: 66.705px;
	height: 66.705px;
	left: 17.391px;
	top: 18.94px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4867_es {
	fill: url(#Path_4867_es);
}
.Path_4867_es {
	overflow: visible;
	position: absolute;
	width: 61.941px;
	height: 41.432px;
	left: 30.545px;
	top: 60.055px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_350 {
	position: absolute;
	width: 72.418px;
	height: 72.418px;
	left: 0px;
	top: 59.547px;
	overflow: visible;
}
#Path_4868_eta {
	fill: url(#Path_4868_eta);
}
.Path_4868_eta {
	overflow: visible;
	position: absolute;
	width: 72.417px;
	height: 72.418px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4869_etc {
	fill: url(#Path_4869_etc);
}
.Path_4869_etc {
	overflow: visible;
	position: absolute;
	width: 47.6px;
	height: 47.6px;
	left: 12.409px;
	top: 13.514px;
	transform: matrix(1,0,0,1,0,0);
}
#Setting_etd {
	left: 72px;
	top: 202px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(27,47,91,1);
}
#Rectangle_608_ete {
	fill: rgba(255,255,255,1);
}
.Rectangle_608_ete {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 151px;
	height: 77px;
	left: 1799px;
	top: 1033px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Our Reports.html;
	cursor: pointer;
}
#About_us {
	left: 1808.107px;
	top: 1045.036px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Our Reports.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#information {
	position: absolute;
	width: 21.17px;
	height: 21.17px;
	left: 1889.723px;
	top: 1043.964px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Our Reports.html;
	cursor: pointer;
}
#Group_358 {
	position: absolute;
	width: 6.285px;
	height: 6.202px;
	left: 2.481px;
	top: 7.443px;
	overflow: visible;
}
#Group_357 {
	position: absolute;
	width: 6.285px;
	height: 6.202px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4870 {
	fill: rgba(27,47,91,1);
}
.Path_4870 {
	overflow: visible;
	position: absolute;
	width: 6.285px;
	height: 6.202px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_360 {
	position: absolute;
	width: 11.164px;
	height: 11.164px;
	left: 10.006px;
	top: 0px;
	overflow: visible;
}
#Group_359 {
	position: absolute;
	width: 11.164px;
	height: 11.164px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4871 {
	fill: rgba(27,47,91,1);
}
.Path_4871 {
	overflow: visible;
	position: absolute;
	width: 11.164px;
	height: 11.164px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_362 {
	position: absolute;
	width: 11.246px;
	height: 7.733px;
	left: 0px;
	top: 13.437px;
	overflow: visible;
}
#Group_361 {
	position: absolute;
	width: 11.246px;
	height: 7.733px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4872 {
	fill: rgba(27,47,91,1);
}
.Path_4872 {
	overflow: visible;
	position: absolute;
	width: 11.247px;
	height: 7.733px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3077 {
	position: absolute;
	width: 282px;
	height: 282px;
	left: 355px;
	top: 280px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Group_3076 {
	position: absolute;
	width: 282px;
	height: 282px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_603_ets {
	fill: rgba(255,255,255,1);
}
.Rectangle_603_ets {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 312px;
	height: 312px;
	left: 0px;
	top: 0px;
}
#Group_3075 {
	position: absolute;
	width: 136.613px;
	height: 131.758px;
	left: 70.887px;
	top: 41.035px;
	overflow: visible;
}
#Path_4715 {
	fill: rgba(255,134,89,1);
}
.Path_4715 {
	overflow: visible;
	position: absolute;
	width: 29.374px;
	height: 30.365px;
	left: 53.62px;
	top: 64.038px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4716_etv {
	fill: rgba(255,65,91,1);
}
.Path_4716_etv {
	overflow: visible;
	position: absolute;
	width: 14.613px;
	height: 30.365px;
	left: 68.381px;
	top: 64.038px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4717 {
	fill: rgba(213,231,246,1);
}
.Path_4717 {
	overflow: visible;
	position: absolute;
	width: 111.924px;
	height: 72.042px;
	left: 12.345px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4718 {
	fill: rgba(189,208,224,1);
}
.Path_4718 {
	overflow: visible;
	position: absolute;
	width: 55.888px;
	height: 72.042px;
	left: 68.381px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4719 {
	fill: rgba(84,114,111,1);
}
.Path_4719 {
	overflow: visible;
	position: absolute;
	width: 136.613px;
	height: 45.36px;
	left: 0px;
	top: 86.398px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4720 {
	fill: rgba(41,57,57,1);
}
.Path_4720 {
	overflow: visible;
	position: absolute;
	width: 68.232px;
	height: 45.36px;
	left: 68.381px;
	top: 86.398px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_314 {
	position: absolute;
	width: 8.011px;
	height: 8.005px;
	left: 112.596px;
	top: 105.075px;
	overflow: visible;
}
#Path_4721 {
	fill: rgba(213,231,246,1);
}
.Path_4721 {
	overflow: visible;
	position: absolute;
	width: 8.012px;
	height: 8.005px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4722 {
	fill: rgba(247,247,247,1);
}
.Path_4722 {
	overflow: visible;
	position: absolute;
	width: 52.387px;
	height: 8.005px;
	left: 15.991px;
	top: 105.075px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4723 {
	fill: rgba(41,57,57,1);
}
.Path_4723 {
	overflow: visible;
	position: absolute;
	width: 18.964px;
	height: 8.005px;
	left: 89.438px;
	top: 48.028px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4724 {
	fill: rgba(41,57,57,1);
}
.Path_4724 {
	overflow: visible;
	position: absolute;
	width: 18.964px;
	height: 8.005px;
	left: 89.438px;
	top: 32.019px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4725 {
	fill: rgba(41,57,57,1);
}
.Path_4725 {
	overflow: visible;
	position: absolute;
	width: 18.964px;
	height: 8.005px;
	left: 89.438px;
	top: 16.009px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_315 {
	position: absolute;
	width: 40.03px;
	height: 40.023px;
	left: 28.351px;
	top: 16.009px;
	overflow: visible;
}
#Path_4726 {
	fill: rgba(84,114,111,1);
}
.Path_4726 {
	overflow: visible;
	position: absolute;
	width: 8.011px;
	height: 8.005px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4727 {
	fill: rgba(84,114,111,1);
}
.Path_4727 {
	overflow: visible;
	position: absolute;
	width: 8.011px;
	height: 8.005px;
	left: 16.009px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4728_et {
	fill: rgba(84,114,111,1);
}
.Path_4728_et {
	overflow: visible;
	position: absolute;
	width: 8.011px;
	height: 8.005px;
	left: 32.019px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4729_eua {
	fill: rgba(84,114,111,1);
}
.Path_4729_eua {
	overflow: visible;
	position: absolute;
	width: 8.011px;
	height: 8.005px;
	left: 0px;
	top: 16.009px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4730 {
	fill: rgba(84,114,111,1);
}
.Path_4730 {
	overflow: visible;
	position: absolute;
	width: 8.011px;
	height: 8.005px;
	left: 16.009px;
	top: 16.009px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4731 {
	fill: rgba(84,114,111,1);
}
.Path_4731 {
	overflow: visible;
	position: absolute;
	width: 8.011px;
	height: 8.005px;
	left: 32.019px;
	top: 16.009px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4732 {
	fill: rgba(84,114,111,1);
}
.Path_4732 {
	overflow: visible;
	position: absolute;
	width: 8.011px;
	height: 8.005px;
	left: 0px;
	top: 32.019px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4733 {
	fill: rgba(84,114,111,1);
}
.Path_4733 {
	overflow: visible;
	position: absolute;
	width: 8.011px;
	height: 8.005px;
	left: 16.009px;
	top: 32.019px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4734 {
	fill: rgba(84,114,111,1);
}
.Path_4734 {
	overflow: visible;
	position: absolute;
	width: 8.011px;
	height: 8.005px;
	left: 32.019px;
	top: 32.019px;
	transform: matrix(1,0,0,1,0,0);
}
#Cashier_eug {
	left: 74.5px;
	top: 205.5px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(27,47,91,1);
}