.mediaViewInfo {
	--web-view-name: Inventory Management ;
	--web-view-id: Inventory_Management_;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Inventory_Management_;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Inventory_Management_ {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Inventory Management ;
	--web-view-id: Inventory_Management_;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_2_coq {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_coq {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_698_cor {
	fill: rgba(248,248,248,1);
}
.Rectangle_698_cor {
	position: absolute;
	overflow: visible;
	width: 240px;
	height: 37px;
	left: 606px;
	top: 43px;
}
#Group_155 {
	position: absolute;
	width: 271px;
	height: 53px;
	left: 1636px;
	top: 127px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Rectangle_210 {
	fill: rgba(18,168,246,1);
}
.Rectangle_210 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 289px;
	height: 71px;
	left: 0px;
	top: 0px;
}
#Go_To_Inventory_ {
	left: 37px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 199px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(255,255,255,1);
}
#inventory_Analytics {
	left: 740px;
	top: 133px;
	position: absolute;
	overflow: visible;
	width: 442px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	color: rgba(27,47,91,1);
	letter-spacing: 1px;
	text-transform: uppercase;
}
#Path_9272_cow {
	fill: rgba(0,0,0,0);
	stroke: rgba(27,47,91,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_9272_cow {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 2px;
	left: 0.5px;
	top: 204.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Inventory_Activity_Today {
	left: 55px;
	top: 221px;
	position: absolute;
	overflow: visible;
	width: 349px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Rectangle_657 {
	fill: rgba(255,255,255,1);
}
.Rectangle_657 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 269px;
	height: 200px;
	left: 106px;
	top: 288px;
}
#n_0_coz {
	left: 172px;
	top: 297px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 88px;
	color: rgba(18,168,246,1);
}
#Completed {
	left: 193px;
	top: 411px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(27,47,91,1);
}
#check {
	position: absolute;
	width: 17.573px;
	height: 17.573px;
	left: 170px;
	top: 414.305px;
	overflow: visible;
}
#Path_9295 {
	fill: rgba(27,47,91,1);
}
.Path_9295 {
	overflow: visible;
	position: absolute;
	width: 17.573px;
	height: 17.573px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9296 {
	fill: rgba(250,250,250,1);
}
.Path_9296 {
	overflow: visible;
	position: absolute;
	width: 8.604px;
	height: 6.224px;
	left: 4.851px;
	top: 5.675px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_658 {
	fill: rgba(255,255,255,1);
}
.Rectangle_658 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 269px;
	height: 200px;
	left: 385px;
	top: 288px;
}
#n_5_co {
	left: 456px;
	top: 297px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 88px;
	color: rgba(135,138,56,1);
}
#Pending {
	left: 482.438px;
	top: 411px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(135,138,56,1);
}
#Rectangle_659 {
	fill: rgba(255,255,255,1);
}
.Rectangle_659 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 269px;
	height: 200px;
	left: 663px;
	top: 288px;
}
#n_0_co {
	left: 727px;
	top: 297px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 88px;
	color: rgba(87,201,47,1);
}
#To_be_Shipping {
	left: 738.001px;
	top: 411px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(87,201,47,1);
}
#schedule {
	fill: rgba(135,138,56,1);
}
.schedule {
	overflow: visible;
	position: absolute;
	width: 15.75px;
	height: 18.001px;
	left: 460.563px;
	top: 413px;
	transform: matrix(1,0,0,1,0,0);
}
#truck {
	fill: rgba(87,201,47,1);
}
.truck {
	overflow: visible;
	position: absolute;
	width: 28.004px;
	height: 16.333px;
	left: 706.999px;
	top: 414.334px;
	transform: matrix(1,0,0,1,0,0);
}
#Inventory_Summary {
	left: 1315px;
	top: 221px;
	position: absolute;
	overflow: visible;
	width: 279px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Rectangle_660 {
	fill: rgba(255,255,255,1);
}
.Rectangle_660 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 567px;
	height: 109px;
	left: 1315px;
	top: 288px;
}
#Rectangle_661 {
	fill: rgba(255,255,255,1);
}
.Rectangle_661 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 567px;
	height: 109px;
	left: 1315px;
	top: 379px;
}
#Rectangle_662 {
	fill: rgba(255,255,255,1);
}
.Rectangle_662 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 269px;
	height: 200px;
	left: 942px;
	top: 288px;
}
#n_0_cpg {
	left: 1006px;
	top: 297px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 88px;
	color: rgba(201,47,68,1);
}
#Return_Policy__cph {
	left: 1015.992px;
	top: 411px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(201,47,68,1);
}
#solid_1_cpi {
	position: absolute;
	width: 15.968px;
	height: 17.742px;
	left: 996.008px;
	top: 413.629px;
	overflow: visible;
}
#Path_4808_cpj {
	fill: rgba(201,47,68,1);
}
.Path_4808_cpj {
	overflow: visible;
	position: absolute;
	width: 15.968px;
	height: 17.742px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4809_cpk {
	fill: rgba(201,47,68,1);
}
.Path_4809_cpk {
	overflow: visible;
	position: absolute;
	width: 1.183px;
	height: 1.774px;
	left: 9.462px;
	top: 14.49px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4810_cpl {
	fill: rgba(201,47,68,1);
}
.Path_4810_cpl {
	overflow: visible;
	position: absolute;
	width: 5.027px;
	height: 4.731px;
	left: 2.365px;
	top: 11.532px;
	transform: matrix(1,0,0,1,0,0);
}
#Total_Category_ {
	left: 1340.988px;
	top: 309px;
	position: absolute;
	overflow: visible;
	width: 199px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(27,47,91,1);
}
#Total_Quantity {
	left: 1340.988px;
	top: 400px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(27,47,91,1);
}
#Line_113 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_113 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 79px;
	left: 1680.5px;
	top: 288.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_114 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_114 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 79px;
	left: 1680.5px;
	top: 379px;
	transform: matrix(1,0,0,1,0,0);
}
#n_1_cpq {
	left: 1746px;
	top: 305px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(27,47,91,1);
}
#n_51 {
	left: 1735px;
	top: 396px;
	position: absolute;
	overflow: visible;
	width: 59px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	color: rgba(27,47,91,1);
}
#Rectangle_663 {
	fill: rgba(255,255,255,1);
}
.Rectangle_663 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 934px;
	height: 388px;
	left: 26px;
	top: 540px;
}
#Line_115 {
	fill: transparent;
	stroke: rgba(154,154,154,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_115 {
	overflow: visible;
	position: absolute;
	width: 905px;
	height: 1px;
	left: 25.5px;
	top: 596.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Product_Details {
	left: 55px;
	top: 548px;
	position: absolute;
	overflow: visible;
	width: 219px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Products_Low_Stock {
	left: 80px;
	top: 645px;
	position: absolute;
	overflow: visible;
	width: 241px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(201,47,68,1);
}
#All_Items {
	left: 80px;
	top: 722px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(27,47,91,1);
}
#All_Products {
	left: 80px;
	top: 799px;
	position: absolute;
	overflow: visible;
	width: 147px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(27,47,91,1);
}
#n_1_cpy {
	left: 411px;
	top: 641px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(201,47,68,1);
}
#Text {
	left: 348px;
	top: 645px;
	position: absolute;
	overflow: visible;
	width: 7px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(201,47,68,1);
}
#Text_cp {
	left: 348px;
	top: 722px;
	position: absolute;
	overflow: visible;
	width: 7px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(27,47,91,1);
}
#Text_cqa {
	left: 348px;
	top: 799px;
	position: absolute;
	overflow: visible;
	width: 7px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(27,47,91,1);
}
#n_1_cp {
	left: 411px;
	top: 718px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(27,47,91,1);
}
#n_51_cp {
	left: 401px;
	top: 799px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(27,47,91,1);
}
#Line_116 {
	fill: transparent;
	stroke: rgba(154,154,154,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_116 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 302px;
	left: 504.5px;
	top: 596.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2962 {
	position: absolute;
	width: 217.285px;
	height: 217.285px;
	left: 593.537px;
	top: 632.357px;
	overflow: visible;
}
#Items {
	left: 73.143px;
	top: 91.143px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(36,45,71,1);
}
#Subtraction_3 {
	opacity: 0.2;
	fill: rgba(93,95,97,1);
}
.Subtraction_3 {
	overflow: visible;
	position: absolute;
	width: 168.184px;
	height: 168.184px;
	transform: translate(-222.547px, -45.314px) matrix(1,0,0,1,247.0972,69.8644) rotate(-21deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_9206 {
	fill: rgba(132,224,190,1);
	stroke: rgba(30,133,241,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_9206 {
	overflow: visible;
	position: absolute;
	width: 83.938px;
	height: 161.523px;
	transform: translate(-222.547px, -45.314px) matrix(1,0,0,1,326.6892,82.4424) rotate(15deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Rectangle_664 {
	fill: rgba(255,255,255,1);
}
.Rectangle_664 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 934px;
	height: 388px;
	left: 986.5px;
	top: 540px;
}
#Line_117 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_117 {
	overflow: visible;
	position: absolute;
	width: 905px;
	height: 1px;
	left: 986px;
	top: 596.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Top_Selling_Items {
	left: 1015.992px;
	top: 548px;
	position: absolute;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Rectangle_666 {
	fill: rgba(255,255,255,1);
	stroke: rgba(222,222,222,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_666 {
	position: absolute;
	overflow: visible;
	width: 301px;
	height: 301px;
	left: 987px;
	top: 597px;
}
#Rectangle_667 {
	fill: rgba(255,255,255,1);
	stroke: rgba(222,222,222,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_667 {
	position: absolute;
	overflow: visible;
	width: 301px;
	height: 301px;
	left: 1288px;
	top: 597px;
}
#Rectangle_668 {
	fill: rgba(255,255,255,1);
	stroke: rgba(222,222,222,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_668 {
	position: absolute;
	overflow: visible;
	width: 301px;
	height: 301px;
	left: 1589px;
	top: 597px;
}
#apple_cqf {
	position: absolute;
	width: 209.119px;
	height: 149.891px;
	left: 1032.94px;
	top: 639.706px;
	overflow: visible;
}
#Watermelon-3_cqg {
	position: absolute;
	width: 214px;
	height: 153.389px;
	left: 1324.988px;
	top: 639.706px;
	overflow: visible;
}
#beff_cqh {
	position: absolute;
	width: 221.072px;
	height: 165.588px;
	left: 1624.464px;
	top: 639.706px;
	overflow: visible;
}
#Apple_cqi {
	left: 1094.992px;
	top: 805.294px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(27,47,91,1);
}
#Watermelon_cqj {
	left: 1347.988px;
	top: 805.294px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(27,47,91,1);
}
#Beff_cqk {
	left: 1707px;
	top: 805.294px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(27,47,91,1);
}
#Hunter_Zolomon_cql {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_cqm {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_cqn {
	fill: rgba(18,168,246,1);
}
.Path_4632_cqn {
	overflow: visible;
	position: absolute;
	width: 27.082px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_cqo {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_cqo {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_cqp {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_cqp {
	position: absolute;
	overflow: visible;
	width: 10.037px;
	height: 10.036px;
	left: 48.599px;
	top: 56.468px;
}
#Path_4633_cqq {
	fill: rgba(255,255,255,1);
}
.Path_4633_cqq {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_cqr {
	fill: rgba(18,168,246,1);
}
.Path_4634_cqr {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_cqs {
	fill: rgba(255,255,255,1);
}
.Path_4635_cqs {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.033px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_cqt {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.571px;
	overflow: visible;
}
#Group_55_cqu {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_cqv {
	fill: rgba(18,168,246,1);
}
.Path_4636_cqv {
	overflow: visible;
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_cqw {
	fill: rgba(255,255,255,1);
}
.Path_4639_cqw {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.243px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_cqx {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_cqx {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.405px;
}
#Group_3056_cqy {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_cqz {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_cq {
	fill: rgba(27,47,91,1);
}
.home_cq {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_cq {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_cq {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_cq {
	fill: rgba(27,47,91,1);
}
.Path_4640_cq {
	overflow: visible;
	position: absolute;
	width: 13.456px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_cq {
	fill: rgba(27,47,91,1);
}
.Path_4641_cq {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.386px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_cq {
	fill: rgba(27,47,91,1);
}
.Path_4642_cq {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_cq {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__cq {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_cq {
	fill: rgba(27,47,91,1);
}
.Path_4643_cq {
	overflow: visible;
	position: absolute;
	width: 13.946px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_cq {
	fill: rgba(27,47,91,1);
}
.Path_4644_cq {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.12px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_cra {
	fill: rgba(18,168,246,1);
}
.Path_4646_cra {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_crb {
	fill: rgba(18,168,246,1);
}
.Path_4647_crb {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_crc {
	fill: rgba(18,168,246,1);
}
.Path_4648_crc {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_crd {
	fill: rgba(18,168,246,1);
}
.Path_4649_crd {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_cre {
	fill: rgba(18,168,246,1);
}
.Path_4651_cre {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_crf {
	fill: rgba(18,168,246,1);
}
.Path_4653_crf {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 622.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_crg {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
}
#Inventory_Management_crh {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Path_4650_cri {
	fill: rgba(18,168,246,1);
}
.Path_4650_cri {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.926px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_crj {
	fill: rgba(18,168,246,1);
}
.Path_4652_crj {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_crk {
	fill: rgba(18,168,246,1);
}
.Path_4654_crk {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_crl {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__crm {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_crn {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_cro {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_crp {
	fill: rgba(27,47,91,1);
}
.Path_4662_crp {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_crq {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_crr {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_crs {
	fill: rgba(27,47,91,1);
}
.Path_4663_crs {
	overflow: visible;
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_crt {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_cru {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_crv {
	fill: rgba(27,47,91,1);
}
.Path_4664_crv {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_crw {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_crx {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_cry {
	fill: rgba(27,47,91,1);
}
.Path_4665_cry {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_crz {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_cr {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_cr {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_cr {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_cr {
	fill: rgba(27,47,91,1);
}
.Path_4680_cr {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.101px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_cr {
	fill: rgba(27,47,91,1);
}
.Path_4681_cr {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_cr {
	fill: rgba(27,47,91,1);
}
.Path_4682_cr {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3062_cr {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_cr {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_cr {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_cr {
	fill: rgba(27,47,91,1);
}
.Path_4688_cr {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_csa {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_csb {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}