.mediaViewInfo {
	--web-view-name: Inventory Management 2;
	--web-view-id: Inventory_Management_2;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Inventory_Management_2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Inventory_Management_2 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Inventory Management 2;
	--web-view-id: Inventory_Management_2;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Category_nm {
	left: 36px;
	top: 124px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#left-arrow-in-circular-button-_nn {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 47.484px;
	top: 953.201px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#n_x34__2__no {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_157_np {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4836_nq {
	fill: rgba(18,168,246,1);
}
.Path_4836_nq {
	overflow: visible;
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_551_nr {
	fill: rgba(255,255,255,1);
}
.Rectangle_551_nr {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1561px;
	top: 189px;
}
#Rectangle_549_ns {
	fill: rgba(255,255,255,1);
}
.Rectangle_549_ns {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 151px;
	top: 189px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Rectangle_110_nt {
	fill: rgba(18,168,246,1);
}
.Rectangle_110_nt {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 288px;
	top: 189px;
}
#Meat_nu {
	left: 313px;
	top: 253px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#steak_nv {
	position: absolute;
	width: 40.678px;
	height: 33.892px;
	left: 315.161px;
	top: 205.233px;
	overflow: visible;
}
#Group_83_nw {
	position: absolute;
	width: 40.678px;
	height: 33.892px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4772_nx {
	fill: rgba(255,255,255,1);
}
.Path_4772_nx {
	overflow: visible;
	position: absolute;
	width: 40.514px;
	height: 14.344px;
	left: 0.009px;
	top: 19.548px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4773_ny {
	fill: rgba(255,255,255,1);
}
.Path_4773_ny {
	overflow: visible;
	position: absolute;
	width: 35.73px;
	height: 22.21px;
	left: 2.474px;
	top: 1.858px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4774_nz {
	fill: rgba(255,255,255,1);
}
.Path_4774_nz {
	overflow: visible;
	position: absolute;
	width: 40.678px;
	height: 28.361px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_24_n {
	fill: rgba(255,255,255,1);
}
.Ellipse_24_n {
	position: absolute;
	overflow: visible;
	width: 5.044px;
	height: 3.904px;
	left: 10.258px;
	top: 7.918px;
}
#Rectangle_116_n {
	fill: rgba(255,255,255,1);
}
.Rectangle_116_n {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 422px;
	top: 189px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Bread.html;
	cursor: pointer;
}
#Bread_n {
	left: 444px;
	top: 253px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#silhouette_n {
	position: absolute;
	width: 47.341px;
	height: 23.74px;
	left: 445.83px;
	top: 210.309px;
	overflow: visible;
}
#Group_84_n {
	position: absolute;
	width: 47.341px;
	height: 23.74px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4775_n {
	fill: rgba(27,47,91,1);
}
.Path_4775_n {
	overflow: visible;
	position: absolute;
	width: 47.341px;
	height: 23.74px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_117_n {
	fill: rgba(255,255,255,1);
}
.Rectangle_117_n {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 555px;
	top: 189px;
}
#Beverages_n {
	left: 564px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#soda_n {
	position: absolute;
	width: 25.995px;
	height: 39.505px;
	left: 589.502px;
	top: 202.426px;
	overflow: visible;
}
#Group_86_n {
	position: absolute;
	width: 25.995px;
	height: 11.583px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_85_oa {
	position: absolute;
	width: 25.995px;
	height: 11.583px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4776_ob {
	fill: rgba(27,47,91,1);
}
.Path_4776_ob {
	overflow: visible;
	position: absolute;
	width: 25.995px;
	height: 11.583px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_88_oc {
	position: absolute;
	width: 21.934px;
	height: 25.607px;
	left: 2.03px;
	top: 13.898px;
	overflow: visible;
}
#Group_87_od {
	position: absolute;
	width: 21.934px;
	height: 25.607px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4777_oe {
	fill: rgba(27,47,91,1);
}
.Path_4777_oe {
	overflow: visible;
	position: absolute;
	width: 21.935px;
	height: 25.608px;
	left: 0.001px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_119_of {
	fill: rgba(255,255,255,1);
}
.Rectangle_119_of {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 684px;
	top: 189px;
}
#Ice-Cream_og {
	left: 692px;
	top: 257px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#ice-cream_oh {
	position: absolute;
	width: 22.201px;
	height: 35.754px;
	left: 720.399px;
	top: 206.178px;
	overflow: visible;
}
#Group_90_oi {
	position: absolute;
	width: 22.201px;
	height: 19.284px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_89_oj {
	position: absolute;
	width: 22.201px;
	height: 19.284px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4778_ok {
	fill: rgba(27,47,91,1);
}
.Path_4778_ok {
	overflow: visible;
	position: absolute;
	width: 22.201px;
	height: 19.284px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_92_ol {
	position: absolute;
	width: 16.502px;
	height: 14.375px;
	left: 2.819px;
	top: 21.378px;
	overflow: visible;
}
#Group_91_om {
	position: absolute;
	width: 16.502px;
	height: 14.375px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4779_on {
	fill: rgba(27,47,91,1);
}
.Path_4779_on {
	overflow: visible;
	position: absolute;
	width: 16.502px;
	height: 14.375px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_121_oo {
	fill: rgba(255,255,255,1);
}
.Rectangle_121_oo {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 937px;
	top: 189px;
}
#Snacks_op {
	left: 959px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#snack_oq {
	position: absolute;
	width: 30.753px;
	height: 30.753px;
	left: 969.123px;
	top: 211.178px;
	overflow: visible;
}
#Path_4781_or {
	fill: rgba(27,47,91,1);
}
.Path_4781_or {
	overflow: visible;
	position: absolute;
	width: 2.137px;
	height: 7.705px;
	left: 24.149px;
	top: 23.049px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4782_os {
	fill: rgba(27,47,91,1);
}
.Path_4782_os {
	overflow: visible;
	position: absolute;
	width: 13.208px;
	height: 10.326px;
	left: 12.592px;
	top: 9.08px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4783_ot {
	fill: rgba(27,47,91,1);
}
.Path_4783_ot {
	overflow: visible;
	position: absolute;
	width: 19.812px;
	height: 7.024px;
	left: 3.236px;
	top: 23.389px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4784_ou {
	fill: rgba(27,47,91,1);
}
.Path_4784_ou {
	overflow: visible;
	position: absolute;
	width: 2.137px;
	height: 7.705px;
	left: 0px;
	top: 23.049px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4785_ov {
	fill: rgba(27,47,91,1);
}
.Path_4785_ov {
	overflow: visible;
	position: absolute;
	width: 22.419px;
	height: 22.013px;
	left: 8.037px;
	top: 3.237px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4786_ow {
	fill: rgba(27,47,91,1);
}
.Path_4786_ow {
	overflow: visible;
	position: absolute;
	width: 23.113px;
	height: 2.136px;
	left: 7.64px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4787_ox {
	fill: rgba(27,47,91,1);
}
.Path_4787_ox {
	overflow: visible;
	position: absolute;
	width: 12.107px;
	height: 1.101px;
	left: 7.089px;
	top: 26.351px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4788_oy {
	fill: rgba(27,47,91,1);
}
.Path_4788_oy {
	overflow: visible;
	position: absolute;
	width: 3.787px;
	height: 2.137px;
	left: 26.966px;
	top: 26.351px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_122_oz {
	fill: rgba(255,255,255,1);
}
.Rectangle_122_oz {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1061px;
	top: 189px;
}
#Oils_o {
	left: 1094px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#oil_o {
	position: absolute;
	width: 31.687px;
	height: 33.243px;
	left: 1092.657px;
	top: 208.688px;
	overflow: visible;
}
#Path_4789_o {
	fill: rgba(27,47,91,1);
}
.Path_4789_o {
	overflow: visible;
	position: absolute;
	width: 5.844px;
	height: 2.662px;
	left: 17.143px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4790_o {
	fill: rgba(27,47,91,1);
}
.Path_4790_o {
	overflow: visible;
	position: absolute;
	width: 10.226px;
	height: 7.089px;
	left: 0px;
	top: 26.154px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4791_o {
	fill: rgba(27,47,91,1);
}
.Path_4791_o {
	overflow: visible;
	position: absolute;
	width: 6.065px;
	height: 10.158px;
	left: 1.949px;
	top: 16.297px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4792_o {
	fill: rgba(27,47,91,1);
}
.Path_4792_o {
	overflow: visible;
	position: absolute;
	width: 21.94px;
	height: 15.126px;
	left: 9.094px;
	top: 4.612px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4793_o {
	fill: rgba(27,47,91,1);
}
.Path_4793_o {
	overflow: visible;
	position: absolute;
	width: 23.244px;
	height: 11.557px;
	left: 8.441px;
	top: 21.686px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_123_o {
	fill: rgba(255,255,255,1);
}
.Rectangle_123_o {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1184px;
	top: 189px;
}
#Dried_Food_o {
	left: 1191px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#dried_o {
	position: absolute;
	width: 32.738px;
	height: 32.642px;
	left: 1215.132px;
	top: 209.29px;
	overflow: visible;
}
#Path_4794_pa {
	fill: rgba(27,47,91,1);
}
.Path_4794_pa {
	overflow: visible;
	position: absolute;
	width: 8.409px;
	height: 3.323px;
	left: 19.884px;
	top: 29.318px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4795_pb {
	fill: rgba(27,47,91,1);
}
.Path_4795_pb {
	overflow: visible;
	position: absolute;
	width: 13.576px;
	height: 16.779px;
	left: 17.3px;
	top: 12.123px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4796_pc {
	fill: rgba(27,47,91,1);
}
.Path_4796_pc {
	overflow: visible;
	position: absolute;
	width: 8.409px;
	height: 3.323px;
	left: 4.431px;
	top: 29.318px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4797_pd {
	fill: rgba(27,47,91,1);
}
.Path_4797_pd {
	overflow: visible;
	position: absolute;
	width: 13.576px;
	height: 16.779px;
	left: 1.848px;
	top: 12.123px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4798_pe {
	fill: rgba(27,47,91,1);
}
.Path_4798_pe {
	overflow: visible;
	position: absolute;
	width: 32.737px;
	height: 12.392px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_124_pf {
	fill: rgba(255,255,255,1);
}
.Rectangle_124_pf {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1309px;
	top: 189px;
}
#Noodles_pk {
	left: 1326px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#noodles_pl {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 1342.118px;
	top: 211.169px;
	overflow: visible;
}
#Group_93_pm {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4799_pn {
	fill: rgba(27,47,91,1);
}
.Path_4799_pn {
	overflow: visible;
	position: absolute;
	width: 30.764px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Noodles_pk {
	left: 1326px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#noodles_pl {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 1342.118px;
	top: 211.169px;
	overflow: visible;
}
#Group_93_pm {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4799_pn {
	fill: rgba(27,47,91,1);
}
.Path_4799_pn {
	overflow: visible;
	position: absolute;
	width: 30.764px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Vegetable__po {
	left: 160px;
	top: 253px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Path_4738_pp {
	fill: rgba(27,47,91,1);
}
.Path_4738_pp {
	overflow: visible;
	position: absolute;
	width: 45px;
	height: 45px;
	left: 175px;
	top: 204px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_178_pq {
	fill: rgba(255,255,255,1);
}
.Rectangle_178_pq {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1434px;
	top: 189px;
}
#Rice_pr {
	left: 1466px;
	top: 256px;
	position: absolute;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#Baking_Need_ps {
	left: 1570px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(27,47,91,1);
}
#rice_pt {
	position: absolute;
	width: 34.47px;
	height: 34.257px;
	left: 1462px;
	top: 211px;
	overflow: visible;
}
#Group_102_pu {
	position: absolute;
	width: 34.47px;
	height: 16.158px;
	left: 0px;
	top: 14.06px;
	overflow: visible;
}
#Group_101_pv {
	position: absolute;
	width: 34.47px;
	height: 16.158px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4813_pw {
	fill: rgba(27,47,91,1);
}
.Path_4813_pw {
	overflow: visible;
	position: absolute;
	width: 34.47px;
	height: 16.157px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_104_px {
	position: absolute;
	width: 17.94px;
	height: 2.02px;
	left: 8.265px;
	top: 32.237px;
	overflow: visible;
}
#Group_103_py {
	position: absolute;
	width: 17.94px;
	height: 2.02px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4814_pz {
	fill: rgba(27,47,91,1);
}
.Path_4814_pz {
	overflow: visible;
	position: absolute;
	width: 17.94px;
	height: 2.02px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_106_p {
	position: absolute;
	width: 27.706px;
	height: 12.04px;
	left: 3.381px;
	top: 0px;
	overflow: visible;
}
#Group_105_p {
	position: absolute;
	width: 27.706px;
	height: 12.04px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4815_p {
	fill: rgba(27,47,91,1);
}
.Path_4815_p {
	overflow: visible;
	position: absolute;
	width: 27.706px;
	height: 12.04px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#glyph_p {
	position: absolute;
	width: 33.664px;
	height: 39.66px;
	left: 1591.168px;
	top: 205.597px;
	overflow: visible;
}
#Path_4837_p {
	fill: rgba(27,47,91,1);
}
.Path_4837_p {
	overflow: visible;
	position: absolute;
	width: 7.751px;
	height: 11.302px;
	left: 22.03px;
	top: 28.357px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4838_p {
	fill: rgba(27,47,91,1);
}
.Path_4838_p {
	overflow: visible;
	position: absolute;
	width: 7.692px;
	height: 11.119px;
	left: 4.899px;
	top: 28.541px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4839_p {
	fill: rgba(27,47,91,1);
}
.Path_4839_p {
	overflow: visible;
	position: absolute;
	width: 11.758px;
	height: 11.016px;
	left: 11.433px;
	top: 28.643px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4840_p {
	fill: rgba(27,47,91,1);
}
.Path_4840_p {
	overflow: visible;
	position: absolute;
	width: 33.664px;
	height: 12.164px;
	left: 0px;
	top: 15.535px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4841_p {
	fill: rgba(27,47,91,1);
}
.Path_4841_p {
	overflow: visible;
	position: absolute;
	width: 26.266px;
	height: 14.573px;
	left: 4.58px;
	top: 8.842px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4842_p {
	fill: rgba(27,47,91,1);
}
.Path_4842_p {
	overflow: visible;
	position: absolute;
	width: 17.221px;
	height: 18.801px;
	left: 8.813px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_550_qa {
	fill: rgba(255,255,255,1);
}
.Rectangle_550_qa {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1689px;
	top: 189px;
}
#Canned_Food_qb {
	left: 1696px;
	top: 256px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#b161_canned_food_qc {
	position: absolute;
	width: 36.783px;
	height: 46.334px;
	left: 1718.608px;
	top: 202.26px;
	overflow: visible;
}
#Path_4827_qd {
	fill: rgba(27,47,91,1);
}
.Path_4827_qd {
	overflow: visible;
	position: absolute;
	width: 36.783px;
	height: 46.334px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_5_qe {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_qe {
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 40px;
	left: 1251px;
	top: 119px;
}
#Search_qf {
	left: 1297px;
	top: 132px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Path_4630_qg {
	fill: rgba(18,168,246,1);
}
.Path_4630_qg {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.315px;
	left: 1269.562px;
	top: 133.842px;
	transform: matrix(1,0,0,1,0,0);
}
#Meat_qh {
	left: 839px;
	top: 114px;
	position: absolute;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(27,47,91,1);
}
#Path_9255_qi {
	fill: rgba(255,255,255,1);
}
.Path_9255_qi {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 249.595px;
	height: 296.706px;
	left: 968.949px;
	top: 363.451px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_632_qj {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_632_qj {
	position: absolute;
	overflow: visible;
	width: 190px;
	height: 41px;
	left: 982.873px;
	top: 576.247px;
}
#View_More_qk {
	left: 1037.746px;
	top: 585.747px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Path_9254_ql {
	fill: rgba(255,255,255,1);
}
.Path_9254_ql {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 249.595px;
	height: 296.706px;
	left: 714.207px;
	top: 363.451px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_631_qm {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_631_qm {
	position: absolute;
	overflow: visible;
	width: 190px;
	height: 41px;
	left: 728.131px;
	top: 576.247px;
}
#View_More_qn {
	left: 783.006px;
	top: 585.747px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Path_9253_qo {
	fill: rgba(255,255,255,1);
}
.Path_9253_qo {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 249.595px;
	height: 296.706px;
	left: 448.604px;
	top: 363.451px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_630_qp {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_630_qp {
	position: absolute;
	overflow: visible;
	width: 190px;
	height: 41px;
	left: 462.527px;
	top: 576.247px;
}
#View_More_qq {
	left: 517.402px;
	top: 585.747px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Path_4761_qr {
	fill: rgba(255,255,255,1);
}
.Path_4761_qr {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 249.595px;
	height: 296.706px;
	left: 183px;
	top: 363.204px;
	transform: matrix(1,0,0,1,0,0);
}
#Beff {
	left: 277.299px;
	top: 540px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(0,153,204,1);
}
#Ham {
	left: 535.902px;
	top: 534.5px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(0,153,204,1);
}
#Salmon {
	left: 788.506px;
	top: 534.5px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(0,153,204,1);
}
#Pork {
	left: 1059.162px;
	top: 535px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(0,153,204,1);
}
#Group_3003 {
	position: absolute;
	width: 190px;
	height: 41px;
	left: 196.924px;
	top: 576px;
	overflow: visible;
}
#Rectangle_629_qx {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_629_qx {
	position: absolute;
	overflow: visible;
	width: 190px;
	height: 41px;
	left: 0px;
	top: 0px;
}
#View_More_qy {
	left: 54.875px;
	top: 9.5px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#beff {
	position: absolute;
	width: 179px;
	height: 134px;
	left: 209.662px;
	top: 375px;
	overflow: visible;
}
#Ham_4 {
	position: absolute;
	width: 174px;
	height: 116px;
	left: 470.662px;
	top: 385px;
	overflow: visible;
}
#salmon {
	position: absolute;
	width: 136px;
	height: 136px;
	left: 754.662px;
	top: 389px;
	overflow: visible;
}
#Pork_q {
	position: absolute;
	width: 130px;
	height: 130px;
	left: 1015.662px;
	top: 392px;
	overflow: visible;
}
#Path_9272_q {
	fill: rgba(0,0,0,0);
	stroke: rgba(27,47,91,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_9272_q {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 2px;
	left: 0.5px;
	top: 325.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_120_q {
	fill: rgba(255,255,255,1);
}
.Rectangle_120_q {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 813px;
	top: 189px;
}
#Wine_q {
	left: 842px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#glass-and-bottle-of-wine_q {
	position: absolute;
	width: 29.134px;
	height: 38.532px;
	left: 843.434px;
	top: 203.4px;
	overflow: visible;
}
#Path_4780_q {
	fill: rgba(27,47,91,1);
}
.Path_4780_q {
	overflow: visible;
	position: absolute;
	width: 29.134px;
	height: 38.532px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_127_q {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_127_q {
	position: absolute;
	overflow: visible;
	width: 45px;
	height: 47px;
	left: 1820px;
	top: 218px;
}
#Group_94_q {
	position: absolute;
	width: 33px;
	height: 33px;
	left: 1826.17px;
	top: 225px;
	overflow: visible;
}
#Path_4800_ra {
	fill: rgba(27,47,91,1);
}
.Path_4800_ra {
	overflow: visible;
	position: absolute;
	width: 33px;
	height: 33px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2986 {
	position: absolute;
	width: 199px;
	height: 53px;
	left: 1688px;
	top: 112px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Null Add Product .html;
	cursor: pointer;
}
#Rectangle_172_rc {
	fill: rgba(255,255,255,1);
}
.Rectangle_172_rc {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 229px;
	height: 83px;
	left: 0px;
	top: 0px;
}
#add-to-cart_rd {
	position: absolute;
	width: 30.874px;
	height: 30.874px;
	left: 145.346px;
	top: 9.563px;
	overflow: visible;
}
#Path_4728_re {
	fill: rgba(27,47,91,1);
}
.Path_4728_re {
	overflow: visible;
	position: absolute;
	width: 30.874px;
	height: 30.874px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4729_rf {
	fill: rgba(27,47,91,1);
}
.Path_4729_rf {
	overflow: visible;
	position: absolute;
	width: 7.236px;
	height: 7.236px;
	left: 14.231px;
	top: 9.407px;
	transform: matrix(1,0,0,1,0,0);
}
#Add_Products__rg {
	left: 22.781px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_2998 {
	position: absolute;
	width: 199px;
	height: 53px;
	left: 1477px;
	top: 112px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Return Policy.html;
	cursor: pointer;
}
#Rectangle_173 {
	fill: rgba(255,255,255,1);
}
.Rectangle_173 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 229px;
	height: 83px;
	left: 0px;
	top: 0px;
}
#solid_1_rj {
	position: absolute;
	width: 31.773px;
	height: 35.303px;
	left: 24.172px;
	top: 5.348px;
	overflow: visible;
}
#Path_4808_rk {
	fill: rgba(254,0,0,1);
}
.Path_4808_rk {
	overflow: visible;
	position: absolute;
	width: 31.772px;
	height: 35.303px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4809_rl {
	fill: rgba(254,0,0,1);
}
.Path_4809_rl {
	overflow: visible;
	position: absolute;
	width: 2.354px;
	height: 3.53px;
	left: 18.828px;
	top: 28.831px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4810_rm {
	fill: rgba(254,0,0,1);
}
.Path_4810_rm {
	overflow: visible;
	position: absolute;
	width: 10.003px;
	height: 9.414px;
	left: 4.707px;
	top: 22.947px;
	transform: matrix(1,0,0,1,0,0);
}
#Return_Policy__rn {
	left: 63px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(254,0,0,1);
}
#Rectangle_2_ro {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_ro {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_698_rp {
	fill: rgba(248,248,248,1);
}
.Rectangle_698_rp {
	position: absolute;
	overflow: visible;
	width: 240px;
	height: 37px;
	left: 606px;
	top: 43px;
}
#Hunter_Zolomon_rq {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_rr {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_rs {
	fill: rgba(18,168,246,1);
}
.Path_4632_rs {
	overflow: visible;
	position: absolute;
	width: 27.081px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_rt {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_rt {
	position: absolute;
	overflow: visible;
	width: 13.688px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_ru {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_ru {
	position: absolute;
	overflow: visible;
	width: 10.036px;
	height: 10.036px;
	left: 48.6px;
	top: 56.468px;
}
#Path_4633_rv {
	fill: rgba(255,255,255,1);
}
.Path_4633_rv {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_rw {
	fill: rgba(18,168,246,1);
}
.Path_4634_rw {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_rx {
	fill: rgba(255,255,255,1);
}
.Path_4635_rx {
	overflow: visible;
	position: absolute;
	width: 7.272px;
	height: 4.033px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_ry {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.571px;
	overflow: visible;
}
#Group_55_rz {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_r {
	fill: rgba(18,168,246,1);
}
.Path_4636_r {
	overflow: visible;
	position: absolute;
	width: 39.651px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_r {
	fill: rgba(255,255,255,1);
}
.Path_4639_r {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.243px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_r {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_r {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.405px;
}
#Group_3056_r {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_r {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_r {
	fill: rgba(27,47,91,1);
}
.home_r {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_r {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_r {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_r {
	fill: rgba(27,47,91,1);
}
.Path_4640_r {
	overflow: visible;
	position: absolute;
	width: 13.455px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_r {
	fill: rgba(27,47,91,1);
}
.Path_4641_r {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.387px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_sa {
	fill: rgba(27,47,91,1);
}
.Path_4642_sa {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_sb {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__sc {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_sd {
	fill: rgba(27,47,91,1);
}
.Path_4643_sd {
	overflow: visible;
	position: absolute;
	width: 13.945px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_se {
	fill: rgba(27,47,91,1);
}
.Path_4644_se {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.119px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_sf {
	fill: rgba(18,168,246,1);
}
.Path_4646_sf {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_sg {
	fill: rgba(18,168,246,1);
}
.Path_4647_sg {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_sh {
	fill: rgba(18,168,246,1);
}
.Path_4648_sh {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_si {
	fill: rgba(18,168,246,1);
}
.Path_4649_si {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_sj {
	fill: rgba(18,168,246,1);
}
.Path_4651_sj {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 615.001px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_sk {
	fill: rgba(18,168,246,1);
}
.Path_4653_sk {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 622.854px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_sl {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
}
#Inventory_Management_sm {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Path_4650_sn {
	fill: rgba(18,168,246,1);
}
.Path_4650_sn {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.927px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_so {
	fill: rgba(18,168,246,1);
}
.Path_4652_so {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_sp {
	fill: rgba(18,168,246,1);
}
.Path_4654_sp {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_sq {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__sr {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_ss {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_st {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_su {
	fill: rgba(27,47,91,1);
}
.Path_4662_su {
	overflow: visible;
	position: absolute;
	width: 7.636px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_sv {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_sw {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_sx {
	fill: rgba(27,47,91,1);
}
.Path_4663_sx {
	overflow: visible;
	position: absolute;
	width: 3.479px;
	height: 2.928px;
	left: 0.001px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_sy {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_sz {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_s {
	fill: rgba(27,47,91,1);
}
.Path_4664_s {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_s {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_s {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_s {
	fill: rgba(27,47,91,1);
}
.Path_4665_s {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_s {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_s {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_s {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_s {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_s {
	fill: rgba(27,47,91,1);
}
.Path_4680_s {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.101px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_s {
	fill: rgba(27,47,91,1);
}
.Path_4681_s {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_ta {
	fill: rgba(27,47,91,1);
}
.Path_4682_ta {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3062_tb {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_tc {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_td {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_te {
	fill: rgba(27,47,91,1);
}
.Path_4688_te {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_tf {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_tg {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}