.mediaViewInfo {
	--web-view-name: Invoice for costumer view;
	--web-view-id: Invoice_for_costumer_view;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Invoice_for_costumer_view;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Invoice_for_costumer_view {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Invoice for costumer view;
	--web-view-id: Invoice_for_costumer_view;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#View_Invoice_ea {
	left: 790px;
	top: 39px;
	position: absolute;
	overflow: visible;
	width: 290px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(27,47,91,1);
}
#Rectangle_65_ea {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_65_ea {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 26px;
	top: 47px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: costumer view.html;
	cursor: pointer;
}
#Close {
	left: 49px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: costumer view.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_66_ea {
	fill: rgba(18,168,246,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_66_ea {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1819px;
	top: 47px;
}
#Print_ea {
	left: 1854.454px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#printing_ea {
	position: absolute;
	width: 11.886px;
	height: 11.048px;
	left: 1841.057px;
	top: 64.476px;
	overflow: visible;
}
#Group_137_ea {
	position: absolute;
	width: 4.226px;
	height: 0.792px;
	left: 3.83px;
	top: 8.863px;
	overflow: visible;
}
#Group_136_ea {
	position: absolute;
	width: 4.226px;
	height: 0.792px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4831_eba {
	fill: rgba(255,255,255,1);
}
.Path_4831_eba {
	overflow: visible;
	position: absolute;
	width: 4.226px;
	height: 0.792px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_139_ebb {
	position: absolute;
	width: 4.226px;
	height: 0.792px;
	left: 3.83px;
	top: 7.613px;
	overflow: visible;
}
#Group_138_ebc {
	position: absolute;
	width: 4.226px;
	height: 0.792px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4832_ebd {
	fill: rgba(255,255,255,1);
}
.Path_4832_ebd {
	overflow: visible;
	position: absolute;
	width: 4.226px;
	height: 0.792px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_141_ebe {
	position: absolute;
	width: 11.886px;
	height: 11.048px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_140_ebf {
	position: absolute;
	width: 11.886px;
	height: 11.048px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4833_ebg {
	fill: rgba(255,255,255,1);
}
.Path_4833_ebg {
	overflow: visible;
	position: absolute;
	width: 11.886px;
	height: 11.048px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Statistics_ebh {
	position: absolute;
	width: 1170px;
	height: 824px;
	left: 362px;
	top: 168px;
	overflow: visible;
}
#StatisticsBG_ebi {
	fill: rgba(255,255,255,1);
	stroke: rgba(202,206,213,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.StatisticsBG_ebi {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.09));
	position: absolute;
	overflow: visible;
	width: 1200px;
	height: 854px;
	left: 0px;
	top: 0px;
}
#Brave_Dragon_Store_ebj {
	left: 415px;
	top: 222px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(18,168,246,1);
}
#Invoice_ebk {
	left: 1420px;
	top: 222px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(18,168,246,1);
}
#n_48__ebl {
	left: 1349px;
	top: 858px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(67,66,93,1);
}
#Phnom_Penh_Tel_855_016_161_616_ebm {
	left: 415px;
	top: 266px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Invoice_to_Mekmun_Sopheaktra_T_ebn {
	left: 415px;
	top: 387px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(81,84,101,1);
}
#Order_Date_March_15_2016_Order_ebo {
	left: 1325px;
	top: 388px;
	position: absolute;
	overflow: visible;
	width: 158px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Sub-total_48_Discout_10_VAT_10_ebp {
	left: 1394px;
	top: 717px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#Path_309_ebq {
	fill: transparent;
	stroke: rgba(241,241,243,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_309_ebq {
	overflow: visible;
	position: absolute;
	width: 1086px;
	height: 1px;
	left: 417px;
	top: 357px;
	transform: matrix(1,0,0,1,0,0);
}
#rowinvoice_ebr {
	position: absolute;
	width: 1078.96px;
	height: 160px;
	left: 415px;
	top: 536px;
	overflow: hidden;
}
#rowinvoice_ebs {
	position: absolute;
	width: 1078.96px;
	height: 51px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Divider_ebt {
	fill: rgba(241,241,243,1);
}
.Divider_ebt {
	position: absolute;
	overflow: visible;
	width: 1078.96px;
	height: 1px;
	left: 0px;
	top: 50px;
}
#RowBG_ebu {
	fill: rgba(255,255,255,1);
}
.RowBG_ebu {
	position: absolute;
	overflow: visible;
	width: 1078.96px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n_4_ebv {
	left: 947px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#PCs_ebw {
	left: 523px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n___ebx {
	left: 317px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n__eby {
	left: 20px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 6px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Coconut_ebz {
	left: 82px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_7_eb {
	left: 727px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#rowinvoice_eb {
	position: absolute;
	width: 1078.96px;
	height: 51px;
	left: 0px;
	top: 52px;
	overflow: visible;
}
#Divider_eb {
	fill: rgba(241,241,243,1);
}
.Divider_eb {
	position: absolute;
	overflow: visible;
	width: 1078.96px;
	height: 1px;
	left: 0px;
	top: 50px;
}
#RowBG_eb {
	fill: rgba(255,255,255,1);
}
.RowBG_eb {
	position: absolute;
	overflow: visible;
	width: 1078.96px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n_8_eb {
	left: 945px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#PCs_eb {
	left: 523px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n___eb {
	left: 317px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n__eb {
	left: 20px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Watermelon_eb {
	left: 82px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_7_eca {
	left: 727px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#rowinvoice_eca {
	position: absolute;
	width: 1078.96px;
	height: 51px;
	left: 0px;
	top: 104px;
	overflow: visible;
}
#Divider_ecb {
	fill: rgba(241,241,243,1);
}
.Divider_ecb {
	position: absolute;
	overflow: visible;
	width: 1078.96px;
	height: 1px;
	left: 0px;
	top: 50px;
}
#RowBG_ecc {
	fill: rgba(255,255,255,1);
}
.RowBG_ecc {
	position: absolute;
	overflow: visible;
	width: 1078.96px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n_2_____ecd {
	left: 942px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Kg_ece {
	left: 523px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 16px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n___ecf {
	left: 317px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n__ecg {
	left: 20px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Tomato_ech {
	left: 82px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_7_eci {
	left: 727px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#rowinvoice_ecj {
	position: absolute;
	width: 1078.96px;
	height: 51px;
	left: 0px;
	top: 156px;
	overflow: visible;
}
#Divider_eck {
	fill: rgba(241,241,243,1);
}
.Divider_eck {
	position: absolute;
	overflow: visible;
	width: 1078.96px;
	height: 1px;
	left: 0px;
	top: 50px;
}
#RowBG_ecl {
	fill: rgba(255,255,255,1);
}
.RowBG_ecl {
	position: absolute;
	overflow: visible;
	width: 1078.96px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n_928_ecm {
	left: 933px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_32_ecn {
	left: 523px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Lorem_ipsum_dolor_sit_amet_Con_eco {
	left: 317px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 227px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n__ecp {
	left: 20px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 6px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#levaca_Womens_Long_ecq {
	left: 82px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_7_ecr {
	left: 727px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#HeadBG_ecs {
	fill: rgba(245,246,250,1);
}
.HeadBG_ecs {
	position: absolute;
	overflow: visible;
	width: 1079px;
	height: 45px;
	left: 415px;
	top: 491px;
}
#Total_Price_ect {
	left: 1346px;
	top: 507px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#Unit_price_ecu {
	left: 1134px;
	top: 507px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#Quantity_ecv {
	left: 715px;
	top: 507px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#Text_ecw {
	left: 435px;
	top: 507px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#ITEMS_ecx {
	left: 495px;
	top: 507px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#Label_ecy {
	position: absolute;
	width: 67px;
	height: 20px;
	left: 1415px;
	top: 409px;
	overflow: visible;
}
#LabelBG_ecz {
	opacity: 0.3;
	fill: rgba(18,168,246,1);
}
.LabelBG_ecz {
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#LabelContent_ec {
	opacity: 0.5;
	left: 14px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Units_ec {
	left: 934px;
	top: 507px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#USD_ec {
	left: 1444px;
	top: 859px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(67,66,93,1);
}
#n_9_200_ec {
	left: 1332px;
	top: 804px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(67,66,93,1);
}
#Rectangle_204_ec {
	fill: transparent;
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_204_ec {
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 44px;
	left: 1313px;
	top: 800px;
}
#Riel_ec {
	left: 1448px;
	top: 804px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(67,66,93,1);
}
#Rectangle_205_ec {
	fill: transparent;
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_205_ec {
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 44px;
	left: 1312px;
	top: 853px;
}
#Exchange_Currency__1_USD__4000_ec {
	left: 415px;
	top: 942px;
	position: absolute;
	overflow: visible;
	width: 220px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Add_Note__ec {
	left: 415px;
	top: 726px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Rectangle_206_ec {
	fill: rgba(255,255,255,1);
	stroke: rgba(203,203,203,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_206_ec {
	position: absolute;
	overflow: visible;
	width: 197px;
	height: 47px;
	left: 415px;
	top: 748px;
}
#Put_the_items_in_different_bag_eda {
	left: 436px;
	top: 764px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(77,79,92,1);
}