.mediaViewInfo {
	--web-view-name: Login;
	--web-view-id: Login;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Login;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Login {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	cursor: pointer;
	--web-view-name: Login;
	--web-view-id: Login;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_58_dqg {
	fill: url(#Rectangle_58_dqg);
}
.Rectangle_58_dqg {
	position: absolute;
	overflow: visible;
	width: 714px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#n_011i003013_shopping_bag_bask {
	opacity: 0.28;
	filter: blur(8px);
	position: absolute;
	width: 1773.865px;
	height: 1363.882px;
	left: 385.067px;
	top: -101.941px;
	overflow: visible;
}
#Rectangle_60_dqi {
	fill: rgba(255,255,255,0.831);
	stroke: rgba(73,205,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_60_dqi {
	filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.18));
	position: absolute;
	overflow: visible;
	width: 966px;
	height: 654px;
	left: 840.333px;
	top: 226px;
}
#Ellipse_24_dqj {
	fill: rgba(255,255,255,0.341);
}
.Ellipse_24_dqj {
	position: absolute;
	overflow: visible;
	width: 1050px;
	height: 1024px;
	left: -607px;
	top: 438px;
}
#Ellipse_23_dqk {
	fill: rgba(248,248,248,0.478);
}
.Ellipse_23_dqk {
	position: absolute;
	overflow: visible;
	width: 1050px;
	height: 897px;
	left: -620px;
	top: 547px;
}
#picnic {
	mix-blend-mode: overlay;
	position: absolute;
	width: 593.606px;
	height: 593.124px;
	left: -180.626px;
	top: 605.672px;
	overflow: visible;
}
#Rectangle_61_dqm {
	fill: rgba(255,255,255,1);
}
.Rectangle_61_dqm {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 681px;
	height: 98px;
	left: 1001.333px;
	top: 401px;
}
#Rectangle_62 {
	fill: rgba(255,255,255,1);
}
.Rectangle_62 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 681px;
	height: 98px;
	left: 1001.333px;
	top: 551px;
}
#Ellipse_25 {
	fill: rgba(255,255,255,1);
}
.Ellipse_25 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 135px;
	height: 135px;
	left: 941.333px;
	top: 383px;
}
#user_4 {
	position: absolute;
	width: 95px;
	height: 95px;
	left: 952.333px;
	top: 394px;
	overflow: visible;
}
#Ellipse_26 {
	fill: rgba(255,255,255,1);
}
.Ellipse_26 {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 135px;
	height: 135px;
	left: 941.333px;
	top: 533px;
}
#padlock {
	position: absolute;
	width: 65px;
	height: 65px;
	left: 969.333px;
	top: 559px;
	overflow: visible;
}
#Hunter_Zolomon_dqs {
	left: 1208.333px;
	top: 423px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(102,102,102,1);
}
#Text_dqt {
	left: 1207.333px;
	top: 579px;
	position: absolute;
	overflow: visible;
	width: 210px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(102,102,102,1);
}
#Group_3066 {
	position: absolute;
	width: 282px;
	height: 65px;
	left: 1163.333px;
	top: 707px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Rectangle_63_dqv {
	fill: rgba(255,255,255,1);
}
.Rectangle_63_dqv {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 83px;
	left: 0px;
	top: 0px;
}
#Login_dqw {
	filter: drop-shadow(0px 0px 8px rgba(215, 249, 238, 1));
	left: 105px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Login_to_Your_Account {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 1074.333px;
	top: 277px;
	position: absolute;
	overflow: visible;
	width: 476px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#money {
	mix-blend-mode: overlay;
	position: absolute;
	width: 650.796px;
	height: 650.796px;
	left: 290.537px;
	top: 643px;
	overflow: visible;
}
#Scroll_Group_6 {
	mix-blend-mode: normal;
	position: absolute;
	width: 268.333px;
	height: 203px;
	left: 1525.333px;
	top: 665px;
	overflow: hidden;
}
#Untitled-1 {
	opacity: 0.68;
	position: absolute;
	width: 1141.333px;
	height: 642px;
	left: -382px;
	top: -193px;
	overflow: visible;
}
#Group_2981 {
	position: absolute;
	width: 254.14px;
	height: 248.055px;
	left: 231.897px;
	top: 57.276px;
	overflow: visible;
}
#Group_2980 {
	position: absolute;
	width: 254.14px;
	height: 248.055px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_2979 {
	position: absolute;
	width: 254.14px;
	height: 248.055px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4632_dq {
	fill: rgba(18,168,246,1);
}
.Path_4632_dq {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 191.574px;
	height: 178.206px;
	left: 19.526px;
	top: 36.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_dq {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_dq {
	position: absolute;
	overflow: visible;
	width: 87.736px;
	height: 87.737px;
	left: 62.238px;
	top: 83.039px;
}
#Ellipse_5_dq {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_dq {
	position: absolute;
	overflow: visible;
	width: 64.326px;
	height: 64.327px;
	left: 73.943px;
	top: 95.966px;
}
#Path_4633_dq {
	fill: rgba(255,255,255,1);
}
.Path_4633_dq {
	overflow: visible;
	position: absolute;
	width: 49.42px;
	height: 39.617px;
	left: 132.266px;
	top: 156.24px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_dq {
	fill: rgba(18,168,246,1);
}
.Path_4634_dq {
	overflow: visible;
	position: absolute;
	width: 66.235px;
	height: 35.566px;
	left: 72.989px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_dq {
	fill: rgba(255,255,255,1);
}
.Path_4635_dq {
	overflow: visible;
	position: absolute;
	width: 46.616px;
	height: 25.853px;
	left: 82.798px;
	top: 9.714px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_dra {
	position: absolute;
	width: 254.14px;
	height: 189.248px;
	left: 0px;
	top: 26.118px;
	overflow: visible;
}
#Group_55_drb {
	position: absolute;
	width: 254.14px;
	height: 189.248px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_drc {
	fill: rgba(18,168,246,1);
}
.Path_4636_drc {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 272.14px;
	height: 207.248px;
	left: 0.001px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_drd {
	position: absolute;
	width: 193.741px;
	height: 27.144px;
	left: 7.922px;
	top: 220.911px;
	overflow: visible;
}
#Path_4637_dre {
	fill: rgba(18,26,80,1);
}
.Path_4637_dre {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 45.145px;
	height: 45.144px;
	left: 166.597px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_drf {
	fill: rgba(18,26,80,1);
}
.Path_4638_drf {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 45.145px;
	height: 45.144px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_drg {
	fill: rgba(255,255,255,1);
}
.Path_4639_drg {
	overflow: visible;
	position: absolute;
	width: 8.737px;
	height: 7.97px;
	left: 130.704px;
	top: 154.429px;
	transform: matrix(1,0,0,1,0,0);
}
#Lekha_System {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 175px;
	top: 322px;
	position: absolute;
	overflow: visible;
	width: 365px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 61px;
	color: rgba(18,168,246,1);
}
#n_021_Lekha_System {
	left: 1748px;
	top: 1058px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}