.mediaViewInfo {
	--web-view-name: Null Add user;
	--web-view-id: Null_Add_user;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Null_Add_user;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Null_Add_user {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Null Add user;
	--web-view-id: Null_Add_user;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_2_frw {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_frw {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Hunter_Zolomon_frx {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_fry {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_frz {
	fill: rgba(18,168,246,1);
}
.Path_4632_frz {
	overflow: visible;
	position: absolute;
	width: 27.081px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_fr {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_fr {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.688px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_fr {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_fr {
	position: absolute;
	overflow: visible;
	width: 10.036px;
	height: 10.036px;
	left: 48.599px;
	top: 56.469px;
}
#Path_4633_fr {
	fill: rgba(255,255,255,1);
}
.Path_4633_fr {
	overflow: visible;
	position: absolute;
	width: 7.711px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_fr {
	fill: rgba(18,168,246,1);
}
.Path_4634_fr {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.55px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_fr {
	fill: rgba(255,255,255,1);
}
.Path_4635_fr {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.033px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_fr {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.57px;
	overflow: visible;
}
#Group_55_fr {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_fr {
	fill: rgba(18,168,246,1);
}
.Path_4636_fr {
	overflow: visible;
	position: absolute;
	width: 39.652px;
	height: 29.526px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_fr {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.298px;
	top: 75.963px;
	overflow: visible;
}
#Path_4637_fr {
	fill: rgba(18,26,80,1);
}
.Path_4637_fr {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_fsa {
	fill: rgba(18,26,80,1);
}
.Path_4638_fsa {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_fsb {
	fill: rgba(255,255,255,1);
}
.Path_4639_fsb {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.244px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_fsc {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_fsc {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.404px;
}
#Group_3056_fsd {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_fse {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_fsf {
	fill: rgba(27,47,91,1);
}
.home_fsf {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.463px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_fsg {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_fsh {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_fsi {
	fill: rgba(27,47,91,1);
}
.Path_4640_fsi {
	overflow: visible;
	position: absolute;
	width: 13.455px;
	height: 9.53px;
	left: 0px;
	top: 5.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_fsj {
	fill: rgba(27,47,91,1);
}
.Path_4641_fsj {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.386px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_fsk {
	fill: rgba(27,47,91,1);
}
.Path_4642_fsk {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_fsl {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__fsm {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_fsn {
	fill: rgba(27,47,91,1);
}
.Path_4643_fsn {
	overflow: visible;
	position: absolute;
	width: 13.946px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_fso {
	fill: rgba(27,47,91,1);
}
.Path_4644_fso {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.12px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_fsp {
	fill: rgba(27,47,91,1);
}
.Path_4646_fsp {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_fsq {
	fill: rgba(27,47,91,1);
}
.Path_4647_fsq {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_fsr {
	fill: rgba(27,47,91,1);
}
.Path_4648_fsr {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_fss {
	fill: rgba(27,47,91,1);
}
.Path_4649_fss {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_fst {
	fill: rgba(27,47,91,1);
}
.Path_4651_fst {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 615.001px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_fsu {
	fill: rgba(27,47,91,1);
}
.Path_4653_fsu {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 622.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_fsv {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_fsw {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_fsx {
	fill: rgba(27,47,91,1);
}
.Path_4650_fsx {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.926px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_fsy {
	fill: rgba(27,47,91,1);
}
.Path_4652_fsy {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_fsz {
	fill: rgba(27,47,91,1);
}
.Path_4654_fsz {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_fs {
	fill: rgba(248,248,248,1);
}
.Rectangle_2_fs {
	position: absolute;
	overflow: visible;
	width: 238px;
	height: 37px;
	left: 896px;
	top: 43px;
}
#Group_3060_fs {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__fs {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Group_63_fs {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_fs {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_fs {
	fill: rgba(18,168,246,1);
}
.Path_4662_fs {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.636px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_fs {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_fs {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_fs {
	fill: rgba(18,168,246,1);
}
.Path_4663_fs {
	overflow: visible;
	position: absolute;
	width: 3.48px;
	height: 2.929px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_fs {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_fta {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_ftb {
	fill: rgba(18,168,246,1);
}
.Path_4664_ftb {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: -0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_ftc {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_ftd {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_fte {
	fill: rgba(18,168,246,1);
}
.Path_4665_fte {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_ftf {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_ftg {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_fth {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_fti {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_ftj {
	fill: rgba(27,47,91,1);
}
.Path_4680_ftj {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.102px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_ftk {
	fill: rgba(27,47,91,1);
}
.Path_4681_ftk {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_ftl {
	fill: rgba(27,47,91,1);
}
.Path_4682_ftl {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_ftm {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_ftn {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}
#Group_3062_fto {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_ftp {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_ftq {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_ftr {
	fill: rgba(27,47,91,1);
}
.Path_4688_ftr {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_589_fts {
	filter: blur(50px);
	fill: rgba(255,255,255,1);
}
.Rectangle_589_fts {
	mix-blend-mode: hard-light;
	filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1807px;
	height: 946px;
	left: 87px;
	top: 150px;
}
#Rectangle_695_ftt {
	fill: rgba(255,255,255,1);
}
.Rectangle_695_ftt {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 379px;
	left: 1336px;
	top: 176px;
}
#background_name_ftu {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.background_name_ftu {
	position: absolute;
	overflow: visible;
	width: 604.152px;
	height: 55px;
	left: 506px;
	top: 177px;
}
#Name_ftv {
	left: 172px;
	top: 177px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#background_gender_ftw {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.background_gender_ftw {
	position: absolute;
	overflow: visible;
	width: 604.152px;
	height: 54px;
	left: 506px;
	top: 242px;
}
#Gender_ftx {
	left: 172px;
	top: 243px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#background_position_fty {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.background_position_fty {
	position: absolute;
	overflow: visible;
	width: 604.152px;
	height: 53px;
	left: 506px;
	top: 307px;
}
#Position_ftz {
	left: 172px;
	top: 306px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Text_ft {
	left: 459px;
	top: 176px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Text_fua {
	left: 459px;
	top: 239px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Text_fub {
	left: 460px;
	top: 303px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#background_birthday_ft {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.background_birthday_ft {
	position: absolute;
	overflow: visible;
	width: 604.152px;
	height: 53px;
	left: 506px;
	top: 370px;
}
#Birthday_Date_ft {
	left: 172px;
	top: 375px;
	position: absolute;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#background_hire_date_ft {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.background_hire_date_ft {
	position: absolute;
	overflow: visible;
	width: 604.152px;
	height: 53px;
	left: 506px;
	top: 433px;
}
#Hire_Date_ft {
	left: 172px;
	top: 438px;
	position: absolute;
	overflow: visible;
	width: 164px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#background_work_time_ft {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.background_work_time_ft {
	position: absolute;
	overflow: visible;
	width: 604.152px;
	height: 53px;
	left: 506px;
	top: 496px;
}
#Work_Time_ft {
	left: 172px;
	top: 501px;
	position: absolute;
	overflow: visible;
	width: 184px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#background_salary_range_ft {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.background_salary_range_ft {
	position: absolute;
	overflow: visible;
	width: 604.152px;
	height: 53px;
	left: 506px;
	top: 559px;
}
#Salary_Range_fua {
	left: 172px;
	top: 564px;
	position: absolute;
	overflow: visible;
	width: 225px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#background_tel_fub {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.background_tel_fub {
	position: absolute;
	overflow: visible;
	width: 604.152px;
	height: 53px;
	left: 506px;
	top: 622px;
}
#Tel_fuc {
	left: 172px;
	top: 627px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Text_fud {
	left: 460px;
	top: 365px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Text_fue {
	left: 460px;
	top: 427px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Text_fuf {
	left: 460px;
	top: 491px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Text_fug {
	left: 460px;
	top: 559px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Text_fuh {
	left: 460px;
	top: 616px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#background_username_fui {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.background_username_fui {
	position: absolute;
	overflow: visible;
	width: 604.249px;
	height: 55px;
	left: 505.903px;
	top: 750px;
}
#Username_fuj {
	left: 172px;
	top: 754px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#background_email_fuk {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.background_email_fuk {
	position: absolute;
	overflow: visible;
	width: 604.249px;
	height: 55px;
	left: 505.903px;
	top: 815px;
}
#Email_ful {
	left: 172px;
	top: 819px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#background_password_fum {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.background_password_fum {
	position: absolute;
	overflow: visible;
	width: 604.249px;
	height: 55px;
	left: 506.903px;
	top: 879px;
}
#Password_fun {
	left: 172px;
	top: 883px;
	position: absolute;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Text_fuo {
	left: 459.903px;
	top: 746px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Text_fup {
	left: 459.903px;
	top: 811px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Text_fuq {
	left: 460.903px;
	top: 876px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Rectangle_89_fur {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_89_fur {
	position: absolute;
	overflow: visible;
	width: 604.249px;
	height: 55px;
	left: 505.903px;
	top: 685px;
}
#ID_Number_fus {
	left: 172px;
	top: 688px;
	position: absolute;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Text_fut {
	left: 459.903px;
	top: 681px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Other_Information_fuu {
	left: 1175px;
	top: 569px;
	position: absolute;
	overflow: visible;
	width: 276px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(0,153,204,1);
}
#Text_fuv {
	left: 1461px;
	top: 558px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,153,204,1);
}
#in_box_other_information_fuw {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.in_box_other_information_fuw {
	position: absolute;
	overflow: visible;
	width: 589px;
	height: 298px;
	left: 1176px;
	top: 631px;
}
#Rectangle_698_fux {
	fill: rgba(255,255,255,1);
}
.Rectangle_698_fux {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 128px;
	left: 1331px;
	top: 496px;
}
#Upload_Photo_fuy {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 1386px;
	top: 497px;
	position: absolute;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(27,47,91,1);
}
#add-user {
	position: absolute;
	width: 291.052px;
	height: 291px;
	left: 1359.59px;
	top: 192.5px;
	overflow: visible;
}
#Path_9301_fu {
	fill: rgba(243,249,255,1);
}
.Path_9301_fu {
	overflow: visible;
	position: absolute;
	width: 238.505px;
	height: 205.56px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9302_fu {
	fill: rgba(225,238,255,1);
}
.Path_9302_fu {
	overflow: visible;
	position: absolute;
	width: 119.252px;
	height: 205.56px;
	left: 119.252px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_1167 {
	fill: rgba(180,235,255,1);
}
.Ellipse_1167 {
	width: 85.607px;
	height: 85.606px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,76.4984,51.3576) rotate(-67.486deg);
	transform-origin: center;
}
#Path_9303 {
	fill: rgba(96,199,255,1);
}
.Path_9303 {
	overflow: visible;
	position: absolute;
	width: 173.99px;
	height: 101.567px;
	left: 32.258px;
	top: 136.938px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9304_fu {
	fill: rgba(96,199,255,1);
}
.Path_9304_fu {
	overflow: visible;
	position: absolute;
	width: 42.794px;
	height: 85.586px;
	left: 119.252px;
	top: 51.352px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9305_fu {
	fill: rgba(37,133,253,1);
}
.Path_9305_fu {
	overflow: visible;
	position: absolute;
	width: 86.995px;
	height: 101.567px;
	left: 119.252px;
	top: 136.938px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_1168 {
	fill: rgba(170,236,120,1);
}
.Ellipse_1168 {
	width: 118.712px;
	height: 118.712px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,154.1351,154.0835) rotate(-67.486deg);
	transform-origin: center;
}
#Path_9306_fu {
	fill: rgba(0,208,72,1);
}
.Path_9306_fu {
	overflow: visible;
	position: absolute;
	width: 59.342px;
	height: 118.685px;
	left: 213.398px;
	top: 154.056px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9307_fu {
	fill: rgba(243,249,255,1);
}
.Path_9307_fu {
	overflow: visible;
	position: absolute;
	width: 50.216px;
	height: 50.215px;
	left: 188.29px;
	top: 188.291px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9308_fu {
	fill: rgba(225,238,255,1);
}
.Path_9308_fu {
	overflow: visible;
	position: absolute;
	width: 25.108px;
	height: 50.215px;
	left: 213.398px;
	top: 188.291px;
	transform: matrix(1,0,0,1,0,0);
}
#background_save_fva {
	fill: rgba(0,153,204,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.background_save_fva {
	position: absolute;
	overflow: visible;
	width: 127px;
	height: 53px;
	left: 1638px;
	top: 959.5px;
}
#background_cancel_fvb {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.background_cancel_fvb {
	position: absolute;
	overflow: visible;
	width: 167px;
	height: 53px;
	left: 1447px;
	top: 959.5px;
}
#Cancel_fvc {
	left: 1485px;
	top: 967.5px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(12,12,12,1);
}
#background_cancel_fvd {
	fill: rgba(238,91,91,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.background_cancel_fvd {
	position: absolute;
	overflow: visible;
	width: 167px;
	height: 53px;
	left: 1256px;
	top: 959.5px;
}
#Delete_fve {
	left: 1297px;
	top: 967.5px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#SAVE_fvf {
	left: 1667.333px;
	top: 967.5px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}