.mediaViewInfo {
	--web-view-name: Null Add Product;
	--web-view-id: Null_Add_Product;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Null_Add_Product;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Null_Add_Product {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Null Add Product;
	--web-view-id: Null_Add_Product;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_172_ejj {
	fill: rgba(18,168,246,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_172_ejj {
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 53px;
	left: 1688px;
	top: 112px;
}
#add-to-cart_ejk {
	position: absolute;
	width: 30.874px;
	height: 30.874px;
	left: 1833.346px;
	top: 121.563px;
	overflow: visible;
}
#Path_4728_ejl {
	fill: rgba(255,255,255,1);
}
.Path_4728_ejl {
	overflow: visible;
	position: absolute;
	width: 30.875px;
	height: 30.874px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4729_ejm {
	fill: rgba(255,255,255,1);
}
.Path_4729_ejm {
	overflow: visible;
	position: absolute;
	width: 7.236px;
	height: 7.236px;
	left: 14.23px;
	top: 9.407px;
	transform: matrix(1,0,0,1,0,0);
}
#Add_Products__ejn {
	left: 1710.781px;
	top: 124px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Line_73_ejo {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_73_ejo {
	overflow: visible;
	position: absolute;
	width: 1419px;
	height: 1px;
	left: 0.5px;
	top: 175.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_82_ejp {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_82_ejp {
	overflow: visible;
	position: absolute;
	width: 525px;
	height: 1px;
	left: 1419.5px;
	top: 175.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3006 {
	position: absolute;
	width: 199px;
	height: 53px;
	left: 1477px;
	top: 112px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Return Policy.html;
	cursor: pointer;
}
#Rectangle_173_ejr {
	fill: rgba(255,255,255,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_173_ejr {
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 53px;
	left: 0px;
	top: 0px;
}
#solid_1_ejs {
	position: absolute;
	width: 31.773px;
	height: 35.303px;
	left: 24.172px;
	top: 5.348px;
	overflow: visible;
}
#Path_4808_ejt {
	fill: rgba(254,0,0,1);
}
.Path_4808_ejt {
	overflow: visible;
	position: absolute;
	width: 31.773px;
	height: 35.303px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4809_eju {
	fill: rgba(254,0,0,1);
}
.Path_4809_eju {
	overflow: visible;
	position: absolute;
	width: 2.354px;
	height: 3.53px;
	left: 18.828px;
	top: 28.831px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4810_ejv {
	fill: rgba(254,0,0,1);
}
.Path_4810_ejv {
	overflow: visible;
	position: absolute;
	width: 10.002px;
	height: 9.414px;
	left: 4.707px;
	top: 22.947px;
	transform: matrix(1,0,0,1,0,0);
}
#Return_Policy__ejw {
	left: 63px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(254,0,0,1);
}
#left-arrow-in-circular-button-_ejx {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 47.484px;
	top: 953.201px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#n_x34__2__ejy {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_157_ejz {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4836_ej {
	fill: rgba(18,168,246,1);
}
.Path_4836_ej {
	overflow: visible;
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_5_ej {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_ej {
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 40px;
	left: 1251px;
	top: 119px;
}
#Search_ej {
	left: 1297px;
	top: 132px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Path_4630_ej {
	fill: rgba(18,168,246,1);
}
.Path_4630_ej {
	overflow: visible;
	position: absolute;
	width: 15.318px;
	height: 15.315px;
	left: 1269.561px;
	top: 133.842px;
	transform: matrix(1,0,0,1,0,0);
}
#Add_Products__ej {
	left: 769px;
	top: 114px;
	position: absolute;
	overflow: visible;
	width: 260px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(27,47,91,1);
}
#Line_105_ej {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_105_ej {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 904px;
	left: 960px;
	top: 176px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_619_ej {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_619_ej {
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 41px;
	left: 533px;
	top: 648px;
}
#Celery_ej {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Celery_ej {
	position: absolute;
	overflow: visible;
	width: 244px;
	height: 275px;
	left: 26px;
	top: 290px;
}
#Rectangle_576_ej {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_576_ej {
	position: absolute;
	overflow: visible;
	width: 244px;
	height: 41px;
	left: 26px;
	top: 579px;
}
#Upload_Image__ej {
	left: 71px;
	top: 585px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Product_Name_eka {
	left: 289px;
	top: 308px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_601_ekb {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_601_ekb {
	position: absolute;
	overflow: visible;
	width: 453px;
	height: 41px;
	left: 496px;
	top: 303px;
}
#Import_Date_ekc {
	left: 27px;
	top: 828px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_602 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_602 {
	position: absolute;
	overflow: visible;
	width: 233px;
	height: 41px;
	left: 234px;
	top: 823px;
}
#calendar_1_eke {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 442.561px;
	top: 834.906px;
	overflow: visible;
}
#Path_4690_ekf {
	fill: rgba(18,168,246,1);
}
.Path_4690_ekf {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.045px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_ekg {
	fill: rgba(18,168,246,1);
}
.Path_4691_ekg {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Fri_10__SEP__2021_ekh {
	left: 254px;
	top: 833px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Expire_Date_eki {
	left: 509px;
	top: 829px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_603 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_603 {
	position: absolute;
	overflow: visible;
	width: 233px;
	height: 41px;
	left: 716px;
	top: 824px;
}
#calendar_1_ekk {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 925.561px;
	top: 836.906px;
	overflow: visible;
}
#Path_4690_ekl {
	fill: rgba(18,168,246,1);
}
.Path_4690_ekl {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.045px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_ekm {
	fill: rgba(18,168,246,1);
}
.Path_4691_ekm {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Mon_13__SEP__2021_ekn {
	left: 736px;
	top: 834px;
	position: absolute;
	overflow: visible;
	width: 158px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Product_ID_eko {
	left: 289px;
	top: 392px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_604_ekp {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_604_ekp {
	position: absolute;
	overflow: visible;
	width: 453px;
	height: 41px;
	left: 496px;
	top: 387px;
}
#Text_ekq {
	left: 687px;
	top: 393px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Original_price_ekr {
	left: 27px;
	top: 654px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Quality__eks {
	left: 289px;
	top: 476px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_607_ekt {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_607_ekt {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 41px;
	left: 496px;
	top: 471px;
}
#Rectangle_608_eku {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_608_eku {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 41px;
	left: 771px;
	top: 471px;
}
#Unit_ekv {
	left: 699px;
	top: 477px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Sale_price_ekw {
	left: 27px;
	top: 740px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Amount__ekx {
	left: 289px;
	top: 562px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_611_eky {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_611_eky {
	position: absolute;
	overflow: visible;
	width: 234px;
	height: 41px;
	left: 496px;
	top: 556px;
}
#Rectangle_612_ekz {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_612_ekz {
	position: absolute;
	overflow: visible;
	width: 213px;
	height: 41px;
	left: 736px;
	top: 556px;
}
#Rectangle_614_ek {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_614_ek {
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 41px;
	left: 234px;
	top: 648px;
}
#Rectangle_616_ek {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_616_ek {
	position: absolute;
	overflow: visible;
	width: 126px;
	height: 41px;
	left: 823px;
	top: 649px;
}
#Rectangle_620_ek {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_620_ek {
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 41px;
	left: 533px;
	top: 734px;
}
#Rectangle_621_ek {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_621_ek {
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 41px;
	left: 234px;
	top: 734px;
}
#Rectangle_622_ek {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_622_ek {
	position: absolute;
	overflow: visible;
	width: 126px;
	height: 41px;
	left: 823px;
	top: 735px;
}
#Product_Information_ek {
	left: 36px;
	top: 221px;
	position: absolute;
	overflow: visible;
	width: 288px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Product_Detail__ek {
	left: 998px;
	top: 221px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Import_Form_ek {
	left: 1003px;
	top: 308px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_623_ek {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_623_ek {
	position: absolute;
	overflow: visible;
	width: 677px;
	height: 41px;
	left: 1210px;
	top: 303px;
}
#Import_Address__ek {
	left: 1003px;
	top: 392px;
	position: absolute;
	overflow: visible;
	width: 185px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_624_ela {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_624_ela {
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 41px;
	left: 1210px;
	top: 387px;
}
#Rectangle_625_elb {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_625_elb {
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 41px;
	left: 1552px;
	top: 387px;
}
#Import_Contact__elc {
	left: 1003px;
	top: 476px;
	position: absolute;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_627_eld {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_627_eld {
	position: absolute;
	overflow: visible;
	width: 341px;
	height: 41px;
	left: 1208px;
	top: 471px;
}
#Rectangle_628_ele {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_628_ele {
	position: absolute;
	overflow: visible;
	width: 341px;
	height: 41px;
	left: 1552px;
	top: 471px;
}
#Rectangle_637_elf {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_637_elf {
	position: absolute;
	overflow: visible;
	width: 683px;
	height: 250px;
	left: 1210px;
	top: 548px;
}
#Bar_Code_elg {
	left: 1003px;
	top: 655px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_573_elh {
	fill: rgba(18,168,246,1);
}
.Rectangle_573_elh {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 90px;
	left: 1661px;
	top: 986px;
}
#Add_New_Product_eli {
	left: 1692px;
	top: 1001px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Path_9273_elj {
	fill: rgba(255,255,255,1);
}
.Path_9273_elj {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 280px;
	height: 90px;
	left: 1376px;
	top: 986px;
	transform: matrix(1,0,0,1,0,0);
}
#Add_Existing_Product_elk {
	left: 1388px;
	top: 1001px;
	position: absolute;
	overflow: visible;
	width: 227px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Rectangle_600_ell {
	fill: rgba(255,255,255,1);
}
.Rectangle_600_ell {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 280px;
	height: 90px;
	left: 1079px;
	top: 986px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Bread.html;
	cursor: pointer;
}
#Cancel_elm {
	left: 1167px;
	top: 1001px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Rectangle_2_eln {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_eln {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_698_elo {
	fill: rgba(248,248,248,1);
}
.Rectangle_698_elo {
	position: absolute;
	overflow: visible;
	width: 240px;
	height: 37px;
	left: 606px;
	top: 43px;
}
#Hunter_Zolomon_elp {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_elq {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_elr {
	fill: rgba(18,168,246,1);
}
.Path_4632_elr {
	overflow: visible;
	position: absolute;
	width: 27.082px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_els {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_els {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_elt {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_elt {
	position: absolute;
	overflow: visible;
	width: 10.037px;
	height: 10.036px;
	left: 48.6px;
	top: 56.468px;
}
#Path_4633_elu {
	fill: rgba(255,255,255,1);
}
.Path_4633_elu {
	overflow: visible;
	position: absolute;
	width: 7.711px;
	height: 6.181px;
	left: 57.697px;
	top: 65.872px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_elv {
	fill: rgba(18,168,246,1);
}
.Path_4634_elv {
	overflow: visible;
	position: absolute;
	width: 10.336px;
	height: 5.549px;
	left: 48.449px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_elw {
	fill: rgba(255,255,255,1);
}
.Path_4635_elw {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.034px;
	left: 49.98px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_elx {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.571px;
	overflow: visible;
}
#Group_55_ely {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_elz {
	fill: rgba(18,168,246,1);
}
.Path_4636_elz {
	overflow: visible;
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_el {
	fill: rgba(255,255,255,1);
}
.Path_4639_el {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.243px;
	left: 57.455px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_el {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_el {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.168px;
	top: 32.405px;
}
#Group_3056_el {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_el {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_el {
	fill: rgba(27,47,91,1);
}
.home_el {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_el {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_el {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_el {
	fill: rgba(27,47,91,1);
}
.Path_4640_el {
	overflow: visible;
	position: absolute;
	width: 13.455px;
	height: 9.53px;
	left: 0.002px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_el {
	fill: rgba(27,47,91,1);
}
.Path_4641_el {
	overflow: visible;
	position: absolute;
	width: 2.375px;
	height: 4.752px;
	left: 310.387px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_el {
	fill: rgba(27,47,91,1);
}
.Path_4642_el {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_ema {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__emb {
	left: 16.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_emc {
	fill: rgba(27,47,91,1);
}
.Path_4643_emc {
	overflow: visible;
	position: absolute;
	width: 13.945px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_emd {
	fill: rgba(27,47,91,1);
}
.Path_4644_emd {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.119px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_eme {
	fill: rgba(18,168,246,1);
}
.Path_4646_eme {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_emf {
	fill: rgba(18,168,246,1);
}
.Path_4647_emf {
	overflow: visible;
	position: absolute;
	width: 6.947px;
	height: 0.701px;
	left: 618.928px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_emg {
	fill: rgba(18,168,246,1);
}
.Path_4648_emg {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_emh {
	fill: rgba(18,168,246,1);
}
.Path_4649_emh {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.602px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_emi {
	fill: rgba(18,168,246,1);
}
.Path_4651_emi {
	overflow: visible;
	position: absolute;
	width: 6.947px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_emj {
	fill: rgba(18,168,246,1);
}
.Path_4653_emj {
	overflow: visible;
	position: absolute;
	width: 6.947px;
	height: 0.701px;
	left: 622.854px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_emk {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.982px;
	top: 49.5px;
	overflow: visible;
}
#Inventory_Management_eml {
	left: 17.697px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Path_4650_emm {
	fill: rgba(18,168,246,1);
}
.Path_4650_emm {
	overflow: visible;
	position: absolute;
	width: 6.982px;
	height: 5.413px;
	left: 3.928px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_emn {
	fill: rgba(18,168,246,1);
}
.Path_4652_emn {
	overflow: visible;
	position: absolute;
	width: 6.982px;
	height: 5.413px;
	left: 7.854px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_emo {
	fill: rgba(18,168,246,1);
}
.Path_4654_emo {
	overflow: visible;
	position: absolute;
	width: 6.982px;
	height: 5.413px;
	left: 0.002px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_emp {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.27px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__emq {
	left: 15.025px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_emr {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.518px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_ems {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_emt {
	fill: rgba(27,47,91,1);
}
.Path_4662_emt {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_emu {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.594px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_emv {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_emw {
	fill: rgba(27,47,91,1);
}
.Path_4663_emw {
	overflow: visible;
	position: absolute;
	width: 3.479px;
	height: 2.928px;
	left: 0.002px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_emx {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.793px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_emy {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_emz {
	fill: rgba(27,47,91,1);
}
.Path_4664_emz {
	overflow: visible;
	position: absolute;
	width: 5.877px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_em {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_em {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_em {
	fill: rgba(27,47,91,1);
}
.Path_4665_em {
	overflow: visible;
	position: absolute;
	width: 5.879px;
	height: 6.521px;
	left: -0.002px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_em {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_em {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_em {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_em {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_em {
	fill: rgba(27,47,91,1);
}
.Path_4680_em {
	overflow: visible;
	position: absolute;
	width: 12.406px;
	height: 3.101px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_em {
	fill: rgba(27,47,91,1);
}
.Path_4681_em {
	overflow: visible;
	position: absolute;
	width: 12.406px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_em {
	fill: rgba(27,47,91,1);
}
.Path_4682_em {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3062_ena {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_enb {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_enc {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_end {
	fill: rgba(27,47,91,1);
}
.Path_4688_end {
	overflow: visible;
	position: absolute;
	width: 15.586px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_ene {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_enf {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}