.mediaViewInfo {
	--web-view-name: Our Reports;
	--web-view-id: Our_Reports;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Our_Reports;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Our_Reports {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Our Reports;
	--web-view-id: Our_Reports;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Image_1 {
	position: absolute;
	width: 694px;
	height: 652px;
	left: 201px;
	top: 338px;
	overflow: visible;
}
#Link_to_download_or_Online_Rea {
	left: 1004px;
	top: 468px;
	position: absolute;
	overflow: visible;
	width: 610px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#About_Us_ {
	left: 891px;
	top: 127px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Rectangle_5_evt {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_evt {
	position: absolute;
	overflow: visible;
	width: 412px;
	height: 40px;
	left: 1495px;
	top: 120px;
}
#Search_evu {
	left: 1541px;
	top: 133px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Path_4630_evv {
	fill: rgba(18,168,246,1);
}
.Path_4630_evv {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.316px;
	left: 1514px;
	top: 134.842px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_73_evw {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_73_evw {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 1px;
	left: 0.5px;
	top: 175.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_74 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_74 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 1px;
	left: 0px;
	top: 309px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3021 {
	position: absolute;
	width: 95px;
	height: 99px;
	left: 670px;
	top: 194px;
	overflow: visible;
}
#Rectangle_120_evz {
	fill: rgba(18,168,246,1);
}
.Rectangle_120_evz {
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 99px;
	left: 0px;
	top: 0px;
}
#Our_Report {
	left: 6px;
	top: 66px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#profit-report {
	position: absolute;
	width: 28.5px;
	height: 38px;
	left: 32.75px;
	top: 16px;
	overflow: visible;
}
#Group_74 {
	position: absolute;
	width: 9.5px;
	height: 9.5px;
	left: 19px;
	top: 0px;
	overflow: visible;
}
#Group_73 {
	position: absolute;
	width: 9.5px;
	height: 9.5px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4683 {
	fill: rgba(255,255,255,1);
}
.Path_4683 {
	overflow: visible;
	position: absolute;
	width: 9.5px;
	height: 9.5px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_76 {
	position: absolute;
	width: 28.5px;
	height: 38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_75 {
	position: absolute;
	width: 28.5px;
	height: 38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4684 {
	fill: rgba(255,255,255,1);
}
.Path_4684 {
	overflow: visible;
	position: absolute;
	width: 28.5px;
	height: 38px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3023 {
	position: absolute;
	width: 95px;
	height: 99px;
	left: 1176px;
	top: 194px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Tutorial .html;
	cursor: pointer;
}
#Rectangle_122_ev {
	fill: rgba(255,255,255,1);
}
.Rectangle_122_ev {
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 99px;
	left: 0px;
	top: 0px;
}
#Tutorials {
	left: 17px;
	top: 69px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(13,13,13,1);
}
#tutorial_1 {
	position: absolute;
	width: 49.276px;
	height: 40.393px;
	left: 24.972px;
	top: 18.624px;
	overflow: visible;
}
#Group_78 {
	position: absolute;
	width: 49.276px;
	height: 40.393px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_77 {
	position: absolute;
	width: 49.276px;
	height: 40.393px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4685 {
	fill: rgba(13,13,13,1);
}
.Path_4685 {
	overflow: visible;
	position: absolute;
	width: 49.276px;
	height: 40.393px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4686 {
	fill: rgba(13,13,13,1);
}
.Path_4686 {
	overflow: visible;
	position: absolute;
	width: 10.551px;
	height: 11.698px;
	left: 20.249px;
	top: 5.198px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4687 {
	fill: rgba(13,13,13,1);
}
.Path_4687 {
	overflow: visible;
	position: absolute;
	width: 1.921px;
	height: 1.92px;
	left: 23.787px;
	top: 0.002px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3022 {
	position: absolute;
	width: 95px;
	height: 99px;
	left: 937px;
	top: 194px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Contact Us .html;
	cursor: pointer;
}
#Rectangle_121_ewi {
	fill: rgba(255,255,255,1);
}
.Rectangle_121_ewi {
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 99px;
	left: 0px;
	top: 0px;
}
#Contact_Us_ewj {
	left: 7px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#call {
	position: absolute;
	width: 35.408px;
	height: 37.997px;
	left: 31.672px;
	top: 22.003px;
	overflow: visible;
}
#Group_61 {
	position: absolute;
	width: 35.408px;
	height: 37.997px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_60 {
	position: absolute;
	width: 35.408px;
	height: 37.997px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4655 {
	fill: rgba(13,13,13,1);
}
.Path_4655 {
	overflow: visible;
	position: absolute;
	width: 35.408px;
	height: 37.997px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4656 {
	fill: rgba(13,13,13,1);
}
.Path_4656 {
	overflow: visible;
	position: absolute;
	width: 9.481px;
	height: 9.482px;
	left: 23.082px;
	top: 3.318px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4657 {
	fill: rgba(13,13,13,1);
}
.Path_4657 {
	overflow: visible;
	position: absolute;
	width: 6.637px;
	height: 6.637px;
	left: 20.924px;
	top: 9.265px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4658 {
	fill: rgba(13,13,13,1);
}
.Path_4658 {
	overflow: visible;
	position: absolute;
	width: 3.792px;
	height: 3.793px;
	left: 20.233px;
	top: 12.997px;
	transform: matrix(1,0,0,1,0,0);
}
#Website_for_online_Demo__https {
	left: 1004px;
	top: 571px;
	position: absolute;
	overflow: visible;
	width: 687px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(0,0,0,1);
}
#Rectangle_2_ews {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_ews {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Hunter_Zolomon_ewt {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_ewu {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_ewv {
	fill: rgba(18,168,246,1);
}
.Path_4632_ewv {
	overflow: visible;
	position: absolute;
	width: 27.082px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_eww {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_eww {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_ewx {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_ewx {
	position: absolute;
	overflow: visible;
	width: 10.037px;
	height: 10.036px;
	left: 48.599px;
	top: 56.468px;
}
#Path_4633_ewy {
	fill: rgba(255,255,255,1);
}
.Path_4633_ewy {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.872px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_ewz {
	fill: rgba(18,168,246,1);
}
.Path_4634_ewz {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_ew {
	fill: rgba(255,255,255,1);
}
.Path_4635_ew {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.034px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_ew {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.571px;
	overflow: visible;
}
#Group_55_ew {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_ew {
	fill: rgba(18,168,246,1);
}
.Path_4636_ew {
	overflow: visible;
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_ew {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.298px;
	top: 75.962px;
	overflow: visible;
}
#Path_4637_ew {
	fill: rgba(18,26,80,1);
}
.Path_4637_ew {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_ew {
	fill: rgba(18,26,80,1);
}
.Path_4638_ew {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_ew {
	fill: rgba(255,255,255,1);
}
.Path_4639_ew {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.243px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_ew {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_ew {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.405px;
}
#Group_3056_ew {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_exa {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_exb {
	fill: rgba(27,47,91,1);
}
.home_exb {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_exc {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_exd {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_exe {
	fill: rgba(27,47,91,1);
}
.Path_4640_exe {
	overflow: visible;
	position: absolute;
	width: 13.456px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_exf {
	fill: rgba(27,47,91,1);
}
.Path_4641_exf {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.386px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_exg {
	fill: rgba(27,47,91,1);
}
.Path_4642_exg {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_exh {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__exi {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_exj {
	fill: rgba(27,47,91,1);
}
.Path_4643_exj {
	overflow: visible;
	position: absolute;
	width: 13.946px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_exk {
	fill: rgba(27,47,91,1);
}
.Path_4644_exk {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.12px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_exl {
	fill: rgba(27,47,91,1);
}
.Path_4646_exl {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_exm {
	fill: rgba(27,47,91,1);
}
.Path_4647_exm {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_exn {
	fill: rgba(27,47,91,1);
}
.Path_4648_exn {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_exo {
	fill: rgba(27,47,91,1);
}
.Path_4649_exo {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_exp {
	fill: rgba(27,47,91,1);
}
.Path_4651_exp {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_exq {
	fill: rgba(27,47,91,1);
}
.Path_4653_exq {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 622.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_exr {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_exs {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_ext {
	fill: rgba(27,47,91,1);
}
.Path_4650_ext {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.926px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_exu {
	fill: rgba(27,47,91,1);
}
.Path_4652_exu {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_exv {
	fill: rgba(27,47,91,1);
}
.Path_4654_exv {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_exw {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__exx {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_exy {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_exz {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_ex {
	fill: rgba(27,47,91,1);
}
.Path_4662_ex {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_ex {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_ex {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_ex {
	fill: rgba(27,47,91,1);
}
.Path_4663_ex {
	overflow: visible;
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_ex {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_ex {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_ex {
	fill: rgba(27,47,91,1);
}
.Path_4664_ex {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_ex {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_ex {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_ex {
	fill: rgba(27,47,91,1);
}
.Path_4665_ex {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_eya {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_eyb {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_eyc {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_eyd {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_eye {
	fill: rgba(27,47,91,1);
}
.Path_4680_eye {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.101px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_eyf {
	fill: rgba(27,47,91,1);
}
.Path_4681_eyf {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_eyg {
	fill: rgba(27,47,91,1);
}
.Path_4682_eyg {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3062_eyh {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_eyi {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_eyj {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_eyk {
	fill: rgba(27,47,91,1);
}
.Path_4688_eyk {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_eyl {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_eym {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}