.mediaViewInfo {
	--web-view-name: Poll;
	--web-view-id: Poll;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Poll;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Poll {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Poll;
	--web-view-id: Poll;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Text_fe {
	left: 1245px;
	top: 229px;
	position: absolute;
	overflow: visible;
	width: 1px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Line_fe {
	fill: rgba(235,242,247,1);
}
.Line_fe {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 1430px;
	top: 714.022px;
}
#Line_ffa {
	fill: rgba(235,242,247,1);
}
.Line_ffa {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 1430px;
	top: 294px;
}
#Line_ffb {
	fill: rgba(235,242,247,1);
}
.Line_ffb {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 1009.232px;
	top: 294px;
}
#Group_3043 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 110px;
	top: 394px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: sellpoint .html;
	cursor: pointer;
}
#Total_Revenue_fe {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_fe {
	fill: rgba(255,255,255,1);
}
.BG_fe {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_fe {
	left: 77.732px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#leaf_fe {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 21.366px;
	top: 20.7px;
	overflow: visible;
}
#Group_313_ffa {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_312_ffb {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4713_ffc {
	fill: rgba(27,47,91,1);
}
.Path_4713_ffc {
	overflow: visible;
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4714_ffd {
	fill: rgba(27,47,91,1);
}
.Path_4714_ffd {
	overflow: visible;
	position: absolute;
	width: 3.516px;
	height: 3.517px;
	left: 28.884px;
	top: 17.857px;
	transform: matrix(1,0,0,1,0,0);
}
#next_ffe {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__fff {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1__fff {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_589_ffg {
	filter: blur(50px);
	fill: rgba(255,255,255,1);
}
.Rectangle_589_ffg {
	mix-blend-mode: hard-light;
	filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1353px;
	height: 946px;
	left: 588px;
	top: 153px;
}
#Rectangle_610 {
	fill: rgba(250,238,126,1);
}
.Rectangle_610 {
	position: absolute;
	overflow: visible;
	width: 945px;
	height: 308px;
	left: 768px;
	top: 593px;
}
#Rectangle_611_ffi {
	fill: rgba(158,252,125,1);
}
.Rectangle_611_ffi {
	position: absolute;
	overflow: visible;
	width: 633px;
	height: 416px;
	left: 1080px;
	top: 485px;
}
#Rectangle_612_ffj {
	fill: rgba(127,217,250,1);
}
.Rectangle_612_ffj {
	position: absolute;
	overflow: visible;
	width: 320px;
	height: 578px;
	left: 1393px;
	top: 323px;
}
#fireworks {
	position: absolute;
	width: 347px;
	height: 348px;
	left: 1380px;
	top: 166px;
	overflow: visible;
}
#photo_2021-09-14_20-16-15_ffl {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 181px;
	height: 176px;
	left: 837px;
	top: 505px;
	overflow: visible;
}
#number-3 {
	position: absolute;
	width: 158px;
	height: 158px;
	left: 849px;
	top: 714px;
	overflow: visible;
}
#number-2 {
	position: absolute;
	width: 203px;
	height: 203px;
	left: 1139px;
	top: 630px;
	overflow: visible;
}
#first-prize {
	position: absolute;
	width: 259px;
	height: 259px;
	left: 1424px;
	top: 501px;
	overflow: visible;
}
#Employee_of_the_Month {
	left: 954px;
	top: 933px;
	position: absolute;
	overflow: visible;
	width: 583px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	color: rgba(27,47,91,1);
}
#Ellipse_346_ffq {
	fill: rgba(255,255,255,1);
}
.Ellipse_346_ffq {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 226px;
	height: 221px;
	left: 1463px;
	top: 235px;
}
#image_2021-09-09_09-05-19_ffr {
	position: absolute;
	width: 181px;
	height: 178px;
	left: 1463px;
	top: 234px;
	overflow: visible;
}
#firework {
	position: absolute;
	width: 125px;
	height: 125px;
	left: 1680px;
	top: 235px;
	overflow: visible;
}
#firework_fft {
	position: absolute;
	width: 272.34px;
	height: 308px;
	left: 1098.33px;
	top: 323px;
	overflow: visible;
}
#Group_357_ffu {
	position: absolute;
	width: 235.119px;
	height: 279.942px;
	left: 13.602px;
	top: 1.957px;
	overflow: visible;
}
#Path_4870_ffv {
	fill: rgba(242,88,23,1);
}
.Path_4870_ffv {
	overflow: visible;
	position: absolute;
	width: 7.979px;
	height: 10.664px;
	left: 21.2px;
	top: 218.636px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4871_ffw {
	fill: rgba(242,88,23,1);
}
.Path_4871_ffw {
	overflow: visible;
	position: absolute;
	width: 7.979px;
	height: 10.664px;
	left: 21.2px;
	top: 269.278px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4872_ffx {
	fill: rgba(242,88,23,1);
}
.Path_4872_ffx {
	overflow: visible;
	position: absolute;
	width: 9.879px;
	height: 9.877px;
	left: 34.29px;
	top: 235.816px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4873 {
	fill: rgba(242,88,23,1);
}
.Path_4873 {
	overflow: visible;
	position: absolute;
	width: 9.879px;
	height: 9.877px;
	left: 6.21px;
	top: 263.863px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4874 {
	fill: rgba(242,88,23,1);
}
.Path_4874 {
	overflow: visible;
	position: absolute;
	width: 10.667px;
	height: 7.979px;
	left: 39.711px;
	top: 250.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4875 {
	fill: rgba(242,88,23,1);
}
.Path_4875 {
	overflow: visible;
	position: absolute;
	width: 10.667px;
	height: 7.979px;
	left: 0px;
	top: 250.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4876 {
	fill: rgba(242,88,23,1);
}
.Path_4876 {
	overflow: visible;
	position: absolute;
	width: 9.879px;
	height: 9.877px;
	left: 34.29px;
	top: 263.863px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4877 {
	fill: rgba(242,88,23,1);
}
.Path_4877 {
	overflow: visible;
	position: absolute;
	width: 9.879px;
	height: 9.877px;
	left: 6.21px;
	top: 235.816px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4878 {
	fill: rgba(242,88,23,1);
}
.Path_4878 {
	overflow: visible;
	position: absolute;
	width: 7.979px;
	height: 10.664px;
	left: 205.941px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4879 {
	fill: rgba(242,88,23,1);
}
.Path_4879 {
	overflow: visible;
	position: absolute;
	width: 7.979px;
	height: 10.664px;
	left: 205.941px;
	top: 50.642px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4880 {
	fill: rgba(242,88,23,1);
}
.Path_4880 {
	overflow: visible;
	position: absolute;
	width: 9.879px;
	height: 9.877px;
	left: 219.031px;
	top: 6.202px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4881 {
	fill: rgba(242,88,23,1);
}
.Path_4881 {
	overflow: visible;
	position: absolute;
	width: 9.88px;
	height: 9.877px;
	left: 190.951px;
	top: 34.249px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4882 {
	fill: rgba(242,88,23,1);
}
.Path_4882 {
	overflow: visible;
	position: absolute;
	width: 10.667px;
	height: 7.979px;
	left: 224.452px;
	top: 21.174px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4883 {
	fill: rgba(242,88,23,1);
}
.Path_4883 {
	overflow: visible;
	position: absolute;
	width: 10.667px;
	height: 7.979px;
	left: 184.741px;
	top: 21.174px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4884 {
	fill: rgba(242,88,23,1);
}
.Path_4884 {
	overflow: visible;
	position: absolute;
	width: 9.88px;
	height: 9.876px;
	left: 219.031px;
	top: 34.249px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4885 {
	fill: rgba(242,88,23,1);
}
.Path_4885 {
	overflow: visible;
	position: absolute;
	width: 9.879px;
	height: 9.877px;
	left: 190.951px;
	top: 6.202px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4886 {
	fill: rgba(252,163,9,1);
}
.Path_4886 {
	overflow: visible;
	position: absolute;
	width: 61.372px;
	height: 61.373px;
	left: 105.484px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4887 {
	fill: rgba(253,142,9,1);
}
.Path_4887 {
	overflow: visible;
	position: absolute;
	width: 37.53px;
	height: 61.374px;
	left: 129.327px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4888 {
	fill: rgba(252,163,9,1);
}
.Path_4888 {
	overflow: visible;
	position: absolute;
	width: 61.372px;
	height: 61.372px;
	left: 0px;
	top: 54.486px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4889 {
	fill: rgba(253,142,9,1);
}
.Path_4889 {
	overflow: visible;
	position: absolute;
	width: 37.529px;
	height: 61.373px;
	left: 23.843px;
	top: 54.486px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4890 {
	fill: rgba(252,163,9,1);
}
.Path_4890 {
	overflow: visible;
	position: absolute;
	width: 61.372px;
	height: 61.372px;
	left: 210.968px;
	top: 80.369px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4891 {
	fill: rgba(253,142,9,1);
}
.Path_4891 {
	overflow: visible;
	position: absolute;
	width: 37.529px;
	height: 61.373px;
	left: 234.812px;
	top: 80.37px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_358_fgh {
	position: absolute;
	width: 167.079px;
	height: 185.351px;
	left: 52.902px;
	top: 122.649px;
	overflow: visible;
}
#Path_4892 {
	fill: rgba(241,53,85,1);
}
.Path_4892 {
	overflow: visible;
	position: absolute;
	width: 59.608px;
	height: 140.874px;
	left: 107.472px;
	top: 44.477px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4893 {
	fill: rgba(241,53,85,1);
}
.Path_4893 {
	overflow: visible;
	position: absolute;
	width: 63.615px;
	height: 167.701px;
	left: 0px;
	top: 17.649px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4894 {
	fill: rgba(241,53,85,1);
}
.Path_4894 {
	overflow: visible;
	position: absolute;
	width: 20.117px;
	height: 185.351px;
	left: 73.21px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#photo_2021-09-14_20-15-47_fgl {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 181px;
	height: 176px;
	left: 1150px;
	top: 397px;
	overflow: visible;
}
#flags {
	transform: matrix(1,0,0,1,790.6863,460.2672) rotate(16deg);
	transform-origin: center;
	position: absolute;
	width: 223.974px;
	height: 227.267px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4895 {
	fill: rgba(147,202,226,1);
}
.Path_4895 {
	overflow: visible;
	position: absolute;
	width: 235.183px;
	height: 133.462px;
	left: 42.051px;
	top: 0.01px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_359_fgo {
	position: absolute;
	width: 223.974px;
	height: 59.431px;
	left: 0.429px;
	top: 159.838px;
	overflow: visible;
}
#Path_4896 {
	fill: rgba(251,204,52,1);
}
.Path_4896 {
	overflow: visible;
	position: absolute;
	width: 231.072px;
	height: 116.749px;
	left: 0px;
	top: 2.116px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_347 {
	fill: rgba(251,204,52,1);
}
.Ellipse_347 {
	position: absolute;
	overflow: visible;
	width: 10.89px;
	height: 10.891px;
	left: 209.502px;
	top: 56.072px;
}
#Ellipse_348 {
	fill: rgba(6,170,233,1);
}
.Ellipse_348 {
	position: absolute;
	overflow: visible;
	width: 10.89px;
	height: 10.891px;
	left: 8.026px;
	top: 206.102px;
}
#Ellipse_349 {
	fill: rgba(237,28,36,1);
}
.Ellipse_349 {
	position: absolute;
	overflow: visible;
	width: 10.89px;
	height: 10.891px;
	left: 99.108px;
	top: 22.601px;
}
#Path_4897 {
	fill: rgba(251,204,52,1);
}
.Path_4897 {
	overflow: visible;
	position: absolute;
	width: 9.295px;
	height: 9.295px;
	left: 56.196px;
	top: 17.734px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4898 {
	fill: rgba(255,29,37,1);
}
.Path_4898 {
	overflow: visible;
	position: absolute;
	width: 6.052px;
	height: 7.561px;
	left: 208.889px;
	top: 49.326px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4899 {
	fill: rgba(6,170,233,1);
}
.Path_4899 {
	overflow: visible;
	position: absolute;
	width: 9.295px;
	height: 9.295px;
	left: 160.043px;
	top: 29.194px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_360_fgw {
	position: absolute;
	width: 84.556px;
	height: 16.321px;
	left: 171.537px;
	top: 89.384px;
	overflow: visible;
}
#Path_4900 {
	fill: rgba(122,201,67,1);
}
.Path_4900 {
	overflow: visible;
	position: absolute;
	width: 9.295px;
	height: 9.295px;
	left: 2.427px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4901 {
	fill: rgba(122,201,67,1);
}
.Path_4901 {
	overflow: visible;
	position: absolute;
	width: 9.295px;
	height: 9.295px;
	left: 74.056px;
	top: 29.7px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4902 {
	fill: rgba(255,29,37,1);
}
.Path_4902 {
	overflow: visible;
	position: absolute;
	width: 6.052px;
	height: 7.562px;
	left: 162.501px;
	top: 140.416px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4903 {
	fill: rgba(122,201,67,1);
}
.Path_4903 {
	overflow: visible;
	position: absolute;
	width: 9.295px;
	height: 9.295px;
	left: 172.396px;
	top: 186.247px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4904 {
	fill: rgba(6,170,233,1);
}
.Path_4904 {
	overflow: visible;
	position: absolute;
	width: 9.295px;
	height: 9.295px;
	left: 90.76px;
	top: 142.169px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4905 {
	fill: rgba(122,201,67,1);
}
.Path_4905 {
	overflow: visible;
	position: absolute;
	width: 6.052px;
	height: 7.561px;
	left: 91.599px;
	top: 232.182px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4906 {
	fill: rgba(6,170,233,1);
}
.Path_4906 {
	overflow: visible;
	position: absolute;
	width: 9.295px;
	height: 9.295px;
	left: 27.432px;
	top: 181.895px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4907 {
	fill: rgba(255,29,37,1);
}
.Path_4907 {
	overflow: visible;
	position: absolute;
	width: 9.295px;
	height: 9.295px;
	left: 35.247px;
	top: 221.346px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4908 {
	fill: rgba(6,170,233,1);
}
.Path_4908 {
	overflow: visible;
	position: absolute;
	width: 9.295px;
	height: 9.295px;
	left: 153.283px;
	top: 252.901px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3042 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 110px;
	top: 270px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Total_Revenue_fg {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_fg {
	fill: rgba(255,255,255,1);
}
.BG_fg {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_fg {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#next_fha {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__fhb {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1__fhb {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#customer_fhc {
	position: absolute;
	width: 39.18px;
	height: 34.129px;
	left: 21.366px;
	top: 25.436px;
	overflow: visible;
}
#Path_4909_fhd {
	fill: rgba(27,47,91,1);
}
.Path_4909_fhd {
	overflow: visible;
	position: absolute;
	width: 13.315px;
	height: 13.315px;
	left: 12.932px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4910_fhe {
	fill: rgba(27,47,91,1);
}
.Path_4910_fhe {
	overflow: visible;
	position: absolute;
	width: 8.417px;
	height: 8.417px;
	left: 28.849px;
	top: 4.897px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4911_fhf {
	fill: rgba(27,47,91,1);
}
.Path_4911_fhf {
	overflow: visible;
	position: absolute;
	width: 39.18px;
	height: 18.212px;
	left: 0px;
	top: 15.917px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4912_fhg {
	fill: rgba(27,47,91,1);
}
.Path_4912_fhg {
	overflow: visible;
	position: absolute;
	width: 8.417px;
	height: 8.417px;
	left: 1.913px;
	top: 4.897px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3044 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 110px;
	top: 514px;
	overflow: visible;
}
#Total_Revenue_fhi {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_fhj {
	fill: rgba(18,168,246,1);
}
.BG_fhj {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_fhk {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#next_fhl {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__fhm {
	fill: rgba(255,255,255,1);
}
.Chevron_Right_1__fhm {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#surface1_fhn {
	position: absolute;
	width: 39.18px;
	height: 52.319px;
	left: 21.366px;
	top: 16.341px;
	overflow: visible;
}
#Path_4913_fho {
	fill: rgba(255,255,255,1);
}
.Path_4913_fho {
	overflow: visible;
	position: absolute;
	width: 39.18px;
	height: 27.93px;
	left: 0px;
	top: 24.389px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4914_fhp {
	fill: rgba(255,255,255,1);
}
.Path_4914_fhp {
	overflow: visible;
	position: absolute;
	width: 23.588px;
	height: 22.584px;
	left: 7.796px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3045 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 110px;
	top: 636px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: roletree.html;
	cursor: pointer;
}
#Total_Revenue_fhr {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_fhs {
	fill: rgba(255,255,255,1);
}
.BG_fhs {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#next_fht {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__fhu {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1__fhu {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Title_fhv {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#role_fhw {
	position: absolute;
	width: 39.18px;
	height: 39.2px;
	left: 21.366px;
	top: 22.9px;
	overflow: visible;
}
#Path_4915_fhx {
	fill: rgba(27,47,91,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4915_fhx {
	overflow: visible;
	position: absolute;
	width: 4.909px;
	height: 6.865px;
	left: 7.251px;
	top: 2.71px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4916_fhy {
	fill: rgba(27,47,91,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4916_fhy {
	overflow: visible;
	position: absolute;
	width: 40.18px;
	height: 40.2px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4917_fhz {
	fill: rgba(27,47,91,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4917_fhz {
	overflow: visible;
	position: absolute;
	width: 7.516px;
	height: 7.516px;
	left: 28.103px;
	top: 4.665px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_3_fh {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3_fh {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 408px;
	height: 63px;
	left: 100px;
	top: 175px;
}
#Search_fh {
	left: 157px;
	top: 188px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Layer_5_fh {
	position: absolute;
	width: 15.317px;
	height: 15.316px;
	left: 119px;
	top: 189.842px;
	overflow: visible;
}
#Path_4630_fh {
	fill: rgba(18,168,246,1);
}
.Path_4630_fh {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.316px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_fh {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_fh {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Hunter_Zolomon_fh {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_fh {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_fh {
	fill: rgba(18,168,246,1);
}
.Path_4632_fh {
	overflow: visible;
	position: absolute;
	width: 27.081px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_fh {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_fh {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_fh {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_fh {
	position: absolute;
	overflow: visible;
	width: 10.036px;
	height: 10.037px;
	left: 48.599px;
	top: 56.468px;
}
#Path_4633_fia {
	fill: rgba(255,255,255,1);
}
.Path_4633_fia {
	overflow: visible;
	position: absolute;
	width: 7.711px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_fib {
	fill: rgba(18,168,246,1);
}
.Path_4634_fib {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.496px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_fic {
	fill: rgba(255,255,255,1);
}
.Path_4635_fic {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.034px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_fid {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.57px;
	overflow: visible;
}
#Group_55_fie {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_fif {
	fill: rgba(18,168,246,1);
}
.Path_4636_fif {
	overflow: visible;
	position: absolute;
	width: 39.651px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_fig {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.298px;
	top: 75.962px;
	overflow: visible;
}
#Path_4637_fih {
	fill: rgba(18,26,80,1);
}
.Path_4637_fih {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_fii {
	fill: rgba(18,26,80,1);
}
.Path_4638_fii {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_fij {
	fill: rgba(255,255,255,1);
}
.Path_4639_fij {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.244px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_fik {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_fik {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.404px;
}
#Group_3056_fil {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_fim {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_fin {
	fill: rgba(27,47,91,1);
}
.home_fin {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_fio {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_fip {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_fiq {
	fill: rgba(27,47,91,1);
}
.Path_4640_fiq {
	overflow: visible;
	position: absolute;
	width: 13.456px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_fir {
	fill: rgba(27,47,91,1);
}
.Path_4641_fir {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.386px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_fis {
	fill: rgba(27,47,91,1);
}
.Path_4642_fis {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_fit {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__fiu {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_fiv {
	fill: rgba(27,47,91,1);
}
.Path_4643_fiv {
	overflow: visible;
	position: absolute;
	width: 13.946px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_fiw {
	fill: rgba(27,47,91,1);
}
.Path_4644_fiw {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.12px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_fix {
	fill: rgba(27,47,91,1);
}
.Path_4646_fix {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_fiy {
	fill: rgba(27,47,91,1);
}
.Path_4647_fiy {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_fiz {
	fill: rgba(27,47,91,1);
}
.Path_4648_fiz {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_fi {
	fill: rgba(27,47,91,1);
}
.Path_4649_fi {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_fi {
	fill: rgba(27,47,91,1);
}
.Path_4651_fi {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_fi {
	fill: rgba(27,47,91,1);
}
.Path_4653_fi {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 622.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_fi {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_fi {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_fi {
	fill: rgba(27,47,91,1);
}
.Path_4650_fi {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.926px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_fi {
	fill: rgba(27,47,91,1);
}
.Path_4652_fi {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_fi {
	fill: rgba(27,47,91,1);
}
.Path_4654_fi {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_fi {
	fill: rgba(248,248,248,1);
}
.Rectangle_2_fi {
	position: absolute;
	overflow: visible;
	width: 238px;
	height: 37px;
	left: 896px;
	top: 43px;
}
#Group_3060_fi {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__fja {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Group_63_fjb {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_fjc {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_fjd {
	fill: rgba(18,168,246,1);
}
.Path_4662_fjd {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_fje {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_fjf {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_fjg {
	fill: rgba(18,168,246,1);
}
.Path_4663_fjg {
	overflow: visible;
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_fjh {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_fji {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_fjj {
	fill: rgba(18,168,246,1);
}
.Path_4664_fjj {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_fjk {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_fjl {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_fjm {
	fill: rgba(18,168,246,1);
}
.Path_4665_fjm {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_fjn {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_fjo {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_fjp {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_fjq {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_fjr {
	fill: rgba(27,47,91,1);
}
.Path_4680_fjr {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.102px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_fjs {
	fill: rgba(27,47,91,1);
}
.Path_4681_fjs {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_fjt {
	fill: rgba(27,47,91,1);
}
.Path_4682_fjt {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_fju {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_fjv {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}
#Group_3062_fjw {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_fjx {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_fjy {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_fjz {
	fill: rgba(27,47,91,1);
}
.Path_4688_fjz {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}