.mediaViewInfo {
	--web-view-name: Product Information;
	--web-view-id: Product_Information;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Product_Information;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Product_Information {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Product Information;
	--web-view-id: Product_Information;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_670 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_670 {
	position: absolute;
	overflow: visible;
	width: 236px;
	height: 41px;
	left: 713px;
	top: 824px;
}
#Rectangle_669 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_669 {
	position: absolute;
	overflow: visible;
	width: 236px;
	height: 41px;
	left: 234px;
	top: 824px;
}
#Group_2986_bw {
	position: absolute;
	width: 199px;
	height: 53px;
	left: 1688px;
	top: 112px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Null Add Product .html;
	cursor: pointer;
}
#Rectangle_172_bw {
	fill: rgba(255,255,255,1);
}
.Rectangle_172_bw {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 229px;
	height: 83px;
	left: 0px;
	top: 0px;
}
#add-to-cart_bw {
	position: absolute;
	width: 30.874px;
	height: 30.874px;
	left: 145.346px;
	top: 9.563px;
	overflow: visible;
}
#Path_4728_bw {
	fill: rgba(27,47,91,1);
}
.Path_4728_bw {
	overflow: visible;
	position: absolute;
	width: 30.874px;
	height: 30.874px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4729_bxa {
	fill: rgba(27,47,91,1);
}
.Path_4729_bxa {
	overflow: visible;
	position: absolute;
	width: 7.236px;
	height: 7.236px;
	left: 14.231px;
	top: 9.407px;
	transform: matrix(1,0,0,1,0,0);
}
#Add_Products__bxb {
	left: 22.781px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Category_bxc {
	left: 36px;
	top: 124px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Line_73 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_73 {
	overflow: visible;
	position: absolute;
	width: 1390px;
	height: 1px;
	left: 29.5px;
	top: 175.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_82_bxr {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_82_bxr {
	overflow: visible;
	position: absolute;
	width: 525px;
	height: 1px;
	left: 1419.5px;
	top: 175.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2998_bxf {
	position: absolute;
	width: 199px;
	height: 53px;
	left: 1477px;
	top: 112px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Return Policy.html;
	cursor: pointer;
}
#Rectangle_173_bxg {
	fill: rgba(255,255,255,1);
}
.Rectangle_173_bxg {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 229px;
	height: 83px;
	left: 0px;
	top: 0px;
}
#solid_1_bxh {
	position: absolute;
	width: 31.773px;
	height: 35.303px;
	left: 24.172px;
	top: 5.348px;
	overflow: visible;
}
#Path_4808_bxi {
	fill: rgba(254,0,0,1);
}
.Path_4808_bxi {
	overflow: visible;
	position: absolute;
	width: 31.772px;
	height: 35.303px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4809_bxj {
	fill: rgba(254,0,0,1);
}
.Path_4809_bxj {
	overflow: visible;
	position: absolute;
	width: 2.354px;
	height: 3.53px;
	left: 18.828px;
	top: 28.831px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4810_bxk {
	fill: rgba(254,0,0,1);
}
.Path_4810_bxk {
	overflow: visible;
	position: absolute;
	width: 10.003px;
	height: 9.414px;
	left: 4.707px;
	top: 22.947px;
	transform: matrix(1,0,0,1,0,0);
}
#Return_Policy__bxl {
	left: 63px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(254,0,0,1);
}
#left-arrow-in-circular-button-_bxm {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 47.484px;
	top: 953.201px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#n_x34__2__bxn {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_157_bxo {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4836_bxp {
	fill: rgba(18,168,246,1);
}
.Path_4836_bxp {
	overflow: visible;
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_73_bxq {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_73_bxq {
	overflow: visible;
	position: absolute;
	width: 1447px;
	height: 1px;
	left: -27.5px;
	top: 175.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_82_bxr {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_82_bxr {
	overflow: visible;
	position: absolute;
	width: 525px;
	height: 1px;
	left: 1419.5px;
	top: 175.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_5_bxs {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_bxs {
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 40px;
	left: 1251px;
	top: 119px;
}
#Search_bxt {
	left: 1297px;
	top: 132px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Path_4630_bxu {
	fill: rgba(18,168,246,1);
}
.Path_4630_bxu {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.315px;
	left: 1269.562px;
	top: 133.842px;
	transform: matrix(1,0,0,1,0,0);
}
#Product_Information_bxv {
	left: 679px;
	top: 114px;
	position: absolute;
	overflow: visible;
	width: 371px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(27,47,91,1);
}
#Line_105 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_105 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 904px;
	left: 960px;
	top: 176px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_619 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_619 {
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 41px;
	left: 533px;
	top: 648px;
}
#Celery {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Celery {
	position: absolute;
	overflow: visible;
	width: 244px;
	height: 275px;
	left: 26px;
	top: 290px;
}
#Rectangle_576 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_576 {
	position: absolute;
	overflow: visible;
	width: 244px;
	height: 41px;
	left: 26px;
	top: 579px;
}
#Upload_Image_ {
	left: 71px;
	top: 585px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Product_Name {
	left: 289px;
	top: 308px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_601 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_601 {
	position: absolute;
	overflow: visible;
	width: 453px;
	height: 41px;
	left: 496px;
	top: 303px;
}
#Import_Date {
	left: 27px;
	top: 828px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#calendar_1_bx {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 437.311px;
	top: 834.906px;
	overflow: visible;
}
#Path_4690_bx {
	fill: rgba(18,168,246,1);
}
.Path_4690_bx {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.045px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_bx {
	fill: rgba(18,168,246,1);
}
.Path_4691_bx {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Fri_10__SEP__2021_bx {
	left: 248.75px;
	top: 833px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Expire_Date {
	left: 509px;
	top: 829px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#calendar_1_bya {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 916.811px;
	top: 836.906px;
	overflow: visible;
}
#Path_4690_bya {
	fill: rgba(18,168,246,1);
}
.Path_4690_bya {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.045px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_byb {
	fill: rgba(18,168,246,1);
}
.Path_4691_byb {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Mon_13__SEP__2021 {
	left: 727.25px;
	top: 834px;
	position: absolute;
	overflow: visible;
	width: 158px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Tomato_byd {
	left: 670px;
	top: 308px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Product_ID {
	left: 289px;
	top: 392px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_604 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_604 {
	position: absolute;
	overflow: visible;
	width: 453px;
	height: 41px;
	left: 496px;
	top: 387px;
}
#n_02 {
	left: 687px;
	top: 393px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Original_price {
	left: 27px;
	top: 654px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Quality_ {
	left: 289px;
	top: 476px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_607 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_607 {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 41px;
	left: 496px;
	top: 471px;
}
#n_0_byk {
	left: 576px;
	top: 476px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_608 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_608 {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 41px;
	left: 771px;
	top: 471px;
}
#Unit {
	left: 699px;
	top: 477px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Kg_byn {
	left: 845px;
	top: 477px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Sale_price {
	left: 27px;
	top: 740px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Amount_ {
	left: 289px;
	top: 562px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_611 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_611 {
	position: absolute;
	overflow: visible;
	width: 234px;
	height: 41px;
	left: 496px;
	top: 556px;
}
#n_0_byr {
	left: 591px;
	top: 562px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_612 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_612 {
	position: absolute;
	overflow: visible;
	width: 213px;
	height: 41px;
	left: 736px;
	top: 556px;
}
#n_60000_Riel {
	left: 776px;
	top: 562px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_614 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_614 {
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 41px;
	left: 234px;
	top: 648px;
}
#n_8_byv {
	left: 341px;
	top: 654px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n_200_Riel {
	left: 612px;
	top: 654px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_616 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_616 {
	position: absolute;
	overflow: visible;
	width: 126px;
	height: 41px;
	left: 823px;
	top: 649px;
}
#Kg_byy {
	left: 866px;
	top: 655px;
	position: absolute;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_620 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_620 {
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 41px;
	left: 533px;
	top: 734px;
}
#Rectangle_621 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_621 {
	position: absolute;
	overflow: visible;
	width: 262px;
	height: 41px;
	left: 234px;
	top: 734px;
}
#n__by {
	left: 354px;
	top: 740px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n_000_Riel {
	left: 612px;
	top: 740px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_622 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_622 {
	position: absolute;
	overflow: visible;
	width: 126px;
	height: 41px;
	left: 823px;
	top: 735px;
}
#Kg_by {
	left: 866px;
	top: 741px;
	position: absolute;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Product_Information_by {
	left: 36px;
	top: 221px;
	position: absolute;
	overflow: visible;
	width: 288px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Product_Detail_ {
	left: 998px;
	top: 221px;
	position: absolute;
	overflow: visible;
	width: 211px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Import_Form {
	left: 1003px;
	top: 308px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_623 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_623 {
	position: absolute;
	overflow: visible;
	width: 677px;
	height: 41px;
	left: 1210px;
	top: 303px;
}
#Brave_Dragon_KPC_Farm {
	left: 1418px;
	top: 309px;
	position: absolute;
	overflow: visible;
	width: 262px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Import_Address_ {
	left: 1003px;
	top: 392px;
	position: absolute;
	overflow: visible;
	width: 185px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_624 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_624 {
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 41px;
	left: 1210px;
	top: 387px;
}
#Kampong_Cham_Province {
	left: 1242px;
	top: 393px;
	position: absolute;
	overflow: visible;
	width: 276px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_625 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_625 {
	position: absolute;
	overflow: visible;
	width: 339px;
	height: 41px;
	left: 1552px;
	top: 387px;
}
#Kampong_Cham_City {
	left: 1609px;
	top: 393px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Import_Contact_ {
	left: 1003px;
	top: 476px;
	position: absolute;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_627 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_627 {
	position: absolute;
	overflow: visible;
	width: 341px;
	height: 41px;
	left: 1208px;
	top: 471px;
}
#n_92_00_00_00_ {
	left: 1300px;
	top: 476px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#Rectangle_628 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_628 {
	position: absolute;
	overflow: visible;
	width: 341px;
	height: 41px;
	left: 1552px;
	top: 471px;
}
#n_96_00_00_00_ {
	left: 1644px;
	top: 476px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#pomodori_bzk {
	position: absolute;
	width: 201.03px;
	height: 144.093px;
	left: 47.484px;
	top: 355.454px;
	overflow: visible;
}
#Note__Exchange_Currency__1_USD {
	left: 595px;
	top: 1005px;
	position: absolute;
	overflow: visible;
	width: 355px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Rectangle_637 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_637 {
	position: absolute;
	overflow: visible;
	width: 683px;
	height: 250px;
	left: 1210px;
	top: 548px;
}
#Bar_Code {
	left: 1003px;
	top: 655px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#tomato {
	position: absolute;
	width: 512px;
	height: 220px;
	left: 1284px;
	top: 560px;
	overflow: visible;
}
#Rectangle_573 {
	fill: rgba(18,168,246,1);
}
.Rectangle_573 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 90px;
	left: 1661px;
	top: 986px;
}
#Add_New_Product {
	left: 1692px;
	top: 1001px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Path_9273 {
	fill: rgba(255,255,255,1);
}
.Path_9273 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 280px;
	height: 90px;
	left: 1376px;
	top: 986px;
	transform: matrix(1,0,0,1,0,0);
}
#Add_Existing_Product {
	left: 1388px;
	top: 1001px;
	position: absolute;
	overflow: visible;
	width: 227px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Rectangle_600 {
	fill: rgba(255,255,255,1);
}
.Rectangle_600 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 280px;
	height: 90px;
	left: 1079px;
	top: 986px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Cancel_bzu {
	left: 1167px;
	top: 1001px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#plus_bzv {
	fill: rgba(27,47,91,1);
}
.plus_bzv {
	overflow: visible;
	position: absolute;
	width: 16.442px;
	height: 16.271px;
	left: 636.558px;
	top: 482.587px;
	transform: matrix(1,0,0,1,0,0);
}
#minus_bzw {
	position: absolute;
	width: 16.825px;
	height: 16.825px;
	left: 517.283px;
	top: 482.587px;
	overflow: visible;
}
#Group_111_bzx {
	position: absolute;
	width: 16.825px;
	height: 16.825px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4826_bzy {
	fill: rgba(27,47,91,1);
}
.Path_4826_bzy {
	overflow: visible;
	position: absolute;
	width: 16.824px;
	height: 16.825px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_bzz {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_bzz {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_698_bz {
	fill: rgba(248,248,248,1);
}
.Rectangle_698_bz {
	position: absolute;
	overflow: visible;
	width: 240px;
	height: 37px;
	left: 606px;
	top: 43px;
}
#Hunter_Zolomon_bz {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_bz {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_bz {
	fill: rgba(18,168,246,1);
}
.Path_4632_bz {
	overflow: visible;
	position: absolute;
	width: 27.081px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_bz {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_bz {
	position: absolute;
	overflow: visible;
	width: 13.688px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_bz {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_bz {
	position: absolute;
	overflow: visible;
	width: 10.036px;
	height: 10.036px;
	left: 48.6px;
	top: 56.468px;
}
#Path_4633_bz {
	fill: rgba(255,255,255,1);
}
.Path_4633_bz {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_bz {
	fill: rgba(18,168,246,1);
}
.Path_4634_bz {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_bz {
	fill: rgba(255,255,255,1);
}
.Path_4635_bz {
	overflow: visible;
	position: absolute;
	width: 7.272px;
	height: 4.033px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_bz {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.571px;
	overflow: visible;
}
#Group_55_ba {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_bb {
	fill: rgba(18,168,246,1);
}
.Path_4636_bb {
	overflow: visible;
	position: absolute;
	width: 39.651px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_bc {
	fill: rgba(255,255,255,1);
}
.Path_4639_bc {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.243px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_bd {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_bd {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.405px;
}
#Group_3056_be {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_bf {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_bg {
	fill: rgba(27,47,91,1);
}
.home_bg {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_bh {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_bi {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_bj {
	fill: rgba(27,47,91,1);
}
.Path_4640_bj {
	overflow: visible;
	position: absolute;
	width: 13.455px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_bk {
	fill: rgba(27,47,91,1);
}
.Path_4641_bk {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.387px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_bl {
	fill: rgba(27,47,91,1);
}
.Path_4642_bl {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_bm {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__bn {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_bo {
	fill: rgba(27,47,91,1);
}
.Path_4643_bo {
	overflow: visible;
	position: absolute;
	width: 13.945px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_bp {
	fill: rgba(27,47,91,1);
}
.Path_4644_bp {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.119px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_bq {
	fill: rgba(18,168,246,1);
}
.Path_4646_bq {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_br {
	fill: rgba(18,168,246,1);
}
.Path_4647_br {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_bs {
	fill: rgba(18,168,246,1);
}
.Path_4648_bs {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_bt {
	fill: rgba(18,168,246,1);
}
.Path_4649_bt {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_bu {
	fill: rgba(18,168,246,1);
}
.Path_4651_bu {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 615.001px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_bw {
	fill: rgba(18,168,246,1);
}
.Path_4653_bw {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 622.854px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_bw {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
}
#Inventory_Management_bx {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Path_4650_by {
	fill: rgba(18,168,246,1);
}
.Path_4650_by {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.927px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_bz {
	fill: rgba(18,168,246,1);
}
.Path_4652_bz {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_b {
	fill: rgba(18,168,246,1);
}
.Path_4654_b {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_b {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__b {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_b {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_b {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_b {
	fill: rgba(27,47,91,1);
}
.Path_4662_b {
	overflow: visible;
	position: absolute;
	width: 7.636px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_b {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_b {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_b {
	fill: rgba(27,47,91,1);
}
.Path_4663_b {
	overflow: visible;
	position: absolute;
	width: 3.479px;
	height: 2.928px;
	left: 0.001px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_b {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_ba {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_bb {
	fill: rgba(27,47,91,1);
}
.Path_4664_bb {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_bc {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_bd {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_be {
	fill: rgba(27,47,91,1);
}
.Path_4665_be {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_bf {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_bg {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_bh {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_bi {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_bj {
	fill: rgba(27,47,91,1);
}
.Path_4680_bj {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.101px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_bk {
	fill: rgba(27,47,91,1);
}
.Path_4681_bk {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_bl {
	fill: rgba(27,47,91,1);
}
.Path_4682_bl {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3062_bm {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_bn {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_bo {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_bp {
	fill: rgba(27,47,91,1);
}
.Path_4688_bp {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_bq {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_br {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}