.mediaViewInfo {
	--web-view-name: View Purchase History 1;
	--web-view-id: View_Purchase_History_1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: View_Purchase_History_1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#View_Purchase_History_1 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: View Purchase History 1;
	--web-view-id: View_Purchase_History_1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Line_5_cse {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5_cse {
	overflow: visible;
	position: absolute;
	width: 1920.5px;
	height: 2px;
	left: 0px;
	top: 168.5px;
	transform: matrix(1,0,0,1,0,0);
}
#View_Purchase_History__csf {
	left: 797px;
	top: 116px;
	position: absolute;
	overflow: visible;
	width: 327px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Rectangle_60_csg {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_60_csg {
	position: absolute;
	overflow: visible;
	width: 187px;
	height: 45px;
	left: 55px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History Data 1.html;
	cursor: pointer;
}
#Date_Range_csh {
	left: 55px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_61_csi {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_61_csi {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 45px;
	left: 472px;
	top: 218px;
}
#Today_csj {
	left: 480px;
	top: 233px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021_csk {
	left: 64px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History Data 1.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#TO_csl {
	left: 246px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#calendar_1_csm {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 215.42px;
	top: 232.406px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History Data 1.html;
	cursor: pointer;
}
#Path_4690_csn {
	fill: rgba(18,168,246,1);
}
.Path_4690_csn {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.045px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_cso {
	fill: rgba(18,168,246,1);
}
.Path_4691_cso {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_63_csp {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_63_csp {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 45px;
	left: 578px;
	top: 218px;
}
#Position_csq {
	left: 578px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#All_Position_csr {
	left: 594px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_64_css {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_64_css {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 45px;
	left: 782px;
	top: 218px;
}
#User_cst {
	left: 782px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#All_User_csu {
	left: 798px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_65_csv {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_65_csv {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1341px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#CANCEL_csw {
	left: 1353px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_66_csx {
	fill: rgba(18,168,246,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_66_csx {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1789px;
	top: 218px;
}
#Clear_csy {
	left: 1821.454px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Rectangle_67_csz {
	fill: rgba(18,168,246,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_67_csz {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1457px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History .html;
	cursor: pointer;
}
#VIEW_cs {
	left: 1488px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History .html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#criminal-record_cs {
	position: absolute;
	width: 11.35px;
	height: 11.35px;
	left: 1476px;
	top: 235px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History .html;
	cursor: pointer;
}
#Ellipse_23_cs {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_cs {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 5px;
	top: 5px;
}
#Path_4692_cs {
	fill: rgba(255,255,255,1);
}
.Path_4692_cs {
	overflow: visible;
	position: absolute;
	width: 2.966px;
	height: 2.966px;
	left: 8.384px;
	top: 8.384px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_cs {
	position: absolute;
	width: 8.645px;
	height: 11.35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_cs {
	fill: rgba(255,255,255,1);
}
.Path_4693_cs {
	overflow: visible;
	position: absolute;
	width: 2.022px;
	height: 2.022px;
	left: 0.195px;
	top: 0.195px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_cs {
	fill: rgba(255,255,255,1);
}
.Path_4694_cs {
	overflow: visible;
	position: absolute;
	width: 3.038px;
	height: 1.108px;
	left: 1.995px;
	top: 4.655px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_cs {
	fill: rgba(255,255,255,1);
}
.Path_4695_cs {
	overflow: visible;
	position: absolute;
	width: 8.645px;
	height: 11.35px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#rubber_cs {
	position: absolute;
	width: 13.604px;
	height: 11.511px;
	left: 1804.546px;
	top: 234.744px;
	overflow: visible;
}
#Path_4701_cs {
	fill: rgba(255,255,255,1);
}
.Path_4701_cs {
	overflow: visible;
	position: absolute;
	width: 4.546px;
	height: 2.256px;
	transform: translate(0px, -39.388px) matrix(0.9998,0,0,0.9998,4.7976,44.791) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_4702_cta {
	fill: rgba(255,255,255,1);
}
.Path_4702_cta {
	overflow: visible;
	position: absolute;
	width: 4.546px;
	height: 2.28px;
	transform: translate(0px, -39.388px) matrix(0.9998,0,0,0.9998,2.6305,42.6113) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_4703_ctb {
	fill: rgba(255,255,255,1);
}
.Path_4703_ctb {
	overflow: visible;
	position: absolute;
	width: 6.778px;
	height: 5.226px;
	left: 6.826px;
	top: 6.286px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4704_ctc {
	fill: rgba(255,255,255,1);
}
.Path_4704_ctc {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 5.783px;
	left: 0px;
	top: 5.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4705_ctd {
	fill: rgba(255,255,255,1);
}
.Path_4705_ctd {
	overflow: visible;
	position: absolute;
	width: 7.335px;
	height: 7.334px;
	left: 6.269px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_76_cte {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_76_cte {
	position: absolute;
	overflow: visible;
	width: 186px;
	height: 45px;
	left: 271px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History Data 2.html;
	cursor: pointer;
}
#Fri_10__SEP__2021_ctf {
	left: 279px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History Data 2.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#calendar_1_ctg {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 430.42px;
	top: 233px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History Data 2.html;
	cursor: pointer;
}
#Path_4690_cth {
	fill: rgba(18,168,246,1);
}
.Path_4690_cth {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.045px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_cti {
	fill: rgba(18,168,246,1);
}
.Path_4691_cti {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_5_ctj {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_ctj {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 45px;
	left: 989px;
	top: 218px;
}
#Search_ctk {
	left: 1034px;
	top: 229px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(136,142,155,1);
}
#Path_4630_ctl {
	fill: rgba(18,168,246,1);
}
.Path_4630_ctl {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.316px;
	left: 1007px;
	top: 230.842px;
	transform: matrix(1,0,0,1,0,0);
}
#Search_by_ID_invoice__ctm {
	left: 989px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_2_ctn {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_ctn {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_6_cto {
	fill: rgba(248,248,248,1);
}
.Rectangle_6_cto {
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 37px;
	left: 293px;
	top: 43px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Hunter_Zolomon_ctp {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_ctq {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_ctr {
	fill: rgba(18,168,246,1);
}
.Path_4632_ctr {
	overflow: visible;
	position: absolute;
	width: 27.082px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_cts {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_cts {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_ctt {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_ctt {
	position: absolute;
	overflow: visible;
	width: 10.037px;
	height: 10.037px;
	left: 48.599px;
	top: 56.468px;
}
#Path_4633_ctu {
	fill: rgba(255,255,255,1);
}
.Path_4633_ctu {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_ctv {
	fill: rgba(18,168,246,1);
}
.Path_4634_ctv {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.496px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_ctw {
	fill: rgba(255,255,255,1);
}
.Path_4635_ctw {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.034px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_ctx {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.57px;
	overflow: visible;
}
#Group_55_cty {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_ctz {
	fill: rgba(18,168,246,1);
}
.Path_4636_ctz {
	overflow: visible;
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_ct {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.298px;
	top: 75.962px;
	overflow: visible;
}
#Path_4637_ct {
	fill: rgba(18,26,80,1);
}
.Path_4637_ct {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_ct {
	fill: rgba(18,26,80,1);
}
.Path_4638_ct {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_ct {
	fill: rgba(255,255,255,1);
}
.Path_4639_ct {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.243px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_ct {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_ct {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.404px;
}
#Group_3056_ct {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_ct {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_ct {
	fill: rgba(27,47,91,1);
}
.home_ct {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_ct {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_ct {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Path_4640_cua {
	fill: rgba(18,168,246,1);
}
.Path_4640_cua {
	overflow: visible;
	position: absolute;
	width: 13.456px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_cub {
	fill: rgba(18,168,246,1);
}
.Path_4641_cub {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.386px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_cuc {
	fill: rgba(18,168,246,1);
}
.Path_4642_cuc {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_cud {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__cue {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_cuf {
	fill: rgba(27,47,91,1);
}
.Path_4643_cuf {
	overflow: visible;
	position: absolute;
	width: 13.946px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_cug {
	fill: rgba(27,47,91,1);
}
.Path_4644_cug {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.12px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_cuh {
	fill: rgba(27,47,91,1);
}
.Path_4646_cuh {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_cui {
	fill: rgba(27,47,91,1);
}
.Path_4647_cui {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_cuj {
	fill: rgba(27,47,91,1);
}
.Path_4648_cuj {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_cuk {
	fill: rgba(27,47,91,1);
}
.Path_4649_cuk {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_cul {
	fill: rgba(27,47,91,1);
}
.Path_4651_cul {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_cum {
	fill: rgba(27,47,91,1);
}
.Path_4653_cum {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 622.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_cun {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_cuo {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_cup {
	fill: rgba(27,47,91,1);
}
.Path_4650_cup {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.926px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_cuq {
	fill: rgba(27,47,91,1);
}
.Path_4652_cuq {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_cur {
	fill: rgba(27,47,91,1);
}
.Path_4654_cur {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_cus {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__cut {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_cuu {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_cuv {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_cuw {
	fill: rgba(27,47,91,1);
}
.Path_4662_cuw {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_cux {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_cuy {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_cuz {
	fill: rgba(27,47,91,1);
}
.Path_4663_cuz {
	overflow: visible;
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_cu {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_cu {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_cu {
	fill: rgba(27,47,91,1);
}
.Path_4664_cu {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_cu {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_cu {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_cu {
	fill: rgba(27,47,91,1);
}
.Path_4665_cu {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_cu {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_cu {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_cu {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_cu {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_cva {
	fill: rgba(27,47,91,1);
}
.Path_4680_cva {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.102px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_cvb {
	fill: rgba(27,47,91,1);
}
.Path_4681_cvb {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_cvc {
	fill: rgba(27,47,91,1);
}
.Path_4682_cvc {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3062_cvd {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_cve {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_cvf {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_cvg {
	fill: rgba(27,47,91,1);
}
.Path_4688_cvg {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_cvh {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_cvi {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}