.mediaViewInfo {
	--web-view-name: Result View Purchase History ;
	--web-view-id: Result_View_Purchase_History_;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Result_View_Purchase_History_;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Result_View_Purchase_History_ {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Result View Purchase History ;
	--web-view-id: Result_View_Purchase_History_;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_207 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_207 {
	position: absolute;
	overflow: visible;
	width: 1298px;
	height: 658px;
	left: 311px;
	top: 425px;
}
#Rectangle_181 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_181 {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 45px;
	left: 1453.99px;
	top: 440px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: View Invoice.html;
	cursor: pointer;
}
#TODAY_cby {
	left: 311px;
	top: 323px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n_00AM_-_810_PM_cbz {
	left: 413px;
	top: 329px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Invoice_ID {
	left: 319.99px;
	top: 381px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Checkout_By_ {
	left: 473.99px;
	top: 381px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Checkout_Time {
	left: 717.99px;
	top: 381px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Amount {
	left: 1002.99px;
	top: 381px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Line_84 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_84 {
	overflow: visible;
	position: absolute;
	width: 1297.02px;
	height: 1px;
	left: 311.49px;
	top: 425.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_8_cb {
	left: 1020.99px;
	top: 450px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#View_Purchase_History_ {
	left: 797px;
	top: 116px;
	position: absolute;
	overflow: visible;
	width: 327px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Line_85 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_85 {
	overflow: visible;
	position: absolute;
	width: 1920.5px;
	height: 2px;
	left: 0px;
	top: 168.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_86 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_86 {
	overflow: visible;
	position: absolute;
	width: 1920.5px;
	height: 2px;
	left: 0px;
	top: 303.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_87 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_87 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 655.5px;
	left: 432.49px;
	top: 425px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_88 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_88 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 655.5px;
	left: 651.49px;
	top: 425px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_89 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_89 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 655.5px;
	left: 939.49px;
	top: 425px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_90 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_90 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 655.5px;
	left: 1136.49px;
	top: 425px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_91 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_91 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 655.5px;
	left: 1363.49px;
	top: 425px;
	transform: matrix(1,0,0,1,0,0);
}
#Fri_10__SEP__2021__715AM {
	left: 680.99px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 234px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Line_92 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_92 {
	overflow: visible;
	position: absolute;
	width: 1297.02px;
	height: 1px;
	left: 311.49px;
	top: 498.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_93 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_93 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 655.5px;
	left: 1608.51px;
	top: 425px;
	transform: matrix(1,0,0,1,0,0);
}
#View_Invoice_cch {
	left: 1428.99px;
	top: 381px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#View_cci {
	left: 1485.01px;
	top: 450px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: View Invoice.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_ccj {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 1467.381px;
	top: 454.697px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: View Invoice.html;
	cursor: pointer;
}
#Ellipse_23_cck {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_cck {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_ccl {
	fill: rgba(255,255,255,1);
}
.Path_4692_ccl {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.816px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_ccm {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_ccn {
	fill: rgba(255,255,255,1);
}
.Path_4693_ccn {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_cco {
	fill: rgba(255,255,255,1);
}
.Path_4694_cco {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.426px;
	left: 2.567px;
	top: 5.991px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_ccp {
	fill: rgba(255,255,255,1);
}
.Path_4695_ccp {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_190 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_190 {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 45px;
	left: 1453.99px;
	top: 513px;
}
#View_ccr {
	left: 1485.01px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_ccs {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 1469.381px;
	top: 527.697px;
	overflow: visible;
}
#Ellipse_23_cct {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_cct {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_ccu {
	fill: rgba(255,255,255,1);
}
.Path_4692_ccu {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.816px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_ccv {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_ccw {
	fill: rgba(255,255,255,1);
}
.Path_4693_ccw {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_ccx {
	fill: rgba(255,255,255,1);
}
.Path_4694_ccx {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.426px;
	left: 2.567px;
	top: 5.991px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_ccy {
	fill: rgba(255,255,255,1);
}
.Path_4695_ccy {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_94 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_94 {
	overflow: visible;
	position: absolute;
	width: 1297.02px;
	height: 1px;
	left: 311.49px;
	top: 571.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Fri_10__SEP__2021__723PM {
	left: 675.99px;
	top: 596px;
	position: absolute;
	overflow: visible;
	width: 233px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Rectangle_191 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_191 {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 45px;
	left: 1453.99px;
	top: 586px;
}
#View_cc {
	left: 1485.01px;
	top: 596px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_cc {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 1469.381px;
	top: 600.697px;
	overflow: visible;
}
#Ellipse_23_cc {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_cc {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_cc {
	fill: rgba(255,255,255,1);
}
.Path_4692_cc {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.816px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_cc {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_cc {
	fill: rgba(255,255,255,1);
}
.Path_4693_cc {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_cc {
	fill: rgba(255,255,255,1);
}
.Path_4694_cc {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.426px;
	left: 2.567px;
	top: 5.991px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_cc {
	fill: rgba(255,255,255,1);
}
.Path_4695_cc {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_95 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_95 {
	overflow: visible;
	position: absolute;
	width: 1297.02px;
	height: 1px;
	left: 311.49px;
	top: 644.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_96 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_96 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 655.221px;
	left: 311.49px;
	top: 425.279px;
	transform: matrix(1,0,0,1,0,0);
}
#Fri_10__SEP__2021__732PM {
	left: 675.99px;
	top: 669px;
	position: absolute;
	overflow: visible;
	width: 233px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Rectangle_192 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_192 {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 45px;
	left: 1453.99px;
	top: 659px;
}
#View_cde {
	left: 1485.01px;
	top: 669px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_cdf {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 1469.381px;
	top: 673.697px;
	overflow: visible;
}
#Ellipse_23_cdg {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_cdg {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_cdh {
	fill: rgba(255,255,255,1);
}
.Path_4692_cdh {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.816px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_cdi {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_cdj {
	fill: rgba(255,255,255,1);
}
.Path_4693_cdj {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_cdk {
	fill: rgba(255,255,255,1);
}
.Path_4694_cdk {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.426px;
	left: 2.567px;
	top: 5.991px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_cdl {
	fill: rgba(255,255,255,1);
}
.Path_4695_cdl {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_97 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_97 {
	overflow: visible;
	position: absolute;
	width: 1297.02px;
	height: 1px;
	left: 311.49px;
	top: 717.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Fri_10__SEP__2021__741PM {
	left: 675.99px;
	top: 742px;
	position: absolute;
	overflow: visible;
	width: 232px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Rectangle_193 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_193 {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 45px;
	left: 1453.99px;
	top: 732px;
}
#View_cdp {
	left: 1485.01px;
	top: 742px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_cdq {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 1469.381px;
	top: 746.697px;
	overflow: visible;
}
#Ellipse_23_cdr {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_cdr {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_cds {
	fill: rgba(255,255,255,1);
}
.Path_4692_cds {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.816px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_cdt {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_cdu {
	fill: rgba(255,255,255,1);
}
.Path_4693_cdu {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_cdv {
	fill: rgba(255,255,255,1);
}
.Path_4694_cdv {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.426px;
	left: 2.567px;
	top: 5.99px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_cdw {
	fill: rgba(255,255,255,1);
}
.Path_4695_cdw {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_98 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_98 {
	overflow: visible;
	position: absolute;
	width: 1297.02px;
	height: 1px;
	left: 311.49px;
	top: 790.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_60_cdy {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_60_cdy {
	position: absolute;
	overflow: visible;
	width: 187px;
	height: 45px;
	left: 55px;
	top: 218px;
}
#Date_Range_cdz {
	left: 55px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_61_cd {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_61_cd {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 45px;
	left: 472px;
	top: 218px;
}
#Today_cd {
	left: 480px;
	top: 233px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021_cd {
	left: 64px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#TO_cd {
	left: 246px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#calendar_1_cd {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 215.42px;
	top: 232.406px;
	overflow: visible;
}
#Path_4690_cd {
	fill: rgba(18,168,246,1);
}
.Path_4690_cd {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.045px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_cd {
	fill: rgba(18,168,246,1);
}
.Path_4691_cd {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_63_cd {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_63_cd {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 45px;
	left: 578px;
	top: 218px;
}
#Position_cd {
	left: 578px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#All_Position_cd {
	left: 594px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_64_cea {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_64_cea {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 45px;
	left: 782px;
	top: 218px;
}
#User_ceb {
	left: 782px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#All_User_cec {
	left: 798px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_65_ced {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_65_ced {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1341px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#CANCEL_cee {
	left: 1353px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_66_cef {
	fill: rgba(18,168,246,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_66_cef {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1789px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History 1.html;
	cursor: pointer;
}
#Clear_ceg {
	left: 1821.454px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History 1.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Rectangle_67_ceh {
	fill: rgba(18,168,246,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_67_ceh {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1457px;
	top: 218px;
}
#VIEW_cei {
	left: 1488px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#criminal-record_cej {
	position: absolute;
	width: 11.35px;
	height: 11.35px;
	left: 1476px;
	top: 235px;
	overflow: visible;
}
#Ellipse_23_cek {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_cek {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 5px;
	top: 5px;
}
#Path_4692_cel {
	fill: rgba(255,255,255,1);
}
.Path_4692_cel {
	overflow: visible;
	position: absolute;
	width: 2.966px;
	height: 2.966px;
	left: 8.384px;
	top: 8.384px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_cem {
	position: absolute;
	width: 8.645px;
	height: 11.35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_cen {
	fill: rgba(255,255,255,1);
}
.Path_4693_cen {
	overflow: visible;
	position: absolute;
	width: 2.021px;
	height: 2.022px;
	left: 0.195px;
	top: 0.195px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_ceo {
	fill: rgba(255,255,255,1);
}
.Path_4694_ceo {
	overflow: visible;
	position: absolute;
	width: 3.037px;
	height: 1.108px;
	left: 1.995px;
	top: 4.655px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_cep {
	fill: rgba(255,255,255,1);
}
.Path_4695_cep {
	overflow: visible;
	position: absolute;
	width: 8.646px;
	height: 11.35px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#rubber_ceq {
	position: absolute;
	width: 13.604px;
	height: 11.511px;
	left: 1804.546px;
	top: 234.744px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History 1.html;
	cursor: pointer;
}
#Path_4701_cer {
	fill: rgba(255,255,255,1);
}
.Path_4701_cer {
	overflow: visible;
	position: absolute;
	width: 4.546px;
	height: 2.256px;
	transform: translate(0px, -39.388px) matrix(0.9998,0,0,0.9998,4.7976,44.791) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_4702_ces {
	fill: rgba(255,255,255,1);
}
.Path_4702_ces {
	overflow: visible;
	position: absolute;
	width: 4.546px;
	height: 2.28px;
	transform: translate(0px, -39.388px) matrix(0.9998,0,0,0.9998,2.6305,42.6113) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_4703_cet {
	fill: rgba(255,255,255,1);
}
.Path_4703_cet {
	overflow: visible;
	position: absolute;
	width: 6.779px;
	height: 5.226px;
	left: 6.825px;
	top: 6.286px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4704_ceu {
	fill: rgba(255,255,255,1);
}
.Path_4704_ceu {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 5.783px;
	left: 0px;
	top: 5.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4705_cev {
	fill: rgba(255,255,255,1);
}
.Path_4705_cev {
	overflow: visible;
	position: absolute;
	width: 7.336px;
	height: 7.334px;
	left: 6.269px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_76_cew {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_76_cew {
	position: absolute;
	overflow: visible;
	width: 186px;
	height: 45px;
	left: 271px;
	top: 218px;
}
#Fri_10__SEP__2021_cex {
	left: 279px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#calendar_1_cey {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 430.42px;
	top: 233px;
	overflow: visible;
}
#Path_4690_cez {
	fill: rgba(18,168,246,1);
}
.Path_4690_cez {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.045px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_ce {
	fill: rgba(18,168,246,1);
}
.Path_4691_ce {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_5_ce {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_ce {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 45px;
	left: 989px;
	top: 218px;
}
#Search_ce {
	left: 1034px;
	top: 229px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(136,142,155,1);
}
#Path_4630_ce {
	fill: rgba(18,168,246,1);
}
.Path_4630_ce {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.316px;
	left: 1007.001px;
	top: 230.842px;
	transform: matrix(1,0,0,1,0,0);
}
#Search_by_ID_invoice_ {
	left: 989px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#n_121 {
	left: 344.99px;
	top: 450px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_122 {
	left: 344.99px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_123 {
	left: 344.99px;
	top: 596px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_124 {
	left: 344.99px;
	top: 669px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_125 {
	left: 344.99px;
	top: 742px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Hunter_Zolomon_cfa {
	left: 473.99px;
	top: 450px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Hunter_Zolomon_cfb {
	left: 473.99px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Hunter_Zolomon_cfc {
	left: 473.99px;
	top: 596px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Hunter_Zolomon_cfd {
	left: 473.99px;
	top: 669px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Hunter_Zolomon_cfe {
	left: 473.99px;
	top: 742px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021__710AM_cff {
	left: 680.99px;
	top: 450px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Items_Count_cfg {
	left: 1185.99px;
	top: 381px;
	position: absolute;
	overflow: visible;
	width: 130px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#n__Items {
	left: 1217.99px;
	top: 450px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_2_cfi {
	left: 1023.49px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n__Items_cfj {
	left: 1217.99px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n__cfk {
	left: 1026.99px;
	top: 596px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n__Items_cfl {
	left: 1217.99px;
	top: 596px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_20 {
	left: 1016.99px;
	top: 669px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_0_Items {
	left: 1217.99px;
	top: 669px;
	position: absolute;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_0_cfo {
	left: 1020.99px;
	top: 742px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n__Items_cfp {
	left: 1217.99px;
	top: 742px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021__747PM {
	left: 675.99px;
	top: 815px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Rectangle_194 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_194 {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 45px;
	left: 1453.99px;
	top: 805px;
}
#View_cfs {
	left: 1485.01px;
	top: 815px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_cft {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 1469.381px;
	top: 819.697px;
	overflow: visible;
}
#Ellipse_23_cfu {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_cfu {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_cfv {
	fill: rgba(255,255,255,1);
}
.Path_4692_cfv {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.816px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_cfw {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_cfx {
	fill: rgba(255,255,255,1);
}
.Path_4693_cfx {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_cfy {
	fill: rgba(255,255,255,1);
}
.Path_4694_cfy {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.426px;
	left: 2.567px;
	top: 5.99px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_cfz {
	fill: rgba(255,255,255,1);
}
.Path_4695_cfz {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_99 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_99 {
	overflow: visible;
	position: absolute;
	width: 1297.02px;
	height: 1px;
	left: 311.49px;
	top: 863.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_126_cf {
	left: 344.99px;
	top: 815px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Hunter_Zolomon_cf {
	left: 473.99px;
	top: 815px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_2_cf {
	left: 1021.99px;
	top: 815px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_2_Items {
	left: 1217.99px;
	top: 815px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021__751PM {
	left: 675.99px;
	top: 888px;
	position: absolute;
	overflow: visible;
	width: 231px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Rectangle_195 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_195 {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 45px;
	left: 1453.99px;
	top: 878px;
}
#View_cf {
	left: 1485.01px;
	top: 888px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_cf {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 1469.381px;
	top: 892.697px;
	overflow: visible;
}
#Ellipse_23_cf {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_cf {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_cga {
	fill: rgba(255,255,255,1);
}
.Path_4692_cga {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.816px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_cgb {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_cgc {
	fill: rgba(255,255,255,1);
}
.Path_4693_cgc {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_cgd {
	fill: rgba(255,255,255,1);
}
.Path_4694_cgd {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.426px;
	left: 2.567px;
	top: 5.99px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_cge {
	fill: rgba(255,255,255,1);
}
.Path_4695_cge {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_100 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_100 {
	overflow: visible;
	position: absolute;
	width: 1297.02px;
	height: 1px;
	left: 311.49px;
	top: 936.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_127_cgg {
	left: 344.99px;
	top: 888px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Hunter_Zolomon_cgh {
	left: 473.99px;
	top: 888px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_0_cgi {
	left: 1020.99px;
	top: 888px;
	position: absolute;
	overflow: visible;
	width: 36px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n__Items_cgj {
	left: 1217.99px;
	top: 888px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021__757PM {
	left: 675.99px;
	top: 961px;
	position: absolute;
	overflow: visible;
	width: 234px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Rectangle_196 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_196 {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 45px;
	left: 1453.99px;
	top: 951px;
}
#View_cgm {
	left: 1485.01px;
	top: 961px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_cgn {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 1469.381px;
	top: 965.697px;
	overflow: visible;
}
#Ellipse_23_cgo {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_cgo {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_cgp {
	fill: rgba(255,255,255,1);
}
.Path_4692_cgp {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.816px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_cgq {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_cgr {
	fill: rgba(255,255,255,1);
}
.Path_4693_cgr {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_cgs {
	fill: rgba(255,255,255,1);
}
.Path_4694_cgs {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.426px;
	left: 2.567px;
	top: 5.99px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_cgt {
	fill: rgba(255,255,255,1);
}
.Path_4695_cgt {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_101 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_101 {
	overflow: visible;
	position: absolute;
	width: 1297.02px;
	height: 1px;
	left: 311.49px;
	top: 1009.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_128 {
	left: 344.99px;
	top: 961px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Hunter_Zolomon_cgw {
	left: 473.99px;
	top: 961px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_5_cgx {
	left: 1020.99px;
	top: 961px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_1_Items {
	left: 1217.99px;
	top: 961px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021__805PM {
	left: 675.99px;
	top: 1034px;
	position: absolute;
	overflow: visible;
	width: 237px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Rectangle_197 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_197 {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 45px;
	left: 1453.99px;
	top: 1024px;
}
#View_cg {
	left: 1485.01px;
	top: 1034px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_cg {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 1469.381px;
	top: 1038.697px;
	overflow: visible;
}
#Ellipse_23_cg {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_cg {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_cg {
	fill: rgba(255,255,255,1);
}
.Path_4692_cg {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.816px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_cg {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_cg {
	fill: rgba(255,255,255,1);
}
.Path_4693_cg {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_cg {
	fill: rgba(255,255,255,1);
}
.Path_4694_cg {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.426px;
	left: 2.567px;
	top: 5.99px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_cg {
	fill: rgba(255,255,255,1);
}
.Path_4695_cg {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_129 {
	left: 344.99px;
	top: 1034px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Hunter_Zolomon_cha {
	left: 473.99px;
	top: 1034px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_2_chb {
	left: 1020.99px;
	top: 1034px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n__Items_chc {
	left: 1217.99px;
	top: 1034px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Rectangle_2_chd {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_chd {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_6_che {
	fill: rgba(248,248,248,1);
}
.Rectangle_6_che {
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 37px;
	left: 293px;
	top: 43px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Hunter_Zolomon_chf {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_chg {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_chh {
	fill: rgba(18,168,246,1);
}
.Path_4632_chh {
	overflow: visible;
	position: absolute;
	width: 27.081px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_chi {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_chi {
	position: absolute;
	overflow: visible;
	width: 13.688px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_chj {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_chj {
	position: absolute;
	overflow: visible;
	width: 10.036px;
	height: 10.037px;
	left: 48.6px;
	top: 56.468px;
}
#Path_4633_chk {
	fill: rgba(255,255,255,1);
}
.Path_4633_chk {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_chl {
	fill: rgba(18,168,246,1);
}
.Path_4634_chl {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.496px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_chm {
	fill: rgba(255,255,255,1);
}
.Path_4635_chm {
	overflow: visible;
	position: absolute;
	width: 7.272px;
	height: 4.034px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_chn {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.57px;
	overflow: visible;
}
#Group_55_cho {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_chp {
	fill: rgba(18,168,246,1);
}
.Path_4636_chp {
	overflow: visible;
	position: absolute;
	width: 39.651px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_chq {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.299px;
	top: 75.962px;
	overflow: visible;
}
#Path_4637_chr {
	fill: rgba(18,26,80,1);
}
.Path_4637_chr {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_chs {
	fill: rgba(18,26,80,1);
}
.Path_4638_chs {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_cht {
	fill: rgba(255,255,255,1);
}
.Path_4639_cht {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.244px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_chu {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_chu {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.404px;
}
#Group_3056_chv {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_chw {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_chx {
	fill: rgba(27,47,91,1);
}
.home_chx {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_chy {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_chz {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Path_4640_ch {
	fill: rgba(18,168,246,1);
}
.Path_4640_ch {
	overflow: visible;
	position: absolute;
	width: 13.455px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_ch {
	fill: rgba(18,168,246,1);
}
.Path_4641_ch {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.387px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_ch {
	fill: rgba(18,168,246,1);
}
.Path_4642_ch {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_ch {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__ch {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_ch {
	fill: rgba(27,47,91,1);
}
.Path_4643_ch {
	overflow: visible;
	position: absolute;
	width: 13.945px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_ch {
	fill: rgba(27,47,91,1);
}
.Path_4644_ch {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.119px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_ch {
	fill: rgba(27,47,91,1);
}
.Path_4646_ch {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_ch {
	fill: rgba(27,47,91,1);
}
.Path_4647_ch {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_ch {
	fill: rgba(27,47,91,1);
}
.Path_4648_ch {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_cia {
	fill: rgba(27,47,91,1);
}
.Path_4649_cia {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_cib {
	fill: rgba(27,47,91,1);
}
.Path_4651_cib {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 615.001px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_cic {
	fill: rgba(27,47,91,1);
}
.Path_4653_cic {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 622.854px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_cid {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_cie {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_cif {
	fill: rgba(27,47,91,1);
}
.Path_4650_cif {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.927px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_cig {
	fill: rgba(27,47,91,1);
}
.Path_4652_cig {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_cih {
	fill: rgba(27,47,91,1);
}
.Path_4654_cih {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_cii {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__cij {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_cik {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_cil {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_cim {
	fill: rgba(27,47,91,1);
}
.Path_4662_cim {
	overflow: visible;
	position: absolute;
	width: 7.636px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_cin {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_cio {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_cip {
	fill: rgba(27,47,91,1);
}
.Path_4663_cip {
	overflow: visible;
	position: absolute;
	width: 3.479px;
	height: 2.928px;
	left: 0.001px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_ciq {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_cir {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_cis {
	fill: rgba(27,47,91,1);
}
.Path_4664_cis {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_cit {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_ciu {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_civ {
	fill: rgba(27,47,91,1);
}
.Path_4665_civ {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_ciw {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_cix {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_ciy {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_ciz {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_ci {
	fill: rgba(27,47,91,1);
}
.Path_4680_ci {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.102px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_ci {
	fill: rgba(27,47,91,1);
}
.Path_4681_ci {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_ci {
	fill: rgba(27,47,91,1);
}
.Path_4682_ci {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3062_ci {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_ci {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_ci {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_ci {
	fill: rgba(27,47,91,1);
}
.Path_4688_ci {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_ci {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_ci {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}