.mediaViewInfo {
	--web-view-name: View Purchase History Date 1;
	--web-view-id: View_Purchase_History_Date_1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: View_Purchase_History_Date_1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#View_Purchase_History_Date_1 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: View Purchase History Date 1;
	--web-view-id: View_Purchase_History_Date_1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Line_5_cvl {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5_cvl {
	overflow: visible;
	position: absolute;
	width: 1920.5px;
	height: 2px;
	left: 0px;
	top: 168.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3_cvm {
	position: absolute;
	width: 390px;
	height: 344px;
	left: 17px;
	top: 273px;
	overflow: visible;
}
#bg_cvn {
	fill: rgba(255,255,255,1);
}
.bg_cvn {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 450px;
	height: 404px;
	left: 0px;
	top: 0px;
}
#Line_cvp {
	fill: url(#Line_cvp);
}
.Line_cvp {
	position: absolute;
	overflow: visible;
	width: 389px;
	height: 1px;
	left: 0px;
	top: 72px;
}
#Group_49_cvq {
	position: absolute;
	width: 330px;
	height: 40px;
	left: 29.888px;
	top: 125px;
	overflow: visible;
}
#Bg_cvr {
	fill: rgba(255,255,255,1);
}
.Bg_cvr {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 290px;
	top: 0px;
}
#n__cvs {
	left: 290px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cvt {
	fill: rgba(255,255,255,1);
}
.Bg_cvt {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 241.112px;
	top: 0px;
}
#n__cvu {
	left: 240.687px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cvv {
	fill: rgba(255,255,255,1);
}
.Bg_cvv {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 193.72px;
	top: 0px;
}
#n__cvw {
	left: 193.72px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cvx {
	fill: rgba(255,255,255,1);
}
.Bg_cvx {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 145px;
	top: 0px;
}
#n__cvy {
	left: 145px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cvz {
	fill: rgba(255,255,255,1);
}
.Bg_cvz {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 96.112px;
	top: 0px;
}
#n__cv {
	left: 96.28px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
}
#Bg_cv {
	fill: rgba(255,255,255,1);
}
.Bg_cv {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 49.313px;
	top: 0px;
}
#n__cwa {
	left: 49.313px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
}
#Bg_cwa {
	fill: rgba(255,255,255,1);
}
.Bg_cwa {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#n__cwb {
	left: 0px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
}
#Group_54_cv {
	position: absolute;
	width: 330px;
	height: 23.578px;
	left: 29.888px;
	top: 91.107px;
	overflow: visible;
}
#Bg_cwb {
	fill: rgba(255,255,255,1);
}
.Bg_cwb {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 290px;
	top: 0px;
}
#Bg_cwc {
	fill: rgba(255,255,255,1);
}
.Bg_cwc {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 240.687px;
	top: 0px;
}
#n__cwc {
	left: 290px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Bg_cwd {
	fill: rgba(255,255,255,1);
}
.Bg_cwd {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 193.72px;
	top: 0px;
}
#n__cwd {
	left: 241.112px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Bg_cwe {
	fill: rgba(255,255,255,1);
}
.Bg_cwe {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 145px;
	top: 0px;
}
#n__cwe {
	left: 194.313px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Bg_cwf {
	fill: rgba(255,255,255,1);
}
.Bg_cwf {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 96.28px;
	top: 0px;
}
#n__cwf {
	left: 145.593px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Bg_cwg {
	fill: rgba(255,255,255,1);
}
.Bg_cwg {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 49.313px;
	top: 0px;
}
#n__cwg {
	left: 96.112px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Bg_cwh {
	fill: rgba(255,255,255,1);
}
.Bg_cwh {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 0px;
	top: 0px;
}
#n__cwi {
	left: 49.313px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#n__cwj {
	left: 1.186px;
	top: 2.289px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Group_50_cwk {
	position: absolute;
	width: 330px;
	height: 40px;
	left: 29.888px;
	top: 164.999px;
	overflow: visible;
}
#Bg_cwl {
	fill: rgba(255,255,255,1);
}
.Bg_cwl {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 290px;
	top: 0px;
}
#n__cwm {
	left: 290px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cwn {
	fill: rgba(18,168,246,1);
}
.Bg_cwn {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 240.687px;
	top: 0px;
}
#n__cwo {
	left: 240.687px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Bg_cwp {
	fill: rgba(255,255,255,1);
}
.Bg_cwp {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 193.72px;
	top: 0px;
}
#n__cwq {
	left: 193.72px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cwr {
	fill: rgba(255,255,255,1);
}
.Bg_cwr {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 145px;
	top: 0px;
}
#n__cws {
	left: 145px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cwt {
	fill: rgba(255,255,255,1);
}
.Bg_cwt {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 96.28px;
	top: 0px;
}
#n__cwu {
	left: 96.28px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cwv {
	fill: rgba(255,255,255,1);
}
.Bg_cwv {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 49.313px;
	top: 0px;
}
#n__cww {
	left: 49.313px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cwx {
	fill: rgba(255,255,255,1);
}
.Bg_cwx {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#n__cwy {
	left: 0px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Group_52_cwz {
	position: absolute;
	width: 330px;
	height: 40px;
	left: 29.888px;
	top: 246px;
	overflow: visible;
}
#Bg_cw {
	fill: rgba(255,255,255,1);
}
.Bg_cw {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 290px;
	top: 0px;
}
#n__cw {
	left: 290px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cxa {
	fill: rgba(255,255,255,1);
}
.Bg_cxa {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 240.687px;
	top: 0px;
}
#n__cxa {
	left: 240.687px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cxb {
	fill: rgba(255,255,255,1);
}
.Bg_cxb {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 193.72px;
	top: 0px;
}
#n__cxb {
	left: 193.72px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cxc {
	fill: rgba(255,255,255,1);
}
.Bg_cxc {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 145px;
	top: 0px;
}
#n__cxc {
	left: 145px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cxd {
	fill: rgba(255,255,255,1);
}
.Bg_cxd {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 96.28px;
	top: 0px;
}
#n__cxd {
	left: 96.28px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#n__cxe {
	left: 49.313px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#n__cxf {
	left: 0px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Group_53_cxc {
	position: absolute;
	width: 330px;
	height: 40px;
	left: 29.888px;
	top: 286px;
	overflow: visible;
}
#Bg_cxe {
	fill: rgba(255,255,255,1);
}
.Bg_cxe {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 290px;
	top: 0px;
}
#n__cxg {
	left: 290px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
}
#Bg_cxf {
	fill: rgba(255,255,255,1);
}
.Bg_cxf {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 240.687px;
	top: 0px;
}
#n__cxh {
	left: 240.687px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
}
#Bg_cxh {
	fill: rgba(255,255,255,1);
}
.Bg_cxh {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 193.72px;
	top: 0px;
}
#n__cxi {
	left: 193.72px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cxj {
	fill: rgba(255,255,255,1);
}
.Bg_cxj {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 145px;
	top: 0px;
}
#n__cxk {
	left: 145px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cxl {
	fill: rgba(255,255,255,1);
}
.Bg_cxl {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 96.28px;
	top: 0px;
}
#n__cxm {
	left: 96.28px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cxn {
	fill: rgba(255,255,255,1);
}
.Bg_cxn {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 49.313px;
	top: 0px;
}
#n__cxo {
	left: 49.313px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cxp {
	fill: rgba(255,255,255,1);
}
.Bg_cxp {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#n__cxq {
	left: 0px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Group_48_cxr {
	position: absolute;
	width: 215.075px;
	height: 22px;
	left: 87px;
	top: 26px;
	overflow: visible;
}
#Title_cxs {
	left: 35.075px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(18,168,246,1);
	letter-spacing: 0.3125px;
}
#Path_52_cxt {
	fill: transparent;
	stroke: rgba(140,152,154,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_52_cxt {
	overflow: visible;
	position: absolute;
	width: 8.567px;
	height: 8.48px;
	transform: translate(-1536.5px, -200px) matrix(1,0,0,1,1538.2439,206.0473) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_53_cxu {
	fill: transparent;
	stroke: rgba(140,152,154,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_53_cxu {
	overflow: visible;
	position: absolute;
	width: 8.567px;
	height: 8.48px;
	transform: translate(-1536.5px, -200px) matrix(1,0,0,1,1741.2645,206.0485) rotate(225deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_51_cxv {
	position: absolute;
	width: 330px;
	height: 40.314px;
	left: 29.888px;
	top: 204.686px;
	overflow: visible;
}
#n__cxw {
	left: 290px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#n__cxx {
	left: 240.687px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cxy {
	fill: rgba(255,255,255,1);
}
.Bg_cxy {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 193.72px;
	top: 0.314px;
}
#n__cxz {
	left: 193.72px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cx {
	fill: rgba(255,255,255,1);
}
.Bg_cx {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 145px;
	top: 0.314px;
}
#n__cx {
	left: 145px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cya {
	fill: rgba(255,255,255,1);
}
.Bg_cya {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 96.28px;
	top: 0.314px;
}
#Bg_cyb {
	fill: rgba(255,255,255,1);
}
.Bg_cyb {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 49.313px;
	top: 0.314px;
}
#n__cya {
	left: 49.313px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_cyc {
	fill: rgba(255,255,255,1);
}
.Bg_cyc {
	overflow: visible;
	position: absolute;
	width: 40px;
	height: 40px;
	left: 96.313px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bg_cyd {
	fill: rgba(255,255,255,1);
}
.Bg_cyd {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0.314px;
}
#n__cyb {
	left: 0px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#n__cyc {
	left: 96.28px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#View_Purchase_History__cx {
	left: 797px;
	top: 116px;
	position: absolute;
	overflow: visible;
	width: 327px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Rectangle_60_cya {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_60_cya {
	position: absolute;
	overflow: visible;
	width: 187px;
	height: 45px;
	left: 55px;
	top: 218px;
}
#Date_Range_cyb {
	left: 55px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_61_cyc {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_61_cyc {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 45px;
	left: 472px;
	top: 218px;
}
#Today_cyd {
	left: 480px;
	top: 233px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021_cye {
	left: 64px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#TO_cyf {
	left: 246px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#calendar_1_cyg {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 215.42px;
	top: 232.406px;
	overflow: visible;
}
#Path_4690_cyh {
	fill: rgba(18,168,246,1);
}
.Path_4690_cyh {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.045px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_cyi {
	fill: rgba(18,168,246,1);
}
.Path_4691_cyi {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_63_cyj {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_63_cyj {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 45px;
	left: 578px;
	top: 218px;
}
#Position_cyk {
	left: 578px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#All_Position_cyl {
	left: 594px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_64_cym {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_64_cym {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 45px;
	left: 782px;
	top: 218px;
}
#User_cyn {
	left: 782px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#All_User_cyo {
	left: 798px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_65_cyp {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_65_cyp {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1341px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#CANCEL_cyq {
	left: 1353px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_66_cyr {
	fill: rgba(18,168,246,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_66_cyr {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1789px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History 1.html;
	cursor: pointer;
}
#Clear_cys {
	left: 1821.454px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History 1.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Rectangle_67_cyt {
	fill: rgba(18,168,246,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_67_cyt {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1457px;
	top: 218px;
}
#VIEW_cyu {
	left: 1488px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#criminal-record_cyv {
	position: absolute;
	width: 11.35px;
	height: 11.35px;
	left: 1476px;
	top: 235px;
	overflow: visible;
}
#Ellipse_23_cyw {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_cyw {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 5px;
	top: 5px;
}
#Path_4692_cyx {
	fill: rgba(255,255,255,1);
}
.Path_4692_cyx {
	overflow: visible;
	position: absolute;
	width: 2.966px;
	height: 2.966px;
	left: 8.384px;
	top: 8.384px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_cyy {
	position: absolute;
	width: 8.645px;
	height: 11.35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_cyz {
	fill: rgba(255,255,255,1);
}
.Path_4693_cyz {
	overflow: visible;
	position: absolute;
	width: 2.022px;
	height: 2.022px;
	left: 0.195px;
	top: 0.195px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_cy {
	fill: rgba(255,255,255,1);
}
.Path_4694_cy {
	overflow: visible;
	position: absolute;
	width: 3.038px;
	height: 1.108px;
	left: 1.995px;
	top: 4.655px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_cy {
	fill: rgba(255,255,255,1);
}
.Path_4695_cy {
	overflow: visible;
	position: absolute;
	width: 8.645px;
	height: 11.35px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#rubber_cy {
	position: absolute;
	width: 13.604px;
	height: 11.511px;
	left: 1804.546px;
	top: 234.744px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History 1.html;
	cursor: pointer;
}
#Path_4701_cy {
	fill: rgba(255,255,255,1);
}
.Path_4701_cy {
	overflow: visible;
	position: absolute;
	width: 4.546px;
	height: 2.256px;
	transform: translate(0px, -39.388px) matrix(0.9998,0,0,0.9998,4.7976,44.791) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_4702_cy {
	fill: rgba(255,255,255,1);
}
.Path_4702_cy {
	overflow: visible;
	position: absolute;
	width: 4.546px;
	height: 2.28px;
	transform: translate(0px, -39.388px) matrix(0.9998,0,0,0.9998,2.6305,42.6113) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_4703_cy {
	fill: rgba(255,255,255,1);
}
.Path_4703_cy {
	overflow: visible;
	position: absolute;
	width: 6.778px;
	height: 5.226px;
	left: 6.826px;
	top: 6.286px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4704_cy {
	fill: rgba(255,255,255,1);
}
.Path_4704_cy {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 5.783px;
	left: 0px;
	top: 5.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4705_cy {
	fill: rgba(255,255,255,1);
}
.Path_4705_cy {
	overflow: visible;
	position: absolute;
	width: 7.335px;
	height: 7.334px;
	left: 6.269px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_76_cy {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_76_cy {
	position: absolute;
	overflow: visible;
	width: 186px;
	height: 45px;
	left: 271px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History Data 2.html;
	cursor: pointer;
}
#Fri_10__SEP__2021_cy {
	left: 279px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History Data 2.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#calendar_1_cza {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 430.42px;
	top: 233px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History Data 2.html;
	cursor: pointer;
}
#Path_4690_czb {
	fill: rgba(18,168,246,1);
}
.Path_4690_czb {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.045px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_czc {
	fill: rgba(18,168,246,1);
}
.Path_4691_czc {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_5_czd {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_czd {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 45px;
	left: 989px;
	top: 218px;
}
#Search_cze {
	left: 1034px;
	top: 229px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(136,142,155,1);
}
#Path_4630_czf {
	fill: rgba(18,168,246,1);
}
.Path_4630_czf {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.316px;
	left: 1007px;
	top: 230.842px;
	transform: matrix(1,0,0,1,0,0);
}
#Search_by_ID_invoice__czg {
	left: 989px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Path_4633_czy {
	fill: rgba(255,255,255,1);
}
.Path_4633_czy {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_cz {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.298px;
	top: 75.962px;
	overflow: visible;
}
#Path_4637_cz {
	fill: rgba(18,26,80,1);
}
.Path_4637_cz {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_cz {
	fill: rgba(18,26,80,1);
}
.Path_4638_cz {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_cz {
	fill: rgba(255,255,255,1);
}
.Path_4639_cz {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.244px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_czm {
	fill: rgba(18,168,246,1);
}
.Path_4642_czm {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 274.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_czn {
	fill: rgba(27,47,91,1);
}
.Path_4648_czn {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 592.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_czo {
	fill: rgba(27,47,91,1);
}
.Path_4649_czo {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 584.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_czp {
	fill: rgba(27,47,91,1);
}
.Path_4651_czp {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 582px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_czq {
	fill: rgba(27,47,91,1);
}
.Path_4653_czq {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 589.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_czr {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_czr {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_6_czs {
	fill: rgba(248,248,248,1);
}
.Rectangle_6_czs {
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 37px;
	left: 293px;
	top: 43px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Hunter_Zolomon_czt {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_czu {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_czv {
	fill: rgba(18,168,246,1);
}
.Path_4632_czv {
	overflow: visible;
	position: absolute;
	width: 27.082px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_czw {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_czw {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_czx {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_czx {
	position: absolute;
	overflow: visible;
	width: 10.037px;
	height: 10.037px;
	left: 48.599px;
	top: 56.468px;
}
#Path_4633_czy {
	fill: rgba(255,255,255,1);
}
.Path_4633_czy {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_czz {
	fill: rgba(18,168,246,1);
}
.Path_4634_czz {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.496px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_cz {
	fill: rgba(255,255,255,1);
}
.Path_4635_cz {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.034px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_cz {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.57px;
	overflow: visible;
}
#Group_55_cz {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_cz {
	fill: rgba(18,168,246,1);
}
.Path_4636_cz {
	overflow: visible;
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_cz {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.298px;
	top: 75.962px;
	overflow: visible;
}
#Path_4637_cz {
	fill: rgba(18,26,80,1);
}
.Path_4637_cz {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_cz {
	fill: rgba(18,26,80,1);
}
.Path_4638_cz {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_cz {
	fill: rgba(255,255,255,1);
}
.Path_4639_cz {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.244px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_cz {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_cz {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.404px;
}
#Group_3056_cz {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_ca {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_cb {
	fill: rgba(27,47,91,1);
}
.home_cb {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_cc {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_cd {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Path_4640_ce {
	fill: rgba(18,168,246,1);
}
.Path_4640_ce {
	overflow: visible;
	position: absolute;
	width: 13.456px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_cf {
	fill: rgba(18,168,246,1);
}
.Path_4641_cf {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.386px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_cg {
	fill: rgba(18,168,246,1);
}
.Path_4642_cg {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_ci {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__ci {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_cj {
	fill: rgba(27,47,91,1);
}
.Path_4643_cj {
	overflow: visible;
	position: absolute;
	width: 13.946px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_ck {
	fill: rgba(27,47,91,1);
}
.Path_4644_ck {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.12px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_cl {
	fill: rgba(27,47,91,1);
}
.Path_4646_cl {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_cm {
	fill: rgba(27,47,91,1);
}
.Path_4647_cm {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_cn {
	fill: rgba(27,47,91,1);
}
.Path_4648_cn {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_co {
	fill: rgba(27,47,91,1);
}
.Path_4649_co {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_cp {
	fill: rgba(27,47,91,1);
}
.Path_4651_cp {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_cq {
	fill: rgba(27,47,91,1);
}
.Path_4653_cq {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 622.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_cr {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_cs {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_ct {
	fill: rgba(27,47,91,1);
}
.Path_4650_ct {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.926px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_cu {
	fill: rgba(27,47,91,1);
}
.Path_4652_cu {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_cv {
	fill: rgba(27,47,91,1);
}
.Path_4654_cv {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_cw {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__cx {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_cy {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_cz {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_c {
	fill: rgba(27,47,91,1);
}
.Path_4662_c {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_c {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_c {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_c {
	fill: rgba(27,47,91,1);
}
.Path_4663_c {
	overflow: visible;
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_c {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_c {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_c {
	fill: rgba(27,47,91,1);
}
.Path_4664_c {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_c {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_c {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_c {
	fill: rgba(27,47,91,1);
}
.Path_4665_c {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_ca {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_cb {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_cc {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_cd {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_ce {
	fill: rgba(27,47,91,1);
}
.Path_4680_ce {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.102px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_cf {
	fill: rgba(27,47,91,1);
}
.Path_4681_cf {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_cg {
	fill: rgba(27,47,91,1);
}
.Path_4682_cg {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3062_ch {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_cj {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_cj {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_ck {
	fill: rgba(27,47,91,1);
}
.Path_4688_ck {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_cl {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_cm {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}