.mediaViewInfo {
	--web-view-name: Return Policy;
	--web-view-id: Return_Policy;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Return_Policy;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Return_Policy {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Return Policy;
	--web-view-id: Return_Policy;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#With_a_point_of_sales_system_t {
	left: 66px;
	top: 459px;
	position: absolute;
	overflow: visible;
	width: 1789px;
	height: 216px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(27,47,91,1);
}
#Return_Policy_cjc {
	left: 839px;
	top: 114px;
	position: absolute;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(27,47,91,1);
}
#Rectangle_679 {
	fill: rgba(18,168,246,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_679 {
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 53px;
	left: 1477px;
	top: 112px;
}
#solid_1_cje {
	position: absolute;
	width: 31.773px;
	height: 35.303px;
	left: 1501.172px;
	top: 117.348px;
	overflow: visible;
}
#Path_4808_cjf {
	fill: rgba(255,255,255,1);
}
.Path_4808_cjf {
	overflow: visible;
	position: absolute;
	width: 31.773px;
	height: 35.303px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4809_cjg {
	fill: rgba(255,255,255,1);
}
.Path_4809_cjg {
	overflow: visible;
	position: absolute;
	width: 2.354px;
	height: 3.53px;
	left: 18.828px;
	top: 28.831px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4810_cjh {
	fill: rgba(255,255,255,1);
}
.Path_4810_cjh {
	overflow: visible;
	position: absolute;
	width: 10.002px;
	height: 9.414px;
	left: 4.707px;
	top: 22.947px;
	transform: matrix(1,0,0,1,0,0);
}
#Return_Policy__cji {
	left: 1540px;
	top: 125px;
	position: absolute;
	overflow: visible;
	width: 118px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Category_cjj {
	left: 36px;
	top: 124px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Rectangle_680 {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_680 {
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 40px;
	left: 1251px;
	top: 119px;
}
#Search_cjl {
	left: 1297px;
	top: 132px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Path_9297 {
	fill: rgba(18,168,246,1);
}
.Path_9297 {
	overflow: visible;
	position: absolute;
	width: 15.318px;
	height: 15.315px;
	left: 1269.561px;
	top: 133.842px;
	transform: matrix(1,0,0,1,0,0);
}
#left-arrow-in-circular-button-_cjn {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 47.484px;
	top: 953.201px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#n_x34__2__cjo {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_157_cjp {
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4836_cjq {
	fill: rgba(18,168,246,1);
}
.Path_4836_cjq {
	overflow: visible;
	position: absolute;
	width: 81.516px;
	height: 81.516px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3028 {
	position: absolute;
	width: 199px;
	height: 53px;
	left: 1688px;
	top: 112px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Null Add Product .html;
	cursor: pointer;
}
#Group_3026 {
	position: absolute;
	width: 199px;
	height: 53px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_172_cjt {
	fill: rgba(255,255,255,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_172_cjt {
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 53px;
	left: 0px;
	top: 0px;
}
#add-to-cart_cju {
	position: absolute;
	width: 30.874px;
	height: 30.874px;
	left: 145.346px;
	top: 9.563px;
	overflow: visible;
}
#Path_4728_cjv {
	fill: rgba(27,47,91,1);
}
.Path_4728_cjv {
	overflow: visible;
	position: absolute;
	width: 30.875px;
	height: 30.874px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4729_cjw {
	fill: rgba(27,47,91,1);
}
.Path_4729_cjw {
	overflow: visible;
	position: absolute;
	width: 7.236px;
	height: 7.236px;
	left: 14.23px;
	top: 9.407px;
	transform: matrix(1,0,0,1,0,0);
}
#Add_Products__cjx {
	left: 22.781px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Rectangle_681 {
	fill: rgba(255,255,255,1);
}
.Rectangle_681 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1561px;
	top: 189px;
}
#Group_3067 {
	position: absolute;
	width: 95px;
	height: 99px;
	left: 288px;
	top: 189px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management 2.html;
	cursor: pointer;
}
#Rectangle_683 {
	fill: rgba(255,255,255,1);
}
.Rectangle_683 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 0px;
	top: 0px;
}
#Meat_cj {
	left: 25px;
	top: 64px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#steak_cj {
	position: absolute;
	width: 40.678px;
	height: 33.892px;
	left: 27.16px;
	top: 16.233px;
	overflow: visible;
}
#Group_83_cj {
	position: absolute;
	width: 40.678px;
	height: 33.892px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4772_cj {
	fill: rgba(27,47,91,1);
}
.Path_4772_cj {
	overflow: visible;
	position: absolute;
	width: 40.514px;
	height: 14.344px;
	left: 0.01px;
	top: 19.548px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4773_cj {
	fill: rgba(27,47,91,1);
}
.Path_4773_cj {
	overflow: visible;
	position: absolute;
	width: 35.732px;
	height: 22.21px;
	left: 2.473px;
	top: 1.858px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4774_cj {
	fill: rgba(27,47,91,1);
}
.Path_4774_cj {
	overflow: visible;
	position: absolute;
	width: 40.678px;
	height: 28.361px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_24_cj {
	fill: rgba(27,47,91,1);
}
.Ellipse_24_cj {
	position: absolute;
	overflow: visible;
	width: 5.043px;
	height: 3.904px;
	left: 10.258px;
	top: 7.918px;
}
#Rectangle_684 {
	fill: rgba(255,255,255,1);
}
.Rectangle_684 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 422px;
	top: 189px;
}
#Bread_cj {
	left: 444px;
	top: 253px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#silhouette_cka {
	position: absolute;
	width: 47.341px;
	height: 23.74px;
	left: 445.83px;
	top: 210.309px;
	overflow: visible;
}
#Group_84_ckb {
	position: absolute;
	width: 47.341px;
	height: 23.74px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4775_ckc {
	fill: rgba(27,47,91,1);
}
.Path_4775_ckc {
	overflow: visible;
	position: absolute;
	width: 47.342px;
	height: 23.74px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_685 {
	fill: rgba(255,255,255,1);
}
.Rectangle_685 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 555px;
	top: 189px;
}
#Beverages_cke {
	left: 564px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#soda_ckf {
	position: absolute;
	width: 25.995px;
	height: 39.505px;
	left: 589.504px;
	top: 202.426px;
	overflow: visible;
}
#Group_86_ckg {
	position: absolute;
	width: 25.995px;
	height: 11.583px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_85_ckh {
	position: absolute;
	width: 25.995px;
	height: 11.583px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4776_cki {
	fill: rgba(27,47,91,1);
}
.Path_4776_cki {
	overflow: visible;
	position: absolute;
	width: 25.994px;
	height: 11.583px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_88_ckj {
	position: absolute;
	width: 21.934px;
	height: 25.607px;
	left: 2.029px;
	top: 13.898px;
	overflow: visible;
}
#Group_87_ckk {
	position: absolute;
	width: 21.934px;
	height: 25.607px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4777_ckl {
	fill: rgba(27,47,91,1);
}
.Path_4777_ckl {
	overflow: visible;
	position: absolute;
	width: 21.936px;
	height: 25.608px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_686 {
	fill: rgba(255,255,255,1);
}
.Rectangle_686 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 684px;
	top: 189px;
}
#Ice-Cream_ckn {
	left: 692px;
	top: 257px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#Rectangle_687 {
	fill: rgba(255,255,255,1);
}
.Rectangle_687 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 813px;
	top: 189px;
}
#Wine_ckp {
	left: 845px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#ice-cream_ckq {
	position: absolute;
	width: 22.201px;
	height: 35.754px;
	left: 720.4px;
	top: 206.178px;
	overflow: visible;
}
#Group_90_ckr {
	position: absolute;
	width: 22.201px;
	height: 19.284px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_89_cks {
	position: absolute;
	width: 22.201px;
	height: 19.284px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4778_ckt {
	fill: rgba(27,47,91,1);
}
.Path_4778_ckt {
	overflow: visible;
	position: absolute;
	width: 22.201px;
	height: 19.284px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_92_cku {
	position: absolute;
	width: 16.502px;
	height: 14.375px;
	left: 2.818px;
	top: 21.378px;
	overflow: visible;
}
#Group_91_ckv {
	position: absolute;
	width: 16.502px;
	height: 14.375px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4779_ckw {
	fill: rgba(27,47,91,1);
}
.Path_4779_ckw {
	overflow: visible;
	position: absolute;
	width: 16.502px;
	height: 14.375px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#glass-and-bottle-of-wine_ckx {
	position: absolute;
	width: 29.134px;
	height: 38.532px;
	left: 846.432px;
	top: 203.4px;
	overflow: visible;
}
#Path_4780_cky {
	fill: rgba(27,47,91,1);
}
.Path_4780_cky {
	overflow: visible;
	position: absolute;
	width: 29.135px;
	height: 38.532px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_688 {
	fill: rgba(255,255,255,1);
}
.Rectangle_688 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 937px;
	top: 189px;
}
#Snacks_ck {
	left: 959px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#snack_ck {
	position: absolute;
	width: 30.753px;
	height: 30.753px;
	left: 969.123px;
	top: 211.178px;
	overflow: visible;
}
#Path_4781_ck {
	fill: rgba(27,47,91,1);
}
.Path_4781_ck {
	overflow: visible;
	position: absolute;
	width: 2.137px;
	height: 7.705px;
	left: 24.15px;
	top: 23.049px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4782_ck {
	fill: rgba(27,47,91,1);
}
.Path_4782_ck {
	overflow: visible;
	position: absolute;
	width: 13.209px;
	height: 10.326px;
	left: 12.592px;
	top: 9.08px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4783_ck {
	fill: rgba(27,47,91,1);
}
.Path_4783_ck {
	overflow: visible;
	position: absolute;
	width: 19.813px;
	height: 7.024px;
	left: 3.236px;
	top: 23.389px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4784_ck {
	fill: rgba(27,47,91,1);
}
.Path_4784_ck {
	overflow: visible;
	position: absolute;
	width: 2.137px;
	height: 7.705px;
	left: 0px;
	top: 23.049px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4785_ck {
	fill: rgba(27,47,91,1);
}
.Path_4785_ck {
	overflow: visible;
	position: absolute;
	width: 22.418px;
	height: 22.013px;
	left: 8.037px;
	top: 3.237px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4786_ck {
	fill: rgba(27,47,91,1);
}
.Path_4786_ck {
	overflow: visible;
	position: absolute;
	width: 23.113px;
	height: 2.136px;
	left: 7.641px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4787_ck {
	fill: rgba(27,47,91,1);
}
.Path_4787_ck {
	overflow: visible;
	position: absolute;
	width: 12.107px;
	height: 1.101px;
	left: 7.09px;
	top: 26.351px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4788_ck {
	fill: rgba(27,47,91,1);
}
.Path_4788_ck {
	overflow: visible;
	position: absolute;
	width: 3.787px;
	height: 2.137px;
	left: 26.967px;
	top: 26.351px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_689 {
	fill: rgba(255,255,255,1);
}
.Rectangle_689 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1061px;
	top: 189px;
}
#Oils_clb {
	left: 1094px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#oil_clc {
	position: absolute;
	width: 31.687px;
	height: 33.243px;
	left: 1092.656px;
	top: 208.688px;
	overflow: visible;
}
#Path_4789_cld {
	fill: rgba(27,47,91,1);
}
.Path_4789_cld {
	overflow: visible;
	position: absolute;
	width: 5.844px;
	height: 2.662px;
	left: 17.143px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4790_cle {
	fill: rgba(27,47,91,1);
}
.Path_4790_cle {
	overflow: visible;
	position: absolute;
	width: 10.227px;
	height: 7.089px;
	left: 0px;
	top: 26.154px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4791_clf {
	fill: rgba(27,47,91,1);
}
.Path_4791_clf {
	overflow: visible;
	position: absolute;
	width: 6.064px;
	height: 10.158px;
	left: 1.951px;
	top: 16.297px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4792_clg {
	fill: rgba(27,47,91,1);
}
.Path_4792_clg {
	overflow: visible;
	position: absolute;
	width: 21.939px;
	height: 15.126px;
	left: 9.096px;
	top: 4.612px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4793_clh {
	fill: rgba(27,47,91,1);
}
.Path_4793_clh {
	overflow: visible;
	position: absolute;
	width: 23.244px;
	height: 11.557px;
	left: 8.443px;
	top: 21.686px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_690 {
	fill: rgba(255,255,255,1);
}
.Rectangle_690 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1184px;
	top: 189px;
}
#Dried_Food_clj {
	left: 1191px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#dried_clk {
	position: absolute;
	width: 32.738px;
	height: 32.642px;
	left: 1215.131px;
	top: 209.29px;
	overflow: visible;
}
#Path_4794_cll {
	fill: rgba(27,47,91,1);
}
.Path_4794_cll {
	overflow: visible;
	position: absolute;
	width: 8.408px;
	height: 3.323px;
	left: 19.885px;
	top: 29.318px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4795_clm {
	fill: rgba(27,47,91,1);
}
.Path_4795_clm {
	overflow: visible;
	position: absolute;
	width: 13.576px;
	height: 16.779px;
	left: 17.301px;
	top: 12.123px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4796_cln {
	fill: rgba(27,47,91,1);
}
.Path_4796_cln {
	overflow: visible;
	position: absolute;
	width: 8.41px;
	height: 3.323px;
	left: 4.432px;
	top: 29.318px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4797_clo {
	fill: rgba(27,47,91,1);
}
.Path_4797_clo {
	overflow: visible;
	position: absolute;
	width: 13.578px;
	height: 16.779px;
	left: 1.848px;
	top: 12.123px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4798_clp {
	fill: rgba(27,47,91,1);
}
.Path_4798_clp {
	overflow: visible;
	position: absolute;
	width: 32.738px;
	height: 12.392px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_691 {
	fill: rgba(255,255,255,1);
}
.Rectangle_691 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1309px;
	top: 189px;
}
#Noodles_clv {
	left: 1326px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#noodles_clw {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 1342.117px;
	top: 211.169px;
	overflow: visible;
}
#Group_93_clx {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4799_cly {
	fill: rgba(27,47,91,1);
}
.Path_4799_cly {
	overflow: visible;
	position: absolute;
	width: 30.764px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Noodles_clv {
	left: 1326px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#noodles_clw {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 1342.117px;
	top: 211.169px;
	overflow: visible;
}
#Group_93_clx {
	position: absolute;
	width: 30.763px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4799_cly {
	fill: rgba(27,47,91,1);
}
.Path_4799_cly {
	overflow: visible;
	position: absolute;
	width: 30.764px;
	height: 30.763px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3068 {
	position: absolute;
	width: 95px;
	height: 99px;
	left: 151px;
	top: 189px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Rectangle_682 {
	fill: rgba(255,255,255,1);
}
.Rectangle_682 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 0px;
	top: 0px;
}
#Vegetable__cl {
	left: 9px;
	top: 64px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Path_9298 {
	fill: rgba(27,47,91,1);
}
.Path_9298 {
	overflow: visible;
	position: absolute;
	width: 45px;
	height: 45px;
	left: 24px;
	top: 15px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_692 {
	fill: rgba(255,255,255,1);
}
.Rectangle_692 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1434px;
	top: 189px;
}
#Rice_cl {
	left: 1466px;
	top: 256px;
	position: absolute;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#Baking_Need_cl {
	left: 1570px;
	top: 255px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(27,47,91,1);
}
#rice_cl {
	position: absolute;
	width: 34.47px;
	height: 34.257px;
	left: 1462px;
	top: 211px;
	overflow: visible;
}
#Group_102_cl {
	position: absolute;
	width: 34.47px;
	height: 16.158px;
	left: 0px;
	top: 14.06px;
	overflow: visible;
}
#Group_101_cl {
	position: absolute;
	width: 34.47px;
	height: 16.158px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4813_cl {
	fill: rgba(27,47,91,1);
}
.Path_4813_cl {
	overflow: visible;
	position: absolute;
	width: 34.469px;
	height: 16.157px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_104_cma {
	position: absolute;
	width: 17.94px;
	height: 2.02px;
	left: 8.266px;
	top: 32.237px;
	overflow: visible;
}
#Group_103_cmb {
	position: absolute;
	width: 17.94px;
	height: 2.02px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4814_cmc {
	fill: rgba(27,47,91,1);
}
.Path_4814_cmc {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 2.02px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_106_cmd {
	position: absolute;
	width: 27.706px;
	height: 12.04px;
	left: 3.381px;
	top: 0px;
	overflow: visible;
}
#Group_105_cme {
	position: absolute;
	width: 27.706px;
	height: 12.04px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4815_cmf {
	fill: rgba(27,47,91,1);
}
.Path_4815_cmf {
	overflow: visible;
	position: absolute;
	width: 27.705px;
	height: 12.04px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#glyph_cmg {
	position: absolute;
	width: 33.664px;
	height: 39.66px;
	left: 1591.168px;
	top: 205.597px;
	overflow: visible;
}
#Path_4837_cmh {
	fill: rgba(27,47,91,1);
}
.Path_4837_cmh {
	overflow: visible;
	position: absolute;
	width: 7.752px;
	height: 11.302px;
	left: 22.031px;
	top: 28.357px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4838_cmi {
	fill: rgba(27,47,91,1);
}
.Path_4838_cmi {
	overflow: visible;
	position: absolute;
	width: 7.693px;
	height: 11.119px;
	left: 4.898px;
	top: 28.541px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4839_cmj {
	fill: rgba(27,47,91,1);
}
.Path_4839_cmj {
	overflow: visible;
	position: absolute;
	width: 11.76px;
	height: 11.016px;
	left: 11.432px;
	top: 28.643px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4840_cmk {
	fill: rgba(27,47,91,1);
}
.Path_4840_cmk {
	overflow: visible;
	position: absolute;
	width: 33.664px;
	height: 12.164px;
	left: 0px;
	top: 15.535px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4841_cml {
	fill: rgba(27,47,91,1);
}
.Path_4841_cml {
	overflow: visible;
	position: absolute;
	width: 26.266px;
	height: 14.573px;
	left: 4.578px;
	top: 8.842px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4842_cmm {
	fill: rgba(27,47,91,1);
}
.Path_4842_cmm {
	overflow: visible;
	position: absolute;
	width: 17.221px;
	height: 18.801px;
	left: 8.813px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_693 {
	fill: rgba(255,255,255,1);
}
.Rectangle_693 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 129px;
	left: 1689px;
	top: 189px;
}
#Canned_Food_cmo {
	left: 1696px;
	top: 256px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#b161_canned_food_cmp {
	position: absolute;
	width: 36.783px;
	height: 46.334px;
	left: 1718.609px;
	top: 202.26px;
	overflow: visible;
}
#Path_4827_cmq {
	fill: rgba(27,47,91,1);
}
.Path_4827_cmq {
	overflow: visible;
	position: absolute;
	width: 36.783px;
	height: 46.334px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9299 {
	fill: rgba(0,0,0,0);
	stroke: rgba(27,47,91,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_9299 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 2px;
	left: 0.5px;
	top: 325.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_694 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_694 {
	position: absolute;
	overflow: visible;
	width: 45px;
	height: 47px;
	left: 1820px;
	top: 218px;
}
#Group_3027 {
	position: absolute;
	width: 33px;
	height: 33px;
	left: 1826.17px;
	top: 225px;
	overflow: visible;
}
#Path_4800_cmu {
	fill: rgba(27,47,91,1);
}
.Path_4800_cmu {
	overflow: visible;
	position: absolute;
	width: 33px;
	height: 33px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_cmv {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_cmv {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_698_cmw {
	fill: rgba(248,248,248,1);
}
.Rectangle_698_cmw {
	position: absolute;
	overflow: visible;
	width: 240px;
	height: 37px;
	left: 606px;
	top: 43px;
}
#Hunter_Zolomon_cmx {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_cmy {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_cmz {
	fill: rgba(18,168,246,1);
}
.Path_4632_cmz {
	overflow: visible;
	position: absolute;
	width: 27.082px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_cm {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_cm {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_cm {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_cm {
	position: absolute;
	overflow: visible;
	width: 10.037px;
	height: 10.036px;
	left: 48.6px;
	top: 56.468px;
}
#Path_4633_cm {
	fill: rgba(255,255,255,1);
}
.Path_4633_cm {
	overflow: visible;
	position: absolute;
	width: 7.711px;
	height: 6.181px;
	left: 57.697px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_cm {
	fill: rgba(18,168,246,1);
}
.Path_4634_cm {
	overflow: visible;
	position: absolute;
	width: 10.336px;
	height: 5.549px;
	left: 48.449px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_cm {
	fill: rgba(255,255,255,1);
}
.Path_4635_cm {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.033px;
	left: 49.98px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_cm {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.571px;
	overflow: visible;
}
#Group_55_cm {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_cm {
	fill: rgba(18,168,246,1);
}
.Path_4636_cm {
	overflow: visible;
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_cm {
	fill: rgba(255,255,255,1);
}
.Path_4639_cm {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.243px;
	left: 57.455px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_cm {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_cm {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.168px;
	top: 32.405px;
}
#Group_3056_cna {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_cnb {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_cnc {
	fill: rgba(27,47,91,1);
}
.home_cnc {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_cnd {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_cne {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_cnf {
	fill: rgba(27,47,91,1);
}
.Path_4640_cnf {
	overflow: visible;
	position: absolute;
	width: 13.455px;
	height: 9.53px;
	left: 0.002px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_cng {
	fill: rgba(27,47,91,1);
}
.Path_4641_cng {
	overflow: visible;
	position: absolute;
	width: 2.375px;
	height: 4.752px;
	left: 310.387px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_cnh {
	fill: rgba(27,47,91,1);
}
.Path_4642_cnh {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_cni {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__cnj {
	left: 16.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_cnk {
	fill: rgba(27,47,91,1);
}
.Path_4643_cnk {
	overflow: visible;
	position: absolute;
	width: 13.945px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_cnl {
	fill: rgba(27,47,91,1);
}
.Path_4644_cnl {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.119px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_cnm {
	fill: rgba(18,168,246,1);
}
.Path_4646_cnm {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_cnn {
	fill: rgba(18,168,246,1);
}
.Path_4647_cnn {
	overflow: visible;
	position: absolute;
	width: 6.947px;
	height: 0.701px;
	left: 618.928px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_cno {
	fill: rgba(18,168,246,1);
}
.Path_4648_cno {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_cnp {
	fill: rgba(18,168,246,1);
}
.Path_4649_cnp {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.602px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_cnq {
	fill: rgba(18,168,246,1);
}
.Path_4651_cnq {
	overflow: visible;
	position: absolute;
	width: 6.947px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_cnr {
	fill: rgba(18,168,246,1);
}
.Path_4653_cnr {
	overflow: visible;
	position: absolute;
	width: 6.947px;
	height: 0.701px;
	left: 622.854px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_cns {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.982px;
	top: 49.5px;
	overflow: visible;
}
#Inventory_Management_cnt {
	left: 17.697px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Path_4650_cnu {
	fill: rgba(18,168,246,1);
}
.Path_4650_cnu {
	overflow: visible;
	position: absolute;
	width: 6.982px;
	height: 5.413px;
	left: 3.928px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_cnv {
	fill: rgba(18,168,246,1);
}
.Path_4652_cnv {
	overflow: visible;
	position: absolute;
	width: 6.982px;
	height: 5.413px;
	left: 7.854px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_cnw {
	fill: rgba(18,168,246,1);
}
.Path_4654_cnw {
	overflow: visible;
	position: absolute;
	width: 6.982px;
	height: 5.413px;
	left: 0.002px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_cnx {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.27px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__cny {
	left: 15.025px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_cnz {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.518px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_cn {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_cn {
	fill: rgba(27,47,91,1);
}
.Path_4662_cn {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_cn {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.594px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_cn {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_cn {
	fill: rgba(27,47,91,1);
}
.Path_4663_cn {
	overflow: visible;
	position: absolute;
	width: 3.479px;
	height: 2.928px;
	left: 0.002px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_cn {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.793px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_cn {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_cn {
	fill: rgba(27,47,91,1);
}
.Path_4664_cn {
	overflow: visible;
	position: absolute;
	width: 5.877px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_cn {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_cn {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_coa {
	fill: rgba(27,47,91,1);
}
.Path_4665_coa {
	overflow: visible;
	position: absolute;
	width: 5.879px;
	height: 6.521px;
	left: -0.002px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_cob {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_coc {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_cod {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_coe {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_cof {
	fill: rgba(27,47,91,1);
}
.Path_4680_cof {
	overflow: visible;
	position: absolute;
	width: 12.406px;
	height: 3.101px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_cog {
	fill: rgba(27,47,91,1);
}
.Path_4681_cog {
	overflow: visible;
	position: absolute;
	width: 12.406px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_coh {
	fill: rgba(27,47,91,1);
}
.Path_4682_coh {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3062_coi {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_coj {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_cok {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_col {
	fill: rgba(27,47,91,1);
}
.Path_4688_col {
	overflow: visible;
	position: absolute;
	width: 15.586px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_com {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_con {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}