.mediaViewInfo {
	--web-view-name: roletree;
	--web-view-id: roletree;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: roletree;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#roletree {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: roletree;
	--web-view-id: roletree;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Text_fj {
	left: 1245px;
	top: 229px;
	position: absolute;
	overflow: visible;
	width: 1px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Line_fj {
	fill: rgba(235,242,247,1);
}
.Line_fj {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 1430px;
	top: 714.022px;
}
#Line_fka {
	fill: rgba(235,242,247,1);
}
.Line_fka {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 1430px;
	top: 294px;
}
#Line_fkb {
	fill: rgba(235,242,247,1);
}
.Line_fkb {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 1009.232px;
	top: 294px;
}
#Group_3047 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 110px;
	top: 394px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: sellpoint .html;
	cursor: pointer;
}
#Total_Revenue_fj {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_fj {
	fill: rgba(255,255,255,1);
}
.BG_fj {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_fj {
	left: 77.732px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#leaf_fka {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 21.366px;
	top: 20.7px;
	overflow: visible;
}
#Group_313_fkb {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_312_fkc {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4713_fkd {
	fill: rgba(27,47,91,1);
}
.Path_4713_fkd {
	overflow: visible;
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4714_fke {
	fill: rgba(27,47,91,1);
}
.Path_4714_fke {
	overflow: visible;
	position: absolute;
	width: 3.516px;
	height: 3.517px;
	left: 28.884px;
	top: 17.857px;
	transform: matrix(1,0,0,1,0,0);
}
#next_fkf {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__fkg {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1__fkg {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_589_fkh {
	filter: blur(50px);
	fill: rgba(255,255,255,1);
}
.Rectangle_589_fkh {
	mix-blend-mode: hard-light;
	filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1353px;
	height: 946px;
	left: 588px;
	top: 153px;
}
#Rectangle_590_fki {
	fill: rgba(255,255,255,1);
}
.Rectangle_590_fki {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 336px;
	left: 686px;
	top: 730px;
}
#Rectangle_591_fkj {
	fill: rgba(255,255,255,1);
}
.Rectangle_591_fkj {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 373px;
	height: 336px;
	left: 1089px;
	top: 730px;
}
#Rectangle_592_fkk {
	fill: rgba(255,255,255,1);
}
.Rectangle_592_fkk {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 336px;
	left: 1490px;
	top: 730px;
}
#photo_2021-09-14_20-16-15_fkl {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 181px;
	height: 176px;
	left: 746px;
	top: 651px;
	overflow: visible;
}
#photo_2021-09-14_20-15-47_fkm {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 181px;
	height: 176px;
	left: 1149px;
	top: 651px;
	overflow: visible;
}
#photo_2021-09-14_20-17-35_fkn {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 181px;
	height: 176px;
	left: 1550px;
	top: 652px;
	overflow: visible;
}
#Title_fko {
	left: 778px;
	top: 841px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Title_fkp {
	left: 1177px;
	top: 841px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Title_fkq {
	left: 1575px;
	top: 841px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Group_3046 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 110px;
	top: 270px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Total_Revenue_fks {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_fkt {
	fill: rgba(255,255,255,1);
}
.BG_fkt {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_fku {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#next_fkv {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__fkw {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1__fkw {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#customer_fkx {
	position: absolute;
	width: 39.18px;
	height: 34.129px;
	left: 21.366px;
	top: 25.436px;
	overflow: visible;
}
#Path_4909_fky {
	fill: rgba(27,47,91,1);
}
.Path_4909_fky {
	overflow: visible;
	position: absolute;
	width: 13.315px;
	height: 13.315px;
	left: 12.932px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4910_fkz {
	fill: rgba(27,47,91,1);
}
.Path_4910_fkz {
	overflow: visible;
	position: absolute;
	width: 8.417px;
	height: 8.417px;
	left: 28.849px;
	top: 4.897px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4911_fk {
	fill: rgba(27,47,91,1);
}
.Path_4911_fk {
	overflow: visible;
	position: absolute;
	width: 39.18px;
	height: 18.212px;
	left: 0px;
	top: 15.917px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4912_fk {
	fill: rgba(27,47,91,1);
}
.Path_4912_fk {
	overflow: visible;
	position: absolute;
	width: 8.417px;
	height: 8.417px;
	left: 1.913px;
	top: 4.897px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3049 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 110px;
	top: 636px;
	overflow: visible;
}
#Total_Revenue_fk {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_fk {
	fill: rgba(18,168,246,1);
}
.BG_fk {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#next_fk {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__fk {
	fill: rgba(255,255,255,1);
}
.Chevron_Right_1__fk {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Title_fk {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#role_fk {
	position: absolute;
	width: 39.18px;
	height: 39.2px;
	left: 21.366px;
	top: 22.7px;
	overflow: visible;
}
#Path_4915_fk {
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4915_fk {
	overflow: visible;
	position: absolute;
	width: 4.909px;
	height: 6.865px;
	left: 7.251px;
	top: 2.71px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4916_fla {
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4916_fla {
	overflow: visible;
	position: absolute;
	width: 40.18px;
	height: 40.2px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4917_flb {
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4917_flb {
	overflow: visible;
	position: absolute;
	width: 7.516px;
	height: 7.516px;
	left: 28.103px;
	top: 4.665px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3048 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 110px;
	top: 514px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Poll.html;
	cursor: pointer;
}
#Total_Revenue_fld {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_fle {
	fill: rgba(255,255,255,1);
}
.BG_fle {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_flf {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#next_flg {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__flh {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1__flh {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#surface1_fli {
	position: absolute;
	width: 39.18px;
	height: 52.319px;
	left: 21.366px;
	top: 16.341px;
	overflow: visible;
}
#Path_4913_flj {
	fill: rgba(27,47,91,1);
}
.Path_4913_flj {
	overflow: visible;
	position: absolute;
	width: 39.18px;
	height: 27.93px;
	left: 0px;
	top: 24.389px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4914_flk {
	fill: rgba(27,47,91,1);
}
.Path_4914_flk {
	overflow: visible;
	position: absolute;
	width: 23.588px;
	height: 22.584px;
	left: 7.796px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_593_fll {
	fill: rgba(255,255,255,1);
}
.Rectangle_593_fll {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 336px;
	left: 887px;
	top: 260px;
}
#Rectangle_594_flm {
	fill: rgba(255,255,255,1);
}
.Rectangle_594_flm {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 336px;
	left: 1287px;
	top: 260px;
}
#photo_2021-09-14_20-24-47_fln {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 181px;
	height: 176px;
	left: 944px;
	top: 182px;
	overflow: visible;
}
#Title_flo {
	left: 994px;
	top: 374px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Title_flp {
	left: 1350px;
	top: 374px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Ellipse_346_flq {
	fill: rgba(255,255,255,1);
}
.Ellipse_346_flq {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 226px;
	height: 221px;
	left: 1348px;
	top: 182px;
}
#image_2021-09-09_09-05-19_flr {
	position: absolute;
	width: 181px;
	height: 178px;
	left: 1348px;
	top: 182px;
	overflow: visible;
}
#Rectangle_613 {
	fill: rgba(255,255,255,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_613 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 82px;
	left: 943px;
	top: 423px;
}
#Title_flt {
	left: 967px;
	top: 428px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(27,47,91,1);
}
#Rectangle_614_flu {
	fill: rgba(255,255,255,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_614_flu {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 82px;
	left: 1336px;
	top: 423px;
}
#Title_flv {
	left: 1360px;
	top: 428px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(27,47,91,1);
}
#Rectangle_615 {
	fill: rgba(255,255,255,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_615 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 82px;
	left: 742px;
	top: 893px;
}
#Title_flx {
	left: 787px;
	top: 898px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(27,47,91,1);
}
#Rectangle_616_fly {
	fill: rgba(255,255,255,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_616_fly {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 82px;
	left: 1140px;
	top: 893px;
}
#Title_flz {
	left: 1185px;
	top: 898px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(27,47,91,1);
}
#Rectangle_617 {
	fill: rgba(255,255,255,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_617 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 82px;
	left: 1546px;
	top: 893px;
}
#Title_fl {
	left: 1591px;
	top: 898px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(27,47,91,1);
}
#Path_4918 {
	fill: rgba(0,0,0,0);
	stroke: rgba(27,47,91,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4918 {
	overflow: visible;
	position: absolute;
	width: 56.485px;
	height: 353.526px;
	left: 1387.054px;
	top: 521.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4919 {
	fill: rgba(0,0,0,0);
	stroke: rgba(27,47,91,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4919 {
	overflow: visible;
	position: absolute;
	width: 56.485px;
	height: 353.526px;
	left: 1438.5px;
	top: 521px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4920 {
	fill: rgba(0,0,0,0);
	stroke: rgba(27,47,91,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4920 {
	overflow: visible;
	position: absolute;
	width: 56.485px;
	height: 353.526px;
	left: 986.054px;
	top: 521.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4921 {
	fill: rgba(0,0,0,0);
	stroke: rgba(27,47,91,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4921 {
	overflow: visible;
	position: absolute;
	width: 56.485px;
	height: 353.526px;
	left: 1037.5px;
	top: 521px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_3_fl {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3_fl {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 408px;
	height: 63px;
	left: 100px;
	top: 175px;
}
#Search_fl {
	left: 157px;
	top: 188px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Layer_5_fl {
	position: absolute;
	width: 15.317px;
	height: 15.316px;
	left: 119px;
	top: 189.842px;
	overflow: visible;
}
#Path_4630_fl {
	fill: rgba(18,168,246,1);
}
.Path_4630_fl {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.315px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_fma {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_fma {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Hunter_Zolomon_fmb {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_fmc {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_fmd {
	fill: rgba(18,168,246,1);
}
.Path_4632_fmd {
	overflow: visible;
	position: absolute;
	width: 27.081px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_fme {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_fme {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_fmf {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_fmf {
	position: absolute;
	overflow: visible;
	width: 10.036px;
	height: 10.036px;
	left: 48.599px;
	top: 56.468px;
}
#Path_4633_fmg {
	fill: rgba(255,255,255,1);
}
.Path_4633_fmg {
	overflow: visible;
	position: absolute;
	width: 7.711px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_fmh {
	fill: rgba(18,168,246,1);
}
.Path_4634_fmh {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_fmi {
	fill: rgba(255,255,255,1);
}
.Path_4635_fmi {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.033px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_fmj {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.571px;
	overflow: visible;
}
#Group_55_fmk {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_fml {
	fill: rgba(18,168,246,1);
}
.Path_4636_fml {
	overflow: visible;
	position: absolute;
	width: 39.651px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_fmm {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.298px;
	top: 75.962px;
	overflow: visible;
}
#Path_4637_fmn {
	fill: rgba(18,26,80,1);
}
.Path_4637_fmn {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_fmo {
	fill: rgba(18,26,80,1);
}
.Path_4638_fmo {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_fmp {
	fill: rgba(255,255,255,1);
}
.Path_4639_fmp {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.243px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_fmq {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_fmq {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.405px;
}
#Group_3056_fmr {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_fms {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_fmt {
	fill: rgba(27,47,91,1);
}
.home_fmt {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_fmu {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_fmv {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_fmw {
	fill: rgba(27,47,91,1);
}
.Path_4640_fmw {
	overflow: visible;
	position: absolute;
	width: 13.456px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_fmx {
	fill: rgba(27,47,91,1);
}
.Path_4641_fmx {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.386px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_fmy {
	fill: rgba(27,47,91,1);
}
.Path_4642_fmy {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_fmz {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__fm {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_fm {
	fill: rgba(27,47,91,1);
}
.Path_4643_fm {
	overflow: visible;
	position: absolute;
	width: 13.946px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_fm {
	fill: rgba(27,47,91,1);
}
.Path_4644_fm {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.12px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_fm {
	fill: rgba(27,47,91,1);
}
.Path_4646_fm {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_fm {
	fill: rgba(27,47,91,1);
}
.Path_4647_fm {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_fm {
	fill: rgba(27,47,91,1);
}
.Path_4648_fm {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_fm {
	fill: rgba(27,47,91,1);
}
.Path_4649_fm {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_fm {
	fill: rgba(27,47,91,1);
}
.Path_4651_fm {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_fm {
	fill: rgba(27,47,91,1);
}
.Path_4653_fm {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 622.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_fm {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_fna {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_fnb {
	fill: rgba(27,47,91,1);
}
.Path_4650_fnb {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.926px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_fnc {
	fill: rgba(27,47,91,1);
}
.Path_4652_fnc {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_fnd {
	fill: rgba(27,47,91,1);
}
.Path_4654_fnd {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_fne {
	fill: rgba(248,248,248,1);
}
.Rectangle_2_fne {
	position: absolute;
	overflow: visible;
	width: 238px;
	height: 37px;
	left: 896px;
	top: 43px;
}
#Group_3060_fnf {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__fng {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Group_63_fnh {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_fni {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_fnj {
	fill: rgba(18,168,246,1);
}
.Path_4662_fnj {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_fnk {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_fnl {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_fnm {
	fill: rgba(18,168,246,1);
}
.Path_4663_fnm {
	overflow: visible;
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_fnn {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_fno {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_fnp {
	fill: rgba(18,168,246,1);
}
.Path_4664_fnp {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_fnq {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_fnr {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_fns {
	fill: rgba(18,168,246,1);
}
.Path_4665_fns {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_fnt {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_fnu {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_fnv {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_fnw {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_fnx {
	fill: rgba(27,47,91,1);
}
.Path_4680_fnx {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.101px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_fny {
	fill: rgba(27,47,91,1);
}
.Path_4681_fny {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_fnz {
	fill: rgba(27,47,91,1);
}
.Path_4682_fnz {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_fn {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_fn {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}
#Group_3062_fn {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_fn {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_fn {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_fn {
	fill: rgba(27,47,91,1);
}
.Path_4688_fn {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}