.mediaViewInfo {
	--web-view-name: Schedule;
	--web-view-id: Schedule;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
:root {
	--web-view-ids: Schedule;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Schedule {
	position: absolute;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	cursor: pointer;
	--web-view-name: Schedule;
	--web-view-id: Schedule;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
#Rectangle_672 {
	opacity: 0.5;
	fill: rgba(0,0,0,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_672 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#bg_ede {
	fill: rgba(255,255,255,1);
}
.bg_ede {
	filter: drop-shadow(0px 5px 25px rgba(82, 87, 93, 0.102));
	position: absolute;
	overflow: visible;
	width: 915px;
	height: 877px;
	left: 735px;
	top: 139px;
}
#bg_edf {
	fill: rgba(255,255,255,1);
}
.bg_edf {
	filter: drop-shadow(0px 5px 25px rgba(82, 87, 93, 0.102));
	position: absolute;
	overflow: visible;
	width: 480px;
	height: 877px;
	left: 345px;
	top: 139px;
}
#schedule_edg {
	position: absolute;
	width: 1167.836px;
	height: 801.903px;
	left: 375px;
	top: 139px;
	overflow: visible;
}
#Path_53_edh {
	fill: rgba(80,143,244,1);
}
.Path_53_edh {
	overflow: visible;
	position: absolute;
	width: 11.5px;
	height: 7.028px;
	transform: translate(-585px, -167px) matrix(1,0,0,1,588.9939,206.9995) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#day {
	position: absolute;
	width: 330px;
	height: 109.053px;
	left: 0px;
	top: 308.579px;
	overflow: visible;
}
#Rectangle_120_edj {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_edj {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 109.053px;
	left: 0px;
	top: 0px;
}
#Tue_7 {
	left: 20.245px;
	top: 15.526px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(179,184,189,1);
}
#day_edl {
	position: absolute;
	width: 330px;
	height: 346.632px;
	left: 0px;
	top: 427.368px;
	overflow: visible;
}
#Rectangle_120_edm {
	fill: rgba(235,242,247,1);
}
.Rectangle_120_edm {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 109.053px;
	left: 0px;
	top: 0px;
}
#Rectangle_140 {
	fill: rgba(235,242,247,1);
}
.Rectangle_140 {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 109.053px;
	left: 0px;
	top: 118.789px;
}
#Rectangle_141_edo {
	fill: rgba(235,242,247,1);
}
.Rectangle_141_edo {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 109.053px;
	left: 0px;
	top: 237.579px;
}
#Wed_8 {
	left: 20.245px;
	top: 15.526px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(179,184,189,1);
}
#Thu_9 {
	left: 20.245px;
	top: 134.315px;
	position: absolute;
	overflow: visible;
	width: 20px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(179,184,189,1);
}
#Fri_10 {
	left: 20.245px;
	top: 253.105px;
	position: absolute;
	overflow: visible;
	width: 20px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(179,184,189,1);
}
#day_eds {
	position: absolute;
	width: 330px;
	height: 109.053px;
	left: 0px;
	top: 189.789px;
	overflow: visible;
}
#Rectangle_120_edt {
	fill: rgba(255,255,255,1);
}
.Rectangle_120_edt {
	filter: drop-shadow(0px 5px 25px rgba(82, 87, 93, 0.102));
	position: absolute;
	overflow: visible;
	width: 405px;
	height: 184.053px;
	left: 0px;
	top: 0px;
}
#Group_190 {
	position: absolute;
	width: 69px;
	height: 60.003px;
	left: 20px;
	top: 16.211px;
	overflow: visible;
}
#Mon_6_______1000_AM {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(51,51,51,1);
}
#clocktime {
	position: absolute;
	width: 14px;
	height: 14.003px;
	left: 0px;
	top: 46px;
	overflow: visible;
}
#clock_edx {
	opacity: 0.5;
	fill: rgba(179,184,189,1);
}
.clock_edx {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 14.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#passed_day {
	position: absolute;
	width: 330px;
	height: 109.053px;
	left: 0px;
	top: 71px;
	overflow: visible;
}
#Rectangle_139_edz {
	fill: rgba(245,248,251,1);
}
.Rectangle_139_edz {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 109.053px;
	left: 0px;
	top: 0px;
}
#Sun_5 {
	left: 20.389px;
	top: 15.526px;
	position: absolute;
	overflow: visible;
	width: 20px;
	white-space: nowrap;
	line-height: 21px;
	margin-top: -5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(208,219,229,1);
}
#scroll_ed {
	position: absolute;
	width: 1px;
	height: 801.903px;
	left: 373.065px;
	top: 0px;
	overflow: visible;
}
#scroll_eea {
	opacity: 0.1;
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.scroll_eea {
	overflow: visible;
	position: absolute;
	width: 4px;
	height: 801.903px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#scroll_eeb {
	fill: transparent;
	stroke: rgba(179,184,189,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.scroll_eeb {
	overflow: visible;
	position: absolute;
	width: 4px;
	height: 117.082px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_137_ed {
	fill: rgba(237,76,76,1);
}
.Rectangle_137_ed {
	position: absolute;
	overflow: visible;
	width: 62px;
	height: 6px;
	left: 200px;
	top: 280px;
}
#Rectangle_142_ed {
	fill: rgba(80,143,244,1);
}
.Rectangle_142_ed {
	position: absolute;
	overflow: visible;
	width: 172px;
	height: 6px;
	left: 20px;
	top: 280px;
}
#Rectangle_143_ed {
	fill: rgba(80,143,244,1);
}
.Rectangle_143_ed {
	position: absolute;
	overflow: visible;
	width: 210px;
	height: 6px;
	left: 20px;
	top: 398px;
}
#Path_114 {
	fill: rgba(244,219,80,1);
}
.Path_114 {
	overflow: visible;
	position: absolute;
	width: 210px;
	height: 6px;
	left: 120px;
	top: 756px;
	transform: matrix(1,0,0,1,0,0);
}
#day_details {
	position: absolute;
	width: 758.242px;
	height: 738.969px;
	left: 409.594px;
	top: 24.5px;
	overflow: visible;
}
#Timeline_ed {
	position: absolute;
	width: 758.242px;
	height: 738.969px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_0_AM {
	left: 0px;
	top: 91.246px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
	letter-spacing: 0.3125px;
}
#n__AM {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
	letter-spacing: 0.3125px;
}
#n_1_AM {
	left: 0px;
	top: 182.492px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
	letter-spacing: 0.3125px;
}
#n_2_AM {
	left: 0px;
	top: 273.738px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
	letter-spacing: 0.3125px;
}
#n__PM {
	left: 0px;
	top: 364.984px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
	letter-spacing: 0.3125px;
}
#n__PM_eef {
	left: 0px;
	top: 456.23px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
	letter-spacing: 0.3125px;
}
#n__PM_eeg {
	left: 0px;
	top: 547.477px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
	letter-spacing: 0.3125px;
}
#n__PM_eeh {
	left: 0px;
	top: 638.723px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
	letter-spacing: 0.3125px;
}
#n__PM_eei {
	left: 0px;
	top: 719.969px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
	letter-spacing: 0.3125px;
}
#Line_eej {
	fill: rgba(235,242,247,1);
}
.Line_eej {
	position: absolute;
	overflow: visible;
	width: 700px;
	height: 1.941px;
	left: 58.242px;
	top: 10.795px;
}
#Line_eek {
	fill: rgba(235,242,247,1);
}
.Line_eek {
	position: absolute;
	overflow: visible;
	width: 700px;
	height: 1.941px;
	left: 58.242px;
	top: 101.795px;
}
#Line_eel {
	fill: rgba(235,242,247,1);
}
.Line_eel {
	position: absolute;
	overflow: visible;
	width: 700px;
	height: 1.941px;
	left: 58.242px;
	top: 193.287px;
}
#Line_eem {
	fill: rgba(235,242,247,1);
}
.Line_eem {
	position: absolute;
	overflow: visible;
	width: 700px;
	height: 1.941px;
	left: 58.242px;
	top: 284.533px;
}
#Line_een {
	fill: rgba(235,242,247,1);
}
.Line_een {
	position: absolute;
	overflow: visible;
	width: 700px;
	height: 1.941px;
	left: 58.242px;
	top: 375.779px;
}
#Line_eeo {
	fill: rgba(235,242,247,1);
}
.Line_eeo {
	position: absolute;
	overflow: visible;
	width: 700px;
	height: 1.941px;
	left: 58.242px;
	top: 467.025px;
}
#Line_eep {
	fill: rgba(235,242,247,1);
}
.Line_eep {
	position: absolute;
	overflow: visible;
	width: 700px;
	height: 1.941px;
	left: 58.242px;
	top: 558.271px;
}
#Line_eeq {
	fill: rgba(235,242,247,1);
}
.Line_eeq {
	position: absolute;
	overflow: visible;
	width: 700px;
	height: 1.941px;
	left: 58.242px;
	top: 649.518px;
}
#Line_eer {
	fill: rgba(235,242,247,1);
}
.Line_eer {
	position: absolute;
	overflow: visible;
	width: 700px;
	height: 1.941px;
	left: 58.242px;
	top: 730.764px;
}
#Line_ees {
	fill: transparent;
	stroke: rgba(235,242,247,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-dasharray: 4 8;
	stroke-dashoffset: 0;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Line_ees {
	overflow: visible;
	position: absolute;
	width: 702px;
	height: 2px;
	left: 58.242px;
	top: 57.389px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_eet {
	fill: transparent;
	stroke: rgba(235,242,247,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-dasharray: 4 8;
	stroke-dashoffset: 0;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Line_eet {
	overflow: visible;
	position: absolute;
	width: 702px;
	height: 2px;
	left: 58.242px;
	top: 148.635px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_eeu {
	fill: transparent;
	stroke: rgba(235,242,247,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-dasharray: 4 8;
	stroke-dashoffset: 0;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Line_eeu {
	overflow: visible;
	position: absolute;
	width: 702px;
	height: 2px;
	left: 58.242px;
	top: 239.881px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_eev {
	fill: transparent;
	stroke: rgba(235,242,247,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-dasharray: 4 8;
	stroke-dashoffset: 0;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Line_eev {
	overflow: visible;
	position: absolute;
	width: 702px;
	height: 2px;
	left: 58.242px;
	top: 331.127px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_eew {
	fill: transparent;
	stroke: rgba(235,242,247,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-dasharray: 4 8;
	stroke-dashoffset: 0;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Line_eew {
	overflow: visible;
	position: absolute;
	width: 702px;
	height: 2px;
	left: 58.242px;
	top: 422.373px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_eex {
	fill: transparent;
	stroke: rgba(235,242,247,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-dasharray: 4 8;
	stroke-dashoffset: 0;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Line_eex {
	overflow: visible;
	position: absolute;
	width: 702px;
	height: 2px;
	left: 58.242px;
	top: 513.619px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_eey {
	fill: transparent;
	stroke: rgba(235,242,247,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-dasharray: 4 8;
	stroke-dashoffset: 0;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Line_eey {
	overflow: visible;
	position: absolute;
	width: 702px;
	height: 2px;
	left: 58.242px;
	top: 604.865px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_eez {
	fill: transparent;
	stroke: rgba(235,242,247,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-dasharray: 4 8;
	stroke-dashoffset: 0;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Line_eez {
	overflow: visible;
	position: absolute;
	width: 702px;
	height: 2px;
	left: 58.242px;
	top: 696.111px;
	transform: matrix(1,0,0,1,0,0);
}
#Event {
	position: absolute;
	width: 310.625px;
	height: 205.848px;
	left: 58.242px;
	top: 103.895px;
	overflow: visible;
}
#UIEvent {
	position: absolute;
	width: 310.625px;
	height: 180.572px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#UIEvent_background {
	fill: rgba(0,0,0,0);
}
.UIEvent_background {
	position: absolute;
	overflow: visible;
	width: 310.625px;
	height: 180.572px;
	left: 0px;
	top: 0px;
}
#Bg_ee {
	fill: rgba(255,255,255,1);
}
.Bg_ee {
	filter: drop-shadow(0px 5px 25px rgba(82, 87, 93, 0.102));
	position: absolute;
	overflow: visible;
	width: 385.625px;
	height: 255.572px;
	left: 0px;
	top: 0px;
}
#Title_ee {
	left: 48.535px;
	top: 42.711px;
	position: absolute;
	overflow: visible;
	width: 243.676px;
	height: 76.42013549804688px;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(82,87,93,1);
	letter-spacing: 0.3125px;
}
#Time {
	left: 70.008px;
	top: 18.414px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(82,87,93,1);
	letter-spacing: 0.3125px;
}
#clocktime_ee {
	position: absolute;
	width: 14px;
	height: 14.003px;
	left: 48.164px;
	top: 20.518px;
	overflow: visible;
}
#clock_ee {
	opacity: 0.5;
	fill: rgba(179,184,189,1);
}
.clock_ee {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 14.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle {
	fill: rgba(80,143,244,1);
}
.Rectangle {
	width: 186.346px;
	height: 6px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0.088px) matrix(1,0,0,1,-72.0518,109.5869) rotate(90deg);
	transform-origin: center;
}
#Event_ee {
	position: absolute;
	width: 310.625px;
	height: 180.551px;
	left: 388.281px;
	top: 377.721px;
	overflow: visible;
}
#UIEvent_efa {
	position: absolute;
	width: 310.625px;
	height: 180.551px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#UIEvent_background_efb {
	fill: rgba(0,0,0,0);
}
.UIEvent_background_efb {
	position: absolute;
	overflow: visible;
	width: 310.625px;
	height: 180.551px;
	left: 0px;
	top: 0px;
}
#Bg_efc {
	fill: rgba(255,255,255,1);
}
.Bg_efc {
	filter: drop-shadow(0px 5px 30px rgba(82, 87, 93, 0.102));
	position: absolute;
	overflow: visible;
	width: 400.625px;
	height: 270.551px;
	left: 0px;
	top: 0px;
}
#Title_efd {
	left: 48.535px;
	top: 42.711px;
	position: absolute;
	overflow: visible;
	width: 243.676px;
	height: 118.42578125px;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(82,87,93,1);
	letter-spacing: 0.3125px;
}
#Time_efe {
	left: 67.008px;
	top: 17.779px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(82,87,93,1);
	letter-spacing: 0.3125px;
}
#Rectangle_eff {
	fill: rgba(237,76,76,1);
}
.Rectangle_eff {
	width: 120px;
	height: 6px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,-33.8789,76.4141) rotate(90deg);
	transform-origin: center;
}
#clocktime_efg {
	position: absolute;
	width: 14px;
	height: 14.003px;
	left: 48.125px;
	top: 19.779px;
	overflow: visible;
}
#clock_efh {
	opacity: 0.5;
	fill: rgba(179,184,189,1);
}
.clock_efh {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 14.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Title_efi {
	left: 25.006px;
	top: 29.5px;
	position: absolute;
	overflow: visible;
	width: 170px;
	white-space: nowrap;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.3125px;
}