.mediaViewInfo {
	--web-view-name: sellpoint;
	--web-view-id: sellpoint;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: sellpoint;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#sellpoint {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: sellpoint;
	--web-view-id: sellpoint;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Text_em {
	left: 1245px;
	top: 229px;
	position: absolute;
	overflow: visible;
	width: 1px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Line_ep {
	fill: rgba(235,242,247,1);
}
.Line_ep {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 1430px;
	top: 714.022px;
}
#Line_eq {
	fill: rgba(235,242,247,1);
}
.Line_eq {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 1430px;
	top: 294px;
}
#Line_er {
	fill: rgba(235,242,247,1);
}
.Line_er {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 1009.232px;
	top: 294px;
}
#Rectangle_589_ep {
	filter: blur(50px);
	fill: rgba(255,255,255,1);
}
.Rectangle_589_ep {
	mix-blend-mode: hard-light;
	filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1353px;
	height: 946px;
	left: 588px;
	top: 153px;
}
#Rectangle_590_eq {
	fill: rgba(255,255,255,1);
}
.Rectangle_590_eq {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 336px;
	left: 681px;
	top: 279px;
}
#Rectangle_591_er {
	fill: rgba(255,255,255,1);
}
.Rectangle_591_er {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 336px;
	left: 1081px;
	top: 279px;
}
#Rectangle_592_es {
	fill: rgba(255,255,255,1);
}
.Rectangle_592_es {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 336px;
	left: 1477px;
	top: 279px;
}
#Rectangle_593_et {
	fill: rgba(255,255,255,1);
}
.Rectangle_593_et {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 336px;
	left: 884px;
	top: 698px;
}
#Rectangle_594_eu {
	fill: rgba(255,255,255,1);
}
.Rectangle_594_eu {
	filter: drop-shadow(0px 3px 25px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 375px;
	height: 336px;
	left: 1284px;
	top: 698px;
}
#photo_2021-09-14_20-16-15_ev {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 181px;
	height: 176px;
	left: 741px;
	top: 200px;
	overflow: visible;
}
#photo_2021-09-14_20-15-47_ew {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 181px;
	height: 176px;
	left: 1143px;
	top: 200px;
	overflow: visible;
}
#photo_2021-09-14_20-17-35_ex {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 181px;
	height: 176px;
	left: 1537px;
	top: 201px;
	overflow: visible;
}
#photo_2021-09-14_20-24-47_ey {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 181px;
	height: 176px;
	left: 941px;
	top: 620px;
	overflow: visible;
}
#Ellipse_346_ez {
	fill: rgba(255,255,255,1);
}
.Ellipse_346_ez {
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 226px;
	height: 221px;
	left: 1343px;
	top: 622px;
}
#image_2021-09-09_09-05-19_e {
	position: absolute;
	width: 181px;
	height: 178px;
	left: 1343px;
	top: 620px;
	overflow: visible;
}
#Title_faa {
	left: 773px;
	top: 390px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Title_fab {
	left: 1171px;
	top: 390px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Title_fac {
	left: 1562px;
	top: 390px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Title_fad {
	left: 991px;
	top: 812px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Title_fae {
	left: 1347px;
	top: 812px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Rectangle_596 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_596 {
	position: absolute;
	overflow: visible;
	width: 246px;
	height: 31px;
	left: 708px;
	top: 440px;
}
#Rectangle_597 {
	fill: rgba(118,255,123,1);
}
.Rectangle_597 {
	position: absolute;
	overflow: visible;
	width: 149px;
	height: 29px;
	left: 709px;
	top: 441px;
}
#n_6_Points_fag {
	left: 758px;
	top: 482px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(27,47,91,1);
}
#Rectangle_598 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_598 {
	position: absolute;
	overflow: visible;
	width: 246px;
	height: 31px;
	left: 1106px;
	top: 441px;
}
#n_7_Points {
	left: 1156px;
	top: 483px;
	position: absolute;
	overflow: visible;
	width: 146px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(27,47,91,1);
}
#Rectangle_600_fab {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_600_fab {
	position: absolute;
	overflow: visible;
	width: 246px;
	height: 31px;
	left: 1505px;
	top: 441px;
}
#n_5_Points {
	left: 1555px;
	top: 483px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(27,47,91,1);
}
#Rectangle_602_fad {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_602_fad {
	position: absolute;
	overflow: visible;
	width: 246px;
	height: 31px;
	left: 708px;
	top: 440px;
}
#Rectangle_603_faf {
	fill: url(#Rectangle_603_faf);
}
.Rectangle_603_faf {
	position: absolute;
	overflow: visible;
	width: 149px;
	height: 29px;
	left: 709px;
	top: 441px;
}
#n_6_Points_fag {
	left: 758px;
	top: 482px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(27,47,91,1);
}
#Rectangle_604_fah {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_604_fah {
	position: absolute;
	overflow: visible;
	width: 246px;
	height: 31px;
	left: 909px;
	top: 862px;
}
#n_3_Points {
	left: 960px;
	top: 904px;
	position: absolute;
	overflow: visible;
	width: 146px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(27,47,91,1);
}
#Rectangle_605_fak {
	fill: url(#Rectangle_605_fak);
}
.Rectangle_605_fak {
	position: absolute;
	overflow: visible;
	width: 169px;
	height: 29px;
	left: 1107px;
	top: 442px;
}
#Rectangle_606_fam {
	fill: url(#Rectangle_606_fam);
}
.Rectangle_606_fam {
	position: absolute;
	overflow: visible;
	width: 223px;
	height: 29px;
	left: 1506px;
	top: 442px;
}
#Rectangle_607_fao {
	fill: url(#Rectangle_607_fao);
}
.Rectangle_607_fao {
	position: absolute;
	overflow: visible;
	width: 195px;
	height: 29px;
	left: 910px;
	top: 863px;
}
#Rectangle_608_fap {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_608_fap {
	position: absolute;
	overflow: visible;
	width: 246px;
	height: 31px;
	left: 1309px;
	top: 863px;
}
#n_8Points {
	left: 1360px;
	top: 905px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(27,47,91,1);
}
#Rectangle_609_fas {
	fill: url(#Rectangle_609_fas);
}
.Rectangle_609_fas {
	position: absolute;
	overflow: visible;
	width: 240px;
	height: 29px;
	left: 1310px;
	top: 864px;
}
#Rectangle_3_fat {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3_fat {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 408px;
	height: 63px;
	left: 100px;
	top: 175px;
}
#Search_fau {
	left: 157px;
	top: 188px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Layer_5_fav {
	position: absolute;
	width: 15.317px;
	height: 15.316px;
	left: 119px;
	top: 189.842px;
	overflow: visible;
}
#Path_4630_faw {
	fill: rgba(18,168,246,1);
}
.Path_4630_faw {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.316px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3039 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 110px;
	top: 394px;
	overflow: visible;
}
#Total_Revenue_fa {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_fa {
	fill: rgba(18,168,246,1);
}
.BG_fa {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_fba {
	left: 77.732px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#leaf_fbb {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 21.366px;
	top: 20.7px;
	overflow: visible;
}
#Group_313_fbc {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_312_fbd {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4713_fbe {
	fill: rgba(255,255,255,1);
}
.Path_4713_fbe {
	overflow: visible;
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4714_fbf {
	fill: rgba(255,255,255,1);
}
.Path_4714_fbf {
	overflow: visible;
	position: absolute;
	width: 3.516px;
	height: 3.517px;
	left: 28.884px;
	top: 17.857px;
	transform: matrix(1,0,0,1,0,0);
}
#next_fbg {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__fbh {
	fill: rgba(255,255,255,1);
}
.Chevron_Right_1__fbh {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Total_Revenue_fa {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_fa {
	fill: rgba(18,168,246,1);
}
.BG_fa {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_fba {
	left: 77.732px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#leaf_fbb {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 21.366px;
	top: 20.7px;
	overflow: visible;
}
#Group_313_fbc {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_312_fbd {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4713_fbe {
	fill: rgba(255,255,255,1);
}
.Path_4713_fbe {
	overflow: visible;
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4714_fbf {
	fill: rgba(255,255,255,1);
}
.Path_4714_fbf {
	overflow: visible;
	position: absolute;
	width: 3.516px;
	height: 3.517px;
	left: 28.884px;
	top: 17.857px;
	transform: matrix(1,0,0,1,0,0);
}
#next_fbg {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__fbh {
	fill: rgba(255,255,255,1);
}
.Chevron_Right_1__fbh {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3038 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 110px;
	top: 270px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Total_Revenue_fbt {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_fbu {
	fill: rgba(255,255,255,1);
}
.BG_fbu {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_fbv {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#next_fbw {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__fbx {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1__fbx {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#customer_fby {
	position: absolute;
	width: 39.18px;
	height: 34.129px;
	left: 21.366px;
	top: 25.436px;
	overflow: visible;
}
#Path_4909_fbz {
	fill: rgba(27,47,91,1);
}
.Path_4909_fbz {
	overflow: visible;
	position: absolute;
	width: 13.315px;
	height: 13.315px;
	left: 12.932px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4910_fb {
	fill: rgba(27,47,91,1);
}
.Path_4910_fb {
	overflow: visible;
	position: absolute;
	width: 8.417px;
	height: 8.417px;
	left: 28.849px;
	top: 4.897px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4911_fb {
	fill: rgba(27,47,91,1);
}
.Path_4911_fb {
	overflow: visible;
	position: absolute;
	width: 39.18px;
	height: 18.212px;
	left: 0px;
	top: 15.917px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4912_fb {
	fill: rgba(27,47,91,1);
}
.Path_4912_fb {
	overflow: visible;
	position: absolute;
	width: 8.417px;
	height: 8.417px;
	left: 1.913px;
	top: 4.897px;
	transform: matrix(1,0,0,1,0,0);
}
#Total_Revenue_fbt {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_fbu {
	fill: rgba(255,255,255,1);
}
.BG_fbu {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_fbv {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#next_fbw {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__fbx {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1__fbx {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#customer_fby {
	position: absolute;
	width: 39.18px;
	height: 34.129px;
	left: 21.366px;
	top: 25.436px;
	overflow: visible;
}
#Path_4909_fbz {
	fill: rgba(27,47,91,1);
}
.Path_4909_fbz {
	overflow: visible;
	position: absolute;
	width: 13.315px;
	height: 13.315px;
	left: 12.932px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4910_fb {
	fill: rgba(27,47,91,1);
}
.Path_4910_fb {
	overflow: visible;
	position: absolute;
	width: 8.417px;
	height: 8.417px;
	left: 28.849px;
	top: 4.897px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4911_fb {
	fill: rgba(27,47,91,1);
}
.Path_4911_fb {
	overflow: visible;
	position: absolute;
	width: 39.18px;
	height: 18.212px;
	left: 0px;
	top: 15.917px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4912_fb {
	fill: rgba(27,47,91,1);
}
.Path_4912_fb {
	overflow: visible;
	position: absolute;
	width: 8.417px;
	height: 8.417px;
	left: 1.913px;
	top: 4.897px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3040 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 110px;
	top: 514px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Poll.html;
	cursor: pointer;
}
#Total_Revenue_fcc {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_fcd {
	fill: rgba(255,255,255,1);
}
.BG_fcd {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_fce {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#next_fcf {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__fcg {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1__fcg {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#surface1_fch {
	position: absolute;
	width: 39.18px;
	height: 52.319px;
	left: 21.366px;
	top: 16.341px;
	overflow: visible;
}
#Path_4913_fci {
	fill: rgba(27,47,91,1);
}
.Path_4913_fci {
	overflow: visible;
	position: absolute;
	width: 39.18px;
	height: 27.93px;
	left: 0px;
	top: 24.389px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4914_fcj {
	fill: rgba(27,47,91,1);
}
.Path_4914_fcj {
	overflow: visible;
	position: absolute;
	width: 23.588px;
	height: 22.584px;
	left: 7.796px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Total_Revenue_fcc {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_fcd {
	fill: rgba(255,255,255,1);
}
.BG_fcd {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_fce {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#next_fcf {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__fcg {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1__fcg {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#surface1_fch {
	position: absolute;
	width: 39.18px;
	height: 52.319px;
	left: 21.366px;
	top: 16.341px;
	overflow: visible;
}
#Path_4913_fci {
	fill: rgba(27,47,91,1);
}
.Path_4913_fci {
	overflow: visible;
	position: absolute;
	width: 39.18px;
	height: 27.93px;
	left: 0px;
	top: 24.389px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4914_fcj {
	fill: rgba(27,47,91,1);
}
.Path_4914_fcj {
	overflow: visible;
	position: absolute;
	width: 23.588px;
	height: 22.584px;
	left: 7.796px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3041 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 110px;
	top: 636px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: roletree.html;
	cursor: pointer;
}
#Total_Revenue_fcu {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_fcv {
	fill: rgba(255,255,255,1);
}
.BG_fcv {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#next_fcw {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__fcx {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1__fcx {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Title_fcy {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#role_fcz {
	position: absolute;
	width: 39.18px;
	height: 39.2px;
	left: 21.366px;
	top: 22.9px;
	overflow: visible;
}
#Path_4915_fc {
	fill: rgba(27,47,91,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4915_fc {
	overflow: visible;
	position: absolute;
	width: 4.909px;
	height: 6.865px;
	left: 7.251px;
	top: 2.71px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4916_fc {
	fill: rgba(27,47,91,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4916_fc {
	overflow: visible;
	position: absolute;
	width: 40.18px;
	height: 40.2px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4917_fc {
	fill: rgba(27,47,91,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4917_fc {
	overflow: visible;
	position: absolute;
	width: 7.516px;
	height: 7.516px;
	left: 28.103px;
	top: 4.665px;
	transform: matrix(1,0,0,1,0,0);
}
#Total_Revenue_fcu {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_fcv {
	fill: rgba(255,255,255,1);
}
.BG_fcv {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#next_fcw {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 328px;
	top: 25.999px;
	overflow: visible;
}
#Chevron_Right_1__fcx {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1__fcx {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Title_fcy {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#role_fcz {
	position: absolute;
	width: 39.18px;
	height: 39.2px;
	left: 21.366px;
	top: 22.9px;
	overflow: visible;
}
#Path_4915_fc {
	fill: rgba(27,47,91,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4915_fc {
	overflow: visible;
	position: absolute;
	width: 4.909px;
	height: 6.865px;
	left: 7.251px;
	top: 2.71px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4916_fc {
	fill: rgba(27,47,91,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4916_fc {
	overflow: visible;
	position: absolute;
	width: 40.18px;
	height: 40.2px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4917_fc {
	fill: rgba(27,47,91,1);
	stroke: rgba(27,47,91,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_4917_fc {
	overflow: visible;
	position: absolute;
	width: 7.516px;
	height: 7.516px;
	left: 28.103px;
	top: 4.665px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_fc {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_fc {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Hunter_Zolomon_fc {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_fc {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_fc {
	fill: rgba(18,168,246,1);
}
.Path_4632_fc {
	overflow: visible;
	position: absolute;
	width: 27.081px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_fc {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_fc {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_fc {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_fc {
	position: absolute;
	overflow: visible;
	width: 10.036px;
	height: 10.037px;
	left: 48.599px;
	top: 56.468px;
}
#Path_4633_fc {
	fill: rgba(255,255,255,1);
}
.Path_4633_fc {
	overflow: visible;
	position: absolute;
	width: 7.711px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_fda {
	fill: rgba(18,168,246,1);
}
.Path_4634_fda {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.496px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_fdb {
	fill: rgba(255,255,255,1);
}
.Path_4635_fdb {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.034px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_fdc {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.57px;
	overflow: visible;
}
#Group_55_fdd {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_fde {
	fill: rgba(18,168,246,1);
}
.Path_4636_fde {
	overflow: visible;
	position: absolute;
	width: 39.651px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_fdf {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.298px;
	top: 75.962px;
	overflow: visible;
}
#Path_4637_fdg {
	fill: rgba(18,26,80,1);
}
.Path_4637_fdg {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_fdh {
	fill: rgba(18,26,80,1);
}
.Path_4638_fdh {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_fdi {
	fill: rgba(255,255,255,1);
}
.Path_4639_fdi {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.244px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_fdj {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_fdj {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.404px;
}
#Group_3056_fdk {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_fdl {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_fdm {
	fill: rgba(27,47,91,1);
}
.home_fdm {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_fdn {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_fdo {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_fdp {
	fill: rgba(27,47,91,1);
}
.Path_4640_fdp {
	overflow: visible;
	position: absolute;
	width: 13.456px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_fdq {
	fill: rgba(27,47,91,1);
}
.Path_4641_fdq {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.386px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_fdr {
	fill: rgba(27,47,91,1);
}
.Path_4642_fdr {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_fds {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__fdt {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_fdu {
	fill: rgba(27,47,91,1);
}
.Path_4643_fdu {
	overflow: visible;
	position: absolute;
	width: 13.946px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_fdv {
	fill: rgba(27,47,91,1);
}
.Path_4644_fdv {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.12px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_fdw {
	fill: rgba(27,47,91,1);
}
.Path_4646_fdw {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_fdx {
	fill: rgba(27,47,91,1);
}
.Path_4647_fdx {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_fdy {
	fill: rgba(27,47,91,1);
}
.Path_4648_fdy {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_fdz {
	fill: rgba(27,47,91,1);
}
.Path_4649_fdz {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_fd {
	fill: rgba(27,47,91,1);
}
.Path_4651_fd {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_fd {
	fill: rgba(27,47,91,1);
}
.Path_4653_fd {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 622.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_fd {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_fd {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_fd {
	fill: rgba(27,47,91,1);
}
.Path_4650_fd {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.926px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_fd {
	fill: rgba(27,47,91,1);
}
.Path_4652_fd {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_fd {
	fill: rgba(27,47,91,1);
}
.Path_4654_fd {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_fd {
	fill: rgba(248,248,248,1);
}
.Rectangle_2_fd {
	position: absolute;
	overflow: visible;
	width: 238px;
	height: 37px;
	left: 896px;
	top: 43px;
}
#Group_3060_fd {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__fd {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Group_63_fea {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_feb {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_fec {
	fill: rgba(18,168,246,1);
}
.Path_4662_fec {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_fed {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_fee {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_fef {
	fill: rgba(18,168,246,1);
}
.Path_4663_fef {
	overflow: visible;
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_feg {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_feh {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_fei {
	fill: rgba(18,168,246,1);
}
.Path_4664_fei {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_fej {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_fek {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_fel {
	fill: rgba(18,168,246,1);
}
.Path_4665_fel {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_fem {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_fen {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_feo {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_fep {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_feq {
	fill: rgba(27,47,91,1);
}
.Path_4680_feq {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.102px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_fer {
	fill: rgba(27,47,91,1);
}
.Path_4681_fer {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_fes {
	fill: rgba(27,47,91,1);
}
.Path_4682_fes {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_fet {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_feu {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}
#Group_3062_fev {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_few {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_fex {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_fey {
	fill: rgba(27,47,91,1);
}
.Path_4688_fey {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}