.mediaViewInfo {
	--web-view-name: Setting;
	--web-view-id: Setting;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Setting;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Setting {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Setting;
	--web-view-id: Setting;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_3_dx {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3_dx {
	position: absolute;
	overflow: visible;
	width: 210px;
	height: 45px;
	left: 1580px;
	top: 166px;
}
#Search_dx {
	left: 1626px;
	top: 179px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Layer_5_dx {
	position: absolute;
	width: 15.317px;
	height: 15.316px;
	left: 1599px;
	top: 180.842px;
	overflow: visible;
}
#Path_4630_dx {
	fill: rgba(18,168,246,1);
}
.Path_4630_dx {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.315px;
	left: 0px;
	top: 0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_dx {
	left: 1245px;
	top: 229px;
	position: absolute;
	overflow: visible;
	width: 1px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#bg_dx {
	fill: rgba(255,255,255,1);
}
.bg_dx {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 450px;
	height: 450px;
	left: 1400px;
	top: 642.022px;
}
#Line_dx {
	fill: rgba(235,242,247,1);
}
.Line_dx {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 1430px;
	top: 714.022px;
}
#Title_dya {
	left: 1488px;
	top: 670px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(18,168,246,1);
}
#info_dyb {
	fill: rgba(179,184,189,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.info_dyb {
	overflow: visible;
	position: absolute;
	width: 17.418px;
	height: 17.419px;
	left: 1744.169px;
	top: 677.192px;
	transform: matrix(1,0,0,1,0,0);
}
#bg_dyc {
	fill: rgba(255,255,255,1);
}
.bg_dyc {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 450px;
	height: 450px;
	left: 1400px;
	top: 222px;
}
#Line_dyd {
	fill: rgba(235,242,247,1);
}
.Line_dyd {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 1430px;
	top: 294px;
}
#Title_dye {
	left: 1475.82px;
	top: 247.872px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(18,168,246,1);
}
#info_dyf {
	fill: rgba(179,184,189,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.info_dyf {
	overflow: visible;
	position: absolute;
	width: 17.418px;
	height: 17.419px;
	left: 1744.169px;
	top: 257.17px;
	transform: matrix(1,0,0,1,0,0);
}
#bg_dyg {
	fill: rgba(255,255,255,1);
}
.bg_dyg {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 450px;
	height: 450px;
	left: 979.232px;
	top: 222px;
}
#Line_dyh {
	fill: rgba(235,242,247,1);
}
.Line_dyh {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 1009.232px;
	top: 294px;
}
#Title_dyi {
	left: 1054.232px;
	top: 250.879px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(18,168,246,1);
}
#info_dyj {
	fill: rgba(179,184,189,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.info_dyj {
	overflow: visible;
	position: absolute;
	width: 17.418px;
	height: 17.419px;
	left: 1323.402px;
	top: 257.17px;
	transform: matrix(1,0,0,1,0,0);
}
#sidebar {
	position: absolute;
	width: 390px;
	height: 810px;
	left: 130px;
	top: 222px;
	overflow: visible;
}
#bg_dyl {
	fill: rgba(255,255,255,1);
}
.bg_dyl {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 450px;
	height: 870px;
	left: 0px;
	top: 0px;
}
#Line_dym {
	fill: rgba(235,242,247,1);
}
.Line_dym {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 30px;
	top: 70.478px;
}
#Line_dyn {
	fill: rgba(235,242,247,1);
}
.Line_dyn {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 31px;
	top: 728.522px;
}
#Menu {
	left: 90px;
	top: 511.293px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(82,87,93,1);
}
#Menu_dyp {
	left: 90px;
	top: 451.213px;
	position: absolute;
	overflow: visible;
	width: 184px;
	white-space: nowrap;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(82,87,93,1);
}
#Menu_dyq {
	left: 90px;
	top: 391.133px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(82,87,93,1);
}
#Menu_dyr {
	left: 90px;
	top: 331.553px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(82,87,93,1);
}
#Menu_dys {
	left: 90px;
	top: 271px;
	position: absolute;
	overflow: visible;
	width: 173px;
	white-space: nowrap;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(82,87,93,1);
}
#Menu_dyt {
	left: 90px;
	top: 159px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(83,88,94,1);
}
#Menu_dyu {
	left: 90px;
	top: 105px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(83,88,94,1);
}
#Group_275 {
	position: absolute;
	width: 133px;
	height: 44px;
	left: 90px;
	top: 19px;
	overflow: visible;
}
#Hunter_Zolomon_dyw {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(18,168,246,1);
}
#Admin_dyx {
	left: 0px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#image_2021-09-09_09-05-19_dyy {
	position: absolute;
	width: 47px;
	height: 46px;
	left: 30px;
	top: 18px;
	overflow: visible;
}
#Menu_dyz {
	left: 90px;
	top: 217.051px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(82,87,93,1);
}
#background {
	position: absolute;
	width: 30px;
	height: 29.932px;
	left: 177px;
	top: 323px;
	overflow: visible;
}
#Group_274 {
	position: absolute;
	width: 30px;
	height: 29.932px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4689 {
	fill: rgba(208,219,229,1);
}
.Path_4689 {
	overflow: visible;
	position: absolute;
	width: 30px;
	height: 29.932px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#clock {
	position: absolute;
	width: 31.912px;
	height: 31.912px;
	left: 176px;
	top: 375px;
	overflow: visible;
}
#Group_277 {
	position: absolute;
	width: 7.416px;
	height: 13.595px;
	left: 14.72px;
	top: 7.403px;
	overflow: visible;
}
#Group_276 {
	position: absolute;
	width: 7.416px;
	height: 13.595px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4690_dy {
	fill: rgba(208,219,229,1);
}
.Path_4690_dy {
	overflow: visible;
	position: absolute;
	width: 7.417px;
	height: 13.595px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_279 {
	position: absolute;
	width: 31.912px;
	height: 31.912px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_278 {
	position: absolute;
	width: 31.912px;
	height: 31.912px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4691_dy {
	fill: rgba(208,219,229,1);
}
.Path_4691_dy {
	overflow: visible;
	position: absolute;
	width: 31.912px;
	height: 31.912px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#bill {
	position: absolute;
	width: 34.356px;
	height: 32.71px;
	left: 175px;
	top: 487px;
	overflow: visible;
}
#Path_4692_dzb {
	fill: rgba(208,219,229,1);
}
.Path_4692_dzb {
	overflow: visible;
	position: absolute;
	width: 4.714px;
	height: 10.437px;
	left: 24.065px;
	top: 2.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4693_dzc {
	fill: rgba(208,219,229,1);
}
.Path_4693_dzc {
	overflow: visible;
	position: absolute;
	width: 34.356px;
	height: 32.709px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_dzd {
	fill: rgba(208,219,229,1);
}
.Path_4694_dzd {
	overflow: visible;
	position: absolute;
	width: 3.563px;
	height: 3.45px;
	left: 8.611px;
	top: 14.775px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_dze {
	fill: rgba(208,219,229,1);
}
.Path_4695_dze {
	overflow: visible;
	position: absolute;
	width: 8.534px;
	height: 1.113px;
	left: 13.409px;
	top: 15.941px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4696_dzf {
	fill: rgba(208,219,229,1);
}
.Path_4696_dzf {
	overflow: visible;
	position: absolute;
	width: 3.563px;
	height: 3.45px;
	left: 8.611px;
	top: 9.937px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4697_dzg {
	fill: rgba(208,219,229,1);
}
.Path_4697_dzg {
	overflow: visible;
	position: absolute;
	width: 3.563px;
	height: 3.45px;
	left: 8.611px;
	top: 19.613px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4698_dzh {
	fill: rgba(208,219,229,1);
}
.Path_4698_dzh {
	overflow: visible;
	position: absolute;
	width: 8.534px;
	height: 1.113px;
	left: 13.409px;
	top: 20.812px;
	transform: matrix(1,0,0,1,0,0);
}
#calendar {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 177px;
	top: 435px;
	overflow: visible;
}
#Group_281 {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_280 {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4699_dzl {
	fill: rgba(208,219,229,1);
}
.Path_4699_dzl {
	overflow: visible;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_283 {
	position: absolute;
	width: 3px;
	height: 3px;
	left: 4px;
	top: 13px;
	overflow: visible;
}
#Group_282 {
	position: absolute;
	width: 3px;
	height: 3px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_558_dzo {
	fill: rgba(208,219,229,1);
}
.Rectangle_558_dzo {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 3px;
	left: 0px;
	top: 0px;
}
#Group_285 {
	position: absolute;
	width: 2px;
	height: 3px;
	left: 9px;
	top: 13px;
	overflow: visible;
}
#Group_284 {
	position: absolute;
	width: 2px;
	height: 3px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_559_dzr {
	fill: rgba(208,219,229,1);
}
.Rectangle_559_dzr {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 3px;
	left: 0px;
	top: 0px;
}
#Group_287 {
	position: absolute;
	width: 2px;
	height: 3px;
	left: 14px;
	top: 13px;
	overflow: visible;
}
#Group_286 {
	position: absolute;
	width: 2px;
	height: 3px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_560_dzu {
	fill: rgba(208,219,229,1);
}
.Rectangle_560_dzu {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 3px;
	left: 0px;
	top: 0px;
}
#Group_289 {
	position: absolute;
	width: 3px;
	height: 3px;
	left: 18px;
	top: 13px;
	overflow: visible;
}
#Group_288 {
	position: absolute;
	width: 3px;
	height: 3px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_561_dzx {
	fill: rgba(208,219,229,1);
}
.Rectangle_561_dzx {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 3px;
	left: 0px;
	top: 0px;
}
#Group_291 {
	position: absolute;
	width: 3px;
	height: 3px;
	left: 23px;
	top: 13px;
	overflow: visible;
}
#Group_290 {
	position: absolute;
	width: 3px;
	height: 3px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_562_dz {
	fill: rgba(208,219,229,1);
}
.Rectangle_562_dz {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 3px;
	left: 0px;
	top: 0px;
}
#Group_293 {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 4px;
	top: 18px;
	overflow: visible;
}
#Group_292 {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_563 {
	fill: rgba(208,219,229,1);
}
.Rectangle_563 {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Group_295 {
	position: absolute;
	width: 2px;
	height: 2px;
	left: 9px;
	top: 18px;
	overflow: visible;
}
#Group_294 {
	position: absolute;
	width: 2px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_564_dz {
	fill: rgba(208,219,229,1);
}
.Rectangle_564_dz {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Group_297 {
	position: absolute;
	width: 2px;
	height: 2px;
	left: 14px;
	top: 18px;
	overflow: visible;
}
#Group_296 {
	position: absolute;
	width: 2px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_565_dz {
	fill: rgba(208,219,229,1);
}
.Rectangle_565_dz {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Group_299 {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 18px;
	top: 18px;
	overflow: visible;
}
#Group_298 {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_566 {
	fill: rgba(208,219,229,1);
}
.Rectangle_566 {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Group_301 {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 4px;
	top: 23px;
	overflow: visible;
}
#Group_300 {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_567 {
	fill: rgba(208,219,229,1);
}
.Rectangle_567 {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Group_303 {
	position: absolute;
	width: 2px;
	height: 2px;
	left: 9px;
	top: 23px;
	overflow: visible;
}
#Group_302 {
	position: absolute;
	width: 2px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_568 {
	fill: rgba(208,219,229,1);
}
.Rectangle_568 {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Group_305 {
	position: absolute;
	width: 2px;
	height: 2px;
	left: 14px;
	top: 23px;
	overflow: visible;
}
#Group_304 {
	position: absolute;
	width: 2px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_569 {
	fill: rgba(208,219,229,1);
}
.Rectangle_569 {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Group_307 {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 18px;
	top: 23px;
	overflow: visible;
}
#Group_306 {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_570 {
	fill: rgba(208,219,229,1);
}
.Rectangle_570 {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Group_309 {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 23px;
	top: 18px;
	overflow: visible;
}
#Group_308 {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_571 {
	fill: rgba(208,219,229,1);
}
.Rectangle_571 {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#language {
	fill: rgba(208,219,229,1);
}
.language {
	overflow: visible;
	position: absolute;
	width: 36.921px;
	height: 36.922px;
	left: 174px;
	top: 547.417px;
	transform: matrix(1,0,0,1,0,0);
}
#alert {
	position: absolute;
	width: 33px;
	height: 33px;
	left: 176px;
	top: 603px;
	overflow: visible;
}
#Path_4700_du {
	fill: rgba(208,219,229,1);
}
.Path_4700_du {
	overflow: visible;
	position: absolute;
	width: 33px;
	height: 8.25px;
	left: 0px;
	top: 24.75px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4701_dv {
	fill: rgba(208,219,229,1);
}
.Path_4701_dv {
	overflow: visible;
	position: absolute;
	width: 19.25px;
	height: 16.844px;
	left: 6.875px;
	top: 9.625px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4702_dw {
	fill: rgba(208,219,229,1);
}
.Path_4702_dw {
	overflow: visible;
	position: absolute;
	width: 6.531px;
	height: 6.531px;
	left: 11px;
	top: 13.75px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4703_dx {
	fill: rgba(208,219,229,1);
}
.Path_4703_dx {
	overflow: visible;
	position: absolute;
	width: 2.063px;
	height: 6.875px;
	left: 15.469px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4704_dy {
	fill: rgba(208,219,229,1);
}
.Path_4704_dy {
	overflow: visible;
	position: absolute;
	width: 5.466px;
	height: 5.467px;
	left: 23.375px;
	top: 4.158px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4705_dz {
	fill: rgba(208,219,229,1);
}
.Path_4705_dz {
	overflow: visible;
	position: absolute;
	width: 5.465px;
	height: 5.467px;
	left: 4.16px;
	top: 4.158px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4706 {
	fill: rgba(208,219,229,1);
}
.Path_4706 {
	overflow: visible;
	position: absolute;
	width: 4.125px;
	height: 2.063px;
	left: 0px;
	top: 15.469px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4707 {
	fill: rgba(208,219,229,1);
}
.Path_4707 {
	overflow: visible;
	position: absolute;
	width: 4.125px;
	height: 2.063px;
	left: 28.875px;
	top: 15.469px;
	transform: matrix(1,0,0,1,0,0);
}
#money_d {
	position: absolute;
	width: 43.929px;
	height: 37.765px;
	left: 170px;
	top: 663.707px;
	overflow: visible;
}
#Group_311 {
	position: absolute;
	width: 43.929px;
	height: 37.765px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_310 {
	position: absolute;
	width: 43.929px;
	height: 37.765px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4708 {
	fill: rgba(208,219,229,1);
}
.Path_4708 {
	overflow: visible;
	position: absolute;
	width: 43.929px;
	height: 37.766px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4709 {
	fill: rgba(208,219,229,1);
}
.Path_4709 {
	overflow: visible;
	position: absolute;
	width: 31.044px;
	height: 17.248px;
	left: 3.449px;
	top: 17.069px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4710 {
	fill: rgba(208,219,229,1);
}
.Path_4710 {
	overflow: visible;
	position: absolute;
	width: 10.348px;
	height: 10.348px;
	left: 13.797px;
	top: 20.52px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4711 {
	fill: rgba(208,219,229,1);
}
.Path_4711 {
	overflow: visible;
	position: absolute;
	width: 2.587px;
	height: 2.587px;
	left: 8.192px;
	top: 24.399px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4712 {
	fill: rgba(208,219,229,1);
}
.Path_4712 {
	overflow: visible;
	position: absolute;
	width: 2.587px;
	height: 2.587px;
	left: 27.164px;
	top: 24.399px;
	transform: matrix(1,0,0,1,0,0);
}
#leaf {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 173px;
	top: 721.943px;
	overflow: visible;
}
#Group_313 {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_312 {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4713 {
	fill: rgba(208,219,229,1);
}
.Path_4713 {
	overflow: visible;
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4714 {
	fill: rgba(208,219,229,1);
}
.Path_4714 {
	overflow: visible;
	position: absolute;
	width: 3.516px;
	height: 3.518px;
	left: 28.884px;
	top: 17.856px;
	transform: matrix(1,0,0,1,0,0);
}
#bill_df {
	position: absolute;
	width: 34.356px;
	height: 32.71px;
	left: 1009.232px;
	top: 249.024px;
	overflow: visible;
}
#Path_4692_dg {
	fill: rgba(18,168,246,1);
}
.Path_4692_dg {
	overflow: visible;
	position: absolute;
	width: 4.714px;
	height: 10.437px;
	left: 24.065px;
	top: 2.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4693_dh {
	fill: rgba(18,168,246,1);
}
.Path_4693_dh {
	overflow: visible;
	position: absolute;
	width: 34.357px;
	height: 32.709px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_di {
	fill: rgba(18,168,246,1);
}
.Path_4694_di {
	overflow: visible;
	position: absolute;
	width: 3.563px;
	height: 3.45px;
	left: 8.611px;
	top: 14.775px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_dj {
	fill: rgba(18,168,246,1);
}
.Path_4695_dj {
	overflow: visible;
	position: absolute;
	width: 8.535px;
	height: 1.113px;
	left: 13.409px;
	top: 15.941px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4696_dk {
	fill: rgba(18,168,246,1);
}
.Path_4696_dk {
	overflow: visible;
	position: absolute;
	width: 3.563px;
	height: 3.45px;
	left: 8.611px;
	top: 9.937px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4697_dl {
	fill: rgba(18,168,246,1);
}
.Path_4697_dl {
	overflow: visible;
	position: absolute;
	width: 3.563px;
	height: 3.45px;
	left: 8.611px;
	top: 19.613px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4698_dm {
	fill: rgba(18,168,246,1);
}
.Path_4698_dm {
	overflow: visible;
	position: absolute;
	width: 8.535px;
	height: 1.113px;
	left: 13.409px;
	top: 20.812px;
	transform: matrix(1,0,0,1,0,0);
}
#language_dn {
	fill: rgba(18,168,246,1);
}
.language_dn {
	overflow: visible;
	position: absolute;
	width: 32.711px;
	height: 32.711px;
	left: 1430px;
	top: 246.017px;
	transform: matrix(1,0,0,1,0,0);
}
#money_do {
	position: absolute;
	width: 43.929px;
	height: 37.765px;
	left: 1430px;
	top: 661.234px;
	overflow: visible;
}
#Group_311_dp {
	position: absolute;
	width: 43.929px;
	height: 37.765px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_310_dq {
	position: absolute;
	width: 43.929px;
	height: 37.765px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4708_dr {
	fill: rgba(18,168,246,1);
}
.Path_4708_dr {
	overflow: visible;
	position: absolute;
	width: 43.929px;
	height: 37.766px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4709_ds {
	fill: rgba(18,168,246,1);
}
.Path_4709_ds {
	overflow: visible;
	position: absolute;
	width: 31.044px;
	height: 17.248px;
	left: 3.449px;
	top: 17.07px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4710_dt {
	fill: rgba(18,168,246,1);
}
.Path_4710_dt {
	overflow: visible;
	position: absolute;
	width: 10.348px;
	height: 10.348px;
	left: 13.797px;
	top: 20.52px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4711_du {
	fill: rgba(18,168,246,1);
}
.Path_4711_du {
	overflow: visible;
	position: absolute;
	width: 2.587px;
	height: 2.587px;
	left: 8.192px;
	top: 24.399px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4712_dv {
	fill: rgba(18,168,246,1);
}
.Path_4712_dv {
	overflow: visible;
	position: absolute;
	width: 2.587px;
	height: 2.587px;
	left: 27.163px;
	top: 24.399px;
	transform: matrix(1,0,0,1,0,0);
}
#Type__Landscape_ {
	left: 1012.464px;
	top: 317.069px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Edit {
	left: 1304.232px;
	top: 316.024px;
	position: absolute;
	overflow: hidden;
	width: 36px;
	height: 26px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#US_Dollar {
	left: 1433.819px;
	top: 737.479px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#English {
	left: 1433.232px;
	top: 317.457px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Size__A8 {
	left: 1013.051px;
	top: 362.526px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Edit_d {
	left: 1304.819px;
	top: 361.48px;
	position: absolute;
	overflow: hidden;
	width: 36px;
	height: 26px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Color__White {
	left: 1012.464px;
	top: 407.982px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Edit_da {
	left: 1304.232px;
	top: 406.938px;
	position: absolute;
	overflow: hidden;
	width: 36px;
	height: 26px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Cambodia {
	left: 1433.819px;
	top: 362.913px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#French {
	left: 1433.819px;
	top: 408.369px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Chinese_International {
	left: 1433.819px;
	top: 453.826px;
	position: absolute;
	overflow: visible;
	width: 198px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Riel_d {
	left: 1433.232px;
	top: 782.936px;
	position: absolute;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Bath {
	left: 1433.82px;
	top: 828.393px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Yen {
	left: 1433.82px;
	top: 873.849px;
	position: absolute;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Yuan {
	left: 1433.82px;
	top: 919.306px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Japan {
	left: 1433.82px;
	top: 499.283px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#check_dc {
	fill: rgba(27,47,91,1);
}
.check_dc {
	overflow: visible;
	position: absolute;
	width: 30.908px;
	height: 24px;
	left: 1734.181px;
	top: 317.457px;
	transform: matrix(1,0,0,1,0,0);
}
#check_dd {
	fill: rgba(27,47,91,1);
}
.check_dd {
	overflow: visible;
	position: absolute;
	width: 30.908px;
	height: 24px;
	left: 1734.181px;
	top: 737.479px;
	transform: matrix(1,0,0,1,0,0);
}
#check_de {
	fill: rgba(27,47,91,1);
}
.check_de {
	overflow: visible;
	position: absolute;
	width: 30.908px;
	height: 24px;
	left: 1734.181px;
	top: 778.891px;
	transform: matrix(1,0,0,1,0,0);
}
#bg_df {
	fill: rgba(255,255,255,1);
}
.bg_df {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 450px;
	height: 450px;
	left: 979.232px;
	top: 642.022px;
}
#Line_dg {
	fill: rgba(235,242,247,1);
}
.Line_dg {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 1009.232px;
	top: 714.022px;
}
#Title_dh {
	left: 1067.232px;
	top: 670px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(18,168,246,1);
}
#info_di {
	fill: rgba(179,184,189,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.info_di {
	overflow: visible;
	position: absolute;
	width: 17.418px;
	height: 17.419px;
	left: 1323.402px;
	top: 677.192px;
	transform: matrix(1,0,0,1,0,0);
}
#alert_dj {
	position: absolute;
	width: 33px;
	height: 33px;
	left: 1009px;
	top: 666px;
	overflow: visible;
}
#Path_4700_dk {
	fill: rgba(18,168,246,1);
}
.Path_4700_dk {
	overflow: visible;
	position: absolute;
	width: 33px;
	height: 8.25px;
	left: 0px;
	top: 24.75px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4701_dl {
	fill: rgba(18,168,246,1);
}
.Path_4701_dl {
	overflow: visible;
	position: absolute;
	width: 19.25px;
	height: 16.844px;
	left: 6.875px;
	top: 9.625px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4702_dm {
	fill: rgba(18,168,246,1);
}
.Path_4702_dm {
	overflow: visible;
	position: absolute;
	width: 6.531px;
	height: 6.531px;
	left: 11px;
	top: 13.75px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4703_dn {
	fill: rgba(18,168,246,1);
}
.Path_4703_dn {
	overflow: visible;
	position: absolute;
	width: 2.063px;
	height: 6.875px;
	left: 15.469px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4704_do {
	fill: rgba(18,168,246,1);
}
.Path_4704_do {
	overflow: visible;
	position: absolute;
	width: 5.466px;
	height: 5.467px;
	left: 23.375px;
	top: 4.158px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4705_dp {
	fill: rgba(18,168,246,1);
}
.Path_4705_dp {
	overflow: visible;
	position: absolute;
	width: 5.465px;
	height: 5.467px;
	left: 4.16px;
	top: 4.158px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4706_dq {
	fill: rgba(18,168,246,1);
}
.Path_4706_dq {
	overflow: visible;
	position: absolute;
	width: 4.125px;
	height: 2.063px;
	left: 0px;
	top: 15.469px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4707_dr {
	fill: rgba(18,168,246,1);
}
.Path_4707_dr {
	overflow: visible;
	position: absolute;
	width: 4.125px;
	height: 2.063px;
	left: 28.875px;
	top: 15.469px;
	transform: matrix(1,0,0,1,0,0);
}
#Tel__119 {
	left: 1010.232px;
	top: 731.045px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Edit_dt {
	left: 1302px;
	top: 730px;
	position: absolute;
	overflow: hidden;
	width: 36px;
	height: 26px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Total_Revenue_du {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 578px;
	top: 698px;
	overflow: visible;
	cursor: pointer;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Calender .html;
}
#BG_dv {
	fill: rgba(255,255,255,1);
}
.BG_dv {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Enhance_dw {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 578px;
	top: 583px;
	overflow: visible;
}
#BG_dx {
	fill: rgba(255,255,255,1);
}
.BG_dx {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_dy {
	left: 655.732px;
	top: 611px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Title_dz {
	left: 655.732px;
	top: 726px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	cursor: pointer;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Calender .html;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#clock_d {
	position: absolute;
	width: 31.912px;
	height: 31.912px;
	left: 603px;
	top: 609.544px;
	overflow: visible;
}
#Group_277_d {
	position: absolute;
	width: 7.416px;
	height: 13.595px;
	left: 14.72px;
	top: 7.403px;
	overflow: visible;
}
#Group_276_d {
	position: absolute;
	width: 7.416px;
	height: 13.595px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4690_d {
	fill: rgba(27,47,91,1);
}
.Path_4690_d {
	overflow: visible;
	position: absolute;
	width: 7.417px;
	height: 13.595px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_279_d {
	position: absolute;
	width: 31.912px;
	height: 31.912px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_278_d {
	position: absolute;
	width: 31.912px;
	height: 31.912px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4691_d {
	fill: rgba(27,47,91,1);
}
.Path_4691_d {
	overflow: visible;
	position: absolute;
	width: 31.912px;
	height: 31.912px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#calendar_d {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 603px;
	top: 727px;
	overflow: visible;
	cursor: pointer;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Calender .html;
}
#Group_281_d {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_280_d {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4699_da {
	fill: rgba(27,47,91,1);
}
.Path_4699_da {
	overflow: visible;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_283_db {
	position: absolute;
	width: 3px;
	height: 3px;
	left: 4px;
	top: 13px;
	overflow: visible;
}
#Group_282_dc {
	position: absolute;
	width: 3px;
	height: 3px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_558_dd {
	fill: rgba(27,47,91,1);
}
.Rectangle_558_dd {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 3px;
	left: 0px;
	top: 0px;
}
#Group_285_de {
	position: absolute;
	width: 2px;
	height: 3px;
	left: 9px;
	top: 13px;
	overflow: visible;
}
#Group_284_df {
	position: absolute;
	width: 2px;
	height: 3px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_559_dg {
	fill: rgba(27,47,91,1);
}
.Rectangle_559_dg {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 3px;
	left: 0px;
	top: 0px;
}
#Group_287_dh {
	position: absolute;
	width: 2px;
	height: 3px;
	left: 14px;
	top: 13px;
	overflow: visible;
}
#Group_286_di {
	position: absolute;
	width: 2px;
	height: 3px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_560_dj {
	fill: rgba(27,47,91,1);
}
.Rectangle_560_dj {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 3px;
	left: 0px;
	top: 0px;
}
#Group_289_dk {
	position: absolute;
	width: 3px;
	height: 3px;
	left: 18px;
	top: 13px;
	overflow: visible;
}
#Group_288_dl {
	position: absolute;
	width: 3px;
	height: 3px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_561_dm {
	fill: rgba(27,47,91,1);
}
.Rectangle_561_dm {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 3px;
	left: 0px;
	top: 0px;
}
#Group_291_dn {
	position: absolute;
	width: 3px;
	height: 3px;
	left: 23px;
	top: 13px;
	overflow: visible;
}
#Group_290_do {
	position: absolute;
	width: 3px;
	height: 3px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_562_dp {
	fill: rgba(27,47,91,1);
}
.Rectangle_562_dp {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 3px;
	left: 0px;
	top: 0px;
}
#Group_293_dq {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 4px;
	top: 18px;
	overflow: visible;
}
#Group_292_dr {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_563_ds {
	fill: rgba(27,47,91,1);
}
.Rectangle_563_ds {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Group_295_dt {
	position: absolute;
	width: 2px;
	height: 2px;
	left: 9px;
	top: 18px;
	overflow: visible;
}
#Group_294_du {
	position: absolute;
	width: 2px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_564_dv {
	fill: rgba(27,47,91,1);
}
.Rectangle_564_dv {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Group_297_dw {
	position: absolute;
	width: 2px;
	height: 2px;
	left: 14px;
	top: 18px;
	overflow: visible;
}
#Group_296_dx {
	position: absolute;
	width: 2px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_565_dy {
	fill: rgba(27,47,91,1);
}
.Rectangle_565_dy {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Group_299_dz {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 18px;
	top: 18px;
	overflow: visible;
}
#Group_298_d {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_566_d {
	fill: rgba(27,47,91,1);
}
.Rectangle_566_d {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Group_301_d {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 4px;
	top: 23px;
	overflow: visible;
}
#Group_300_d {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_567_d {
	fill: rgba(27,47,91,1);
}
.Rectangle_567_d {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Group_303_d {
	position: absolute;
	width: 2px;
	height: 2px;
	left: 9px;
	top: 23px;
	overflow: visible;
}
#Group_302_d {
	position: absolute;
	width: 2px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_568_d {
	fill: rgba(27,47,91,1);
}
.Rectangle_568_d {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Group_305_d {
	position: absolute;
	width: 2px;
	height: 2px;
	left: 14px;
	top: 23px;
	overflow: visible;
}
#Group_304_d {
	position: absolute;
	width: 2px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_569_da {
	fill: rgba(27,47,91,1);
}
.Rectangle_569_da {
	position: absolute;
	overflow: visible;
	width: 2px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Group_307_db {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 18px;
	top: 23px;
	overflow: visible;
}
#Group_306_dc {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_570_dd {
	fill: rgba(27,47,91,1);
}
.Rectangle_570_dd {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Group_309_de {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 23px;
	top: 18px;
	overflow: visible;
}
#Group_308_df {
	position: absolute;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_571_dg {
	fill: rgba(27,47,91,1);
}
.Rectangle_571_dg {
	position: absolute;
	overflow: visible;
	width: 3px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Title_di {
	left: 824.732px;
	top: 610.371px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Group_3064 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 578px;
	top: 468px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Change Background .html;
	cursor: pointer;
}
#Total_Revenue_dj {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Change Background .html;
}
#BG_dk {
	fill: rgba(255,255,255,1);
}
.BG_dk {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_dl {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#background_dm {
	position: absolute;
	width: 30px;
	height: 29.932px;
	left: 25px;
	top: 28px;
	overflow: visible;
}
#Group_274_dn {
	position: absolute;
	width: 30px;
	height: 29.932px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4689_do {
	fill: rgba(27,47,91,1);
}
.Path_4689_do {
	overflow: visible;
	position: absolute;
	width: 30px;
	height: 29.932px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#next {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 331.284px;
	top: 25.998px;
	overflow: visible;
}
#Chevron_Right_1_ {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1_ {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#next_dr {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 909.284px;
	top: 723.998px;
	overflow: visible;
}
#Chevron_Right_1__ds {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1__ds {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3065 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 578px;
	top: 813px;
	overflow: visible;
}
#Total_Revenue_dv {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BG_dw {
	fill: rgba(255,255,255,1);
}
.BG_dw {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_dw {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#leaf_dx {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 25px;
	top: 17.4px;
	overflow: visible;
}
#Group_313_dy {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_312_dz {
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4713_d {
	fill: rgba(27,47,91,1);
}
.Path_4713_d {
	overflow: visible;
	position: absolute;
	width: 39.18px;
	height: 39.6px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4714_d {
	fill: rgba(27,47,91,1);
}
.Path_4714_d {
	overflow: visible;
	position: absolute;
	width: 3.516px;
	height: 3.518px;
	left: 28.884px;
	top: 17.856px;
	transform: matrix(1,0,0,1,0,0);
}
#Title_d {
	left: 246.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#scroll {
	fill: rgba(27,47,91,1);
}
.scroll {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 38.26px;
	left: 331.284px;
	top: 23.37px;
	transform: matrix(1,0,0,1,0,0);
}
#scroll_d {
	fill: rgba(27,47,91,1);
}
.scroll_d {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 38.26px;
	left: 909.284px;
	top: 606.37px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3063 {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 578px;
	top: 354px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs .html;
	cursor: pointer;
}
#Total_Revenue_d {
	position: absolute;
	width: 370px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs .html;
	cursor: pointer;
}
#BG_d {
	fill: rgba(255,255,255,1);
}
.BG_d {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#Title_da {
	left: 77.732px;
	top: 28px;
	position: absolute;
	overflow: visible;
	width: 199px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs .html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#login {
	position: absolute;
	width: 30.001px;
	height: 32.648px;
	left: 25px;
	top: 26.176px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs .html;
	cursor: pointer;
}
#Group_2983 {
	position: absolute;
	width: 23.32px;
	height: 32.648px;
	left: 6.682px;
	top: 0px;
	overflow: visible;
}
#Path_9224 {
	fill: rgba(243,243,241,1);
}
.Path_9224 {
	overflow: visible;
	position: absolute;
	width: 15.325px;
	height: 15.324px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2982 {
	position: absolute;
	width: 16.235px;
	height: 17.506px;
	left: 7.085px;
	top: 15.143px;
	overflow: visible;
}
#Path_9225 {
	fill: rgba(46,223,132,1);
}
.Path_9225 {
	overflow: visible;
	position: absolute;
	width: 9.848px;
	height: 17.506px;
	left: 6.387px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9226 {
	fill: rgba(46,223,132,1);
}
.Path_9226 {
	overflow: visible;
	position: absolute;
	width: 5.108px;
	height: 5.108px;
	left: 5.108px;
	top: 7.658px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9227 {
	fill: rgba(46,223,132,1);
}
.Path_9227 {
	overflow: visible;
	position: absolute;
	width: 5.108px;
	height: 5.108px;
	left: 5.108px;
	top: 4.738px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9228 {
	fill: rgba(46,223,132,1);
}
.Path_9228 {
	overflow: visible;
	position: absolute;
	width: 9.487px;
	height: 2.189px;
	left: 0px;
	top: 7.658px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9229 {
	fill: rgba(243,243,241,1);
}
.Path_9229 {
	overflow: visible;
	position: absolute;
	width: 18.149px;
	height: 13.275px;
	left: 0.022px;
	top: 18.486px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2985 {
	position: absolute;
	width: 30.001px;
	height: 32.648px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_9230 {
	fill: rgba(214,219,225,1);
}
.Path_9230 {
	overflow: visible;
	position: absolute;
	width: 9.487px;
	height: 15.324px;
	left: 6.681px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9231 {
	fill: rgba(214,219,225,1);
}
.Path_9231 {
	overflow: visible;
	position: absolute;
	width: 25.916px;
	height: 13.276px;
	left: 0.022px;
	top: 18.486px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_2984 {
	position: absolute;
	width: 30.001px;
	height: 32.648px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_9232 {
	fill: rgba(27,47,91,1);
}
.Path_9232 {
	overflow: visible;
	position: absolute;
	width: 15.325px;
	height: 15.324px;
	left: 6.681px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9233 {
	fill: rgba(27,47,91,1);
}
.Path_9233 {
	overflow: visible;
	position: absolute;
	width: 13.986px;
	height: 13.295px;
	left: 0px;
	top: 18.449px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9234 {
	fill: rgba(27,47,91,1);
}
.Path_9234 {
	overflow: visible;
	position: absolute;
	width: 10.298px;
	height: 17.506px;
	left: 19.704px;
	top: 15.143px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9235 {
	fill: rgba(27,47,91,1);
}
.Path_9235 {
	overflow: visible;
	position: absolute;
	width: 6.015px;
	height: 6.015px;
	left: 18.421px;
	top: 22.347px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9236 {
	fill: rgba(27,47,91,1);
}
.Path_9236 {
	overflow: visible;
	position: absolute;
	width: 6.015px;
	height: 6.015px;
	left: 18.421px;
	top: 19.428px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_9237 {
	fill: rgba(27,47,91,1);
}
.Path_9237 {
	overflow: visible;
	position: absolute;
	width: 9.487px;
	height: 2.189px;
	left: 13.767px;
	top: 22.801px;
	transform: matrix(1,0,0,1,0,0);
}
#next_ds {
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 331.284px;
	top: 25.998px;
	overflow: visible;
}
#Chevron_Right_1__dt {
	fill: rgba(27,47,91,1);
}
.Chevron_Right_1__dt {
	overflow: visible;
	position: absolute;
	width: 16.44px;
	height: 33.003px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_du {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_du {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_2_dv {
	fill: rgba(248,248,248,1);
}
.Rectangle_2_dv {
	position: absolute;
	overflow: visible;
	width: 119px;
	height: 37px;
	left: 1361px;
	top: 43px;
}
#Hunter_Zolomon_dw {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_dx {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_dy {
	fill: rgba(18,168,246,1);
}
.Path_4632_dy {
	overflow: visible;
	position: absolute;
	width: 27.082px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_dz {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_dz {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.688px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_d {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_d {
	position: absolute;
	overflow: visible;
	width: 10.037px;
	height: 10.036px;
	left: 48.599px;
	top: 56.469px;
}
#Path_4633_d {
	fill: rgba(255,255,255,1);
}
.Path_4633_d {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_d {
	fill: rgba(18,168,246,1);
}
.Path_4634_d {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.55px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_d {
	fill: rgba(255,255,255,1);
}
.Path_4635_d {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.033px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_d {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.57px;
	overflow: visible;
}
#Group_55_d {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_d {
	fill: rgba(18,168,246,1);
}
.Path_4636_d {
	overflow: visible;
	position: absolute;
	width: 39.652px;
	height: 29.526px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_d {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.298px;
	top: 75.963px;
	overflow: visible;
}
#Path_4637_d {
	fill: rgba(18,26,80,1);
}
.Path_4637_d {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_d {
	fill: rgba(18,26,80,1);
}
.Path_4638_d {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_da {
	fill: rgba(255,255,255,1);
}
.Path_4639_da {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.244px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_db {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_db {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.404px;
}
#Group_3056_dc {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_dd {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_de {
	fill: rgba(27,47,91,1);
}
.home_de {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.463px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_df {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_dg {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_dh {
	fill: rgba(27,47,91,1);
}
.Path_4640_dh {
	overflow: visible;
	position: absolute;
	width: 13.456px;
	height: 9.53px;
	left: 0px;
	top: 5.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_di {
	fill: rgba(27,47,91,1);
}
.Path_4641_di {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.386px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_dj {
	fill: rgba(27,47,91,1);
}
.Path_4642_dj {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_dk {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__dl {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_dm {
	fill: rgba(27,47,91,1);
}
.Path_4643_dm {
	overflow: visible;
	position: absolute;
	width: 13.946px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_dn {
	fill: rgba(27,47,91,1);
}
.Path_4644_dn {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.12px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_do {
	fill: rgba(27,47,91,1);
}
.Path_4646_do {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_dp {
	fill: rgba(27,47,91,1);
}
.Path_4647_dp {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_dq {
	fill: rgba(27,47,91,1);
}
.Path_4648_dq {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_dr {
	fill: rgba(27,47,91,1);
}
.Path_4649_dr {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_ds {
	fill: rgba(27,47,91,1);
}
.Path_4651_ds {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_dt {
	fill: rgba(27,47,91,1);
}
.Path_4653_dt {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 622.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_du {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_dv {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_dx {
	fill: rgba(27,47,91,1);
}
.Path_4650_dx {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.926px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_dx {
	fill: rgba(27,47,91,1);
}
.Path_4652_dx {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_dy {
	fill: rgba(27,47,91,1);
}
.Path_4654_dy {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_dz {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__d {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_d {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_d {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_d {
	fill: rgba(27,47,91,1);
}
.Path_4662_d {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.636px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_d {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_d {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_d {
	fill: rgba(27,47,91,1);
}
.Path_4663_d {
	overflow: visible;
	position: absolute;
	width: 3.48px;
	height: 2.929px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_d {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_d {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_d {
	fill: rgba(27,47,91,1);
}
.Path_4664_d {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: -0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_db {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_db {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_dc {
	fill: rgba(27,47,91,1);
}
.Path_4665_dc {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_dd {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_de {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_df {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_dg {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_dh {
	fill: rgba(27,47,91,1);
}
.Path_4680_dh {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.102px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_di {
	fill: rgba(27,47,91,1);
}
.Path_4681_di {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_dj {
	fill: rgba(27,47,91,1);
}
.Path_4682_dj {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_dk {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_dl {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}
#Group_3062_dm {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
}
#Setting_dn {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Group_79_do {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_dp {
	fill: rgba(18,168,246,1);
}
.Path_4688_dp {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}