.mediaViewInfo {
	--web-view-name: Statistic;
	--web-view-id: Statistic;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Statistic;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Statistic {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Statistic;
	--web-view-id: Statistic;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_2_drl {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_drl {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_2_drm {
	fill: rgba(248,248,248,1);
}
.Rectangle_2_drm {
	position: absolute;
	overflow: visible;
	width: 119px;
	height: 37px;
	left: 441px;
	top: 43px;
}
#involvement {
	position: absolute;
	width: 392px;
	height: 392.977px;
	left: 979px;
	top: 622.022px;
	overflow: visible;
}
#bg_dro {
	fill: rgba(255,255,255,1);
}
.bg_dro {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 450px;
	height: 450px;
	left: 1px;
	top: 0px;
}
#Title_drp {
	left: 27.96px;
	top: 28.029px;
	position: absolute;
	overflow: visible;
	width: 299px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Mask_drq {
	fill: rgba(0,0,0,0);
}
.Mask_drq {
	position: absolute;
	overflow: visible;
	width: 392px;
	height: 264.919px;
	left: 0px;
	top: 128.059px;
}
#n_5_September_2018 {
	left: 24.899px;
	top: 126.059px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#n_2628 {
	left: 23.899px;
	top: 82.059px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(27,47,91,1);
}
#Line_drt {
	fill: rgba(235,242,247,1);
}
.Line_drt {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 30.006px;
	top: 72px;
}
#Mask_Group_1 {
	position: absolute;
	width: 390px;
	height: 390px;
	left: 1px;
	top: 0px;
	overflow: visible;
}
#info {
	fill: rgba(179,184,189,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.info {
	overflow: visible;
	position: absolute;
	width: 17.418px;
	height: 17.419px;
	left: 342.169px;
	top: 37.17px;
	transform: matrix(1,0,0,1,0,0);
}
#Top_4_products {
	position: absolute;
	width: 390px;
	height: 390px;
	left: 560px;
	top: 622.022px;
	overflow: visible;
}
#bg_drx {
	fill: rgba(255,255,255,1);
}
.bg_drx {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 450px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#Line_dry {
	fill: rgba(235,242,247,1);
}
.Line_dry {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 43px;
	top: 72px;
}
#Title_drz {
	left: 26.006px;
	top: 29.059px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Bar {
	opacity: 0.1;
	fill: rgba(235,74,138,1);
}
.Bar {
	overflow: visible;
	position: absolute;
	width: 289.587px;
	height: 8px;
	left: 76.006px;
	top: 352px;
	transform: matrix(1,0,0,1,0,0);
}
#Progress {
	fill: rgba(235,74,138,1);
}
.Progress {
	overflow: visible;
	position: absolute;
	width: 257.193px;
	height: 8px;
	left: 30.006px;
	top: 352px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_dr {
	left: 333.006px;
	top: 315px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: right;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(82,87,93,1);
}
#description {
	left: 104.296px;
	top: 323px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -4px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
	letter-spacing: -0.2px;
}
#n__dr {
	left: 30.006px;
	top: 316px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(82,87,93,1);
}
#Bar_dr {
	opacity: 0.1;
	fill: rgba(40,98,255,1);
}
.Bar_dr {
	overflow: visible;
	position: absolute;
	width: 290px;
	height: 8px;
	left: 76.006px;
	top: 204px;
	transform: matrix(1,0,0,1,0,0);
}
#Progress_dr {
	fill: rgba(40,98,255,1);
}
.Progress_dr {
	position: absolute;
	overflow: visible;
	width: 233.871px;
	height: 8px;
	left: 30.006px;
	top: 204px;
}
#Text_dsa {
	left: 335.006px;
	top: 167px;
	position: absolute;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: right;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(82,87,93,1);
}
#description_dr {
	left: 104.296px;
	top: 175px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -4px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
	letter-spacing: -0.2px;
}
#n__dsa {
	left: 30.006px;
	top: 168px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(82,87,93,1);
}
#Bar_dsa {
	opacity: 0.1;
	fill: rgba(255,106,129,1);
}
.Bar_dsa {
	overflow: visible;
	position: absolute;
	width: 290px;
	height: 8px;
	left: 75.006px;
	top: 278px;
	transform: matrix(1,0,0,1,0,0);
}
#Progress_dsb {
	fill: rgba(255,106,129,1);
}
.Progress_dsb {
	position: absolute;
	overflow: visible;
	width: 252.581px;
	height: 8px;
	left: 30.006px;
	top: 278px;
}
#Text_dsc {
	left: 333.006px;
	top: 241px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: right;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(82,87,93,1);
}
#description_dsd {
	left: 104.296px;
	top: 249px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -4px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
	letter-spacing: -0.2px;
}
#n__dse {
	left: 30.006px;
	top: 242px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(82,87,93,1);
}
#Bar_dsf {
	opacity: 0.1;
	fill: rgba(82,137,201,1);
}
.Bar_dsf {
	overflow: visible;
	position: absolute;
	width: 290px;
	height: 8px;
	left: 74.006px;
	top: 130px;
	transform: matrix(1,0,0,1,0,0);
}
#Progress_dsg {
	fill: rgba(82,137,201,1);
}
.Progress_dsg {
	position: absolute;
	overflow: visible;
	width: 177.742px;
	height: 8px;
	left: 30.006px;
	top: 130px;
}
#Text_dsh {
	left: 334.006px;
	top: 93px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: right;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(82,87,93,1);
}
#description_dsi {
	left: 104.296px;
	top: 101px;
	position: absolute;
	overflow: visible;
	width: 32px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -4px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
	letter-spacing: -0.2px;
}
#n__dsj {
	left: 30.006px;
	top: 94px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(82,87,93,1);
}
#info_dsk {
	fill: rgba(179,184,189,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.info_dsk {
	overflow: visible;
	position: absolute;
	width: 17.418px;
	height: 17.419px;
	left: 901.582px;
	top: 659.581px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3079 {
	position: absolute;
	width: 810px;
	height: 391px;
	left: 560.5px;
	top: 202.022px;
	overflow: visible;
}
#Scroll_Group_13 {
	mix-blend-mode: normal;
	position: absolute;
	width: 810px;
	height: 391px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
#sales_statistics {
	position: absolute;
	width: 810px;
	height: 390px;
	left: -0.5px;
	top: -0.5px;
	overflow: visible;
}
#bg_dso {
	fill: rgba(255,255,255,1);
}
.bg_dso {
	filter: drop-shadow(0px 5px 25px rgba(82, 87, 93, 0.102));
	overflow: visible;
	position: absolute;
	width: 885px;
	height: 465px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_dsp {
	fill: rgba(235,242,247,1);
}
.Line_dsp {
	position: absolute;
	overflow: visible;
	width: 750px;
	height: 2px;
	left: 30.006px;
	top: 70px;
}
#Title_dsq {
	left: 30.006px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#Data {
	position: absolute;
	width: 749.5px;
	height: 216px;
	left: 30.006px;
	top: 144px;
	overflow: visible;
}
#Line_dss {
	fill: transparent;
	stroke: rgba(227,233,239,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Line_dss {
	overflow: visible;
	position: absolute;
	width: 702.468px;
	height: 1px;
	left: 48.032px;
	top: 209.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_dst {
	fill: transparent;
	stroke: rgba(227,233,239,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Line_dst {
	overflow: visible;
	position: absolute;
	width: 702.468px;
	height: 1px;
	left: 48.032px;
	top: 169.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_dsu {
	fill: transparent;
	stroke: rgba(227,233,239,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Line_dsu {
	overflow: visible;
	position: absolute;
	width: 702.468px;
	height: 1px;
	left: 48.032px;
	top: 129.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_dsv {
	fill: transparent;
	stroke: rgba(227,233,239,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Line_dsv {
	overflow: visible;
	position: absolute;
	width: 702.468px;
	height: 1px;
	left: 48.032px;
	top: 89.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_dsw {
	fill: transparent;
	stroke: rgba(227,233,239,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Line_dsw {
	overflow: visible;
	position: absolute;
	width: 702.468px;
	height: 1px;
	left: 48.032px;
	top: 49.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_dsx {
	fill: transparent;
	stroke: rgba(227,233,239,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Line_dsx {
	overflow: visible;
	position: absolute;
	width: 702.468px;
	height: 1px;
	left: 48.032px;
	top: 9.5px;
	transform: matrix(1,0,0,1,0,0);
}
#n_100 {
	left: 0px;
	top: 200px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#n_200 {
	left: 0px;
	top: 160px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#n_300 {
	left: 0px;
	top: 120px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#n_400 {
	left: 0px;
	top: 80px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#n_500_ds {
	left: 0px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#n_600 {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,184,189,1);
}
#Tabs {
	position: absolute;
	width: 353px;
	height: 30px;
	left: 43.006px;
	top: 85.5px;
	overflow: visible;
}
#Active {
	fill: rgba(18,168,246,1);
}
.Active {
	position: absolute;
	overflow: visible;
	width: 80px;
	height: 30px;
	left: 273px;
	top: 0px;
}
#Today_ds {
	left: 292.5px;
	top: 4.5px;
	position: absolute;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.3125px;
}
#This_week {
	left: 176px;
	top: 4.5px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(179,184,189,1);
	letter-spacing: 0.3125px;
}
#This_year {
	left: 83px;
	top: 4.5px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(179,184,189,1);
	letter-spacing: 0.3125px;
}
#All_time {
	left: 0px;
	top: 4.5px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -3px;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(179,184,189,1);
	letter-spacing: 0.3125px;
}
#Path {
	fill: rgba(0,0,0,0);
	stroke: rgba(80,143,244,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path {
	overflow: visible;
	position: absolute;
	width: 700.917px;
	height: 201.545px;
	left: 82.488px;
	top: 153.628px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_dtb {
	fill: rgba(0,0,0,0);
	stroke: rgba(27,193,103,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_dtb {
	overflow: visible;
	position: absolute;
	width: 706.505px;
	height: 139.779px;
	left: 77.216px;
	top: 175.373px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_dtc {
	fill: rgba(27,193,103,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_dtc {
	filter: drop-shadow(0px 5px 10px rgba(27, 193, 103, 0.2));
	overflow: visible;
	position: absolute;
	width: 48px;
	height: 48px;
	left: 455.006px;
	top: 209px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_dtd {
	fill: rgba(80,143,244,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_dtd {
	filter: drop-shadow(0px 5px 10px rgba(80, 143, 244, 0.2));
	overflow: visible;
	position: absolute;
	width: 48px;
	height: 48px;
	left: 348.006px;
	top: 230px;
	transform: matrix(1,0,0,1,0,0);
}
#info_dte {
	position: absolute;
	width: 16.418px;
	height: 16.419px;
	left: 762.17px;
	top: 33.67px;
	overflow: visible;
}
#Path_45 {
	fill: rgba(179,184,189,1);
}
.Path_45 {
	overflow: visible;
	position: absolute;
	width: 16.418px;
	height: 16.419px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_33 {
	fill: rgba(179,184,189,1);
}
.Rectangle_33 {
	position: absolute;
	overflow: visible;
	width: 1px;
	height: 5.629px;
	left: 7.709px;
	top: 6.538px;
}
#Rectangle_34 {
	fill: rgba(179,184,189,1);
}
.Rectangle_34 {
	position: absolute;
	overflow: visible;
	width: 1px;
	height: 1.172px;
	left: 7.709px;
	top: 4.251px;
}
#Referrals {
	position: absolute;
	width: 390px;
	height: 390px;
	left: 1400px;
	top: 202.022px;
	overflow: visible;
}
#bg_dtj {
	fill: rgba(255,255,255,1);
}
.bg_dtj {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 450px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#Line_dtk {
	fill: rgba(235,242,247,1);
}
.Line_dtk {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 30px;
	top: 72px;
}
#Title_dtl {
	left: 29.5px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#info_dtm {
	fill: rgba(179,184,189,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.info_dtm {
	overflow: visible;
	position: absolute;
	width: 17.418px;
	height: 17.419px;
	left: 343.169px;
	top: 35px;
	transform: matrix(1,0,0,1,0,0);
}
#Mask_Group_4 {
	position: absolute;
	width: 390px;
	height: 390px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#load_more {
	position: absolute;
	width: 352px;
	height: 80px;
	left: 19px;
	top: 310px;
	overflow: visible;
}
#gradient_dtq {
	fill: url(#gradient_dtq);
}
.gradient_dtq {
	position: absolute;
	overflow: visible;
	width: 352px;
	height: 80px;
	left: 0px;
	top: 0px;
}
#load_more_dtr {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 161.5px;
	top: 27.5px;
	overflow: visible;
}
#arrow {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_54 {
	fill: rgba(255,255,255,1);
	stroke: rgba(227,233,239,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_54 {
	overflow: visible;
	position: absolute;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_53_dtu {
	fill: rgba(179,184,189,1);
}
.Path_53_dtu {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 11px;
	left: 8px;
	top: 12.001px;
	transform: matrix(1,0,0,1,0,0);
}
#trafic_sources {
	position: absolute;
	width: 390px;
	height: 390px;
	left: 1400px;
	top: 622.022px;
	overflow: visible;
}
#bg_dtw {
	fill: rgba(255,255,255,1);
}
.bg_dtw {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 450px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#Line_dtx {
	fill: rgba(235,242,247,1);
}
.Line_dtx {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 2px;
	left: 30px;
	top: 72px;
}
#Title_dty {
	left: 30.5px;
	top: 27.5px;
	position: absolute;
	overflow: visible;
	width: 258px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(27,47,91,1);
}
#chart {
	position: absolute;
	width: 258px;
	height: 257.999px;
	left: 66px;
	top: 105px;
	overflow: visible;
}
#dribbble {
	position: absolute;
	width: 156.785px;
	height: 145px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Subtraction_1 {
	fill: rgba(235,74,138,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Subtraction_1 {
	overflow: visible;
	position: absolute;
	width: 159.213px;
	height: 149px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#insta {
	position: absolute;
	width: 258px;
	height: 257.998px;
	left: 0px;
	top: 0.001px;
	overflow: visible;
}
#Subtraction_2 {
	fill: rgba(255,106,129,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Subtraction_2 {
	overflow: visible;
	position: absolute;
	width: 262px;
	height: 262.006px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#behance {
	position: absolute;
	width: 199.904px;
	height: 257.999px;
	left: 58.097px;
	top: 0px;
	overflow: visible;
}
#Subtraction_3_dt {
	fill: rgba(40,98,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Subtraction_3_dt {
	overflow: visible;
	position: absolute;
	width: 204.639px;
	height: 262px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#LinkedIn {
	position: absolute;
	width: 129.001px;
	height: 174.867px;
	left: 129px;
	top: 0px;
	overflow: visible;
}
#Subtraction_4 {
	fill: rgba(82,137,201,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Subtraction_4 {
	overflow: visible;
	position: absolute;
	width: 133px;
	height: 182.188px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_dt {
	fill: transparent;
	stroke: rgba(235,242,247,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_6_dt {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 216px;
	left: 21px;
	top: 21px;
}
#text {
	position: absolute;
	width: 70px;
	height: 65px;
	left: 95px;
	top: 97px;
	overflow: visible;
}
#n_5_September_2018_dua {
	left: 18.5px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#n_2628_dub {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: left;
	font-family: Rajdhani;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(51,51,51,1);
	letter-spacing: 0.3125px;
}
#info_duc {
	fill: rgba(179,184,189,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.info_duc {
	overflow: visible;
	position: absolute;
	width: 17.418px;
	height: 17.419px;
	left: 344.169px;
	top: 35.17px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_3 {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 210px;
	height: 45px;
	left: 1580px;
	top: 151px;
}
#Search_due {
	left: 1626px;
	top: 164px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Layer_5 {
	position: absolute;
	width: 15.317px;
	height: 15.316px;
	left: 1599px;
	top: 165.842px;
	overflow: visible;
}
#Path_4630_dug {
	fill: rgba(18,168,246,1);
}
.Path_4630_dug {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.315px;
	left: 0px;
	top: 0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Timeline {
	position: absolute;
	width: 370px;
	height: 422px;
	left: 130px;
	top: 593px;
	overflow: visible;
}
#BG {
	fill: rgba(255,255,255,1);
}
.BG {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 482px;
	left: 0px;
	top: 0px;
}
#row {
	position: absolute;
	width: 249px;
	height: 299px;
	left: 68px;
	top: 83px;
	overflow: hidden;
}
#row_duk {
	position: absolute;
	width: 129px;
	height: 37px;
	left: 0px;
	top: -1px;
	overflow: visible;
}
#n__hours_ago {
	opacity: 0.5;
	left: 0px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Youve_a_new_message {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#row_dun {
	position: absolute;
	width: 68px;
	height: 37px;
	left: 0px;
	top: 81px;
	overflow: visible;
}
#n__hours_ago_duo {
	opacity: 0.5;
	left: 0px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#ID_1221 {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#row_duq {
	position: absolute;
	width: 192px;
	height: 37px;
	left: 0px;
	top: 163px;
	overflow: visible;
}
#n__hours_ago_dur {
	opacity: 0.5;
	left: 0px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Youve_logged_in_on_a_new_devic {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#row_dut {
	position: absolute;
	width: 129px;
	height: 37px;
	left: 0px;
	top: 245px;
	overflow: visible;
}
#n__hours_ago_duu {
	opacity: 0.5;
	left: 0px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Youve_a_new_message_duv {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#icons {
	position: absolute;
	width: 39px;
	height: 286px;
	left: 12px;
	top: 83px;
	overflow: visible;
}
#Line_dux {
	fill: rgba(233,233,240,1);
}
.Line_dux {
	position: absolute;
	overflow: visible;
	width: 1px;
	height: 38px;
	left: 19px;
	top: 207px;
}
#Line_duy {
	fill: rgba(233,233,240,1);
}
.Line_duy {
	position: absolute;
	overflow: visible;
	width: 1px;
	height: 38px;
	left: 19px;
	top: 124px;
}
#Line_duz {
	fill: rgba(233,233,240,1);
}
.Line_duz {
	position: absolute;
	overflow: visible;
	width: 1px;
	height: 38px;
	left: 19px;
	top: 41px;
}
#Icon {
	position: absolute;
	width: 38px;
	height: 38px;
	left: 1px;
	top: 248px;
	overflow: visible;
}
#Ellipse {
	fill: rgba(255,255,255,1);
	stroke: rgba(255,202,131,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse {
	position: absolute;
	overflow: visible;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
}
#message-icon {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 11px;
	top: 11px;
	overflow: visible;
}
#message-icon_du {
	fill: rgba(255,202,131,1);
}
.message-icon_du {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_du {
	position: absolute;
	width: 38px;
	height: 38px;
	left: 1px;
	top: 165px;
	overflow: visible;
}
#Ellipse_du {
	fill: rgba(255,255,255,1);
	stroke: rgba(255,114,133,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_du {
	position: absolute;
	overflow: visible;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
}
#lock-open-icon {
	fill: rgba(255,114,133,1);
}
.lock-open-icon {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 16px;
	left: 12px;
	top: 11px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_dva {
	position: absolute;
	width: 38px;
	height: 38px;
	left: 1px;
	top: 83px;
	overflow: visible;
}
#Ellipse_dva {
	fill: rgba(255,255,255,1);
	stroke: rgba(163,161,251,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_dva {
	position: absolute;
	overflow: visible;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
}
#receipt-icon {
	position: absolute;
	width: 14px;
	height: 16px;
	left: 12px;
	top: 11px;
	overflow: visible;
}
#Path_258 {
	fill: rgba(163,161,251,1);
}
.Path_258 {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_dvb {
	position: absolute;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_dvc {
	fill: rgba(255,255,255,1);
	stroke: rgba(255,202,131,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_dvc {
	position: absolute;
	overflow: visible;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
}
#message-icon_dvd {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 11px;
	top: 11px;
	overflow: visible;
}
#message-icon_dve {
	fill: rgba(255,202,131,1);
}
.message-icon_dve {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Timeline_dvf {
	left: 20px;
	top: 19px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(77,79,92,1);
}
#Total_Revenue {
	position: absolute;
	width: 370px;
	height: 100px;
	left: 130px;
	top: 202px;
	overflow: visible;
}
#BG_dvh {
	fill: rgba(255,255,255,1);
}
.BG_dvh {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 160px;
	left: 0px;
	top: 0px;
}
#menu-icon {
	fill: rgba(164,175,183,1);
}
.menu-icon {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 4px;
	left: 334px;
	top: 48px;
	transform: matrix(1,0,0,1,0,0);
}
#Total_Revenue_dvj {
	position: absolute;
	width: 40px;
	height: 44px;
	left: 78px;
	top: 27px;
	overflow: visible;
}
#Orders {
	left: 0px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_3_dvl {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 20px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(18,168,246,1);
}
#Icon_dvm {
	position: absolute;
	width: 38px;
	height: 38px;
	left: 20px;
	top: 31px;
	overflow: visible;
}
#IconBG {
	fill: rgba(255,255,255,1);
	stroke: rgba(18,168,246,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.IconBG {
	position: absolute;
	overflow: visible;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
}
#money-bag-icon {
	fill: rgba(18,168,246,1);
}
.money-bag-icon {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 16px;
	left: 12px;
	top: 11px;
	transform: matrix(1,0,0,1,0,0);
}
#Total_Revenue_dvp {
	position: absolute;
	width: 370px;
	height: 100px;
	left: 130px;
	top: 468px;
	overflow: visible;
}
#BG_dvq {
	fill: rgba(255,255,255,1);
}
.BG_dvq {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 160px;
	left: 0px;
	top: 0px;
}
#menu-icon_dvr {
	fill: rgba(164,175,183,1);
}
.menu-icon_dvr {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 4px;
	left: 334px;
	top: 48px;
	transform: matrix(1,0,0,1,0,0);
}
#Todays_Sales {
	position: absolute;
	width: 79px;
	height: 44px;
	left: 78px;
	top: 28px;
	overflow: visible;
}
#Products_Sold {
	left: 0px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_88 {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(163,160,251,1);
}
#Icon_dvv {
	position: absolute;
	width: 38px;
	height: 38px;
	left: 20px;
	top: 31px;
	overflow: visible;
}
#IconBG_dvw {
	fill: rgba(255,255,255,1);
	stroke: rgba(163,161,251,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.IconBG_dvw {
	position: absolute;
	overflow: visible;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
}
#cart-icon {
	fill: rgba(164,161,251,1);
}
.cart-icon {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 11px;
	top: 11px;
	transform: matrix(1,0,0,1,0,0);
}
#Enhance {
	position: absolute;
	width: 370px;
	height: 100px;
	left: 130px;
	top: 335px;
	overflow: visible;
}
#BG_dvz {
	fill: rgba(255,255,255,1);
}
.BG_dvz {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 430px;
	height: 160px;
	left: 0px;
	top: 0px;
}
#menu-icon_dv {
	fill: rgba(164,175,183,1);
}
.menu-icon_dv {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 4px;
	left: 334px;
	top: 48px;
	transform: matrix(1,0,0,1,0,0);
}
#Enhance_dv {
	position: absolute;
	width: 72px;
	height: 44px;
	left: 78px;
	top: 28px;
	overflow: visible;
}
#Sales {
	left: 0px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 30px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_35755 {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(74,217,145,1);
}
#Icon_dv {
	position: absolute;
	width: 38px;
	height: 38px;
	left: 20px;
	top: 31px;
	overflow: visible;
}
#IconBG_dv {
	fill: rgba(255,255,255,1);
	stroke: rgba(74,217,145,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.IconBG_dv {
	position: absolute;
	overflow: visible;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
}
#trend-up-icon {
	fill: rgba(74,217,145,1);
}
.trend-up-icon {
	overflow: visible;
	position: absolute;
	width: 15.7px;
	height: 8.4px;
	left: 11px;
	top: 15px;
	transform: matrix(1,0,0,1,0,0);
}
#Hunter_Zolomon_dv {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_dv {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_dv {
	fill: rgba(18,168,246,1);
}
.Path_4632_dv {
	overflow: visible;
	position: absolute;
	width: 27.082px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_dwa {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_dwa {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.688px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_dwb {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_dwb {
	position: absolute;
	overflow: visible;
	width: 10.037px;
	height: 10.036px;
	left: 48.599px;
	top: 56.469px;
}
#Path_4633_dwc {
	fill: rgba(255,255,255,1);
}
.Path_4633_dwc {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_dwd {
	fill: rgba(18,168,246,1);
}
.Path_4634_dwd {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.55px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_dwe {
	fill: rgba(255,255,255,1);
}
.Path_4635_dwe {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.033px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_dwf {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.57px;
	overflow: visible;
}
#Group_55_dwg {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_dwh {
	fill: rgba(18,168,246,1);
}
.Path_4636_dwh {
	overflow: visible;
	position: absolute;
	width: 39.652px;
	height: 29.526px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_dwi {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.298px;
	top: 75.963px;
	overflow: visible;
}
#Path_4637_dwj {
	fill: rgba(18,26,80,1);
}
.Path_4637_dwj {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_dwk {
	fill: rgba(18,26,80,1);
}
.Path_4638_dwk {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_dwl {
	fill: rgba(255,255,255,1);
}
.Path_4639_dwl {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.244px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_dwm {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_dwm {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.404px;
}
#Group_3056_dwn {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_dwo {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_dwp {
	fill: rgba(27,47,91,1);
}
.home_dwp {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.463px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_dwq {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_dwr {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_dws {
	fill: rgba(27,47,91,1);
}
.Path_4640_dws {
	overflow: visible;
	position: absolute;
	width: 13.456px;
	height: 9.53px;
	left: 0px;
	top: 5.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_dwt {
	fill: rgba(27,47,91,1);
}
.Path_4641_dwt {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.386px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_dwu {
	fill: rgba(27,47,91,1);
}
.Path_4642_dwu {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_dwv {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
}
#Statistic__dww {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Path_4643_dwx {
	fill: rgba(18,168,246,1);
}
.Path_4643_dwx {
	overflow: visible;
	position: absolute;
	width: 13.946px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_dwy {
	fill: rgba(18,168,246,1);
}
.Path_4644_dwy {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.12px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_dwz {
	fill: rgba(27,47,91,1);
}
.Path_4646_dwz {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_dw {
	fill: rgba(27,47,91,1);
}
.Path_4647_dw {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_dw {
	fill: rgba(27,47,91,1);
}
.Path_4648_dw {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_dw {
	fill: rgba(27,47,91,1);
}
.Path_4649_dw {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_dw {
	fill: rgba(27,47,91,1);
}
.Path_4651_dw {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_dw {
	fill: rgba(27,47,91,1);
}
.Path_4653_dw {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 622.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_dw {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_dw {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_dw {
	fill: rgba(27,47,91,1);
}
.Path_4650_dw {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.926px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_dw {
	fill: rgba(27,47,91,1);
}
.Path_4652_dw {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_dw {
	fill: rgba(27,47,91,1);
}
.Path_4654_dw {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_dxa {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__dxb {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_dxc {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_dxd {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_dxe {
	fill: rgba(27,47,91,1);
}
.Path_4662_dxe {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.636px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_dxf {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_dxg {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_dxh {
	fill: rgba(27,47,91,1);
}
.Path_4663_dxh {
	overflow: visible;
	position: absolute;
	width: 3.48px;
	height: 2.929px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_dxi {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_dxj {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_dxk {
	fill: rgba(27,47,91,1);
}
.Path_4664_dxk {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: -0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_dxl {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_dxm {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_dxn {
	fill: rgba(27,47,91,1);
}
.Path_4665_dxn {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_dxo {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_dxp {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_dxq {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_dxr {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_dxs {
	fill: rgba(27,47,91,1);
}
.Path_4680_dxs {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.102px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_dxt {
	fill: rgba(27,47,91,1);
}
.Path_4681_dxt {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_dxu {
	fill: rgba(27,47,91,1);
}
.Path_4682_dxu {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_dxv {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_dxw {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}
#Group_3062_dxx {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_dxy {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_dxz {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_dx {
	fill: rgba(27,47,91,1);
}
.Path_4688_dx {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}