.mediaViewInfo {
	--web-view-name: System logs Date range 1 ;
	--web-view-id: System_logs_Date_range_1_;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: System_logs_Date_range_1_;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#System_logs_Date_range_1_ {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: System logs Date range 1 ;
	--web-view-id: System_logs_Date_range_1_;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#System_Logs_wm {
	left: 870px;
	top: 116px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Rectangle_60_wn {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_60_wn {
	position: absolute;
	overflow: visible;
	width: 187px;
	height: 45px;
	left: 55px;
	top: 218px;
}
#Date_Range_wo {
	left: 55px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Line_5_wp {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5_wp {
	overflow: visible;
	position: absolute;
	width: 1920.5px;
	height: 2px;
	left: 0px;
	top: 168.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_61_wq {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_61_wq {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 45px;
	left: 472px;
	top: 218px;
}
#Today_wr {
	left: 480px;
	top: 233px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#Thu_09__SEP__2021_ws {
	left: 64px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#TO_wt {
	left: 246px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#calendar_1_wu {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 215.42px;
	top: 232.406px;
	overflow: visible;
}
#Path_4690_wv {
	fill: rgba(18,168,246,1);
}
.Path_4690_wv {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.046px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_ww {
	fill: rgba(18,168,246,1);
}
.Path_4691_ww {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_63_wx {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_63_wx {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 45px;
	left: 578px;
	top: 218px;
}
#Position_wy {
	left: 578px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#All_Position_wz {
	left: 594px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_64_w {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_64_w {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 45px;
	left: 782px;
	top: 218px;
}
#User_w {
	left: 782px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#All_User_w {
	left: 798px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_65_w {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_65_w {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 994px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs .html;
	cursor: pointer;
}
#CANCEL_w {
	left: 1006px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs .html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_66_w {
	fill: rgba(18,168,246,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_66_w {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1789px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs .html;
	cursor: pointer;
}
#Clear_w {
	left: 1821.454px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs .html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Rectangle_67_w {
	fill: rgba(18,168,246,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_67_w {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1110px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs 2.html;
	cursor: pointer;
}
#VIEW_w {
	left: 1141px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs 2.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#criminal-record_w {
	position: absolute;
	width: 11.35px;
	height: 11.35px;
	left: 1129px;
	top: 235px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs 2.html;
	cursor: pointer;
}
#Ellipse_23_xa {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_xa {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 5px;
	top: 5px;
}
#Path_4692_xb {
	fill: rgba(255,255,255,1);
}
.Path_4692_xb {
	overflow: visible;
	position: absolute;
	width: 2.966px;
	height: 2.966px;
	left: 8.384px;
	top: 8.384px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_xc {
	position: absolute;
	width: 8.645px;
	height: 11.35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_xd {
	fill: rgba(255,255,255,1);
}
.Path_4693_xd {
	overflow: visible;
	position: absolute;
	width: 2.021px;
	height: 2.021px;
	left: 0.195px;
	top: 0.195px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_xe {
	fill: rgba(255,255,255,1);
}
.Path_4694_xe {
	overflow: visible;
	position: absolute;
	width: 3.037px;
	height: 1.108px;
	left: 1.995px;
	top: 4.655px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_xf {
	fill: rgba(255,255,255,1);
}
.Path_4695_xf {
	overflow: visible;
	position: absolute;
	width: 8.646px;
	height: 11.35px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#rubber_xg {
	position: absolute;
	width: 13.604px;
	height: 11.511px;
	left: 1804.546px;
	top: 234.744px;
	overflow: visible;
}
#Path_4701_xh {
	fill: rgba(255,255,255,1);
}
.Path_4701_xh {
	overflow: visible;
	position: absolute;
	width: 4.546px;
	height: 2.256px;
	transform: translate(0px, -39.388px) matrix(0.9998,0,0,0.9998,4.7976,44.791) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_4702_xi {
	fill: rgba(255,255,255,1);
}
.Path_4702_xi {
	overflow: visible;
	position: absolute;
	width: 4.546px;
	height: 2.28px;
	transform: translate(0px, -39.388px) matrix(0.9998,0,0,0.9998,2.6305,42.6113) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_4703_xj {
	fill: rgba(255,255,255,1);
}
.Path_4703_xj {
	overflow: visible;
	position: absolute;
	width: 6.779px;
	height: 5.227px;
	left: 6.825px;
	top: 6.285px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4704_xk {
	fill: rgba(255,255,255,1);
}
.Path_4704_xk {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 5.783px;
	left: 0px;
	top: 5.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4705_xl {
	fill: rgba(255,255,255,1);
}
.Path_4705_xl {
	overflow: visible;
	position: absolute;
	width: 7.336px;
	height: 7.334px;
	left: 6.269px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_76_xm {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_76_xm {
	position: absolute;
	overflow: visible;
	width: 186px;
	height: 45px;
	left: 271px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs Data 2.html;
	cursor: pointer;
}
#Fri_10__SEP__2021_xn {
	left: 279px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs Data 2.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#calendar_1_xo {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 430.42px;
	top: 233px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs Data 2.html;
	cursor: pointer;
}
#Path_4690_xp {
	fill: rgba(18,168,246,1);
}
.Path_4690_xp {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.046px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_xq {
	fill: rgba(18,168,246,1);
}
.Path_4691_xq {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3 {
	position: absolute;
	width: 390px;
	height: 344px;
	left: 17px;
	top: 273px;
	overflow: visible;
}
#bg {
	fill: rgba(255,255,255,1);
}
.bg {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 450px;
	height: 404px;
	left: 0px;
	top: 0px;
}
#Line_xu {
	fill: url(#Line_xu);
}
.Line_xu {
	position: absolute;
	overflow: visible;
	width: 389px;
	height: 1px;
	left: 0px;
	top: 72px;
}
#Group_49 {
	position: absolute;
	width: 330px;
	height: 40px;
	left: 29.889px;
	top: 125px;
	overflow: visible;
}
#Bg_xw {
	fill: rgba(255,255,255,1);
}
.Bg_xw {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 290px;
	top: 0px;
}
#n__xx {
	left: 290px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_xy {
	fill: rgba(255,255,255,1);
}
.Bg_xy {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 241.111px;
	top: 0px;
}
#n__xz {
	left: 240.687px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_x {
	fill: rgba(255,255,255,1);
}
.Bg_x {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 193.72px;
	top: 0px;
}
#n__x {
	left: 193.72px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_ya {
	fill: rgba(255,255,255,1);
}
.Bg_ya {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 145px;
	top: 0px;
}
#n__ya {
	left: 145px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_yb {
	fill: rgba(255,255,255,1);
}
.Bg_yb {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 96.111px;
	top: 0px;
}
#n__yb {
	left: 96.279px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
}
#Bg_yc {
	fill: rgba(255,255,255,1);
}
.Bg_yc {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 49.313px;
	top: 0px;
}
#n__yc {
	left: 49.313px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
}
#Bg_yd {
	fill: rgba(255,255,255,1);
}
.Bg_yd {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#n__yd {
	left: 0px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
}
#Group_54 {
	position: absolute;
	width: 330px;
	height: 23.578px;
	left: 29.889px;
	top: 91.107px;
	overflow: visible;
}
#Bg_ye {
	fill: rgba(255,255,255,1);
}
.Bg_ye {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 290px;
	top: 0px;
}
#Bg_yf {
	fill: rgba(255,255,255,1);
}
.Bg_yf {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 240.687px;
	top: 0px;
}
#n__ye {
	left: 290px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Bg_yg {
	fill: rgba(255,255,255,1);
}
.Bg_yg {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 193.72px;
	top: 0px;
}
#n__yf {
	left: 241.111px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Bg_yh {
	fill: rgba(255,255,255,1);
}
.Bg_yh {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 145px;
	top: 0px;
}
#n__yh {
	left: 194.313px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Bg_yi {
	fill: rgba(255,255,255,1);
}
.Bg_yi {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 96.279px;
	top: 0px;
}
#n__yj {
	left: 145.592px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Bg_yk {
	fill: rgba(255,255,255,1);
}
.Bg_yk {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 49.313px;
	top: 0px;
}
#n__yl {
	left: 96.111px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Bg_ym {
	fill: rgba(255,255,255,1);
}
.Bg_ym {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 0px;
	top: 0px;
}
#n__yn {
	left: 49.313px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#n__yo {
	left: 1.186px;
	top: 2.289px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Group_50 {
	position: absolute;
	width: 330px;
	height: 40px;
	left: 29.889px;
	top: 164.999px;
	overflow: visible;
}
#Bg_yq {
	fill: rgba(255,255,255,1);
}
.Bg_yq {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 290px;
	top: 0px;
}
#n__yr {
	left: 290px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_ys {
	fill: rgba(255,255,255,1);
}
.Bg_ys {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 240.687px;
	top: 0px;
}
#n__yt {
	left: 240.687px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_yu {
	fill: rgba(18,168,246,1);
}
.Bg_yu {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 193.72px;
	top: 0px;
}
#n__yv {
	left: 193.72px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Bg_yw {
	fill: rgba(255,255,255,1);
}
.Bg_yw {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 145px;
	top: 0px;
}
#n__yx {
	left: 145px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_yy {
	fill: rgba(255,255,255,1);
}
.Bg_yy {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 96.279px;
	top: 0px;
}
#n__yz {
	left: 96.279px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_y {
	fill: rgba(255,255,255,1);
}
.Bg_y {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 49.313px;
	top: 0px;
}
#n__y {
	left: 49.313px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_za {
	fill: rgba(255,255,255,1);
}
.Bg_za {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#n__za {
	left: 0px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Group_52 {
	position: absolute;
	width: 330px;
	height: 40px;
	left: 29.889px;
	top: 246px;
	overflow: visible;
}
#Bg_zb {
	fill: rgba(255,255,255,1);
}
.Bg_zb {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 290px;
	top: 0px;
}
#n__zb {
	left: 290px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_zc {
	fill: rgba(255,255,255,1);
}
.Bg_zc {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 240.687px;
	top: 0px;
}
#n__zc {
	left: 240.687px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_zd {
	fill: rgba(255,255,255,1);
}
.Bg_zd {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 193.72px;
	top: 0px;
}
#n__zd {
	left: 193.72px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_ze {
	fill: rgba(255,255,255,1);
}
.Bg_ze {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 145px;
	top: 0px;
}
#n__ze {
	left: 145px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_zf {
	fill: rgba(255,255,255,1);
}
.Bg_zf {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 96.279px;
	top: 0px;
}
#n__zf {
	left: 96.279px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#n__zg {
	left: 49.313px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#n__zh {
	left: 0px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Group_53 {
	position: absolute;
	width: 330px;
	height: 40px;
	left: 29.889px;
	top: 286px;
	overflow: visible;
}
#Bg_zi {
	fill: rgba(255,255,255,1);
}
.Bg_zi {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 290px;
	top: 0px;
}
#n__zj {
	left: 290px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
}
#Bg_zk {
	fill: rgba(255,255,255,1);
}
.Bg_zk {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 240.687px;
	top: 0px;
}
#n__zl {
	left: 240.687px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
}
#Bg_zm {
	fill: rgba(255,255,255,1);
}
.Bg_zm {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 193.72px;
	top: 0px;
}
#n__zn {
	left: 193.72px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_zo {
	fill: rgba(255,255,255,1);
}
.Bg_zo {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 145px;
	top: 0px;
}
#n__zp {
	left: 145px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_zq {
	fill: rgba(255,255,255,1);
}
.Bg_zq {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 96.279px;
	top: 0px;
}
#n__zr {
	left: 96.279px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_zs {
	fill: rgba(255,255,255,1);
}
.Bg_zs {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 49.313px;
	top: 0px;
}
#n__zt {
	left: 49.313px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_zu {
	fill: rgba(255,255,255,1);
}
.Bg_zu {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#n__zv {
	left: 0px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Group_48 {
	position: absolute;
	width: 215.075px;
	height: 22px;
	left: 87px;
	top: 26px;
	overflow: visible;
}
#Title {
	left: 35.075px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(18,168,246,1);
	letter-spacing: 0.3125px;
}
#Path_52 {
	fill: transparent;
	stroke: rgba(140,152,154,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_52 {
	overflow: visible;
	position: absolute;
	width: 8.567px;
	height: 8.48px;
	transform: translate(-1536.5px, -200px) matrix(1,0,0,1,1538.2439,206.0473) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_53 {
	fill: transparent;
	stroke: rgba(140,152,154,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_53 {
	overflow: visible;
	position: absolute;
	width: 8.567px;
	height: 8.48px;
	transform: translate(-1536.5px, -200px) matrix(1,0,0,1,1741.2645,206.0485) rotate(225deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_51 {
	position: absolute;
	width: 330px;
	height: 40.314px;
	left: 29.889px;
	top: 204.686px;
	overflow: visible;
}
#n__z {
	left: 290px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#n__a {
	left: 240.687px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_z {
	fill: rgba(255,255,255,1);
}
.Bg_z {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 193.72px;
	top: 0.314px;
}
#n__b {
	left: 193.72px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_a {
	fill: rgba(255,255,255,1);
}
.Bg_a {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 145px;
	top: 0.314px;
}
#n__c {
	left: 145px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_b {
	fill: rgba(255,255,255,1);
}
.Bg_b {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 96.279px;
	top: 0.314px;
}
#Bg_c {
	fill: rgba(255,255,255,1);
}
.Bg_c {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 49.313px;
	top: 0.314px;
}
#n__d {
	left: 49.313px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_d {
	fill: rgba(255,255,255,1);
}
.Bg_d {
	overflow: visible;
	position: absolute;
	width: 40px;
	height: 40px;
	left: 96.313px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bg_e {
	fill: rgba(255,255,255,1);
}
.Bg_e {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0.314px;
}
#n__e {
	left: 0px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#n__f {
	left: 96.279px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Rectangle_2_e {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_e {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_2_f {
	fill: rgba(248,248,248,1);
}
.Rectangle_2_f {
	position: absolute;
	overflow: visible;
	width: 119px;
	height: 37px;
	left: 1361px;
	top: 43px;
}
#Hunter_Zolomon_g {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_h {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_i {
	fill: rgba(18,168,246,1);
}
.Path_4632_i {
	overflow: visible;
	position: absolute;
	width: 27.081px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_j {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_j {
	position: absolute;
	overflow: visible;
	width: 13.688px;
	height: 13.688px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_k {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_k {
	position: absolute;
	overflow: visible;
	width: 10.036px;
	height: 10.036px;
	left: 48.6px;
	top: 56.469px;
}
#Path_4633_l {
	fill: rgba(255,255,255,1);
}
.Path_4633_l {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_m {
	fill: rgba(18,168,246,1);
}
.Path_4634_m {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.55px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_n {
	fill: rgba(255,255,255,1);
}
.Path_4635_n {
	overflow: visible;
	position: absolute;
	width: 7.272px;
	height: 4.033px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_o {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.57px;
	overflow: visible;
}
#Group_55_p {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_q {
	fill: rgba(18,168,246,1);
}
.Path_4636_q {
	overflow: visible;
	position: absolute;
	width: 39.651px;
	height: 29.526px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_r {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.299px;
	top: 75.963px;
	overflow: visible;
}
#Path_4637_s {
	fill: rgba(18,26,80,1);
}
.Path_4637_s {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_t {
	fill: rgba(18,26,80,1);
}
.Path_4638_t {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_v {
	fill: rgba(255,255,255,1);
}
.Path_4639_v {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.244px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_v {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_v {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.404px;
}
#Group_3056_w {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_x {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_y {
	fill: rgba(27,47,91,1);
}
.home_y {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.463px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_z {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_ {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_ {
	fill: rgba(27,47,91,1);
}
.Path_4640_ {
	overflow: visible;
	position: absolute;
	width: 13.455px;
	height: 9.53px;
	left: 0px;
	top: 5.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_ {
	fill: rgba(27,47,91,1);
}
.Path_4641_ {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.387px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_ {
	fill: rgba(27,47,91,1);
}
.Path_4642_ {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_ {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__ {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_ {
	fill: rgba(27,47,91,1);
}
.Path_4643_ {
	overflow: visible;
	position: absolute;
	width: 13.945px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_ {
	fill: rgba(27,47,91,1);
}
.Path_4644_ {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.119px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_ {
	fill: rgba(27,47,91,1);
}
.Path_4646_ {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_ {
	fill: rgba(27,47,91,1);
}
.Path_4647_ {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_a {
	fill: rgba(27,47,91,1);
}
.Path_4648_a {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_b {
	fill: rgba(27,47,91,1);
}
.Path_4649_b {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_c {
	fill: rgba(27,47,91,1);
}
.Path_4651_c {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 615.001px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_d {
	fill: rgba(27,47,91,1);
}
.Path_4653_d {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 622.854px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_e {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_f {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_g {
	fill: rgba(27,47,91,1);
}
.Path_4650_g {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.927px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_h {
	fill: rgba(27,47,91,1);
}
.Path_4652_h {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_i {
	fill: rgba(27,47,91,1);
}
.Path_4654_i {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_j {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__k {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_l {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_m {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_n {
	fill: rgba(27,47,91,1);
}
.Path_4662_n {
	overflow: visible;
	position: absolute;
	width: 7.636px;
	height: 7.636px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_o {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_p {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_q {
	fill: rgba(27,47,91,1);
}
.Path_4663_q {
	overflow: visible;
	position: absolute;
	width: 3.479px;
	height: 2.929px;
	left: 0.001px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_r {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_s {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_t {
	fill: rgba(27,47,91,1);
}
.Path_4664_t {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: -0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_u {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_w {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_w {
	fill: rgba(27,47,91,1);
}
.Path_4665_w {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_x {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_y {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_z {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_ {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_ {
	fill: rgba(27,47,91,1);
}
.Path_4680_ {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.102px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_ {
	fill: rgba(27,47,91,1);
}
.Path_4681_ {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_ {
	fill: rgba(27,47,91,1);
}
.Path_4682_ {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_ {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_ {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}
#Group_3062_ {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
}
#Setting_ {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Group_79_ {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_ {
	fill: rgba(18,168,246,1);
}
.Path_4688_ {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}