.mediaViewInfo {
	--web-view-name: System logs Date range 2;
	--web-view-id: System_logs_Date_range_2;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: System_logs_Date_range_2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#System_logs_Date_range_2 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: System logs Date range 2;
	--web-view-id: System_logs_Date_range_2;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#System_Logs_h {
	left: 870px;
	top: 116px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Rectangle_60_i {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_60_i {
	position: absolute;
	overflow: visible;
	width: 187px;
	height: 45px;
	left: 55px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs Data.html;
	cursor: pointer;
}
#Date_Range_j {
	left: 55px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Line_5_k {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5_k {
	overflow: visible;
	position: absolute;
	width: 1920.5px;
	height: 2px;
	left: 0px;
	top: 168.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_61_l {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_61_l {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 45px;
	left: 472px;
	top: 218px;
}
#Today_m {
	left: 480px;
	top: 233px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#Thu_09__SEP__2021_n {
	left: 64px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs Data.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#TO_o {
	left: 246px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#calendar_1_p {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 215.42px;
	top: 232.406px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs Data.html;
	cursor: pointer;
}
#Path_4690_q {
	fill: rgba(18,168,246,1);
}
.Path_4690_q {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.046px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_r {
	fill: rgba(18,168,246,1);
}
.Path_4691_r {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_63_s {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_63_s {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 45px;
	left: 578px;
	top: 218px;
}
#Position_t {
	left: 578px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#All_Position_u {
	left: 594px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_64_v {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_64_v {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 45px;
	left: 782px;
	top: 218px;
}
#User_x {
	left: 782px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#All_User_x {
	left: 798px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_65_y {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_65_y {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 994px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs .html;
	cursor: pointer;
}
#CANCEL_z {
	left: 1006px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs .html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_66_ {
	fill: rgba(18,168,246,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_66_ {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1789px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs .html;
	cursor: pointer;
}
#Clear_ {
	left: 1821.454px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs .html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Rectangle_67_ {
	fill: rgba(18,168,246,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_67_ {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1110px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs 2.html;
	cursor: pointer;
}
#VIEW_ {
	left: 1141px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs 2.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#criminal-record_baa {
	position: absolute;
	width: 11.35px;
	height: 11.35px;
	left: 1129px;
	top: 235px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs 2.html;
	cursor: pointer;
}
#Ellipse_23_baa {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_baa {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 5px;
	top: 5px;
}
#Path_4692_baa {
	fill: rgba(255,255,255,1);
}
.Path_4692_baa {
	overflow: visible;
	position: absolute;
	width: 2.966px;
	height: 2.966px;
	left: 8.384px;
	top: 8.384px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_baa {
	position: absolute;
	width: 8.645px;
	height: 11.35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_baa {
	fill: rgba(255,255,255,1);
}
.Path_4693_baa {
	overflow: visible;
	position: absolute;
	width: 2.021px;
	height: 2.021px;
	left: 0.195px;
	top: 0.195px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_baa {
	fill: rgba(255,255,255,1);
}
.Path_4694_baa {
	overflow: visible;
	position: absolute;
	width: 3.037px;
	height: 1.108px;
	left: 1.995px;
	top: 4.655px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_baa {
	fill: rgba(255,255,255,1);
}
.Path_4695_baa {
	overflow: visible;
	position: absolute;
	width: 8.646px;
	height: 11.35px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#rubber_bab {
	position: absolute;
	width: 13.604px;
	height: 11.511px;
	left: 1804.546px;
	top: 234.744px;
	overflow: visible;
}
#Path_4701_bac {
	fill: rgba(255,255,255,1);
}
.Path_4701_bac {
	overflow: visible;
	position: absolute;
	width: 4.546px;
	height: 2.256px;
	transform: translate(0px, -39.388px) matrix(0.9998,0,0,0.9998,4.7976,44.791) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_4702_bad {
	fill: rgba(255,255,255,1);
}
.Path_4702_bad {
	overflow: visible;
	position: absolute;
	width: 4.546px;
	height: 2.28px;
	transform: translate(0px, -39.388px) matrix(0.9998,0,0,0.9998,2.6305,42.6113) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_4703_bae {
	fill: rgba(255,255,255,1);
}
.Path_4703_bae {
	overflow: visible;
	position: absolute;
	width: 6.779px;
	height: 5.227px;
	left: 6.825px;
	top: 6.285px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4704_baf {
	fill: rgba(255,255,255,1);
}
.Path_4704_baf {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 5.783px;
	left: 0px;
	top: 5.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4705_bag {
	fill: rgba(255,255,255,1);
}
.Path_4705_bag {
	overflow: visible;
	position: absolute;
	width: 7.336px;
	height: 7.334px;
	left: 6.269px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_76_bah {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_76_bah {
	position: absolute;
	overflow: visible;
	width: 186px;
	height: 45px;
	left: 271px;
	top: 218px;
}
#Fri_10__SEP__2021_bai {
	left: 279px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#calendar_1_baj {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 430.42px;
	top: 233px;
	overflow: visible;
}
#Path_4690_bak {
	fill: rgba(18,168,246,1);
}
.Path_4690_bak {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.046px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_bal {
	fill: rgba(18,168,246,1);
}
.Path_4691_bal {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3_bam {
	position: absolute;
	width: 390px;
	height: 344px;
	left: 216px;
	top: 273px;
	overflow: visible;
}
#bg_ban {
	fill: rgba(255,255,255,1);
}
.bg_ban {
	filter: drop-shadow(0px 10px 20px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 450px;
	height: 404px;
	left: 0px;
	top: 0px;
}
#Line_bap {
	fill: url(#Line_bap);
}
.Line_bap {
	position: absolute;
	overflow: visible;
	width: 389px;
	height: 1px;
	left: 0px;
	top: 72px;
}
#Group_49_baq {
	position: absolute;
	width: 330px;
	height: 40px;
	left: 29.889px;
	top: 125px;
	overflow: visible;
}
#Bg {
	fill: rgba(255,255,255,1);
}
.Bg {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 290px;
	top: 0px;
}
#n__bas {
	left: 290px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bat {
	fill: rgba(255,255,255,1);
}
.Bg_bat {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 241.111px;
	top: 0px;
}
#n__bau {
	left: 240.687px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bav {
	fill: rgba(255,255,255,1);
}
.Bg_bav {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 193.72px;
	top: 0px;
}
#n__baw {
	left: 193.72px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bax {
	fill: rgba(255,255,255,1);
}
.Bg_bax {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 145px;
	top: 0px;
}
#n__bay {
	left: 145px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_baz {
	fill: rgba(255,255,255,1);
}
.Bg_baz {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 96.111px;
	top: 0px;
}
#n__ba {
	left: 96.279px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
}
#Bg_ba {
	fill: rgba(255,255,255,1);
}
.Bg_ba {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 49.313px;
	top: 0px;
}
#n__bba {
	left: 49.313px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
}
#Bg_bba {
	fill: rgba(255,255,255,1);
}
.Bg_bba {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#n__bbb {
	left: 0px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
}
#Group_54_ba {
	position: absolute;
	width: 330px;
	height: 23.578px;
	left: 29.889px;
	top: 91.107px;
	overflow: visible;
}
#Bg_bbb {
	fill: rgba(255,255,255,1);
}
.Bg_bbb {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 290px;
	top: 0px;
}
#Bg_bbc {
	fill: rgba(255,255,255,1);
}
.Bg_bbc {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 240.687px;
	top: 0px;
}
#n__bbc {
	left: 290px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Bg_bbd {
	fill: rgba(255,255,255,1);
}
.Bg_bbd {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 193.72px;
	top: 0px;
}
#n__bbd {
	left: 241.111px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Bg_bbe {
	fill: rgba(255,255,255,1);
}
.Bg_bbe {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 145px;
	top: 0px;
}
#n__bbe {
	left: 194.313px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Bg_bbf {
	fill: rgba(255,255,255,1);
}
.Bg_bbf {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 96.279px;
	top: 0px;
}
#n__bbf {
	left: 145.592px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Bg_bbg {
	fill: rgba(255,255,255,1);
}
.Bg_bbg {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 49.313px;
	top: 0px;
}
#n__bbg {
	left: 96.111px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Bg_bbh {
	fill: rgba(255,255,255,1);
}
.Bg_bbh {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 23.578px;
	left: 0px;
	top: 0px;
}
#n__bbi {
	left: 49.313px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#n__bbj {
	left: 1.186px;
	top: 2.289px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(140,152,154,1);
}
#Group_50_bbk {
	position: absolute;
	width: 330px;
	height: 40px;
	left: 29.889px;
	top: 164.999px;
	overflow: visible;
}
#Bg_bbl {
	fill: rgba(255,255,255,1);
}
.Bg_bbl {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 290px;
	top: 0px;
}
#n__bbm {
	left: 290px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bbn {
	fill: rgba(18,168,246,1);
}
.Bg_bbn {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 240.687px;
	top: 0px;
}
#n__bbo {
	left: 240.687px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Bg_bbp {
	fill: rgba(255,255,255,1);
}
.Bg_bbp {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 193.72px;
	top: 0px;
}
#n__bbq {
	left: 193.72px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Bg_bbr {
	fill: rgba(255,255,255,1);
}
.Bg_bbr {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 145px;
	top: 0px;
}
#n__bbs {
	left: 145px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bbt {
	fill: rgba(255,255,255,1);
}
.Bg_bbt {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 96.279px;
	top: 0px;
}
#n__bbu {
	left: 96.279px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bbv {
	fill: rgba(255,255,255,1);
}
.Bg_bbv {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 49.313px;
	top: 0px;
}
#n__bbw {
	left: 49.313px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bbx {
	fill: rgba(255,255,255,1);
}
.Bg_bbx {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#n__bby {
	left: 0px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Group_52_bbz {
	position: absolute;
	width: 330px;
	height: 40px;
	left: 29.889px;
	top: 246px;
	overflow: visible;
}
#Bg_bb {
	fill: rgba(255,255,255,1);
}
.Bg_bb {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 290px;
	top: 0px;
}
#n__bb {
	left: 290px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bca {
	fill: rgba(255,255,255,1);
}
.Bg_bca {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 240.687px;
	top: 0px;
}
#n__bca {
	left: 240.687px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bcb {
	fill: rgba(255,255,255,1);
}
.Bg_bcb {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 193.72px;
	top: 0px;
}
#n__bcb {
	left: 193.72px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bcc {
	fill: rgba(255,255,255,1);
}
.Bg_bcc {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 145px;
	top: 0px;
}
#n__bcc {
	left: 145px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bcd {
	fill: rgba(255,255,255,1);
}
.Bg_bcd {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 96.279px;
	top: 0px;
}
#n__bcd {
	left: 96.279px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#n__bce {
	left: 49.313px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#n__bcf {
	left: 0px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Group_53_bcc {
	position: absolute;
	width: 330px;
	height: 40px;
	left: 29.889px;
	top: 286px;
	overflow: visible;
}
#Bg_bce {
	fill: rgba(255,255,255,1);
}
.Bg_bce {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 290px;
	top: 0px;
}
#n__bcg {
	left: 290px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
}
#Bg_bcf {
	fill: rgba(255,255,255,1);
}
.Bg_bcf {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 240.687px;
	top: 0px;
}
#n__bch {
	left: 240.687px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(179,184,189,1);
}
#Bg_bch {
	fill: rgba(255,255,255,1);
}
.Bg_bch {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 193.72px;
	top: 0px;
}
#n__bci {
	left: 193.72px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bcj {
	fill: rgba(255,255,255,1);
}
.Bg_bcj {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 145px;
	top: 0px;
}
#n__bck {
	left: 145px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bcl {
	fill: rgba(255,255,255,1);
}
.Bg_bcl {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 96.279px;
	top: 0px;
}
#n__bcm {
	left: 96.279px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bcn {
	fill: rgba(255,255,255,1);
}
.Bg_bcn {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 49.313px;
	top: 0px;
}
#n__bco {
	left: 49.313px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bcp {
	fill: rgba(255,255,255,1);
}
.Bg_bcp {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#n__bcq {
	left: 0px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Group_48_bcr {
	position: absolute;
	width: 215.075px;
	height: 22px;
	left: 87px;
	top: 26px;
	overflow: visible;
}
#Title_bcs {
	left: 35.075px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -2px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(18,168,246,1);
	letter-spacing: 0.3125px;
}
#Path_52_bct {
	fill: transparent;
	stroke: rgba(140,152,154,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_52_bct {
	overflow: visible;
	position: absolute;
	width: 8.567px;
	height: 8.48px;
	transform: translate(-1536.5px, -200px) matrix(1,0,0,1,1538.2439,206.0473) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_53_bcu {
	fill: transparent;
	stroke: rgba(140,152,154,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_53_bcu {
	overflow: visible;
	position: absolute;
	width: 8.567px;
	height: 8.48px;
	transform: translate(-1536.5px, -200px) matrix(1,0,0,1,1741.2645,206.0485) rotate(225deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_51_bcv {
	position: absolute;
	width: 330px;
	height: 40.314px;
	left: 29.889px;
	top: 204.686px;
	overflow: visible;
}
#n__bcw {
	left: 290px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#n__bcx {
	left: 240.687px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bcy {
	fill: rgba(255,255,255,1);
}
.Bg_bcy {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 193.72px;
	top: 0.314px;
}
#n__bcz {
	left: 193.72px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bc {
	fill: rgba(255,255,255,1);
}
.Bg_bc {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 145px;
	top: 0.314px;
}
#n__bc {
	left: 145px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bda {
	fill: rgba(255,255,255,1);
}
.Bg_bda {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 96.279px;
	top: 0.314px;
}
#Bg_bdb {
	fill: rgba(255,255,255,1);
}
.Bg_bdb {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 49.313px;
	top: 0.314px;
}
#n__bda {
	left: 49.313px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#Bg_bdc {
	fill: rgba(255,255,255,1);
}
.Bg_bdc {
	overflow: visible;
	position: absolute;
	width: 40px;
	height: 40px;
	left: 96.313px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Bg_bdd {
	fill: rgba(255,255,255,1);
}
.Bg_bdd {
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0.314px;
}
#n__bdb {
	left: 0px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(27,47,91,1);
}
#n__bdc {
	left: 96.279px;
	top: 11.314px;
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 19px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
}
#Rectangle_2_bc {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_bc {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_2_bda {
	fill: rgba(248,248,248,1);
}
.Rectangle_2_bda {
	position: absolute;
	overflow: visible;
	width: 119px;
	height: 37px;
	left: 1361px;
	top: 43px;
}
#Hunter_Zolomon_bdb {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_bdc {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_bdd {
	fill: rgba(18,168,246,1);
}
.Path_4632_bdd {
	overflow: visible;
	position: absolute;
	width: 27.081px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_bde {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_bde {
	position: absolute;
	overflow: visible;
	width: 13.688px;
	height: 13.688px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_bdf {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_bdf {
	position: absolute;
	overflow: visible;
	width: 10.036px;
	height: 10.036px;
	left: 48.6px;
	top: 56.469px;
}
#Path_4633_bdg {
	fill: rgba(255,255,255,1);
}
.Path_4633_bdg {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_bdh {
	fill: rgba(18,168,246,1);
}
.Path_4634_bdh {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.55px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_bdi {
	fill: rgba(255,255,255,1);
}
.Path_4635_bdi {
	overflow: visible;
	position: absolute;
	width: 7.272px;
	height: 4.033px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_bdj {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.57px;
	overflow: visible;
}
#Group_55_bdk {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_bdl {
	fill: rgba(18,168,246,1);
}
.Path_4636_bdl {
	overflow: visible;
	position: absolute;
	width: 39.651px;
	height: 29.526px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_bdm {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.299px;
	top: 75.963px;
	overflow: visible;
}
#Path_4637_bdn {
	fill: rgba(18,26,80,1);
}
.Path_4637_bdn {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_bdo {
	fill: rgba(18,26,80,1);
}
.Path_4638_bdo {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_bdp {
	fill: rgba(255,255,255,1);
}
.Path_4639_bdp {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.244px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_bdq {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_bdq {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.404px;
}
#Group_3056_bdr {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_bds {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_bdt {
	fill: rgba(27,47,91,1);
}
.home_bdt {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.463px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_bdu {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_bdv {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_bdw {
	fill: rgba(27,47,91,1);
}
.Path_4640_bdw {
	overflow: visible;
	position: absolute;
	width: 13.455px;
	height: 9.53px;
	left: 0px;
	top: 5.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_bdx {
	fill: rgba(27,47,91,1);
}
.Path_4641_bdx {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.387px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_bdy {
	fill: rgba(27,47,91,1);
}
.Path_4642_bdy {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_bdz {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__bd {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_bd {
	fill: rgba(27,47,91,1);
}
.Path_4643_bd {
	overflow: visible;
	position: absolute;
	width: 13.945px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_bd {
	fill: rgba(27,47,91,1);
}
.Path_4644_bd {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.119px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_bd {
	fill: rgba(27,47,91,1);
}
.Path_4646_bd {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_bd {
	fill: rgba(27,47,91,1);
}
.Path_4647_bd {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_bd {
	fill: rgba(27,47,91,1);
}
.Path_4648_bd {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_bd {
	fill: rgba(27,47,91,1);
}
.Path_4649_bd {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_bd {
	fill: rgba(27,47,91,1);
}
.Path_4651_bd {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 615.001px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_bd {
	fill: rgba(27,47,91,1);
}
.Path_4653_bd {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 622.854px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_bd {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_bea {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_beb {
	fill: rgba(27,47,91,1);
}
.Path_4650_beb {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.927px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_bec {
	fill: rgba(27,47,91,1);
}
.Path_4652_bec {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_bed {
	fill: rgba(27,47,91,1);
}
.Path_4654_bed {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_bee {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__bef {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_beg {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_beh {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_bei {
	fill: rgba(27,47,91,1);
}
.Path_4662_bei {
	overflow: visible;
	position: absolute;
	width: 7.636px;
	height: 7.636px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_bej {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_bek {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_bel {
	fill: rgba(27,47,91,1);
}
.Path_4663_bel {
	overflow: visible;
	position: absolute;
	width: 3.479px;
	height: 2.929px;
	left: 0.001px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_bem {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_ben {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_beo {
	fill: rgba(27,47,91,1);
}
.Path_4664_beo {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: -0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_bep {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_beq {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_ber {
	fill: rgba(27,47,91,1);
}
.Path_4665_ber {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_bes {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_bet {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_beu {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_bev {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_bew {
	fill: rgba(27,47,91,1);
}
.Path_4680_bew {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.102px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_bex {
	fill: rgba(27,47,91,1);
}
.Path_4681_bex {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_bey {
	fill: rgba(27,47,91,1);
}
.Path_4682_bey {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_bez {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_be {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}
#Group_3062_be {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
}
#Setting_be {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Group_79_be {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_be {
	fill: rgba(18,168,246,1);
}
.Path_4688_be {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}