.mediaViewInfo {
	--web-view-name: system logs;
	--web-view-id: system_logs;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: system_logs;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#system_logs {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: system logs;
	--web-view-id: system_logs;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_209 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_209 {
	position: absolute;
	overflow: visible;
	width: 1454px;
	height: 153px;
	left: 55px;
	top: 927px;
}
#Rectangle_208 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_208 {
	position: absolute;
	overflow: visible;
	width: 1454px;
	height: 365px;
	left: 55px;
	top: 426px;
}
#Rectangle_69 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_69 {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 45px;
	left: 1384px;
	top: 440px;
}
#TODAY {
	left: 55px;
	top: 323px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n_00AM_-_810_PM {
	left: 157px;
	top: 329px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Username {
	left: 114px;
	top: 381px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Position_i {
	left: 354px;
	top: 381px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Duration {
	left: 526px;
	top: 381px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Login_Record {
	left: 774px;
	top: 381px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Logout_Record {
	left: 1089px;
	top: 381px;
	position: absolute;
	overflow: visible;
	width: 156px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Nath_Sovanroth {
	left: 68px;
	top: 450px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Line_8 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_8 {
	overflow: visible;
	position: absolute;
	width: 1453px;
	height: 1px;
	left: 55.5px;
	top: 425.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Admin_o {
	left: 365px;
	top: 450px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_h_20m_ {
	left: 538px;
	top: 450px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021__710AM {
	left: 723px;
	top: 450px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021__910AM {
	left: 1046px;
	top: 450px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#System_Logs_s {
	left: 870px;
	top: 116px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Rectangle_60_t {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_60_t {
	position: absolute;
	overflow: visible;
	width: 187px;
	height: 45px;
	left: 55px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs Data.html;
	cursor: pointer;
}
#Date_Range_u {
	left: 55px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Line_5_v {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5_v {
	overflow: visible;
	position: absolute;
	width: 1920.5px;
	height: 2px;
	left: 0px;
	top: 168.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_61_w {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_61_w {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 45px;
	left: 472px;
	top: 218px;
}
#Today_x {
	left: 480px;
	top: 233px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(27,47,91,1);
}
#Thu_09__SEP__2021_y {
	left: 64px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs Data.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#TO_z {
	left: 246px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#calendar_1_ {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 215.42px;
	top: 232.406px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs Data.html;
	cursor: pointer;
}
#Path_4690_ {
	fill: rgba(18,168,246,1);
}
.Path_4690_ {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.046px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_ {
	fill: rgba(18,168,246,1);
}
.Path_4691_ {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_63_ {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_63_ {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 45px;
	left: 578px;
	top: 218px;
}
#Position_ {
	left: 578px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#All_Position_ {
	left: 594px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_64_ {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_64_ {
	position: absolute;
	overflow: visible;
	width: 178px;
	height: 45px;
	left: 782px;
	top: 218px;
}
#User_ {
	left: 782px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#All_User_ {
	left: 798px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_65_ {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_65_ {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 994px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs .html;
	cursor: pointer;
}
#CANCEL_a {
	left: 1006px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs .html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Line_7 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_7 {
	overflow: visible;
	position: absolute;
	width: 1920.5px;
	height: 2px;
	left: 0px;
	top: 303.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_66_c {
	fill: rgba(18,168,246,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_66_c {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1789px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs .html;
	cursor: pointer;
}
#Clear_d {
	left: 1821.454px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs .html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Rectangle_67_e {
	fill: rgba(18,168,246,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_67_e {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1110px;
	top: 218px;
}
#VIEW_f {
	left: 1141px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#criminal-record_g {
	position: absolute;
	width: 11.35px;
	height: 11.35px;
	left: 1129px;
	top: 235px;
	overflow: visible;
}
#Ellipse_23_h {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_h {
	position: absolute;
	overflow: visible;
	width: 4px;
	height: 4px;
	left: 5px;
	top: 5px;
}
#Path_4692_i {
	fill: rgba(255,255,255,1);
}
.Path_4692_i {
	overflow: visible;
	position: absolute;
	width: 2.966px;
	height: 2.966px;
	left: 8.384px;
	top: 8.384px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_j {
	position: absolute;
	width: 8.645px;
	height: 11.35px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_k {
	fill: rgba(255,255,255,1);
}
.Path_4693_k {
	overflow: visible;
	position: absolute;
	width: 2.021px;
	height: 2.021px;
	left: 0.195px;
	top: 0.195px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_l {
	fill: rgba(255,255,255,1);
}
.Path_4694_l {
	overflow: visible;
	position: absolute;
	width: 3.037px;
	height: 1.108px;
	left: 1.995px;
	top: 4.655px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_m {
	fill: rgba(255,255,255,1);
}
.Path_4695_m {
	overflow: visible;
	position: absolute;
	width: 8.646px;
	height: 11.35px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#rubber_n {
	position: absolute;
	width: 13.604px;
	height: 11.511px;
	left: 1804.546px;
	top: 234.744px;
	overflow: visible;
}
#Path_4701_o {
	fill: rgba(255,255,255,1);
}
.Path_4701_o {
	overflow: visible;
	position: absolute;
	width: 4.546px;
	height: 2.256px;
	transform: translate(0px, -39.388px) matrix(0.9998,0,0,0.9998,4.7976,44.791) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_4702_p {
	fill: rgba(255,255,255,1);
}
.Path_4702_p {
	overflow: visible;
	position: absolute;
	width: 4.546px;
	height: 2.28px;
	transform: translate(0px, -39.388px) matrix(0.9998,0,0,0.9998,2.6305,42.6113) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Path_4703_q {
	fill: rgba(255,255,255,1);
}
.Path_4703_q {
	overflow: visible;
	position: absolute;
	width: 6.779px;
	height: 5.227px;
	left: 6.825px;
	top: 6.285px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4704_r {
	fill: rgba(255,255,255,1);
}
.Path_4704_r {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 5.783px;
	left: 0px;
	top: 5.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4705_s {
	fill: rgba(255,255,255,1);
}
.Path_4705_s {
	overflow: visible;
	position: absolute;
	width: 7.336px;
	height: 7.334px;
	left: 6.269px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_68 {
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_68 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 413px;
	height: 566px;
	left: 1524px;
	top: 425px;
}
#Line_25 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_25 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 365.221px;
	left: 322.5px;
	top: 425px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_26 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_26 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 365.221px;
	left: 464.5px;
	top: 425px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_27 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_27 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 365.221px;
	left: 683.5px;
	top: 425px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_28 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_28 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 365.221px;
	left: 1006.5px;
	top: 425px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_29 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_29 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 365.221px;
	left: 1344.5px;
	top: 425px;
	transform: matrix(1,0,0,1,0,0);
}
#photo_2021-09-11_14-45-51 {
	position: absolute;
	width: 94.048px;
	height: 93.5px;
	left: 1668.477px;
	top: 447.25px;
	overflow: visible;
}
#Nath_Sovanroth_ {
	left: 1626.5px;
	top: 558px;
	position: absolute;
	overflow: visible;
	width: 179px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Username__Nath_Sovanroth_Posit {
	left: 1543px;
	top: 646px;
	position: absolute;
	overflow: visible;
	width: 347px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -9.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(0,0,0,1);
}
#ID_No__2 {
	left: 1679.5px;
	top: 596px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#User_Detail__ {
	left: 1654px;
	top: 381px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Mekmun_Sopheaktra {
	left: 68px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Staff {
	left: 373px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_h_30m_ {
	left: 538px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021__910AM_ {
	left: 723px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021__1240PM {
	left: 1046px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 245px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Line_35 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_35 {
	overflow: visible;
	position: absolute;
	width: 1453px;
	height: 1px;
	left: 55.5px;
	top: 498.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_37 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_37 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 365.221px;
	left: 1508.5px;
	top: 425px;
	transform: matrix(1,0,0,1,0,0);
}
#View_User {
	left: 1375px;
	top: 381px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#View_c {
	left: 1415.314px;
	top: 450px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#criminal-record_d {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 1397.686px;
	top: 454.697px;
	overflow: visible;
}
#Ellipse_23_e {
	fill: rgba(27,47,91,1);
}
.Ellipse_23_e {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_g {
	fill: rgba(27,47,91,1);
}
.Path_4692_g {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.816px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_g {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_h {
	fill: rgba(27,47,91,1);
}
.Path_4693_h {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_i {
	fill: rgba(27,47,91,1);
}
.Path_4694_i {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.427px;
	left: 2.568px;
	top: 5.99px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_j {
	fill: rgba(27,47,91,1);
}
.Path_4695_j {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_70 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_70 {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 45px;
	left: 1384px;
	top: 513px;
}
#View_l {
	left: 1415.314px;
	top: 523px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_m {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 1399.686px;
	top: 527.697px;
	overflow: visible;
}
#Ellipse_23_n {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_n {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_o {
	fill: rgba(255,255,255,1);
}
.Path_4692_o {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.816px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_p {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_q {
	fill: rgba(255,255,255,1);
}
.Path_4693_q {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_r {
	fill: rgba(255,255,255,1);
}
.Path_4694_r {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.427px;
	left: 2.568px;
	top: 5.99px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_s {
	fill: rgba(255,255,255,1);
}
.Path_4695_s {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_38 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_38 {
	overflow: visible;
	position: absolute;
	width: 1453px;
	height: 1px;
	left: 55.5px;
	top: 571.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Huot_Lysokheng {
	left: 68px;
	top: 596px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Staff_v {
	left: 373px;
	top: 596px;
	position: absolute;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_h_50m_ {
	left: 538px;
	top: 596px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021__1240PM_x {
	left: 723px;
	top: 596px;
	position: absolute;
	overflow: visible;
	width: 245px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021__510PM {
	left: 1046px;
	top: 596px;
	position: absolute;
	overflow: visible;
	width: 234px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Rectangle_71 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_71 {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 45px;
	left: 1384px;
	top: 586px;
}
#View_ {
	left: 1415.314px;
	top: 596px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_ {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 1399.686px;
	top: 600.697px;
	overflow: visible;
}
#Ellipse_23_ {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_ {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_ {
	fill: rgba(255,255,255,1);
}
.Path_4692_ {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.816px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_ {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_ {
	fill: rgba(255,255,255,1);
}
.Path_4693_ {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_ {
	fill: rgba(255,255,255,1);
}
.Path_4694_ {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.427px;
	left: 2.568px;
	top: 5.99px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_ {
	fill: rgba(255,255,255,1);
}
.Path_4695_ {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_39 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_39 {
	overflow: visible;
	position: absolute;
	width: 1453px;
	height: 1px;
	left: 55.5px;
	top: 644.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_41 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_41 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 365.221px;
	left: 55.5px;
	top: 425.279px;
	transform: matrix(1,0,0,1,0,0);
}
#Tan_Sophea {
	left: 68px;
	top: 669px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Staff_b {
	left: 373px;
	top: 669px;
	position: absolute;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_h_10m_ {
	left: 538px;
	top: 669px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021__510PM_d {
	left: 723px;
	top: 669px;
	position: absolute;
	overflow: visible;
	width: 234px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021__720PM {
	left: 1046px;
	top: 669px;
	position: absolute;
	overflow: visible;
	width: 236px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Rectangle_72 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_72 {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 45px;
	left: 1384px;
	top: 659px;
}
#View_g {
	left: 1415.314px;
	top: 669px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_h {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 1399.686px;
	top: 673.697px;
	overflow: visible;
}
#Ellipse_23_i {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_i {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_j {
	fill: rgba(255,255,255,1);
}
.Path_4692_j {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.816px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_k {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_l {
	fill: rgba(255,255,255,1);
}
.Path_4693_l {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_m {
	fill: rgba(255,255,255,1);
}
.Path_4694_m {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.427px;
	left: 2.568px;
	top: 5.99px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_n {
	fill: rgba(255,255,255,1);
}
.Path_4695_n {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_42 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_42 {
	overflow: visible;
	position: absolute;
	width: 1453px;
	height: 1px;
	left: 55.5px;
	top: 717.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Hunter_Zolomon_p {
	left: 68px;
	top: 742px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Admin_q {
	left: 365px;
	top: 742px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_0m {
	left: 552px;
	top: 742px;
	position: absolute;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021__720PM_s {
	left: 723px;
	top: 742px;
	position: absolute;
	overflow: visible;
	width: 236px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_10__SEP__2021__810PM {
	left: 1046px;
	top: 742px;
	position: absolute;
	overflow: visible;
	width: 233px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Rectangle_73 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_73 {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 45px;
	left: 1384px;
	top: 732px;
}
#View_v {
	left: 1415.314px;
	top: 742px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_x {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 1399.686px;
	top: 746.697px;
	overflow: visible;
}
#Ellipse_23_x {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_x {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_y {
	fill: rgba(255,255,255,1);
}
.Path_4692_y {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.816px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_z {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_a {
	fill: rgba(255,255,255,1);
}
.Path_4693_a {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_a {
	fill: rgba(255,255,255,1);
}
.Path_4694_a {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.427px;
	left: 2.568px;
	top: 5.99px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_a {
	fill: rgba(255,255,255,1);
}
.Path_4695_a {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_43 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_43 {
	overflow: visible;
	position: absolute;
	width: 1453px;
	height: 1px;
	left: 55.5px;
	top: 790.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Fri_09__SEP__2021 {
	left: 64px;
	top: 824px;
	position: absolute;
	overflow: visible;
	width: 217px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(27,47,91,1);
}
#n_00AM_-_810_PM_ {
	left: 293px;
	top: 830px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_74 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_74 {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 45px;
	left: 1384px;
	top: 941px;
}
#Username_ {
	left: 119px;
	top: 882px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Position_a {
	left: 354px;
	top: 882px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Duration_ {
	left: 526px;
	top: 882px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Login_Record_a {
	left: 774px;
	top: 882px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Logout_Record_b {
	left: 1089px;
	top: 882px;
	position: absolute;
	overflow: visible;
	width: 156px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#Hunter_Zolomon_c {
	left: 68px;
	top: 951px;
	position: absolute;
	overflow: visible;
	width: 141px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Line_44 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_44 {
	overflow: visible;
	position: absolute;
	width: 1453px;
	height: 1px;
	left: 55.5px;
	top: 926.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Admin_e {
	left: 365px;
	top: 951px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_h_10m {
	left: 543px;
	top: 951px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_09__SEP__2021__700AM {
	left: 721px;
	top: 951px;
	position: absolute;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_09__SEP__2021__810AM {
	left: 1046px;
	top: 951px;
	position: absolute;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Line_45 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_45 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 365.221px;
	left: 322.5px;
	top: 926px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_46 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_46 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 365.221px;
	left: 464.5px;
	top: 926px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_47 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_47 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 365.221px;
	left: 683.5px;
	top: 926px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_48 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_48 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 365.221px;
	left: 1006.5px;
	top: 926px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_49 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_49 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 365.221px;
	left: 1344.5px;
	top: 926px;
	transform: matrix(1,0,0,1,0,0);
}
#View_User_n {
	left: 1375px;
	top: 882px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(27,47,91,1);
}
#View_o {
	left: 1415.314px;
	top: 951px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_p {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 1397.686px;
	top: 955.697px;
	overflow: visible;
}
#Ellipse_23_q {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_q {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_r {
	fill: rgba(255,255,255,1);
}
.Path_4692_r {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.816px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_s {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_t {
	fill: rgba(255,255,255,1);
}
.Path_4693_t {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_u {
	fill: rgba(255,255,255,1);
}
.Path_4694_u {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.427px;
	left: 2.568px;
	top: 5.99px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_v {
	fill: rgba(255,255,255,1);
}
.Path_4695_v {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_50 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_50 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 365.221px;
	left: 55.5px;
	top: 926.279px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_51 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_51 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 365.221px;
	left: 1508.5px;
	top: 925.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Mekmun_Sopheaktra_y {
	left: 68px;
	top: 1024px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Staff_z {
	left: 373px;
	top: 1024px;
	position: absolute;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#n_h_00m_ {
	left: 537px;
	top: 1024px;
	position: absolute;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_09__SEP__2021__810AM_ {
	left: 723px;
	top: 1024px;
	position: absolute;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Fri_09__SEP__2021__910AM {
	left: 1046px;
	top: 1024px;
	position: absolute;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Line_52 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_52 {
	overflow: visible;
	position: absolute;
	width: 1453px;
	height: 1px;
	left: 55.5px;
	top: 999.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_75 {
	fill: rgba(18,168,246,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_75 {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 45px;
	left: 1384px;
	top: 1014px;
}
#View_a {
	left: 1415.314px;
	top: 1024px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#criminal-record_a {
	position: absolute;
	width: 14.605px;
	height: 14.605px;
	left: 1399.686px;
	top: 1028.697px;
	overflow: visible;
}
#Ellipse_23_a {
	fill: rgba(255,255,255,1);
}
.Ellipse_23_a {
	position: absolute;
	overflow: visible;
	width: 5.147px;
	height: 5.147px;
	left: 6.435px;
	top: 6.435px;
}
#Path_4692_a {
	fill: rgba(255,255,255,1);
}
.Path_4692_a {
	overflow: visible;
	position: absolute;
	width: 3.816px;
	height: 3.816px;
	left: 10.789px;
	top: 10.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_80_a {
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4693_b {
	fill: rgba(255,255,255,1);
}
.Path_4693_b {
	overflow: visible;
	position: absolute;
	width: 2.602px;
	height: 2.602px;
	left: 0.251px;
	top: 0.251px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4694_b {
	fill: rgba(255,255,255,1);
}
.Path_4694_b {
	overflow: visible;
	position: absolute;
	width: 3.909px;
	height: 1.427px;
	left: 2.568px;
	top: 5.99px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4695_c {
	fill: rgba(255,255,255,1);
}
.Path_4695_c {
	overflow: visible;
	position: absolute;
	width: 11.125px;
	height: 14.605px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_53 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_53 {
	overflow: visible;
	position: absolute;
	width: 1453px;
	height: 1px;
	left: 55.5px;
	top: 1072.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_76_e {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_76_e {
	position: absolute;
	overflow: visible;
	width: 186px;
	height: 45px;
	left: 271px;
	top: 218px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs Data 2.html;
	cursor: pointer;
}
#Fri_10__SEP__2021_f {
	left: 279px;
	top: 231px;
	position: absolute;
	overflow: visible;
	width: 129px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs Data 2.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#calendar_1_g {
	position: absolute;
	width: 17.939px;
	height: 16.187px;
	left: 430.42px;
	top: 233px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: System Logs Data 2.html;
	cursor: pointer;
}
#Path_4690_h {
	fill: rgba(18,168,246,1);
}
.Path_4690_h {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 5.046px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4691_i {
	fill: rgba(18,168,246,1);
}
.Path_4691_i {
	overflow: visible;
	position: absolute;
	width: 17.939px;
	height: 10.091px;
	left: 0px;
	top: 6.097px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2_j {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_j {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_2_k {
	fill: rgba(248,248,248,1);
}
.Rectangle_2_k {
	position: absolute;
	overflow: visible;
	width: 119px;
	height: 37px;
	left: 1361px;
	top: 43px;
}
#Hunter_Zolomon_l {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_m {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_n {
	fill: rgba(18,168,246,1);
}
.Path_4632_n {
	overflow: visible;
	position: absolute;
	width: 27.081px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_o {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_o {
	position: absolute;
	overflow: visible;
	width: 13.688px;
	height: 13.688px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_p {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_p {
	position: absolute;
	overflow: visible;
	width: 10.036px;
	height: 10.036px;
	left: 48.6px;
	top: 56.469px;
}
#Path_4633_q {
	fill: rgba(255,255,255,1);
}
.Path_4633_q {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_r {
	fill: rgba(18,168,246,1);
}
.Path_4634_r {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.55px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_s {
	fill: rgba(255,255,255,1);
}
.Path_4635_s {
	overflow: visible;
	position: absolute;
	width: 7.272px;
	height: 4.033px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_t {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.57px;
	overflow: visible;
}
#Group_55_u {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_v {
	fill: rgba(18,168,246,1);
}
.Path_4636_v {
	overflow: visible;
	position: absolute;
	width: 39.651px;
	height: 29.526px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_w {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.299px;
	top: 75.963px;
	overflow: visible;
}
#Path_4637_x {
	fill: rgba(18,26,80,1);
}
.Path_4637_x {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_y {
	fill: rgba(18,26,80,1);
}
.Path_4638_y {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_z {
	fill: rgba(255,255,255,1);
}
.Path_4639_z {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.244px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_ {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_ {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.404px;
}
#Group_3056_ {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_ {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_ {
	fill: rgba(27,47,91,1);
}
.home_ {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.463px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_ {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_a {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_a {
	fill: rgba(27,47,91,1);
}
.Path_4640_a {
	overflow: visible;
	position: absolute;
	width: 13.455px;
	height: 9.53px;
	left: 0px;
	top: 5.729px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_a {
	fill: rgba(27,47,91,1);
}
.Path_4641_a {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.387px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_a {
	fill: rgba(27,47,91,1);
}
.Path_4642_a {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_a {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__a {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_b {
	fill: rgba(27,47,91,1);
}
.Path_4643_b {
	overflow: visible;
	position: absolute;
	width: 13.945px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_c {
	fill: rgba(27,47,91,1);
}
.Path_4644_c {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.119px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_d {
	fill: rgba(27,47,91,1);
}
.Path_4646_d {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_e {
	fill: rgba(27,47,91,1);
}
.Path_4647_e {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_f {
	fill: rgba(27,47,91,1);
}
.Path_4648_f {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_g {
	fill: rgba(27,47,91,1);
}
.Path_4649_g {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_h {
	fill: rgba(27,47,91,1);
}
.Path_4651_h {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 615.001px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_i {
	fill: rgba(27,47,91,1);
}
.Path_4653_i {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 622.854px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_j {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_k {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_l {
	fill: rgba(27,47,91,1);
}
.Path_4650_l {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.927px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_m {
	fill: rgba(27,47,91,1);
}
.Path_4652_m {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_n {
	fill: rgba(27,47,91,1);
}
.Path_4654_n {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_o {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__p {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_q {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_r {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_s {
	fill: rgba(27,47,91,1);
}
.Path_4662_s {
	overflow: visible;
	position: absolute;
	width: 7.636px;
	height: 7.636px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_t {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_u {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_w {
	fill: rgba(27,47,91,1);
}
.Path_4663_w {
	overflow: visible;
	position: absolute;
	width: 3.479px;
	height: 2.929px;
	left: 0.001px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_w {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_x {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_y {
	fill: rgba(27,47,91,1);
}
.Path_4664_y {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: -0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_z {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_ {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_ {
	fill: rgba(27,47,91,1);
}
.Path_4665_ {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_ {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_ {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_ {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_a {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_a {
	fill: rgba(27,47,91,1);
}
.Path_4680_a {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.102px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_a {
	fill: rgba(27,47,91,1);
}
.Path_4681_a {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_a {
	fill: rgba(27,47,91,1);
}
.Path_4682_a {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_a {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_a {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}
#Group_3062_b {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
}
#Setting_c {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Group_79_d {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_e {
	fill: rgba(18,168,246,1);
}
.Path_4688_e {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}