.mediaViewInfo {
	--web-view-name: Tutorial;
	--web-view-id: Tutorial;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Tutorial;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Tutorial {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: Tutorial;
	--web-view-id: Tutorial;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#NoPath {
	position: absolute;
	width: 384px;
	height: 192px;
	left: 289px;
	top: 461px;
	overflow: visible;
}
#Scroll_Group_9 {
	mix-blend-mode: normal;
	position: absolute;
	width: 384px;
	height: 214px;
	left: 832px;
	top: 438px;
	overflow: hidden;
}
#NoPath_-_Copy {
	position: absolute;
	width: 456px;
	height: 214px;
	left: -36px;
	top: 0px;
	overflow: visible;
}
#How_to_use_Cashier {
	left: 402px;
	top: 669px;
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 22px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_00_e {
	left: 634px;
	top: 630px;
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 22px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#How_to_use_Cashier_Menu {
	left: 940px;
	top: 670px;
	position: absolute;
	overflow: visible;
	width: 209px;
	height: 22px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_00_ea {
	left: 1109px;
	top: 630px;
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 22px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#How_to_use_Statistic_Menu {
	left: 1411.231px;
	top: 667.5px;
	position: absolute;
	overflow: visible;
	width: 209px;
	height: 22px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#NoPath_-_Copy_2 {
	position: absolute;
	width: 303.77px;
	height: 190.5px;
	left: 1363.346px;
	top: 461px;
	overflow: visible;
}
#n_00_eb {
	left: 1625px;
	top: 630px;
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 22px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#NoPath_-_Copy_3 {
	position: absolute;
	width: 265.063px;
	height: 199.129px;
	left: 348.469px;
	top: 742.871px;
	overflow: visible;
}
#How_to_use_Inventory_Managemen {
	left: 295px;
	top: 955px;
	position: absolute;
	overflow: visible;
	width: 379px;
	height: 22px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#n_000_ee {
	left: 616px;
	top: 916px;
	position: absolute;
	overflow: visible;
	width: 52px;
	height: 22px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#NoPath_-_Copy_4 {
	position: absolute;
	width: 299px;
	height: 199px;
	left: 871px;
	top: 743px;
	overflow: visible;
}
#How_to_use_Employee_Management {
	left: 880px;
	top: 956px;
	position: absolute;
	overflow: visible;
	width: 329px;
	height: 22px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#NoPath_-_Copy_5 {
	position: absolute;
	width: 266px;
	height: 199px;
	left: 1382px;
	top: 743px;
	overflow: visible;
}
#How_to_use_Online_Purchase_Men {
	left: 1393px;
	top: 955px;
	position: absolute;
	overflow: visible;
	width: 275px;
	height: 22px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Video_Turtorial {
	left: 908px;
	top: 313px;
	position: absolute;
	overflow: visible;
	width: 270px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
	text-decoration: underline;
}
#Rectangle_5_ek {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_ek {
	position: absolute;
	overflow: visible;
	width: 412px;
	height: 40px;
	left: 1495px;
	top: 120px;
}
#Search_el {
	left: 1541px;
	top: 133px;
	position: absolute;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Path_4630_em {
	fill: rgba(18,168,246,1);
}
.Path_4630_em {
	overflow: visible;
	position: absolute;
	width: 15.317px;
	height: 15.316px;
	left: 1514.001px;
	top: 134.842px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_122_en {
	fill: rgba(18,168,246,1);
}
.Rectangle_122_en {
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 99px;
	left: 1176px;
	top: 194px;
}
#Tutorials_eo {
	left: 1193px;
	top: 263px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#Line_73_ep {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_73_ep {
	overflow: visible;
	position: absolute;
	width: 1419px;
	height: 1px;
	left: 0.5px;
	top: 175.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_82_eq {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_82_eq {
	overflow: visible;
	position: absolute;
	width: 501px;
	height: 1px;
	left: 1419.5px;
	top: 175.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_74_er {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_74_er {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 1px;
	left: 0px;
	top: 309px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3021_es {
	position: absolute;
	width: 95px;
	height: 99px;
	left: 670px;
	top: 194px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Our Reports.html;
	cursor: pointer;
}
#Rectangle_120_et {
	fill: rgba(255,255,255,1);
}
.Rectangle_120_et {
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 99px;
	left: 0px;
	top: 0px;
}
#Our_Report_eu {
	left: 6px;
	top: 66px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#profit-report_ev {
	position: absolute;
	width: 28.5px;
	height: 38px;
	left: 32.75px;
	top: 16px;
	overflow: visible;
}
#Group_74_ew {
	position: absolute;
	width: 9.5px;
	height: 9.5px;
	left: 19px;
	top: 0px;
	overflow: visible;
}
#Group_73_ex {
	position: absolute;
	width: 9.5px;
	height: 9.5px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4683_ey {
	fill: rgba(13,13,13,1);
}
.Path_4683_ey {
	overflow: visible;
	position: absolute;
	width: 9.5px;
	height: 9.5px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_76_ez {
	position: absolute;
	width: 28.5px;
	height: 38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_75_e {
	position: absolute;
	width: 28.5px;
	height: 38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4684_e {
	fill: rgba(13,13,13,1);
}
.Path_4684_e {
	overflow: visible;
	position: absolute;
	width: 28.5px;
	height: 38px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#tutorial_1_e {
	position: absolute;
	width: 49.276px;
	height: 40.393px;
	left: 1200.972px;
	top: 212.624px;
	overflow: visible;
}
#Group_78_e {
	position: absolute;
	width: 49.276px;
	height: 40.393px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_77_e {
	position: absolute;
	width: 49.276px;
	height: 40.393px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4685_e {
	fill: rgba(255,255,255,1);
}
.Path_4685_e {
	overflow: visible;
	position: absolute;
	width: 49.276px;
	height: 40.393px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4686_e {
	fill: rgba(255,255,255,1);
}
.Path_4686_e {
	overflow: visible;
	position: absolute;
	width: 10.552px;
	height: 11.698px;
	left: 20.249px;
	top: 5.198px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4687_e {
	fill: rgba(255,255,255,1);
}
.Path_4687_e {
	overflow: visible;
	position: absolute;
	width: 1.921px;
	height: 1.92px;
	left: 23.787px;
	top: 0.002px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3022_e {
	position: absolute;
	width: 95px;
	height: 99px;
	left: 937px;
	top: 194px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Contact Us .html;
	cursor: pointer;
}
#Rectangle_121_e {
	fill: rgba(255,255,255,1);
}
.Rectangle_121_e {
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 99px;
	left: 0px;
	top: 0px;
}
#Contact_Us_ea {
	left: 7px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(27,47,91,1);
}
#call_eb {
	position: absolute;
	width: 35.408px;
	height: 37.997px;
	left: 31.672px;
	top: 22.003px;
	overflow: visible;
}
#Group_61_ec {
	position: absolute;
	width: 35.408px;
	height: 37.997px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_60_ed {
	position: absolute;
	width: 35.408px;
	height: 37.997px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4655_ee {
	fill: rgba(13,13,13,1);
}
.Path_4655_ee {
	overflow: visible;
	position: absolute;
	width: 35.408px;
	height: 37.997px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4656_ef {
	fill: rgba(13,13,13,1);
}
.Path_4656_ef {
	overflow: visible;
	position: absolute;
	width: 9.481px;
	height: 9.482px;
	left: 23.082px;
	top: 3.318px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4657_eg {
	fill: rgba(13,13,13,1);
}
.Path_4657_eg {
	overflow: visible;
	position: absolute;
	width: 6.637px;
	height: 6.637px;
	left: 20.924px;
	top: 9.265px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4658_eh {
	fill: rgba(13,13,13,1);
}
.Path_4658_eh {
	overflow: visible;
	position: absolute;
	width: 3.792px;
	height: 3.793px;
	left: 20.233px;
	top: 12.997px;
	transform: matrix(1,0,0,1,0,0);
}
#About_Us__ei {
	left: 891px;
	top: 127px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Rectangle_674 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_674 {
	position: absolute;
	overflow: visible;
	width: 384px;
	height: 199px;
	left: 289px;
	top: 743px;
}
#Rectangle_675 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_675 {
	position: absolute;
	overflow: visible;
	width: 384px;
	height: 199px;
	left: 832px;
	top: 743px;
}
#n_00_el {
	left: 1177px;
	top: 916px;
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 22px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Rectangle_676 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_676 {
	position: absolute;
	overflow: visible;
	width: 384px;
	height: 199px;
	left: 1330px;
	top: 743px;
}
#n_00_en {
	left: 1667px;
	top: 916px;
	position: absolute;
	overflow: visible;
	width: 40px;
	height: 22px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#Rectangle_2_eo {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_eo {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Hunter_Zolomon_ep {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_eq {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_er {
	fill: rgba(18,168,246,1);
}
.Path_4632_er {
	overflow: visible;
	position: absolute;
	width: 27.081px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_es {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_es {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_et {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_et {
	position: absolute;
	overflow: visible;
	width: 10.036px;
	height: 10.036px;
	left: 48.599px;
	top: 56.468px;
}
#Path_4633_eu {
	fill: rgba(255,255,255,1);
}
.Path_4633_eu {
	overflow: visible;
	position: absolute;
	width: 7.711px;
	height: 6.181px;
	left: 57.699px;
	top: 65.872px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_ev {
	fill: rgba(18,168,246,1);
}
.Path_4634_ev {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_ex {
	fill: rgba(255,255,255,1);
}
.Path_4635_ex {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.034px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_ex {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.571px;
	overflow: visible;
}
#Group_55_ey {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_ez {
	fill: rgba(18,168,246,1);
}
.Path_4636_ez {
	overflow: visible;
	position: absolute;
	width: 39.651px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_e {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.298px;
	top: 75.962px;
	overflow: visible;
}
#Path_4637_e {
	fill: rgba(18,26,80,1);
}
.Path_4637_e {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_e {
	fill: rgba(18,26,80,1);
}
.Path_4638_e {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_e {
	fill: rgba(255,255,255,1);
}
.Path_4639_e {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.243px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_e {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_e {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.405px;
}
#Group_3056_e {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_e {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_e {
	fill: rgba(27,47,91,1);
}
.home_e {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_e {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_e {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4640_ea {
	fill: rgba(27,47,91,1);
}
.Path_4640_ea {
	overflow: visible;
	position: absolute;
	width: 13.456px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_eb {
	fill: rgba(27,47,91,1);
}
.Path_4641_eb {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.386px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_ec {
	fill: rgba(27,47,91,1);
}
.Path_4642_ec {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_ed {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__ee {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_ef {
	fill: rgba(27,47,91,1);
}
.Path_4643_ef {
	overflow: visible;
	position: absolute;
	width: 13.946px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_eg {
	fill: rgba(27,47,91,1);
}
.Path_4644_eg {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.12px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_eh {
	fill: rgba(27,47,91,1);
}
.Path_4646_eh {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_ei {
	fill: rgba(27,47,91,1);
}
.Path_4647_ei {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_ej {
	fill: rgba(27,47,91,1);
}
.Path_4648_ej {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_ek {
	fill: rgba(27,47,91,1);
}
.Path_4649_ek {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_el {
	fill: rgba(27,47,91,1);
}
.Path_4651_el {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_em {
	fill: rgba(27,47,91,1);
}
.Path_4653_em {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 622.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_en {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_eo {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_ep {
	fill: rgba(27,47,91,1);
}
.Path_4650_ep {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.926px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_eq {
	fill: rgba(27,47,91,1);
}
.Path_4652_eq {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_er {
	fill: rgba(27,47,91,1);
}
.Path_4654_er {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_es {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__et {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_eu {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_ev {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_ew {
	fill: rgba(27,47,91,1);
}
.Path_4662_ew {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_ey {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_ey {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_ez {
	fill: rgba(27,47,91,1);
}
.Path_4663_ez {
	overflow: visible;
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_e {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_e {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_e {
	fill: rgba(27,47,91,1);
}
.Path_4664_e {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_e {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_e {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_e {
	fill: rgba(27,47,91,1);
}
.Path_4665_e {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_e {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_e {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_e {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_e {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_ea {
	fill: rgba(27,47,91,1);
}
.Path_4680_ea {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.101px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_eb {
	fill: rgba(27,47,91,1);
}
.Path_4681_eb {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_ec {
	fill: rgba(27,47,91,1);
}
.Path_4682_ec {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_ed {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_ee {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}
#Group_3062_ef {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_eg {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_eh {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_ei {
	fill: rgba(27,47,91,1);
}
.Path_4688_ei {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}