.mediaViewInfo {
	--web-view-name: View Invoice;
	--web-view-id: View_Invoice;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: View_Invoice;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#View_Invoice {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: View Invoice;
	--web-view-id: View_Invoice;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#View_Invoice_dbr {
	left: 858px;
	top: 116px;
	position: absolute;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Line_85_dbs {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_85_dbs {
	overflow: visible;
	position: absolute;
	width: 1920.5px;
	height: 2px;
	left: 0px;
	top: 168.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_65_dbt {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_65_dbt {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 26px;
	top: 196px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: comfirm payment.html;
	cursor: pointer;
}
#CANCEL_dbu {
	left: 38px;
	top: 209px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: comfirm payment.html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_66_dbv {
	fill: rgba(18,168,246,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_66_dbv {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1819px;
	top: 196px;
}
#Print_dbw {
	left: 1854.454px;
	top: 209px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#printing_dbx {
	position: absolute;
	width: 11.886px;
	height: 11.048px;
	left: 1841.057px;
	top: 213.476px;
	overflow: visible;
}
#Group_137_dby {
	position: absolute;
	width: 4.226px;
	height: 0.792px;
	left: 3.83px;
	top: 8.863px;
	overflow: visible;
}
#Group_136_dbz {
	position: absolute;
	width: 4.226px;
	height: 0.792px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4831_db {
	fill: rgba(255,255,255,1);
}
.Path_4831_db {
	overflow: visible;
	position: absolute;
	width: 4.226px;
	height: 0.792px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_139_db {
	position: absolute;
	width: 4.226px;
	height: 0.792px;
	left: 3.83px;
	top: 7.613px;
	overflow: visible;
}
#Group_138_db {
	position: absolute;
	width: 4.226px;
	height: 0.792px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4832_db {
	fill: rgba(255,255,255,1);
}
.Path_4832_db {
	overflow: visible;
	position: absolute;
	width: 4.226px;
	height: 0.792px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_141_db {
	position: absolute;
	width: 11.886px;
	height: 11.048px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_140_db {
	position: absolute;
	width: 11.886px;
	height: 11.048px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4833_db {
	fill: rgba(255,255,255,1);
}
.Path_4833_db {
	overflow: visible;
	position: absolute;
	width: 11.886px;
	height: 11.048px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Statistics_db {
	position: absolute;
	width: 1170px;
	height: 824px;
	left: 362px;
	top: 196px;
	overflow: visible;
}
#StatisticsBG_db {
	fill: rgba(255,255,255,1);
	stroke: rgba(202,206,213,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.StatisticsBG_db {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 1200px;
	height: 854px;
	left: 0px;
	top: 0px;
}
#Brave_Dragon_Store_db {
	left: 415px;
	top: 250px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(18,168,246,1);
}
#Invoice_dca {
	left: 1420px;
	top: 250px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(18,168,246,1);
}
#n_42_ {
	left: 1350px;
	top: 886px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(67,66,93,1);
}
#Phnom_Penh_Tel_855_016_161_616_dcc {
	left: 415px;
	top: 294px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Invoice_to_Mekmun_Sopheaktra_T_dcd {
	left: 415px;
	top: 415px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(81,84,101,1);
}
#Order_Date_March_15_2016_Order_dce {
	left: 1325px;
	top: 416px;
	position: absolute;
	overflow: visible;
	width: 158px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Sub-total_42_Discount_10_VAT_1 {
	left: 1394px;
	top: 745px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#Path_309_dcg {
	fill: transparent;
	stroke: rgba(241,241,243,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_309_dcg {
	overflow: visible;
	position: absolute;
	width: 1086px;
	height: 1px;
	left: 417px;
	top: 385px;
	transform: matrix(1,0,0,1,0,0);
}
#rowinvoice_dch {
	position: absolute;
	width: 1078.96px;
	height: 160px;
	left: 415px;
	top: 564px;
	overflow: hidden;
}
#rowinvoice_dci {
	position: absolute;
	width: 1078.96px;
	height: 51px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Divider_dcj {
	fill: rgba(241,241,243,1);
}
.Divider_dcj {
	position: absolute;
	overflow: visible;
	width: 1078.96px;
	height: 1px;
	left: 0px;
	top: 50px;
}
#RowBG_dck {
	fill: rgba(255,255,255,1);
}
.RowBG_dck {
	position: absolute;
	overflow: visible;
	width: 1078.96px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n_4_dcl {
	left: 947px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#PCs_dcm {
	left: 523px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n___dcn {
	left: 317px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n__dco {
	left: 20px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 6px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Coconut_dcp {
	left: 82px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_7_dcq {
	left: 727px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#rowinvoice_dcr {
	position: absolute;
	width: 1078.96px;
	height: 51px;
	left: 0px;
	top: 52px;
	overflow: visible;
}
#Divider_dcs {
	fill: rgba(241,241,243,1);
}
.Divider_dcs {
	position: absolute;
	overflow: visible;
	width: 1078.96px;
	height: 1px;
	left: 0px;
	top: 50px;
}
#RowBG_dct {
	fill: rgba(255,255,255,1);
}
.RowBG_dct {
	position: absolute;
	overflow: visible;
	width: 1078.96px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n_8_dcu {
	left: 945px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#PCs_dcv {
	left: 523px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n___dcw {
	left: 317px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n__dcx {
	left: 20px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Watermelon_dcy {
	left: 82px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_7_dcz {
	left: 727px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#rowinvoice_dc {
	position: absolute;
	width: 1078.96px;
	height: 51px;
	left: 0px;
	top: 104px;
	overflow: visible;
}
#Divider_dc {
	fill: rgba(241,241,243,1);
}
.Divider_dc {
	position: absolute;
	overflow: visible;
	width: 1078.96px;
	height: 1px;
	left: 0px;
	top: 50px;
}
#RowBG_dc {
	fill: rgba(255,255,255,1);
}
.RowBG_dc {
	position: absolute;
	overflow: visible;
	width: 1078.96px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n_2_____dc {
	left: 942px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Kg_dc {
	left: 523px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 16px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n___dc {
	left: 317px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n__dc {
	left: 20px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Tomato_dc {
	left: 82px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_7_dc {
	left: 727px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#rowinvoice_dda {
	position: absolute;
	width: 1078.96px;
	height: 51px;
	left: 0px;
	top: 156px;
	overflow: visible;
}
#Divider_dda {
	fill: rgba(241,241,243,1);
}
.Divider_dda {
	position: absolute;
	overflow: visible;
	width: 1078.96px;
	height: 1px;
	left: 0px;
	top: 50px;
}
#RowBG_ddb {
	fill: rgba(255,255,255,1);
}
.RowBG_ddb {
	position: absolute;
	overflow: visible;
	width: 1078.96px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n_928_ddc {
	left: 933px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_32_ddd {
	left: 523px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Lorem_ipsum_dolor_sit_amet_Con_dde {
	left: 317px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 227px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n__ddf {
	left: 20px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 6px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#levaca_Womens_Long_ddg {
	left: 82px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_7_ddh {
	left: 727px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#HeadBG_ddi {
	fill: rgba(245,246,250,1);
}
.HeadBG_ddi {
	position: absolute;
	overflow: visible;
	width: 1079px;
	height: 45px;
	left: 415px;
	top: 519px;
}
#Total_Price_ddj {
	left: 1346px;
	top: 535px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#Unit_price_ddk {
	left: 1134px;
	top: 535px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#Quantity_ddl {
	left: 715px;
	top: 535px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#Text_ddm {
	left: 435px;
	top: 535px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#ITEMS_ddn {
	left: 495px;
	top: 535px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#Label_ddo {
	position: absolute;
	width: 67px;
	height: 20px;
	left: 1415px;
	top: 437px;
	overflow: visible;
}
#LabelBG_ddp {
	opacity: 0.3;
	fill: rgba(18,168,246,1);
}
.LabelBG_ddp {
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#LabelContent_ddq {
	opacity: 0.5;
	left: 14px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Units_ddr {
	left: 934px;
	top: 535px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#USD_dds {
	left: 1444px;
	top: 887px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(67,66,93,1);
}
#n_6_800 {
	left: 1331px;
	top: 832px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(67,66,93,1);
}
#Rectangle_204_ddu {
	fill: transparent;
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_204_ddu {
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 44px;
	left: 1313px;
	top: 828px;
}
#Riel_ddv {
	left: 1448px;
	top: 832px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(67,66,93,1);
}
#Rectangle_205_ddw {
	fill: transparent;
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_205_ddw {
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 44px;
	left: 1312px;
	top: 881px;
}
#Exchange_Currency__1_USD__4000_ddx {
	left: 415px;
	top: 970px;
	position: absolute;
	overflow: visible;
	width: 220px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Add_Note__ddy {
	left: 415px;
	top: 754px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Rectangle_206_ddz {
	fill: rgba(255,255,255,1);
	stroke: rgba(203,203,203,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_206_ddz {
	position: absolute;
	overflow: visible;
	width: 197px;
	height: 47px;
	left: 415px;
	top: 776px;
}
#Put_the_items_in_different_bag_dd {
	left: 436px;
	top: 792px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(77,79,92,1);
}
#Rectangle_2_dd {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_dd {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_6_dd {
	fill: rgba(248,248,248,1);
}
.Rectangle_6_dd {
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 37px;
	left: 293px;
	top: 43px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Hunter_Zolomon_dd {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_dd {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_dd {
	fill: rgba(18,168,246,1);
}
.Path_4632_dd {
	overflow: visible;
	position: absolute;
	width: 27.082px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_dd {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_dd {
	position: absolute;
	overflow: visible;
	width: 13.689px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_dd {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_dd {
	position: absolute;
	overflow: visible;
	width: 10.037px;
	height: 10.037px;
	left: 48.599px;
	top: 56.468px;
}
#Path_4633_dd {
	fill: rgba(255,255,255,1);
}
.Path_4633_dd {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_dd {
	fill: rgba(18,168,246,1);
}
.Path_4634_dd {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.496px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_dea {
	fill: rgba(255,255,255,1);
}
.Path_4635_dea {
	overflow: visible;
	position: absolute;
	width: 7.273px;
	height: 4.034px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_deb {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.57px;
	overflow: visible;
}
#Group_55_dec {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_ded {
	fill: rgba(18,168,246,1);
}
.Path_4636_ded {
	overflow: visible;
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_dee {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.298px;
	top: 75.962px;
	overflow: visible;
}
#Path_4637_def {
	fill: rgba(18,26,80,1);
}
.Path_4637_def {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_deg {
	fill: rgba(18,26,80,1);
}
.Path_4638_deg {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_deh {
	fill: rgba(255,255,255,1);
}
.Path_4639_deh {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.243px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_dei {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_dei {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.404px;
}
#Group_3056_dej {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_dek {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_del {
	fill: rgba(27,47,91,1);
}
.home_del {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_dem {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_den {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Path_4640_deo {
	fill: rgba(18,168,246,1);
}
.Path_4640_deo {
	overflow: visible;
	position: absolute;
	width: 13.456px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_dep {
	fill: rgba(18,168,246,1);
}
.Path_4641_dep {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.386px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_deq {
	fill: rgba(18,168,246,1);
}
.Path_4642_deq {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_der {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__des {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_det {
	fill: rgba(27,47,91,1);
}
.Path_4643_det {
	overflow: visible;
	position: absolute;
	width: 13.946px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_deu {
	fill: rgba(27,47,91,1);
}
.Path_4644_deu {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.12px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_dev {
	fill: rgba(27,47,91,1);
}
.Path_4646_dev {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_dew {
	fill: rgba(27,47,91,1);
}
.Path_4647_dew {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_dex {
	fill: rgba(27,47,91,1);
}
.Path_4648_dex {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_dey {
	fill: rgba(27,47,91,1);
}
.Path_4649_dey {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_dez {
	fill: rgba(27,47,91,1);
}
.Path_4651_dez {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 615px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_de {
	fill: rgba(27,47,91,1);
}
.Path_4653_de {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 622.853px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_de {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_de {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_de {
	fill: rgba(27,47,91,1);
}
.Path_4650_de {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.926px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_de {
	fill: rgba(27,47,91,1);
}
.Path_4652_de {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_de {
	fill: rgba(27,47,91,1);
}
.Path_4654_de {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_de {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__de {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_de {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_de {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_dfa {
	fill: rgba(27,47,91,1);
}
.Path_4662_dfa {
	overflow: visible;
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_dfb {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_dfc {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_dfd {
	fill: rgba(27,47,91,1);
}
.Path_4663_dfd {
	overflow: visible;
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_dfe {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_dff {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_dfg {
	fill: rgba(27,47,91,1);
}
.Path_4664_dfg {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_dfh {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_dfi {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_dfj {
	fill: rgba(27,47,91,1);
}
.Path_4665_dfj {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_dfk {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_dfl {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_dfm {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_dfn {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_dfo {
	fill: rgba(27,47,91,1);
}
.Path_4680_dfo {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.102px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_dfp {
	fill: rgba(27,47,91,1);
}
.Path_4681_dfp {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_dfq {
	fill: rgba(27,47,91,1);
}
.Path_4682_dfq {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3062_dfr {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_dfs {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_dft {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_dfu {
	fill: rgba(27,47,91,1);
}
.Path_4688_dfu {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_dfv {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_dfw {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}