.mediaViewInfo {
	--web-view-name: View Invoice;
	--web-view-id: View_Invoice;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: View_Invoice;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#View_Invoice {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(234,242,255,1);
	overflow: hidden;
	--web-view-name: View Invoice;
	--web-view-id: View_Invoice;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#View_Purchase_History__cj {
	left: 797px;
	top: 116px;
	position: absolute;
	overflow: visible;
	width: 327px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(27,47,91,1);
}
#Line_85_ck {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_85_ck {
	overflow: visible;
	position: absolute;
	width: 1920.5px;
	height: 2px;
	left: 0px;
	top: 168.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_65_cl {
	fill: rgba(255,255,255,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_65_cl {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 26px;
	top: 196px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History .html;
	cursor: pointer;
}
#CANCEL_cm {
	left: 38px;
	top: 209px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Purchase History .html;
	cursor: pointer;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(27,47,91,1);
}
#Rectangle_66_cn {
	fill: rgba(18,168,246,1);
	stroke: rgba(170,182,204,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_66_cn {
	position: absolute;
	overflow: visible;
	width: 85px;
	height: 45px;
	left: 1819px;
	top: 196px;
}
#Print {
	left: 1854.454px;
	top: 209px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#printing {
	position: absolute;
	width: 11.886px;
	height: 11.048px;
	left: 1841.057px;
	top: 213.476px;
	overflow: visible;
}
#Group_137 {
	position: absolute;
	width: 4.226px;
	height: 0.792px;
	left: 3.83px;
	top: 8.863px;
	overflow: visible;
}
#Group_136 {
	position: absolute;
	width: 4.226px;
	height: 0.792px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4831 {
	fill: rgba(255,255,255,1);
}
.Path_4831 {
	overflow: visible;
	position: absolute;
	width: 4.227px;
	height: 0.792px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_139 {
	position: absolute;
	width: 4.226px;
	height: 0.792px;
	left: 3.83px;
	top: 7.613px;
	overflow: visible;
}
#Group_138 {
	position: absolute;
	width: 4.226px;
	height: 0.792px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4832 {
	fill: rgba(255,255,255,1);
}
.Path_4832 {
	overflow: visible;
	position: absolute;
	width: 4.227px;
	height: 0.792px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_141 {
	position: absolute;
	width: 11.886px;
	height: 11.048px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_140 {
	position: absolute;
	width: 11.886px;
	height: 11.048px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4833 {
	fill: rgba(255,255,255,1);
}
.Path_4833 {
	overflow: visible;
	position: absolute;
	width: 11.887px;
	height: 11.048px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Statistics {
	position: absolute;
	width: 1170px;
	height: 824px;
	left: 362px;
	top: 196px;
	overflow: visible;
}
#StatisticsBG {
	fill: rgba(255,255,255,1);
	stroke: rgba(202,206,213,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.StatisticsBG {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
	position: absolute;
	overflow: visible;
	width: 1188px;
	height: 842px;
	left: 0px;
	top: 0px;
}
#Brave_Dragon_Store {
	left: 415px;
	top: 250px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(18,168,246,1);
}
#Invoice {
	left: 1420px;
	top: 250px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(18,168,246,1);
}
#n_48_ {
	left: 1349px;
	top: 886px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(67,66,93,1);
}
#Phnom_Penh_Tel_855_016_161_616 {
	left: 415px;
	top: 294px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Invoice_to_Mekmun_Sopheaktra_T {
	left: 415px;
	top: 415px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(81,84,101,1);
}
#Order_Date_March_15_2016_Order {
	left: 1325px;
	top: 416px;
	position: absolute;
	overflow: visible;
	width: 158px;
	white-space: nowrap;
	line-height: 23px;
	margin-top: -5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Sub-total_48_Discout_10_VAT_10 {
	left: 1394px;
	top: 745px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#Path_309 {
	fill: transparent;
	stroke: rgba(241,241,243,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_309 {
	overflow: visible;
	position: absolute;
	width: 1086px;
	height: 1px;
	left: 417px;
	top: 385px;
	transform: matrix(1,0,0,1,0,0);
}
#rowinvoice {
	position: absolute;
	width: 1078.96px;
	height: 160px;
	left: 415px;
	top: 564px;
	overflow: hidden;
}
#rowinvoice_ca {
	position: absolute;
	width: 1078.96px;
	height: 51px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Divider {
	fill: rgba(241,241,243,1);
}
.Divider {
	position: absolute;
	overflow: visible;
	width: 1078.961px;
	height: 1px;
	left: 0px;
	top: 50px;
}
#RowBG {
	fill: rgba(255,255,255,1);
}
.RowBG {
	position: absolute;
	overflow: visible;
	width: 1078.961px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n_4_cd {
	left: 947px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 24px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#PCs_ce {
	left: 523px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n__ {
	left: 317px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n__dat {
	left: 20px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 6px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Coconut_ch {
	left: 82px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_7_ci {
	left: 727px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#rowinvoice_cj {
	position: absolute;
	width: 1078.96px;
	height: 51px;
	left: 0px;
	top: 52px;
	overflow: visible;
}
#Divider_ck {
	fill: rgba(241,241,243,1);
}
.Divider_ck {
	position: absolute;
	overflow: visible;
	width: 1078.961px;
	height: 1px;
	left: 0px;
	top: 50px;
}
#RowBG_cl {
	fill: rgba(255,255,255,1);
}
.RowBG_cl {
	position: absolute;
	overflow: visible;
	width: 1078.961px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n_8_cm {
	left: 945px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#PCs_cn {
	left: 523px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n___co {
	left: 317px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n__dau {
	left: 20px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Watermelon_cq {
	left: 82px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_7_cr {
	left: 727px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#rowinvoice_cs {
	position: absolute;
	width: 1078.96px;
	height: 51px;
	left: 0px;
	top: 104px;
	overflow: visible;
}
#Divider_ct {
	fill: rgba(241,241,243,1);
}
.Divider_ct {
	position: absolute;
	overflow: visible;
	width: 1078.961px;
	height: 1px;
	left: 0px;
	top: 50px;
}
#RowBG_cu {
	fill: rgba(255,255,255,1);
}
.RowBG_cu {
	position: absolute;
	overflow: visible;
	width: 1078.961px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n_2____ {
	left: 942px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 29px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Kg_cw {
	left: 523px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 16px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n___cx {
	left: 317px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n__dav {
	left: 20px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Tomato_cz {
	left: 82px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_7_c {
	left: 727px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#rowinvoice_c {
	position: absolute;
	width: 1078.96px;
	height: 51px;
	left: 0px;
	top: 156px;
	overflow: visible;
}
#Divider_c {
	fill: rgba(241,241,243,1);
}
.Divider_c {
	position: absolute;
	overflow: visible;
	width: 1078.961px;
	height: 1px;
	left: 0px;
	top: 50px;
}
#RowBG_c {
	fill: rgba(255,255,255,1);
}
.RowBG_c {
	position: absolute;
	overflow: visible;
	width: 1078.961px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#n_928 {
	left: 933px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_32 {
	left: 523px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Lorem_ipsum_dolor_sit_amet_Con {
	left: 317px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 227px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n__daw {
	left: 20px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 6px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#levaca_Womens_Long {
	left: 82px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#n_7_ca {
	left: 727px;
	top: 18px;
	position: absolute;
	overflow: visible;
	width: 26px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#HeadBG {
	fill: rgba(245,246,250,1);
}
.HeadBG {
	position: absolute;
	overflow: visible;
	width: 1079px;
	height: 45px;
	left: 415px;
	top: 519px;
}
#Total_Price_cb {
	left: 1346px;
	top: 535px;
	position: absolute;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: right;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#Unit_price {
	left: 1134px;
	top: 535px;
	position: absolute;
	overflow: visible;
	width: 50px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#Quantity_cd {
	left: 715px;
	top: 535px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#Text_ce {
	left: 435px;
	top: 535px;
	position: absolute;
	overflow: visible;
	width: 8px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#ITEMS {
	left: 495px;
	top: 535px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#Label {
	position: absolute;
	width: 67px;
	height: 20px;
	left: 1415px;
	top: 437px;
	overflow: visible;
}
#LabelBG {
	opacity: 0.3;
	fill: rgba(18,168,246,1);
}
.LabelBG {
	position: absolute;
	overflow: visible;
	width: 67px;
	height: 20px;
	left: 0px;
	top: 0px;
}
#LabelContent {
	opacity: 0.5;
	left: 14px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 9px;
	color: rgba(0,0,0,1);
}
#Units {
	left: 934px;
	top: 535px;
	position: absolute;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(18,168,246,1);
}
#USD {
	left: 1444px;
	top: 887px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(67,66,93,1);
}
#n_9_200 {
	left: 1332px;
	top: 832px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(67,66,93,1);
}
#Rectangle_204 {
	fill: transparent;
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_204 {
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 44px;
	left: 1313px;
	top: 828px;
}
#Riel {
	left: 1448px;
	top: 832px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	line-height: 40px;
	margin-top: -6px;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(67,66,93,1);
}
#Rectangle_205 {
	fill: transparent;
	stroke: rgba(217,217,217,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_205 {
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 44px;
	left: 1312px;
	top: 881px;
}
#Exchange_Currency__1_USD__4000 {
	left: 415px;
	top: 970px;
	position: absolute;
	overflow: visible;
	width: 220px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Add_Note_ {
	left: 415px;
	top: 754px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Rectangle_206 {
	fill: rgba(255,255,255,1);
	stroke: rgba(203,203,203,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_206 {
	position: absolute;
	overflow: visible;
	width: 197px;
	height: 47px;
	left: 415px;
	top: 776px;
}
#Put_the_items_in_different_bag {
	left: 436px;
	top: 792px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(77,79,92,1);
}
#Rectangle_2_ct {
	fill: rgba(255,255,255,1);
}
.Rectangle_2_ct {
	filter: drop-shadow(0px 10px 10px rgba(196, 200, 208, 0.4));
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 115px;
	left: 12px;
	top: 19px;
}
#Rectangle_6_cu {
	fill: rgba(248,248,248,1);
}
.Rectangle_6_cu {
	position: absolute;
	overflow: visible;
	width: 112px;
	height: 37px;
	left: 293px;
	top: 43px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Hunter_Zolomon_cv {
	left: 1680px;
	top: 38px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(27,47,91,1);
}
#Admin_cw {
	left: 1762px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(140,152,154,1);
}
#Path_4632_cx {
	fill: rgba(18,168,246,1);
}
.Path_4632_cx {
	overflow: visible;
	position: absolute;
	width: 27.081px;
	height: 24.996px;
	left: 40.109px;
	top: 47.226px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4_cy {
	fill: rgba(255,255,255,1);
}
.Ellipse_4_cy {
	position: absolute;
	overflow: visible;
	width: 13.688px;
	height: 13.689px;
	left: 46.773px;
	top: 54.451px;
}
#Ellipse_5_cz {
	fill: rgba(18,168,246,1);
}
.Ellipse_5_cz {
	position: absolute;
	overflow: visible;
	width: 10.036px;
	height: 10.037px;
	left: 48.6px;
	top: 56.468px;
}
#Path_4633_c {
	fill: rgba(255,255,255,1);
}
.Path_4633_c {
	overflow: visible;
	position: absolute;
	width: 7.71px;
	height: 6.181px;
	left: 57.699px;
	top: 65.873px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4634_c {
	fill: rgba(18,168,246,1);
}
.Path_4634_c {
	overflow: visible;
	position: absolute;
	width: 10.334px;
	height: 5.549px;
	left: 48.45px;
	top: 41.496px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4635_c {
	fill: rgba(255,255,255,1);
}
.Path_4635_c {
	overflow: visible;
	position: absolute;
	width: 7.272px;
	height: 4.034px;
	left: 49.981px;
	top: 43.011px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_56_c {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 37.063px;
	top: 45.57px;
	overflow: visible;
}
#Group_55_c {
	position: absolute;
	width: 39.652px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4636_c {
	fill: rgba(18,168,246,1);
}
.Path_4636_c {
	overflow: visible;
	position: absolute;
	width: 39.651px;
	height: 29.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_57_c {
	position: absolute;
	width: 30.228px;
	height: 4.235px;
	left: 38.299px;
	top: 75.962px;
	overflow: visible;
}
#Path_4637_daa {
	fill: rgba(18,26,80,1);
}
.Path_4637_daa {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 25.993px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4638_daa {
	fill: rgba(18,26,80,1);
}
.Path_4638_daa {
	overflow: visible;
	position: absolute;
	width: 4.235px;
	height: 4.235px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4639_daa {
	fill: rgba(255,255,255,1);
}
.Path_4639_daa {
	overflow: visible;
	position: absolute;
	width: 1.363px;
	height: 1.244px;
	left: 57.456px;
	top: 65.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_6_daa {
	fill: rgba(0,0,0,0);
}
.Ellipse_6_daa {
	position: absolute;
	overflow: visible;
	width: 58.164px;
	height: 58.164px;
	left: 26.167px;
	top: 32.404px;
}
#Group_3056_dab {
	position: absolute;
	width: 69px;
	height: 24px;
	left: 173px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home .html;
	cursor: pointer;
}
#Home_dac {
	left: 17px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#home_dad {
	fill: rgba(27,47,91,1);
}
.home_dad {
	overflow: visible;
	position: absolute;
	width: 13.461px;
	height: 13.462px;
	left: 0px;
	top: 5.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3057_dae {
	position: absolute;
	width: 85.352px;
	height: 24px;
	left: 307.648px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Cashier.html;
	cursor: pointer;
}
#Cashier_daf {
	left: 18.352px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(18,168,246,1);
}
#Path_4640_dag {
	fill: rgba(18,168,246,1);
}
.Path_4640_dag {
	overflow: visible;
	position: absolute;
	width: 13.455px;
	height: 9.53px;
	left: 0px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4641_dah {
	fill: rgba(18,168,246,1);
}
.Path_4641_dah {
	overflow: visible;
	position: absolute;
	width: 2.376px;
	height: 4.752px;
	left: 310.387px;
	top: 57.922px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4642_dai {
	fill: rgba(18,168,246,1);
}
.Path_4642_dai {
	overflow: visible;
	position: absolute;
	width: 13.516px;
	height: 3.194px;
	left: 307.588px;
	top: 65.05px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3058_daj {
	position: absolute;
	width: 90.808px;
	height: 24px;
	left: 458.588px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Statistic.html;
	cursor: pointer;
}
#Statistic__dak {
	left: 16.808px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4643_dal {
	fill: rgba(27,47,91,1);
}
.Path_4643_dal {
	overflow: visible;
	position: absolute;
	width: 13.945px;
	height: 9.043px;
	left: 0px;
	top: 10.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4644_dam {
	fill: rgba(27,47,91,1);
}
.Path_4644_dam {
	overflow: visible;
	position: absolute;
	width: 13.826px;
	height: 7.234px;
	left: 0.119px;
	top: 5.861px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4646_dan {
	fill: rgba(27,47,91,1);
}
.Path_4646_dan {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 621.527px;
	top: 54.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4647_dao {
	fill: rgba(27,47,91,1);
}
.Path_4647_dao {
	overflow: visible;
	position: absolute;
	width: 6.949px;
	height: 0.701px;
	left: 618.927px;
	top: 60.845px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4648_dap {
	fill: rgba(27,47,91,1);
}
.Path_4648_dap {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 625.453px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4649_daq {
	fill: rgba(27,47,91,1);
}
.Path_4649_daq {
	overflow: visible;
	position: absolute;
	width: 1.748px;
	height: 1.225px;
	left: 617.601px;
	top: 62.415px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4651_dar {
	fill: rgba(27,47,91,1);
}
.Path_4651_dar {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 615.001px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4653_das {
	fill: rgba(27,47,91,1);
}
.Path_4653_das {
	overflow: visible;
	position: absolute;
	width: 6.948px;
	height: 0.701px;
	left: 622.854px;
	top: 68.697px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3059_dat {
	position: absolute;
	width: 222.696px;
	height: 24px;
	left: 614.983px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Inventory Management .html;
	cursor: pointer;
}
#Inventory_Management_dau {
	left: 17.696px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 206px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Path_4650_dav {
	fill: rgba(27,47,91,1);
}
.Path_4650_dav {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 3.927px;
	top: 5.063px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4652_daw {
	fill: rgba(27,47,91,1);
}
.Path_4652_daw {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 7.853px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4654_dax {
	fill: rgba(27,47,91,1);
}
.Path_4654_dax {
	overflow: visible;
	position: absolute;
	width: 6.983px;
	height: 5.413px;
	left: 0px;
	top: 12.915px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3060_day {
	position: absolute;
	width: 223.026px;
	height: 24px;
	left: 903.269px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Employee Management .html;
	cursor: pointer;
}
#Employee_Management__daz {
	left: 15.026px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_63_da {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 2.519px;
	top: 3.903px;
	overflow: visible;
}
#Group_62_da {
	position: absolute;
	width: 7.635px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4662_da {
	fill: rgba(27,47,91,1);
}
.Path_4662_da {
	overflow: visible;
	position: absolute;
	width: 7.636px;
	height: 7.635px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_65_da {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 4.596px;
	top: 12.455px;
	overflow: visible;
}
#Group_64_da {
	position: absolute;
	width: 3.48px;
	height: 2.928px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4663_da {
	fill: rgba(27,47,91,1);
}
.Path_4663_da {
	overflow: visible;
	position: absolute;
	width: 3.479px;
	height: 2.928px;
	left: 0.001px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_67_da {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 6.794px;
	top: 13.023px;
	overflow: visible;
}
#Group_66_da {
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4664_da {
	fill: rgba(27,47,91,1);
}
.Path_4664_da {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.518px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_69_da {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 13.02px;
	overflow: visible;
}
#Group_68_dba {
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4665_dbb {
	fill: rgba(27,47,91,1);
}
.Path_4665_dbb {
	overflow: visible;
	position: absolute;
	width: 5.878px;
	height: 6.521px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3061_dbc {
	position: absolute;
	width: 89.643px;
	height: 24px;
	left: 1209px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Booking.html;
	cursor: pointer;
}
#Booking_dbd {
	left: 18.643px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_72_dbe {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 6.756px;
	overflow: visible;
}
#Group_71_dbf {
	position: absolute;
	width: 14.886px;
	height: 14.886px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_4680_dbg {
	fill: rgba(27,47,91,1);
}
.Path_4680_dbg {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 3.102px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4681_dbh {
	fill: rgba(27,47,91,1);
}
.Path_4681_dbh {
	overflow: visible;
	position: absolute;
	width: 12.405px;
	height: 8.684px;
	left: 0px;
	top: 3.722px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_4682_dbi {
	fill: rgba(27,47,91,1);
}
.Path_4682_dbi {
	overflow: visible;
	position: absolute;
	width: 7.443px;
	height: 7.443px;
	left: 7.443px;
	top: 7.443px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_3062_dbj {
	position: absolute;
	width: 82.807px;
	height: 24px;
	left: 1381.348px;
	top: 49.5px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Setting.html;
	cursor: pointer;
}
#Setting_dbk {
	left: 17.807px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 66px;
	height: 24px;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(27,47,91,1);
}
#Group_79_dbl {
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 4.365px;
	overflow: visible;
}
#Path_4688_dbm {
	fill: rgba(27,47,91,1);
}
.Path_4688_dbm {
	overflow: visible;
	position: absolute;
	width: 15.585px;
	height: 15.835px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_0092021_____1111_AM_dbn {
	left: 1544px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(18,168,246,1);
}
#image_2021-09-09_09-05-19_dbo {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 1831px;
	top: 32px;
	overflow: visible;
}